<plugin id="mesherActivity" version="@PROJECT_VERSION@">

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="guiQt" />
    <requirement id="io" />
    <requirement id="visuVTKQt" />

    <xi:include href="configurations/mesher.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/inputParameters.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>mesherActivity</id>
        <title>CGoGN Mesher</title>
        <desc>Mesher activity proposed by IGG team (ICube)</desc>
        <icon>mesherActivity-0.1/icons/cgogn.png</icon>
        <requirements>
            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="1" maxOccurs="1" />
        </requirements>
        <builder>::fwActivities::builder::ActivitySeries</builder>
        <appConfig id="mesher">
            <parameters>
                <parameter replace="imageUid" by="@values.imageSeries.image" />
            </parameters>
        </appConfig>
    </extension>

</plugin>
