<plugin id="Tuto14MeshGenerator">

<requirement id="servicesReg" />

<extension implements="::fwServices::registry::AppConfig">
    <id>Tuto14MeshGenerator</id>
    <type>standard</type>
    <config>

        <object type="::fwData::Composite">
            <service uid="MyIHM" implementation="::gui::frame::DefaultFrame" type="::fwGui::IFrameSrv" autoComChannel="no">
                <gui>
                    <frame>
                        <name>Tuto14MeshGenerator</name>
                        <icon>Bundles/Tuto14MeshGenerator_0-1/tuto.ico</icon>
                    </frame>
                    <menuBar />
                </gui>
                <registry>
                    <menuBar sid="myMenuBar" start="yes" />
                    <view sid="multiView_scene1" start="yes" />
                </registry>
            </service>
            
            <service uid="myMenuBar" type="::fwGui::IMenuBarSrv" implementation="::gui::aspect::DefaultMenuBarSrv" autoComChannel="no" >
                <gui>
                    <layout>
                        <menu name="File" />
                        <menu name="Generator" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menu_File" start="yes" />
                    <menu sid="menu_Generator" start="yes" />
                </registry>
            </service>

            <service uid="menu_File" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no" >
                <gui>
                    <layout>
                        <menuItem name="Open file" shortcut="Ctrl+O" />
                        <menuItem name="Save file" shortcut="Ctrl+S" />
                        <separator />
                        <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="action_openFile" start="yes" />
                    <menuItem sid="action_saveFile" start="yes" />
                    <menuItem sid="action_quit" start="yes" />
                </registry>
            </service>

            <service uid="menu_Generator" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no" >
                <gui>
                    <layout>
                        <menuItem name="Generate triangle" shortcut="A" />
                        <menuItem name="Generate quad" shortcut="Z" />
                        <menuItem name="Generate triangle and quad" shortcut="E" />
                        <separator />
                        <menuItem name="Shake mesh point" shortcut="Q" />
                        <separator />
                        <menuItem name="Colorize mesh point" shortcut="U" />
                        <menuItem name="Colorize mesh cells" shortcut="I" />
                        <separator />
                        <menuItem name="Compute point normals" shortcut="O" />
                        <menuItem name="Compute cell normals" shortcut="P" />
                        <separator />
                        <menuItem name="Shake point normals" shortcut="L" />
                        <menuItem name="Shake cell normals" shortcut="M" />
                        <separator />
                        <menuItem name="Show point normals" style="radio" shortcut="2" />
                        <menuItem name="Show cell normals" style="radio" shortcut="1" />
                        <menuItem name="Hide normals" style="radio" shortcut="0" />
                        <separator />
                        <menuItem name="Show point colors" style="radio" shortcut="4" />
                        <menuItem name="Show cell colors" style="radio" shortcut="5" />
                        <separator />
                        <menuItem name="mesh deformation" shortcut="D"/>
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="action_genTrian" start="yes" />
                    <menuItem sid="action_genQuad" start="yes" />
                    <menuItem sid="action_genTrianQuad" start="yes" />
                    <menuItem sid="action_shakeMeshPoint" start="yes" />
                    <menuItem sid="action_colorizeMeshPoints" start="yes" />
                    <menuItem sid="action_colorizeMeshCells" start="yes" />
                    <menuItem sid="action_computePointNormals" start="yes" />
                    <menuItem sid="action_computeCellNormals" start="yes" />
                    <menuItem sid="action_shakePointNormals" start="yes" />
                    <menuItem sid="action_shakeCellNormals" start="yes" />

                    <menuItem sid="action_showPointNormals" start="yes" />                    
                    <menuItem sid="action_showCellNormals" start="yes" />                    
                    <menuItem sid="action_hideNormals" start="yes" />
                    
                    <menuItem sid="action_showPointColors" start="yes" />                    
                    <menuItem sid="action_showCellColors" start="yes" />                    
                    
                    <menuItem sid="action_meshDeformation" start="yes" />
                                        
                </registry>
            </service>
            
            <service uid="action_openFile" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no">
                <start uid="myReaderMesh" />
            </service>
            <service uid="action_saveFile" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no">
                <start uid="myWriterMesh" />
            </service>
            <service uid="action_quit" type="::fwGui::IActionSrv" implementation="::gui::action::QuitAction" autoComChannel="no" />

            <service uid="multiView_scene1" type="::gui::view::IView" implementation="::gui::view::DefaultView" autoComChannel="no" >
                <gui>
                    <layout type="::fwGui::CardinalLayoutManager" >
                        <view align="center" />
                        <view align="bottom" minWidth="400" minHeight="30" resizable="no" />
                    </layout>
                </gui>
                <registry>
                    <view sid="genericScene" start="yes" />
                </registry>
            </service>

            <!-- CompositeVisu description -->
            <item key="myCompositeVisu">
                <object uid="myCompositeVisu" type="::fwData::Composite">

                    <service uid="genericScene" implementation="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoComChannel="yes">
                        <scene>
                            <picker id="myPicker" vtkclass="fwVtkCellPicker" />

                            <renderer id="default" background="0.0" />
                            <adaptor id="myRenderAdaptor" class="::visuVTKAdaptor::Render" objectId="self">
                                <config renderer="default" picker="" />
                            </adaptor>
                            <adaptor id="myTrianAdaptor" class="::visuVTKAdaptor::TriangularMesh" objectId="myTrianMesh">
                                <config renderer="default" picker="" />
                            </adaptor>
                            <adaptor id="myMeshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="myMesh">
                                <config renderer="default" picker="" />
                            </adaptor>
                            <adaptor id="myMeshNormalsAdaptor" class="::visuVTKAdaptor::MeshNormals" objectId="myMesh">
                                <config renderer="default" picker="" normal="CELL" />
                            </adaptor>
                        </scene>
                    </service>

                    <item key="myMesh">
                        <object type="::fwData::Mesh">
                            <service uid="myReaderMesh" implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" autoComChannel="no">
                                <type mode="reader" />
                            </service>
                            <service uid="myWriterMesh" implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" autoComChannel="no">
                                <type mode="writer" />
                            </service>
                            
                            <service uid="action_genTrian" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="GenTriangle" />
                            </service>
                            <service uid="action_genQuad" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="GenQuad" />
                            </service>
                            <service uid="action_genTrianQuad" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="GenTriangleQuad" />
                            </service>
                            <service uid="action_shakeMeshPoint" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="ShakeMeshPoint" />
                            </service>
                            <service uid="action_colorizeMeshPoints" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="ColorizeMeshPoints" />
                            </service>
                            <service uid="action_colorizeMeshCells" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="ColorizeMeshCells" />
                            </service>
                            <service uid="action_computePointNormals" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="ComputePointNormals" />
                            </service>
                            <service uid="action_computeCellNormals" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="ComputeCellNormals" />
                            </service>
                            <service uid="action_shakePointNormals" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="ShakePointNormals" />
                            </service>
                            <service uid="action_shakeCellNormals" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="ShakeCellNormals" />
                            </service>
                            <service uid="action_showCellNormals" implementation="::gui::action::ActionNotifyService" type="::fwGui::IActionSrv" autoComChannel="no" >
                                <state active="true" />
                                <notify type="::fwComEd::MeshMsg" event="SHOW_CELL_NORMALS" />
                            </service>
                            <service uid="action_showPointNormals" implementation="::gui::action::ActionNotifyService" type="::fwGui::IActionSrv" autoComChannel="no">
                                <notify type="::fwComEd::MeshMsg" event="SHOW_POINT_NORMALS" />
                            </service>
                            <service uid="action_hideNormals" implementation="::gui::action::ActionNotifyService" type="::fwGui::IActionSrv" autoComChannel="no">
                                <notify type="::fwComEd::MeshMsg" event="HIDE_NORMALS" />
                            </service>
                            
                            <service uid="action_meshDeformation" implementation="::ioData::action::MeshGeneratorSrv" type="::fwGui::IActionSrv" autoComChannel="no">
                                <config functor="MeshDeformation" />
                            </service>
                            
                            <service uid="action_showPointColors" implementation="::gui::action::ActionNotifyService" type="::fwGui::IActionSrv" autoComChannel="no">
                                <notify type="::fwComEd::MeshMsg" event="SHOW_POINT_COLORS" />
                            </service>
                            <service uid="action_showCellColors" implementation="::gui::action::ActionNotifyService" type="::fwGui::IActionSrv" autoComChannel="no">
                                <notify type="::fwComEd::MeshMsg" event="SHOW_CELL_COLORS" />
                            </service>
                                                        
                            <service uid="msgWrapper" implementation="::ctrlSelection::wrapper::MsgWrapperSrv" type="::ctrlSelection::IWrapperSrv" autoComChannel="yes">
                                <wrapper onEvent="ObjectMsg::UPDATED_OBJECT" toEvent="NEW_MESH" toMsgType="::fwComEd::MeshMsg" />
                            </service>
                            
                        </object>
                    </item>
                    
                    <item key="myTrianMesh">
                        <object type="::fwData::TriangularMesh">
                            
                        </object>
                    </item>
                </object>
            </item>

            <start uid="MyIHM" />
            <start uid="msgWrapper" />
            
        </object>
        
    </config>
</extension>

</plugin>
