<plugin id="dicomFilteringActivity" version="@PROJECT_VERSION@" >

    <requirement id="activities" />
    <requirement id="ctrlMemory" />
    <requirement id="ctrlSelection" />
    <requirement id="dataReg" />
    <requirement id="dicomAppConfig" />
    <requirement id="gui" />
    <requirement id="guiQt" />
    <requirement id="ioDicom" />
    <requirement id="ioGdcm" />
    <requirement id="media" />
    <requirement id="uiGenericQt" />
    <requirement id="uiIO" />
    <requirement id="uiMedDataQt" />
    <requirement id="visuVTK" />
    <requirement id="visuVTKAdaptor" />
    <requirement id="visuVTKQt" />

    <xi:include href="configurations/DicomFiltering.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/DicomPreview.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>DicomFiltering</id>
        <title>DICOM Filtering</title>
        <desc>DICOM Filtering activity</desc>
        <icon>media-0.1/icons/icon-DICOM-Filtering.svg</icon>
        <requirements>
        </requirements>
        <builder>::fwActivities::builder::ActivitySeries</builder>
        <appConfig id="DicomFiltering">
        </appConfig>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>IOSelectorServiceConfigVRRenderExtDicomSeriesDBReader</id>
        <service>::uiIO::editor::SIOSelector</service>
        <desc>IOSelectorService config for DICOM Filtering Activity</desc>
        <config>
            <type mode="reader" />
            <selection mode="include" />
            <!-- <addSelection service="::ioDcmtk::SDicomSeriesDBReader" /> -->
            <addSelection service="::ioGdcm::SDicomSeriesDBReader" />
            <config id="DicomReaderConfig" service="::ioGdcm::SDicomSeriesDBReader" />
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
         <id>DicomReaderConfig</id>
         <desc>DICOM Reader Config</desc>
         <config>
            <dicomdirSupport>user_selection</dicomdirSupport>
            <mode>direct</mode>
         </config>
     </extension>


</plugin>
