<plugin id="PoC04SofaInteractive" version="@DASH_VERSION@" >

    <extension implements="::fwServices::registry::AppConfig">
        <id>PoC04SofaInteractive</id>
        <config>
            <object type="::fwData::Composite">

                <service uid="MyIHM" impl="::gui::frame::SDefaultFrame" type="::fwGui::IFrameSrv" autoConnect="no">
                    <gui>
                        <frame>
                            <name>Altran Est - Medic@ : PoC 4 - Principe de simulation interactive temps reel avec Sofa</name>
                            <icon>@BUNDLE_PREFIX@/PoC04SofaInteractive_0-1/tuto.ico</icon>
                            <minSize width="800" height="600"/>
                        </frame>
                        <menuBar />
                    </gui>
                    <registry>
                        <menuBar sid="myMenuBar" start="yes" />
                        <view sid="multiView_scene1" start="yes" />
                    </registry>
                </service>

                <service uid="myMenuBar" type="::fwGui::IMenuBarSrv" impl="::gui::aspect::SDefaultMenuBar" autoConnect="no" >
                    <gui>
                        <layout>
                            <menu name="File" />
                            <menu name="Sofa" />
                        </layout>
                    </gui>
                    <registry>
                        <menu sid="menu_File" start="yes" />
                        <menu sid="menu_Sofa" start="yes" />
                    </registry>
                </service>

                <service uid="menu_File" type="::fwGui::IMenuSrv" impl="::gui::aspect::SDefaultMenu" autoConnect="no" >
                    <gui>
                        <layout>
                            <menuItem name="Load model series..." shortcut="Ctrl+O" />
                            <separator />
                            <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="action_openFile" start="yes" />
                        <menuItem sid="action_quit" start="yes" />
                    </registry>
                </service>

                <service uid="menu_Sofa" type="::fwGui::IMenuSrv" impl="::gui::aspect::SDefaultMenu" autoConnect="no" >
                    <gui>
                        <layout>
                            <menuItem name="Start" shortcut="Ctrl+S" />
                            <!-- <menuItem name="Load scene" shortcut="Ctrl+L" /> -->
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="mySofaWriterAction" start="no" />
                        <!-- <menuItem sid="mySofaReaderAction" start="no" /> -->
                    </registry>
                </service>

                <service uid="action_openFile" type="::fwGui::IActionSrv" impl="::gui::action::SStarter" autoConnect="no">
                    <start uid="readerPathMeshFile" />
                </service>

                <service uid="action_quit" type="::fwGui::IActionSrv" impl="::gui::action::SQuit" autoConnect="no" />

                <service uid="multiView_scene1" type="::gui::view::IView" impl="::gui::view::SDefaultView" autoConnect="no" >
                    <gui>
                        <layout type="::fwGui::CardinalLayoutManager">
                            <view align="center" minWidth="200"/>
                            <view align="right" minWidth="200" minHeight="200" position="0" />
                            <view align="right" minWidth="200" minHeight="80" position="1" />
                        </layout>
                    </gui>
                    <registry>
                        <view sid="genericScene" start="yes" />
                        <view sid="listOrganEditor" />
                    </registry>
                </service>

                <item key="modelSeries">
                    <object uid="modelSeriesUID" type="::fwMedData::ModelSeries">

                        <service impl="::uiIO::editor::SIOSelector" type="::gui::editor::IDialogEditor"
                            uid="readerPathMeshFile" autoConnect="no">
                            <type mode="reader" />
                        </service>

                    </object>
                </item>

                <!-- CompositeVisu description -->
                <item key="myCompositeVisu">
                    <object uid="myCompositeVisu" type="::fwData::Composite">

                        <service uid="updaterModelSeriesUID" impl="::ctrlSelection::updater::ObjFromMsgUpdaterSrv"
                            type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                            <update compositeKey="modelSeries" onEvent="ADD_RECONSTRUCTION" fromUID="modelSeriesUID" actionType="ADD_OR_SWAP"/>
                        </service>


                        <service uid="myManager" impl="::ctrlSelection::manager::SwapperSrv" type="::ctrlSelection::IManagerSrv" autoConnect="yes" >
                            <mode type="stop" />
                            <config>

                                <object id="modelSeries" type="::fwMedData::ModelSeries" >

                                    <service uid="listOrganEditor" impl="::uiMedData::editor::SModelSeriesList" type="::gui::editor::IEditor" autoConnect="yes" />

                                    <service uid="mySofaCore" impl="::opSofa::SofaCoreSrv" type="::fwGui::IActionSrv" autoConnect="yes" >
                                    </service>

                                    <service uid="mySofaWriter" impl="::opSofa::SofaSceneWriterSrv" type="::io::IWriter" autoConnect="no" >
                                        <writeTrian>yes</writeTrian>
                                        <sceneTemplate>templatetools.xml</sceneTemplate>
                                        <useTempPath>yes</useTempPath>
                                    </service>

                                    <service uid="mySofaWriterAction" impl="::gui::action::SStarter" type="::fwGui::IActionSrv" autoConnect="no" >
                                        <start uid="mySofaWriter"/>
                                    </service>

                                    <service uid="mySofaStart" impl="::opSofa::SofaStartSrv" type="::fwGui::IActionSrv" autoConnect="no" >
                                    </service>

                                    <proxy channel="MatrixUpdateChannel">
                                        <signal>view1/objectModified</signal>
                                        <slot>mySofaCore/receive</slot>
                                    </proxy>
                                </object>

                            </config>

                        </service>

                        <service uid="genericScene" impl="::fwRenderVTK::SRender" type="::fwRender::IRender" autoConnect="yes">
                            <scene>
                                <picker id="myPicker" vtkclass="fwVtkCellPicker" />
                                <renderer id="default" background="0.0" />

                                <adaptor id="modelSeriesAdaptor" class="::visuVTKAdaptor::ModelSeries" objectId="modelSeries">
                                    <config renderer="default" picker="" />
                                </adaptor>

                                <vtkObject id="tool1MatrixTransform" class="vtkTransform" />
                                <vtkObject id="tool2MatrixTransform" class="vtkTransform" />

                                <adaptor id="tool1MeshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="tool1Mesh">
                                    <config renderer="default" picker="myPicker" transform="tool1MatrixTransform" />
                                </adaptor>

                                <adaptor id="tool2MeshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="tool2Mesh">
                                    <config renderer="default" picker="myPicker" transform="tool2MatrixTransform" />
                                </adaptor>

                                <adaptor id="tool1Widget" class="::opSofa::BoxWidget" objectId="view1">
                                    <config renderer="default" transform="tool1MatrixTransform" scaleFactor="2.0" enableScaling="no" idMesh="souris_mors2" />
                                </adaptor>

                                <adaptor id="tool2Widget" class="::opSofa::BoxWidget" objectId="view1">
                                    <config renderer="default" transform="tool2MatrixTransform" scaleFactor="2.0" enableScaling="no" idMesh="souris_cam" />
                                </adaptor>

                                <!-- <adaptor id="myWolrdAxes" class="::visuVTKAdaptor::Axes" objectId="self">
                        <config renderer="default" length="5" label="no" />
                      </adaptor> -->

                            </scene>
                        </service>

                        <item key="view1">
                            <object uid="view1" type="::fwData::TransformationMatrix3D">

                            </object>
                        </item>

                        <item key="tool1Mesh">
                            <object uid="tool1Mesh" type="::fwData::Mesh">
                                <service uid="tool1ReaderFile" impl="::ioData::MeshReaderService" type="::io::IReader" autoConnect="no" >
                                    <file>@BUNDLE_PREFIX@/opSofa_0-1/cam.trian</file>
                                </service>
                            </object>
                        </item>

                        <item key="tool2Mesh">
                            <object uid="tool2Mesh" type="::fwData::Mesh">
                                <service uid="tool2ReaderFile" impl="::ioData::MeshReaderService" type="::io::IReader" autoConnect="no" >
                                    <file>@BUNDLE_PREFIX@/opSofa_0-1/mors2.trian</file>
                                </service>
                            </object>
                        </item>

                        <proxy channel="PDBUpdateChannel">
                            <signal>modelSeriesUID/objectModified</signal>
                            <slot>updaterModelSeriesUID/receive</slot>
                        </proxy>


                    </object>
                </item>

                <start uid="MyIHM" />
                <start uid="updaterModelSeriesUID" />
                <start uid="myManager" />
                <start uid="tool1ReaderFile"/>
                <start uid="tool2ReaderFile"/>

                <update uid="tool1ReaderFile"/>
                <update uid="tool2ReaderFile"/>

            </object>
        </config>
    </extension>
</plugin>
