<plugin id="ex_detect_cam_motion">
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3d_qt" />
    <requirement id="sight::module::ui" />

    <extension implements="sight::app::extension::config">
        <id>ExDetectCamMotion_AppCfg</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="frame_tl" type="sight::data::frame_tl" />
            <object uid="video_image" type="sight::data::image" />
            <object uid="camera" type="sight::data::camera" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="main_frame" type="sight::module::ui::frame">
                <gui>
                    <menubar />
                    <toolbar />
                    <frame>
                        <name>ex_detect_cam_motion</name>
                        <icon>ex_detect_cam_motion/app.ico</icon>
                    </frame>
                </gui>
                <registry>
                    <toolbar sid="toolbar_view" />
                    <view sid="generic_scene_srv" />
                </registry>
            </service>

            <service uid="toolbar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <editor />
                        <menuItem name="Start" icon="sight::module::ui::icons/play.svg" shortcut="Space" />
                        <menuItem name="Pause" icon="sight::module::ui::icons/pause.svg" shortcut="Space" />
                        <menuItem name="Play" icon="sight::module::ui::icons/play.svg" shortcut="Space" />
                        <menuItem name="Stop" icon="sight::module::ui::icons/stop.svg" />
                        <menuItem name="Loop" icon="sight::module::ui::icons/loop.svg" style="check" />
                        <separator />
                        <editor />
                    </layout>
                </gui>
                <registry>
                    <editor sid="video_selector_srv" />
                    <menuItem sid="start_video_act" />
                    <menuItem sid="pause_video_act" />
                    <menuItem sid="resume_video_act" />
                    <menuItem sid="stop_video_act" />
                    <menuItem sid="loop_video_act" />
                    <editor sid="motion_status_srv" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <!-- Start the frame grabber -->
            <service uid="start_video_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <!-- Pause the frame grabber -->
            <service uid="pause_video_act" type="sight::module::ui::action">
                <state visible="false" />
            </service>

            <!-- Resume the frame grabber -->
            <service uid="resume_video_act" type="sight::module::ui::action">
                <state visible="false" />
            </service>

            <!-- Stop the frame grabber -->
            <service uid="stop_video_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <!-- Loop the frame grabber -->
            <service uid="loop_video_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <!-- ******************************* Begin Generic scene ******************************* -->

            <!-- scene in which the video will be rendered -->
            <service uid="generic_scene_srv" type="sight::viz::scene3d::render">
                <scene render_mode="manual">
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default">
                        <adaptor uid="video_adp" />
                    </layer>
                </scene>
            </service>

            <service uid="video_adp" type="sight::module::viz::scene3d::adaptor::video" auto_connect="true">
                <data image="${video_image}" />
            </service>

            <!-- ************************************* Services ************************************ -->

            <service uid="motion_status_srv" type="sight::module::ui::qt::status">
                <labels display="beside">
                    <name>Motion</name>
                </labels>
                <red>No motion</red>
                <green>Motion</green>
                <orange>Computing...</orange>
            </service>

            <service uid="video_selector_srv" type="sight::module::ui::qt::video::camera">
                <data camera="${camera}" />
                <videoSupport>true</videoSupport>
            </service>

            <!-- Grab image from camera device and fill a frame timeline -->
            <service uid="video_grabber_srv" type="sight::module::io::video::frame_grabber">
                <config camera="${camera}" />
                <timeline image="${frame_tl}" />
            </service>

            <service uid="frame_updater_srv" type="sight::module::sync::synchronizer" auto_connect="false">
                <input>
                    <frames>
                        <item timeline="${frame_tl}" />
                    </frames>
                </input>
                <output>
                    <frames>
                        <item image="${video_image}" />
                    </frames>
                </output>
            </service>

            <service uid="optical_flow_srv" type="sight::module::filter::vision::optical_flow" auto_connect="false">
                <data timeline="${frame_tl}" />
                <config scaleFactor="3.6" />
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>start_video_act/clicked</signal>
                <slot>video_grabber_srv/start_camera</slot>
                <slot>updater/start</slot>
            </connect>

            <connect>
                <signal>pause_video_act/clicked</signal>
                <slot>video_grabber_srv/pause_camera</slot>
                <slot>resume_video_act/show</slot>
                <slot>pause_video_act/hide</slot>
                <slot>updater/stop</slot>
            </connect>

            <connect>
                <signal>resume_video_act/clicked</signal>
                <slot>video_grabber_srv/pause_camera</slot>
                <slot>resume_video_act/hide</slot>
                <slot>pause_video_act/show</slot>
                <slot>updater/start</slot>
            </connect>

            <connect>
                <signal>loop_video_act/clicked</signal>
                <slot>video_grabber_srv/loop_video</slot>
            </connect>

            <connect>
                <signal>stop_video_act/clicked</signal>
                <slot>video_grabber_srv/stop_camera</slot>
                <slot>start_video_act/show</slot>
                <slot>resume_video_act/hide</slot>
                <slot>pause_video_act/hide</slot>
                <slot>stop_video_act/disable</slot>
                <slot>loop_video_act/disable</slot>
                <slot>loop_video_act/uncheck</slot>
                <slot>updater/stop</slot>
            </connect>

            <connect>
                <signal>video_selector_srv/configured_file</signal>
                <signal>video_selector_srv/configured_stream</signal>
                <signal>video_selector_srv/configured_device</signal>
                <slot>start_video_act/update</slot>
            </connect>

            <connect>
                <signal>video_grabber_srv/camera_started</signal>
                <slot>pause_video_act/show</slot>
                <slot>start_video_act/hide</slot>
                <slot>stop_video_act/enable</slot>
                <slot>loop_video_act/enable</slot>
            </connect>

            <connect>
                <signal>camera/id_modified</signal>
                <slot>video_grabber_srv/stop_camera</slot>
                <slot>updater/stop</slot>
            </connect>

            <connect>
                <signal>camera/modified</signal>
                <slot>start_video_act/enable</slot>
                <slot>stop_video_act/update</slot>
            </connect>

            <connect>
                <signal>optical_flow_srv/camera_moved</signal>
                <slot>motion_status_srv/change_to_green</slot>
            </connect>

            <connect>
                <signal>optical_flow_srv/camera_remained</signal>
                <slot>motion_status_srv/change_to_red</slot>
            </connect>

            <update>
                <sequence uid="updater" loop="true" start="false">
                    <service uid="frame_updater_srv" />
                    <service uid="optical_flow_srv" />
                    <service uid="generic_scene_srv" />
                </sequence>
            </update>
        </config>
    </extension>
</plugin>
