<plugin id="ARCalibration" version="@PROJECT_VERSION@">

    <requirement id="module_services" />
    <requirement id="patchMedicalData" />
    <requirement id="arPatchMedicalData" />
    <requirement id="memory" />
    <requirement id="preferences" />
    <requirement id="activities" />
    <requirement id="filterUnknownSeries" />
    <requirement id="module_guiQt" />

    <xi:include href="configurations/ARCalibrationActivitySelector.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/ARCalibrationBase.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/ARCalibrationSelector.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::activities::registry::Activities">
        <id>ARCalibrationActivitySelector_Activity</id>
        <title>Activity selector</title>
        <desc>Activity selector for ARCalibration</desc>
        <icon>flatIcon-0.1/icons/YellowCamera.svg</icon>
        <requirements />
        <appConfig id="ARCalibration_ActivitySelector_AppCfg">
            <parameters />
        </appConfig>
    </extension>

    <extension implements="::sight::services::registry::AppConfigParameters">
        <id>ARCalibration_AppCfgParam</id>
        <parameters>
            <param name="APP_NAME" value="ARCalibration @PROJECT_VERSION@" />
            <param name="ICON_PATH" value="flatIcon-0.1/icons/YellowCamera.svg" />
        </parameters>
    </extension>

</plugin>
