<plugin id="trackingCalibration" class="::trackingCalibration::Plugin" version="0.1" >

    <library name="trackingCalibration" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::arServices::IRegisterer</type>
        <service>::trackingCalibration::SHandEyeCalibration</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
</plugin>
