<?xml version="1.0" encoding="UTF-8"?>

<plugin id="SightViewer" >

    <requirement id="sight::module::ui::base" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene2d" />
    <requirement id="sight::module::io::session" />

    <xi:include href="configurations/OgreGenericScene.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::service::extension::Config">
        <id>SightViewer_SightData_SrvCfg</id>
        <desc>Sight data</desc>
        <config>
            <dialog extension=".sight" description="Sight data" policy="default"/>
            <password policy="default" encryption="default"/>
        </config>
    </extension>

    <extension implements="sight::service::extension::Config" >
        <id>SightViewer_vtk_SrvCfg</id>
        <desc>VTK</desc>
        <config>
            <windowTitle>Open VTK file</windowTitle>
        </config>
    </extension>

    <extension implements="sight::service::extension::Config" >
        <id>SightViewer_itk_SrvCfg</id>
        <desc>ITK</desc>
        <config>
            <windowTitle>Open an .inr or .nii file</windowTitle>
        </config>
    </extension>


    <extension implements="sight::service::extension::Config" >
        <id>SightViewer_gdcm_SrvCfg</id>
        <desc>DICOM</desc>
        <config>
            <windowTitle>Open DICOM directory</windowTitle>
            <filterType>sight::filter::dicom::custom::DefaultDicomFilter</filterType>
        </config>
    </extension>

    <extension implements="sight::service::extension::Config">
        <id>SightViewerDicomReaderConfig</id>
        <desc>Reader configuration to convert retrieved DicomSeries to ImageSeries</desc>
        <config>
            <filterType>sight::filter::dicom::custom::DefaultDicomFilter</filterType>
        </config>
    </extension>




    <extension implements="sight::service::extension::AppConfig" >
        <id>SightViewer_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="seriesDB" type="sight::data::SeriesDB" />
            <object uid="modelSeries" type="sight::data::ModelSeries" src="deferred" />
            <object uid="pacsSeriesDB" type="sight::data::SeriesDB" />
            <object uid="image" type="sight::data::Image" src="deferred"/>
            <object uid="extrudedModelSeries" type="sight::data::ModelSeries" />
            <object uid="landmarks" type="sight::data::Landmarks" />

            <object uid="volumeTF" type="sight::data::TransferFunction" src="deferred" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainView" type="sight::module::ui::base::SFrame" >
                <gui>
                    <frame>
                        <name>Sight Viewer</name>
                        <icon>SightViewer/Ogre_logo.svg</icon>
                        <minSize width="1150" height="700" />
                    </frame>
                </gui>
                <registry>
                    <view sid="mainContainerView" start="true" />
                </registry>
            </service>

            <service uid="mainContainerView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="1" topBorder="5" bottomBorder="5" backgroundColor="#2E2F30" />
                    </layout>
                </gui>
                <registry>
                    <view sid="containerView" start="true" />
                </registry>
            </service>

            <service uid="containerView" type="sight::module::ui::base::SView" >
                <gui>
                    <toolBar align="left" />
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" minWidth="500" backgroundColor="#36393E" />
                    </layout>
                    <slideView opacity="1" hAlign="right" vAlign="top" width="50" height="55" >
                        <styleSheet>
                            <![CDATA[
                            #SlideBar QWidget {
                                background-color: none;
                            }
                            #SlideBar QToolBar {
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            ]]>
                        </styleSheet>
                    </slideView>
                </gui>
                <registry>
                    <toolBar sid="toolBarView" start="true" />
                    <view wid="ogreSceneView" start="true" />
                    <view sid="parameterView" start="true" />
                    <slideView sid="rightToolbarSliderView" start="true" />
                </registry>
            </service>

            <service uid="rightToolbarSliderView" type="sight::module::ui::base::SView">
                <gui>
                    <toolBar backgroundColor="#3E4453" />
                    <layout type="sight::ui::base::LineLayoutManager">
                        <orientation value="vertical" />
                    </layout>
                </gui>
                <registry>
                    <toolBar sid="rightToolbarView" start="true" />
                </registry>
            </service>

            <service uid="rightToolbarView" type="sight::module::ui::base::SToolBar">
                <gui>
                    <layout>
                        <spacer />
                        <menuItem name="Show parameters" icon="sight::module::ui::flaticons/YellowLeftChevron.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="showParameterAct" start="true" />
                </registry>
            </service>

            <service uid="parameterView" type="sight::module::ui::base::SView" >
                <gui>
                    <toolBar/>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                    </layout>
                </gui>
                <registry>
                    <toolBar sid="parameterToolBarView" start="true" />
                    <view sid="volumeParameterView" start="true" />
                    <view sid="TFParameterView" start="true"/>
                    <view wid="organsParameterView" />
                    <view sid="landmarksParameterView" start="true" />
                    <view sid="lightParameterView" start="true" />
                    <view wid="extrudedMeshesParameterView" />
                </registry>
            </service>

            <service uid="TFParameterView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view wid="TFCfgParameterView" />
                </registry>
            </service>

            <service uid="parameterToolBarView" type="sight::module::ui::base::SToolBar" >
                <gui>
                    <layout>
                        <menuItem name="Show volume parameters" icon="sight::module::ui::flaticons/Volume.svg" style="check" />
                        <menuItem name="Show transfer function editor" icon="sight::module::ui::flaticons/TF1.svg" style="check" />
                        <menuItem name="Show organs manager" icon="sight::module::ui::flaticons/Stomach.svg" style="check" />
                        <menuItem name="Show landmarks manager" icon="sight::module::ui::flaticons/YellowLandmarks.svg" style="check" />
                        <menuItem name="Show light manager" icon="sight::module::ui::flaticons/Light.svg" style="check" />
                        <menuItem name="Show extruded meshes manager" icon="sight::module::ui::flaticons/Extrude.svg" style="check" />
                        <spacer/>
                        <menuItem name="Close parameters" icon="sight::module::ui::flaticons/YellowRightChevron.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="volumeManagerAct" start="true" />
                    <menuItem sid="TFManagerAct" start="true" />
                    <menuItem sid="organsManagerAct" start="true" />
                    <menuItem sid="landmarksManagerAct" start="true" />
                    <menuItem sid="lightManagerAct" start="true" />
                    <menuItem sid="extrudedMeshesManagerAct" start="true" />
                    <menuItem sid="hideParameterAct" start="true" />
                </registry>
            </service>

            <service uid="volumeParameterView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="volumeParameterSrv" start="true" />
                </registry>
            </service>

            <service uid="landmarksParameterView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="landmarksParameterSrv" start="true" />
                </registry>
            </service>

            <service uid="lightParameterView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <view proportion="0" />
                        <view proportion="1" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="lightSelectorSrv" />
                    <view sid="lightEditorSrv" />
                </registry>
            </service>

            <service uid="toolBarView" type="sight::module::ui::base::SToolBar" >
                <gui>
                    <layout>
                        <menuItem name="Load series" icon="sight::module::ui::flaticons/BlueLoad.svg" />
                        <menuItem name="Open PACS" icon="sight::module::ui::flaticons/GreenServerConnected.svg" style="check" />
                        <separator/>
                        <menuItem name="Negato view" icon="sight::module::ui::flaticons/Layers.svg" />
                        <menuItem name="Volume view" icon="sight::module::ui::flaticons/Volume.svg" />
                        <separator/>
                        <menuItem name="Show/hide mesh" icon="sight::module::ui::flaticons/Stomach.svg" style="check" />
                        <menuItem name="Show/hide volume" icon="sight::module::ui::flaticons/Volume.svg" style="check" />
                        <menuItem name="Show/hide negato" icon="sight::module::ui::flaticons/Layers.svg" style="check" />
                        <separator/>
                        <menuItem name="Show/hide cropping box" icon="sight::module::ui::flaticons/CroppingBox.svg" style="check" />
                        <menuItem name="Reset cropping box" icon="sight::module::ui::flaticons/ResetCroppingBox.svg" />
                        <menuItem name="Shape extruder" icon="sight::module::ui::flaticons/Extrude.svg" style="check" />
                        <menuItem name="Revert shape extruder" icon="sight::module::ui::flaticons/ExtrudeRevert.svg" />
                        <separator/>
                        <menuItem name="Add distance" icon="sight::module::ui::flaticons/AddDistance.svg" />
                        <menuItem name="Remove distance" icon="sight::module::ui::flaticons/RemoveDistance.svg" />
                        <menuItem name="Hide/show distance" icon="sight::module::ui::flaticons/Distance.svg" style="check" />
                        <separator/>
                        <menuItem name="Show/hide axis" icon="sight::module::ui::flaticons/Axis.svg" style="check" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="openSeriesDBAct" start="true" />
                    <menuItem sid="pacsAct" start="true" />
                    <menuItem sid="negatoViewAct" start="true" />
                    <menuItem sid="volumeViewAct" start="true" />
                    <menuItem sid="meshVisibilityAct" start="true" />
                    <menuItem sid="volumeVisibilityAct" start="true" />
                    <menuItem sid="negato3DVisibilityAct" start="true" />
                    <menuItem sid="boxWidgetVisibilityAct" start="true" />
                    <menuItem sid="boxWidgetResetAct" start="true" />
                    <menuItem sid="shapeExtruderAct" start="true" />
                    <menuItem sid="shapeExtruderRevertAct" start="true" />
                    <menuItem sid="addDistanceAct" start="false" />
                    <menuItem sid="removeDistanceAct" start="false" />
                    <menuItem sid="hideDistanceAct" start="false" />
                    <menuItem sid="axisVisibilityAct" start="true" />
                </registry>
            </service>

            <!-- ******************************* Actions ****************************************** -->

            <!-- Read a series -->
            <service uid="openSeriesDBAct" type="sight::module::ui::base::io::SSelector" worker="COMPUTING_THREAD" >
                <inout key="data" uid="seriesDB" />
                <selection mode="exclude" />
                <addSelection service="sight::module::io::dicom::SDicomSeriesDBReader" />
                <config id="SightViewer_SightData_SrvCfg" service="sight::module::io::session::SReader" />
                <config id="SightViewer_vtk_SrvCfg" service="sight::module::io::vtk::SSeriesDBReader" />
                <config id="SightViewer_gdcm_SrvCfg" service="sight::module::io::dicom::SSeriesDBReader" />
                <config id="SightViewer_itk_SrvCfg" service="sight::module::io::itk::SImageReader" />
            </service>

            <!-- Show the negato/volume view -->
            <service uid="negatoViewAct" type="sight::module::ui::base::com::SSignal" />

            <service uid="volumeViewAct" type="sight::module::ui::base::com::SSignal" >
                <state visible="false" />
            </service>

            <!-- Switch between parameters -->
            <service uid="volumeManagerAct" type="sight::module::ui::base::SModifyLayout" >
                <config>
                    <show sid="volumeParameterView" />
                    <hide sid="TFParameterView" />
                    <hide wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="TFManagerAct" type="sight::module::ui::base::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <show sid="TFParameterView" />
                    <hide wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="organsManagerAct" type="sight::module::ui::base::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <hide sid="TFParameterView" />
                    <show wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="landmarksManagerAct" type="sight::module::ui::base::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <hide sid="TFParameterView" />
                    <hide wid="organsParameterView" />
                    <show sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="lightManagerAct" type="sight::module::ui::base::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <hide sid="TFParameterView" />
                    <hide wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <show sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="extrudedMeshesManagerAct" type="sight::module::ui::base::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <hide sid="TFParameterView" />
                    <hide wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <show wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <!-- Show or hide the parameter view -->
            <service uid="hideParameterAct" type="sight::module::ui::base::com::SSlotCaller" >
                <sync>true</sync>
                <slots>
                    <slot>parameterView/hide</slot>
                    <slot>rightToolbarSliderView/show</slot>
                </slots>
             </service>

            <service uid="showParameterAct" type="sight::module::ui::base::com::SBooleanSlotCaller" >
                <slots>
                    <slot>parameterView/show</slot>
                    <slot>rightToolbarSliderView/hide</slot>
                </slots>
                <state active="true" />
            </service>

            <!-- PACS manager -->
            <service uid="pacsAct" type="sight::module::ui::base::SConfigLauncher" >
                <appConfig id="PACSSelector_AppCfg" />
                <parameter replace="WINDOW_TITLE" by="PACS" />
                <parameter replace="WINDOW_ICON" by="SightViewer/Ogre_logo.svg" />
                <inout key="outputSeriesDB" uid="pacsSeriesDB" />
            </service>

            <!-- Adaptors visibility -->
            <service uid="volumeVisibilityAct" type="sight::module::ui::base::com::SSignal" >
                <state executable="false" />
            </service>

            <service uid="negato3DVisibilityAct" type="sight::module::ui::base::com::SSignal" >
                <state executable="false" />
            </service>

            <service uid="meshVisibilityAct" type="sight::module::ui::base::com::SSignal" >
                <state executable="false" />
            </service>

            <service uid="boxWidgetVisibilityAct" type="sight::module::ui::base::com::SSignal" >
                <state executable="false" />
            </service>

            <service uid="boxWidgetResetAct" type="sight::module::ui::base::com::SSignal" >
                <state executable="false" />
            </service>

            <service uid="shapeExtruderAct" type="sight::module::ui::base::com::SSignal" >
                <state executable="true" />
            </service>

            <service uid="shapeExtruderRevertAct" type="sight::module::ui::base::com::SSignal" >
                <state executable="true" />
            </service>

            <service uid="axisVisibilityAct" type="sight::module::ui::base::com::SSignal" />

            <!-- Manage distance -->
            <service uid="addDistanceAct" type="sight::module::ui::base::metrics::SAddDistance">
                <inout key="image" uid="image" />
            </service>

            <service uid="removeDistanceAct" type="sight::module::ui::base::metrics::SRemoveDistance">
                <inout key="image" uid="image" />
            </service>

            <service uid="hideDistanceAct" type="sight::module::ui::base::metrics::SShowDistance" autoConnect="true" >
                <inout key="image" uid="image" />
            </service>

            <!-- ************************ Configuration launchers ********************************* -->

            <service uid="ogreGenericSceneCfg" type="sight::service::SConfigController" >
                <appConfig id="SightViewer_GenericScene_AppCfg" />
                <parameter replace="WID_PARENT" by="ogreSceneView" />
                <parameter replace="NEGATO_VIEW_RECEIVE_CHANNEL" by="NEGATO_VIEW_SENDER_CHANNEL" />
                <parameter replace="VOLUME_VIEW_RECEIVE_CHANNEL" by="VOLUME_VIEW_SENDER_CHANNEL" />
                <parameter replace="VR_BASIC_BOOL_PARAM_RECEIVER_CHANNEL" by="VOLUME_BASIC_BOOL_SENDER_CHANNEL" />
                <parameter replace="VR_BASIC_INT_PARAM_RECEIVER_CHANNEL" by="VOLUME_BASIC_INT_SENDER_CHANNEL" />
                <parameter replace="VR_BASIC_DOUBLE_PARAM_RECEIVER_CHANNEL" by="VOLUME_BASIC_DOUBLE_SENDER_CHANNEL" />
                <parameter replace="VR_VISIBILITY_RECEIVER_CHANNEL" by="VR_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="3DNEGATO_VISIBILITY_RECEIVER_CHANNEL" by="3DNEGATO_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="MESHES_VISIBILITY_RECEIVER_CHANNEL" by="MESHES_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="BOX_WIDGET_VISIBILITY_RECEIVER_CHANNEL" by="BOX_WIDGET_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="BOX_WIDGET_RESET_RECEIVER_CHANNEL" by="BOX_WIDGET_RESET_SENDER_CHANNEL" />
                <parameter replace="SHAPE_EXTRUDER_ENABLE_TOOL_RECEIVER_CHANNEL" by="SHAPE_EXTRUDER_ENABLE_TOOL_SENDER_CHANNEL" />
                <parameter replace="SHAPE_EXTRUDER_TOOL_DISABLED_SENDER_CHANNEL" by="SHAPE_EXTRUDER_TOOL_DISABLED_RECEIVER_CHANNEL" />
                <parameter replace="SHAPE_EXTRUDER_REVERT_RECEIVER_CHANNEL" by="SHAPE_EXTRUDER_REVERT_SENDER_CHANNEL" />
                <parameter replace="AXIS_VISIBILITY_RECEIVER_CHANNEL" by="AXIS_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="PICKER_SENDER_CHANNEL" by="PICKER_RECEIVER_CHANNEL" />
                <parameter replace="WORLD_COORDS_LANDMARKS_CHANNEL" by="WORLD_COORDS_LANDMARKS_CHANNEL" />
                <inout key="modelSeries" uid="modelSeries" optional="true"/>
                <inout key="image" uid="image" optional="true"/>
                <inout key="volumeTF" uid="volumeTF" optional="true" />
                <inout key="extrudedModelSeries" uid="extrudedModelSeries" />
                <inout key="landmarks" uid="landmarks" />
            </service>

            <!-- TF manager -->
            <service uid="TFManagerCfg"  type="sight::service::SConfigController" >
                <appConfig id="TransferFunctionWidgetCfg" />
                <parameter replace="WID_PARENT" by="TFCfgParameterView" />
                <inout key="image" uid="image" />
                <inout key="currentTF" uid="volumeTF" optional="true" />
            </service>

            <service uid="organManagerCfg"  type="sight::service::SConfigController" >
                <appConfig id="OgreOrganManager" />
                <parameter replace="WID_PARENT" by="organsParameterView" />
                <parameter replace="MODELSERIESLIST_ENABLE_DELETE_CONFIG" by="true" />
                <inout key="organManagerModelSeries" uid="modelSeries" />
            </service>

            <service uid="extrudedMeshesManagerCfg"  type="sight::service::SConfigController" >
                <appConfig id="OgreOrganManager" />
                <parameter replace="WID_PARENT" by="extrudedMeshesParameterView" />
                <parameter replace="MODELSERIESLIST_ENABLE_DELETE_CONFIG" by="true" />
                <inout key="organManagerModelSeries" uid="extrudedModelSeries" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!-- Extract the model or the image from the series -->
            <service uid="extractSeriesSrv" type="sight::module::ui::qt::series::SSelectDialog" >
                <in key="seriesDB" uid="seriesDB"/>
                <out key="modelSeries" uid="modelSeries" />
                <out key="image" uid="image" />
            </service>

            <service uid="extractPacsImageSrv" type="sight::module::ui::qt::series::SSelectDialog" >
                <in key="seriesDB" uid="pacsSeriesDB"/>
                <out key="image" uid="image" />
            </service>

            <!-- Parameters for the volume rendering -->
            <service uid="volumeParameterSrv" type="sight::module::ui::qt::SParameters" >
                <parameters>
                    <param type="int" name="Samples" key="sampling" defaultValue="1024" min="128" max="8192" reset="false" />
                    <param type="int" name="Opacity correction" key="opacityCorrection" defaultValue="200" min="0" max="200" reset="false" />
                    <param type="bool" name="Pre-integration" key="preIntegration" defaultValue="false" reset="false" />
                    <param type="bool" name="Soft shadows" key = "shadows" defaultValue="false" reset="false"/>
                    <param type="bool" name="Ambient occlusion" key="ambientOcclusion" defaultValue="false" reset="false" />
                    <param type="bool" name="Color bleeding" key="colorBleeding" defaultValue="false" reset="false" />
                    <param type="double" name="Color bleeding factor" key="colorBleedingFactor" defaultValue="1.0" min="0.1" max="10.0" reset="false" depends="colorBleeding" />
                    <param type="int" name="SAT size ratio" key="satSizeRatio" defaultValue="1" min="1" max="4" reset="false" emitOnRelease="true"/>
                    <param type="double" name="SAT cone angle" key="satConeAngle" defaultValue="0.1" min="0.01" max="360.0" reset="false" depends="ambientOcclusion" />
                    <param type="int" name="SAT cone samples" key="satConeSamples" defaultValue="50" min="1" max="1024" reset="false" depends="ambientOcclusion" emitOnRelease="true"/>
                    <param type="double" name="AO factor" key="aoFactor" defaultValue="1.0" min="0.1" max="10.0" reset="false" depends="ambientOcclusion" />
                    <param type="int" name="AO shells number" key="satShellsNumber" defaultValue="4" min="1" max="10" reset="false" depends="ambientOcclusion" emitOnRelease="true"/>
                    <param type="int" name="AO shell radius" key="satShellRadius" defaultValue="4" min="1" max="10" reset="false" depends="ambientOcclusion" emitOnRelease="true"/>
                </parameters>
            </service>

            <!-- Parameters for landmarks -->
            <service uid="landmarksParameterSrv" type="sight::module::ui::qt::metrics::SLandmarks" autoConnect="true" >
                <inout key="landmarks" uid="landmarks" />
                <advanced>true</advanced>
            </service>

            <!-- Light editor -->
            <service uid="lightSelectorSrv" type="sight::module::ui::viz::SLightSelector"  />

            <service uid="lightEditorSrv" type="sight::module::ui::viz::SLightEditor" />

            <!-- ******************************* Connections ***************************************** -->

            <connect channel="NEGATO_VIEW_SENDER_CHANNEL" >
                <signal>negatoViewAct/triggered</signal>
                <slot>negatoViewAct/hide</slot>
                <slot>volumeViewAct/show</slot>
            </connect>

            <connect channel="VOLUME_VIEW_SENDER_CHANNEL" >
                <signal>volumeViewAct/triggered</signal>
                <slot>volumeViewAct/hide</slot>
                <slot>negatoViewAct/show</slot>
            </connect>

            <connect channel="VR_VISIBILITY_SENDER_CHANNEL" >
                <signal>volumeVisibilityAct/triggered</signal>
            </connect>

            <connect channel="3DNEGATO_VISIBILITY_SENDER_CHANNEL" >
                <signal>negato3DVisibilityAct/triggered</signal>
            </connect>

            <connect channel="MESHES_VISIBILITY_SENDER_CHANNEL" >
                <signal>meshVisibilityAct/triggered</signal>
            </connect>

            <connect channel="BOX_WIDGET_VISIBILITY_SENDER_CHANNEL" >
                <signal>boxWidgetVisibilityAct/triggered</signal>
            </connect>

            <connect channel="BOX_WIDGET_RESET_SENDER_CHANNEL" >
                <signal>boxWidgetResetAct/triggered</signal>
            </connect>

            <connect channel="SHAPE_EXTRUDER_ENABLE_TOOL_SENDER_CHANNEL" >
                <signal>shapeExtruderAct/triggered</signal>
            </connect>

            <connect channel="SHAPE_EXTRUDER_TOOL_DISABLED_RECEIVER_CHANNEL" >
                <slot>shapeExtruderAct/deactivate</slot>
            </connect>

            <connect channel="SHAPE_EXTRUDER_REVERT_SENDER_CHANNEL" >
                <signal>shapeExtruderRevertAct/triggered</signal>
            </connect>

            <connect channel="AXIS_VISIBILITY_SENDER_CHANNEL" >
                <signal>axisVisibilityAct/triggered</signal>
            </connect>

            <connect>
                <signal>image/visibilityModified</signal>
                <slot>negato3DVisibilityAct/setIsActive</slot>
            </connect>

            <connect>
                <signal>seriesDB/modified</signal>
                <slot>extractSeriesSrv/update</slot>
            </connect>

            <connect>
                <signal>seriesDB/addedSeries</signal>
                <slot>extractSeriesSrv/update</slot>
            </connect>

            <connect>
                <signal>pacsSeriesDB/addedSeries</signal>
                <slot>extractPacsImageSrv/update</slot>
            </connect>

            <connect>
                <signal>extractSeriesSrv/modelSelected</signal>
                <slot>meshVisibilityAct/setExecutable</slot>
                <slot>meshVisibilityAct/activate</slot>
            </connect>

            <connect>
                <signal>extractSeriesSrv/imageSelected</signal>
                <signal>extractPacsImageSrv/updated</signal>
                <slot>volumeVisibilityAct/setExecutable</slot>
                <slot>volumeVisibilityAct/activate</slot>
                <slot>negato3DVisibilityAct/setExecutable</slot>
                <slot>negato3DVisibilityAct/activate</slot>
                <slot>boxWidgetVisibilityAct/setExecutable</slot>
                <slot>shapeExtruderAct/setExecutable</slot>
                <slot>boxWidgetResetAct/setExecutable</slot>
                <slot>addDistanceAct/setExecutable</slot>
                <slot>removeDistanceAct/setExecutable</slot>
                <slot>hideDistanceAct/setExecutable</slot>
            </connect>

            <connect channel="VOLUME_BASIC_BOOL_SENDER_CHANNEL" >
                <signal>volumeParameterSrv/boolChanged</signal>
            </connect>

            <connect channel="VOLUME_BASIC_INT_SENDER_CHANNEL" >
                <signal>volumeParameterSrv/intChanged</signal>
            </connect>

            <connect channel="VOLUME_BASIC_DOUBLE_SENDER_CHANNEL" >
                <signal>volumeParameterSrv/doubleChanged</signal>
            </connect>

            <connect>
                <signal>lightSelectorSrv/lightSelected</signal>
                <slot>lightEditorSrv/editLight</slot>
            </connect>

            <!-- Allow to activate button in the advanced toolbar -->
            <connect>
                <signal>volumeManagerAct/updated</signal>
                <slot>volumeManagerAct/activate</slot>
                <slot>TFManagerAct/deactivate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>TFManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>TFManagerAct/activate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>organsManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>TFManagerAct/deactivate</slot>
                <slot>organsManagerAct/activate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>landmarksManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>TFManagerAct/deactivate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/activate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>lightManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>TFManagerAct/deactivate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/activate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>extrudedMeshesManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>TFManagerAct/deactivate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/activate</slot>
            </connect>

            <!-- Manage landmarks -->
            <connect channel="PICKER_RECEIVER_CHANNEL" >
                <slot>landmarksParameterSrv/pick</slot>
            </connect>

            <connect channel="WORLD_COORDS_LANDMARKS_CHANNEL">
                <signal>landmarksParameterSrv/sendWorldCoord</signal>
            </connect>

            <!-- ******************************* Start/Stop services ***************************************** -->

            <start uid="mainView" />
            <start uid="ogreGenericSceneCfg" />
            <start uid="TFManagerCfg" />
            <start uid="organManagerCfg" />
            <start uid="extrudedMeshesManagerCfg" />
            <start uid="extractSeriesSrv" />
            <start uid="extractPacsImageSrv" />
            <start uid="lightSelectorSrv" />
            <start uid="lightEditorSrv" />
            <start uid="addDistanceAct" />
            <start uid="removeDistanceAct" />
            <start uid="hideDistanceAct" />

            <update uid="TFManagerAct" />
            <update uid="volumeParameterSrv" />

        </config>
    </extension>
</plugin>
