<plugin id="PoC05Kinect" version="@DASH_VERSION@" >

    <extension implements="::fwServices::registry::AppConfig">
        <id>PoC05Kinect</id>
        <config>

            <object type="::fwData::Composite">

                <service uid="MyIHM" impl="::gui::frame::SDefaultFrame" type="::fwGui::IFrameSrv" autoConnect="no">
                    <gui>
                        <frame>
                            <name>Altran Est - Medic@ : PoC 5 - Kinect</name>
                            <icon>@BUNDLE_PREFIX@/PoC05Kinect_0-1/tuto.ico</icon>
                            <minSize width="800" height="600"/>
                        </frame>
                        <menuBar />
                    </gui>
                    <registry>
                        <menuBar sid="myMenuBar" start="yes" />
                        <view sid="multiView_scene1" start="yes" />
                    </registry>
                </service>

                <service uid="myMenuBar" type="::fwGui::IMenuBarSrv" impl="::gui::aspect::SDefaultMenuBar" autoConnect="no" >
                    <gui>
                        <layout>
                            <menu name="File" />
                            <menu name="Sofa" />
                        </layout>
                    </gui>
                    <registry>
                        <menu sid="menu_File" start="yes" />
                        <menu sid="menu_Sofa" start="yes" />
                    </registry>
                </service>

                <service uid="menu_File" type="::fwGui::IMenuSrv" impl="::gui::aspect::SDefaultMenu" autoConnect="no" >
                    <gui>
                        <layout>
                            <menuItem name="Load patient" shortcut="Ctrl+O" />
                            <separator />
                            <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="action_openFile" start="yes" />
                        <menuItem sid="action_quit" start="yes" />
                    </registry>
                </service>

                <service uid="menu_Sofa" type="::fwGui::IMenuSrv" impl="::gui::aspect::SDefaultMenu" autoConnect="no" >
                    <gui>
                        <layout>
                            <menuItem name="Start" shortcut="Ctrl+S" />
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="mySofaWriterAction" start="no" />
                    </registry>
                </service>

                <service uid="action_openFile" type="::fwGui::IActionSrv" impl="::gui::action::SStarter" autoConnect="no">
                    <start uid="readerPathFile" />
                </service>

                <service uid="action_quit" type="::fwGui::IActionSrv" impl="::gui::action::SQuit" autoConnect="no" />

                <service uid="multiView_scene1" type="::gui::view::IView" impl="::gui::view::SDefaultView" autoConnect="no" >
                    <gui>
                        <layout type="::fwGui::CardinalLayoutManager">
                            <view align="center" minWidth="200"/>
                            <view align="right" minWidth="200" minHeight="200" position="0" />
                            <view align="right" minWidth="200" minHeight="80" position="1" />
                        </layout>
                    </gui>
                    <registry>
                        <view sid="genericScene" start="yes" />
                        <view sid="listOrganEditor" />
                    </registry>
                </service>

                <item key="modelSeries">
                    <object uid="modelSeriesUID" type="::fwMedData::ModelSeries">
                        <service uid="readerPathFile" impl="::uiIO::editor::SIOSelector" type="::gui::editor::IDialogEditor" autoConnect="no">
                            <type mode="reader" />
                        </service>
                    </object>
                </item>

                <!-- CompositeVisu description -->
                <item key="myCompositeVisu">
                    <object uid="myCompositeVisu" type="::fwData::Composite">

                        <service uid="updaterUID" impl="::ctrlSelection::updater::ObjFromMsgUpdaterSrv" type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                            <update compositeKey="modelSeries" onEvent="ADD_RECONSTRUCTION" fromUID="modelSeriesUID" actionType="ADD_OR_SWAP" />
                        </service>

                        <service uid="manager" impl="::ctrlSelection::manager::SwapperSrv" type="::ctrlSelection::IManagerSrv" autoConnect="yes" >
                            <mode type="stop" />
                            <config>

                                <object id="modelSeries" type="::fwMedData::ModelSeries" >

                                    <service uid="listOrganEditor" impl="::uiMedData::editor::SModelSeriesList" type="::gui::editor::IEditor" autoConnect="yes" />

                                    <service uid="mySofaCore" impl="::opSofa::SofaCoreSrv" type="::fwGui::IActionSrv" autoConnect="yes" >
                                        <addTools>yes</addTools>
                                    </service>

                                    <service uid="kinect" impl="::opKinect::KinectSrv" type="::fwGui::IActionSrv" autoConnect="yes" >
                                    </service>

                                    <service uid="mySofaWriter" impl="::opSofa::SofaSceneWriterSrv" type="::io::IWriter" autoConnect="no" >
                                        <writeTrian>yes</writeTrian>
                                        <sceneTemplate>templatetools.xml</sceneTemplate>
                                        <useTempPath>yes</useTempPath>
                                    </service>

                                    <service uid="mySofaWriterAction" impl="::gui::action::SStarter" type="::fwGui::IActionSrv" autoConnect="no" >
                                        <start uid="mySofaWriter"/>
                                    </service>

                                    <connect>
                                        <signal>view1/objectModified</signal>
                                        <slot>mySofaCore/receive</slot>
                                    </connect>
                                </object>

                            </config>

                        </service>

                        <service uid="genericScene" impl="::fwRenderVTK::SRender" type="::fwRender::IRender" autoConnect="yes">
                            <scene>
                                <picker id="myPicker" vtkclass="fwVtkCellPicker" />
                                <renderer id="default" background="0.0" />
                                <adaptor id="modelSeriesAdaptor" class="::visuVTKAdaptor::ModelSeries" objectId="modelSeries">
                                    <config renderer="default" picker="" />
                                </adaptor>
                            </scene>
                        </service>

                        <item key="view1">
                            <object uid="view1" type="::fwData::TransformationMatrix3D">
                            </object>
                        </item>
                        <connect>
                            <signal>modelSeriesUID/objectModified</signal>
                            <slot>updaterUID/receive</slot>
                        </connect>
                    </object>
                </item>

                <start uid="MyIHM" />
                <start uid="updaterUID" />
                <start uid="manager" />
            </object>
        </config>
    </extension>
</plugin>
