<plugin id="calibrationActivity" class="::calibrationActivity::Plugin" version="@DASH_VERSION@" >

    <library name="calibrationActivity" />
    <requirement id="gui" />
    <requirement id="visuVTKAdaptor" />
    <requirement id="visuVTKARAdaptor" />
    <requirement id="videoQt" />
    <requirement id="media" />
    <requirement id="mediaExt" />
    <requirement id="arMedia" />
    <requirement id="videoCalibration" />
    <requirement id="uiCalibration" />

    <xi:include href="configurations/calibration.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calIntrinsicView.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calExtrinsicView.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calCameraView.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/displayImageConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/displayTwoImagesConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/toolsCalibration.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    
    
    <extension implements="::fwActivities::registry::Activities">
        <id>Calibration</id>
        <title>Calibration</title>
        <desc>Calibration activity</desc>
        <icon>@BUNDLE_PREFIX@/arMedia_0-1/icons/calibrationActivity.svg</icon>
        <requirements>
             <requirement name="cameraSeries" type="::arData::CameraSeries" minOccurs="0" maxOccurs="0" />
        </requirements>
        <builder>::fwActivities::builder::ActivitySeriesInitData</builder>
        <appConfig id="calibration">
            <parameters>
                <parameter replace="cameraSeries" by="@values.cameraSeries" />
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::fwActivities::registry::Activities">
        <id>toolsCalibration</id>
        <title>ToolsCalibration</title>
        <desc>Tools Calibration activity</desc>
        <icon>@BUNDLE_PREFIX@/arMedia_0-1/icons/calibrationActivity.svg</icon>
        <requirements>
             <requirement name="cameraSeries" type="::arData::CameraSeries" minOccurs="1" maxOccurs="1" />
        </requirements>
        <builder>::calibrationActivity::builder::ToolCalibrationBuilder</builder>
        <validator>::calibrationActivity::validator::ToolsCalibration</validator>
        <appConfig id="toolsCalibration">
            <parameters>
                <parameter replace="camera1Uid" by="@values.cameraSeries.cameras.0" />
                <parameter replace="camera2Uid" by="@values.cameraSeries.cameras.1" />
                <parameter replace="cameraExtrinsicUid" by="@values.cameraSeries.extrinsic_matrices.1" />
                <parameter replace="tagsId" by="!values.tagsIdString" />
            </parameters>
        </appConfig>
    </extension>

</plugin>
