<plugin id="servicesReg" class="::servicesReg::Plugin" version="@PROJECT_VERSION@" >

    <library name="servicesReg" />


    <!-- EXTENSION POINT FOR AN APP CONFIGURATION -->
    <extension-point id="::fwServices::registry::AppConfig" schema="appConfig.xsd"/>

    <!-- EXTENSION POINT FOR APP CONFIGURATION PARAMETERS-->
    <extension-point id="::fwServices::registry::AppConfigParameters" schema="appConfigParameters.xsd"/>

    <!-- EXTENSION POINT FOR A SERVICE FACTORY -->
    <extension-point id="::fwServices::registry::ServiceFactory" schema="serviceFactory.xsd"/>

    <!-- EXTENSION POINT FOR A SERVICE CONFIGURATION -->
    <extension-point id="::fwServices::registry::ServiceConfig"  schema="serviceConfig.xsd"/>

    <!-- SPECIFIC SERVICES -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::Color</service>
        <object>::sight::data::Color</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::Composite</service>
        <object>::sight::data::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::TransformationMatrix3D</service>
        <object>::sight::data::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::Object</service>
        <object>::sight::data::Object</object>
    </extension>

     <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::List</service>
        <object>::sight::data::List</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::BooleanParser</service>
        <object>::sight::data::Boolean</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::FloatParser</service>
        <object>::sight::data::Float</object>
    </extension>

     <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::IntegerParser</service>
        <object>::sight::data::Integer</object>
    </extension>

     <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::StringParser</service>
        <object>::sight::data::String</object>
    </extension>

     <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::parser::TransferFunction</service>
        <object>::sight::data::TransferFunction</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::fwServices::SConfigController</service>
    </extension>

</plugin>
