<plugin id="ioData" class="::ioData::Plugin" >
    <library name="ioData" />

    <requirement id="io" />


    <!--    REGISTER_SERVICE( ::io::IReader , ::ioData::CameraReaderService , ::fwData::Camera ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioData::CameraReaderService</service>
        <object>::fwData::Camera</object>
    </extension>

    <!--    REGISTER_SERVICE( ::io::IReader , ::ioData::SplineReaderService , ::fwData::Spline ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioData::SplineReaderService</service>
        <object>::fwData::Spline</object>
    </extension>

    <!--    REGISTER_SERVICE( ::io::IReader , ::ioData::TriangularMeshReaderService , ::fwData::TriangularMesh ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioData::TriangularMeshReaderService</service>
        <object>::fwData::TriangularMesh</object>
        <desc>TriangularMesh Reader</desc>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IReader , ::ioData::DefaultCompositeObjectReaderService , ::fwData::ProcessObject ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioData::DefaultCompositeObjectReaderService</service>
        <object>::fwData::ProcessObject</object>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IReader , ::ioData::CompositeReaderService , ::fwData::Composite ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioData::CompositeReaderService</service>
        <object>::fwData::Composite</object>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IReader , ::ioData::TransformationMatrix3DReaderService , ::fwData::TransformationMatrix3D ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioData::TransformationMatrix3DReaderService</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioData::TransformationMatrix3DWriterService , ::fwData::TransformationMatrix3D ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioData::TransformationMatrix3DWriterService</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioData::TriangularMeshWriterService , ::fwData::TriangularMesh ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioData::TriangularMeshWriterService</service>
        <object>::fwData::TriangularMesh</object>
        <desc>TriangularMesh Writer</desc>
    </extension>

</plugin>
