<plugin id="uiImage" class="::uiImage::Plugin">
    <library name="uiImage"/>
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>
    
    <!--    REGISTER_SERVICE( ::gui::editor::IEditor , ::uiImage::SliceIndexPositionEditor , ::fwData::Image ) ;-->
    <point id="::uiImage::SliceIndexPositionEditor" >
        <implements>::gui::editor::IEditor</implements>
        <implements>::fwData::Image</implements>
    </point>
    
    <!--    REGISTER_SERVICE( ::gui::editor::IEditor, ::uiImage::SliceListEditor, ::fwData::Image ) ;-->
    <point id="::uiImage::SliceListEditor" >
        <implements>::gui::editor::IEditor</implements>
        <implements>::fwData::Image</implements>
    </point>
    
    <!--    REGISTER_SERVICE( ::gui::editor::IEditor, ::uiImage::ShowScanEditor, ::fwData::Image ) ;-->
    <point id="::uiImage::ShowScanEditor" >
        <implements>::gui::editor::IEditor</implements>
        <implements>::fwData::Image</implements>
    </point>


    <!--    REGISTER_SERVICE( ::gui::editor::IEditor , ::uiImage::OpacityEditor , ::fwData::Image ) ;-->
    <point id="::uiImage::OpacityEditor" >
        <implements>::gui::editor::IEditor</implements>
        <implements>::fwData::Image</implements>
    </point>
    
</plugin>
