<plugin id="videoQt" class="videoQt::Plugin" version="@PROJECT_VERSION@" >

    <library name="videoQt" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::arServices::IGrabber</type>
        <service>::videoQt::SFrameGrabber</service>
        <object>::arData::FrameTL</object>
        <desc>QtMultimedia plugin</desc>
        <caps>FILE,STREAM,DEVICE</caps>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::videoQt::SFrameRecorder</service>
        <object>::arData::FrameTL</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::videoQt::editor::SCamera</service>
        <object>::arData::Camera</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::videoQt::editor::SSlider</service>
        <object>::fwData::Object</object>
    </extension>
</plugin>



