<plugin id="visuOgreAdaptor" class="visuOgreAdaptor::Plugin"  version="@DASH_VERSION@" >

    <library name="visuOgreAdaptor" />

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="visuOgre" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SCamera</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SMesh</service>
        <object>::fwData::Mesh</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::STransform</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SMaterial</service>
        <object>::fwData::Material</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SReconstruction</service>
        <object>::fwData::Reconstruction</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SModelSeries</service>
        <object>::fwMedData::ModelSeries</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::STexture</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::visuOgreAdaptor::IParameter</type>
        <service>::visuOgreAdaptor::SCompositorParameter</service>
        <object>::fwData::Object</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::visuOgreAdaptor::IParameter</type>
        <service>::visuOgreAdaptor::SShaderParameter</service>
        <object>::fwData::Object</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SVideo</service>
        <object>::fwData::Image</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SInteractorStyle</service>
        <object>::fwData::Object</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SNegato3D</service>
        <object>::fwData::Image</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SNegato2D</service>
        <object>::fwData::Image</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderOgre::IAdaptor</type>
        <service>::visuOgreAdaptor::SLight</service>
        <object>::fwData::TransformationMatrix3D</object>
        <desc>service description</desc>
    </extension>

</plugin>
