<plugin id="ioAtoms" class="::ioAtoms::Plugin" version="@PROJECT_VERSION@" >

    <library name="ioAtoms" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="io" />
    <requirement id="gui" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioAtoms::SReader</service>
        <object>::fwData::Object</object>
        <desc>Atoms reader</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioAtoms::SWriter</service>
        <object>::fwData::Object</object>
        <desc>Atoms writer</desc>
    </extension>

</plugin>



