<plugin id="ioAtoms" class="::ioAtoms::Plugin" >

    <library name="ioAtoms" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="io" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioAtoms::SWriter</service>
        <object>::fwData::Composite</object>
        <desc>Atoms writer</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>AtomIOSelectorWriterConfig</id>
        <service>::ioAtoms::SWriter</service>
        <desc>IOSelector config to write atom</desc>
        <config>
            <type mode="reader" />
            <selection mode="include" />
            <addSelection service="::ioAtoms::SWriter" />
            <config id="AtomIOSelectorWriterConfig" service="::ioAtoms::SWriter" />
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>AtomWriterConfig</id>
        <desc>Config to write atoms</desc>
        <config>
            <item />
        </config>
    </extension>

</plugin>



