<plugin id="::sight::modules::io::file" class="::sight::modules::io::file::Plugin"  version="@PROJECT_VERSION@" >
    <library name="io_file" />

    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::io::base::services::IReader</type>
        <service>::sight::modules::io::file::TransformationMatrix3DReaderService</service>
        <object>::sight::data::TransformationMatrix3D</object>
        <desc>TransformationMatrix3D Reader</desc>
    </extension>

    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::io::base::services::IWriter</type>
        <service>::sight::modules::io::file::TransformationMatrix3DWriterService</service>
        <object>::sight::data::TransformationMatrix3D</object>
        <desc>TransformationMatrix3D Writer</desc>
    </extension>

</plugin>
