<plugin id="guiWx" class="::guiWx::Plugin">
    <library name="guiWx"/>
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>
    
    <point id="::gui::editor::DummyEditor">
        <implements>::gui::editor::IEditor</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
</plugin>
