<!-- Application name and version (the version is automatically replaced by CMake
     using the version defined in the Properties.cmake) -->
<plugin id="tuto06_gui_qml" library="true" autostart="true">
    <!-- The modules in requirements are automatically started when this
         Application is launched. -->

    <requirement id="sight::module::service" />
</plugin>
