<plugin id="uiAcquisitionWx" class="::uiAcquisition::Plugin">
    <library name="uiAcquisitionWx"/>
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>
    
    <!--    REGISTER_SERVICE( ::gui::editor::IEditor , ::uiAcquisition::OrganListEditor , ::fwData::Acquisition ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiAcquisition::OrganListEditor</service>
        <object>::fwData::Acquisition</object>
    </extension>
    
</plugin>
