<plugin id="ioITK" class="ioITK::Plugin" version="@PROJECT_VERSION@" >
    <library name="ioITK" />

    <requirement id="io" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioITK::InrImageReaderService</service>
        <object>::fwData::Image</object>
        <desc>Inrimage Reader (ITK/Ircad)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioITK::InrImageWriterService</service>
        <object>::fwData::Image</object>
        <desc>Inrimage Writer (ITK/Ircad)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioITK::JpgImageWriterService</service>
        <object>::fwData::Image</object>
        <desc>Jpeg Writer (ITK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioITK::SJpgImageSeriesWriter</service>
        <object>::fwMedData::ImageSeries</object>
        <desc>ImageSeries Jpeg Writer (ITK)</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioITK::SInrSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>SeriesDB Inrimage Reader (ITK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioITK::SImageSeriesWriter</service>
        <object>::fwMedData::ImageSeries</object>
        <desc>ImageSeries Inr Writer (ITK)</desc>
    </extension>


</plugin>
