<plugin id="uiCalibration" class="uiCalibration::Plugin" version="@DASH_VERSION@" >
    <library name="uiCalibration" />

    <requirement id="gui"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiCalibration::SCalibrationInfoEditor</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiCalibration::SCameraInformationEditor</service>
        <object>::arData::Camera</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiCalibration::SCameraSeriesEditor</service>
        <object>::arData::CameraSeries</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiCalibration::SOpticalCenterEditor</service>
        <object>::arData::Camera</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiCalibration::SImagesSelector</service>
        <object>::fwData::Vector</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IService</type>
        <service>::uiCalibration::SIntrinsicEdition</service>
        <object>::arData::Camera</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::uiCalibration::SDisplayCalibrationInfo</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiCalibration::SCameraConfigLauncher</service>
        <object>::fwData::Composite</object>
    </extension>

</plugin>
