<plugin class="::uiPython::Plugin" id="uiPython">

    <library name="uiPython"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="binding" />
    

    
    <point id="::uiPython::action::Test">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    
    <point id="::uiPython::action::StringRun">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwData::String</implements>
    </point>
    
</plugin>
