<plugin id="tracker" class="::tracker::Plugin" version="@DASH_VERSION@" >

    <library name="tracker" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::tracker::SHomography</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
