<plugin id="uiTracking" class="::uiTracking::Plugin" version="@DASH_VERSION@" >
    <library name="uiTracking" />

    <requirement id="gui"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiTracking::SArucoTrackerEditor</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
