<plugin id="sight_calibrator">

    <requirement id="sight::module::service" />
    <requirement id="sight::module::memory" />
    <requirement id="sight::module::ui" />
    <requirement id="sight::module::activity" />
    <requirement id="sight::module::io::session" />
    <requirement id="sight::module::ui::qt" />

    <xi:include href="configurations/sight_calibrator_activity_selector.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/sight_calibrator_base.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::activity::extension">
        <id>SightCalibratorActivitySelector_Activity</id>
        <title>Activity selector</title>
        <desc>Activity selector for sight_calibrator</desc>
        <icon>sight::module::ui::icons/calibration.svg</icon>
        <requirements></requirements>
        <appConfig id="SightCalibrator_ActivitySelector_AppCfg">
            <parameters />
        </appConfig>
    </extension>

    <extension implements="sight::app::extension::parameters">
        <id>SightCalibrator_AppCfgParam</id>
        <parameters>
            <param name="APP_NAME" value="sight_calibrator" />
            <param name="APP_VERSION" value="@sight_calibrator_VERSION@" />
            <param name="ICON_PATH" value="sight_calibrator/app.ico" />
        </parameters>
    </extension>

</plugin>
