<!--
This example shows how to display notifications popups.

Mode 1: Using notifier service (recommanded) and 'notified' signal from base
connected to notifier slots 'pop'.

Mode 2: Standalone by calling directly the notification dialog inside your service (see display_test_notifications.cpp)
this mode is not recommanded since each service can pop notification without any knowlegde of how many notifications
are already displayed and where they are displayed on screen.

-->
<plugin id="ex_notifications" library="true">
    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::ui" />

    <extension implements="sight::service::extension::factory">
        <type>sight::ui::action</type>
        <service>ex_notifications::display_test_notifications</service>
        <object>sight::data::object</object>
    </extension>

    <extension implements="sight::app::extension::config">
        <id>ex_notifications_AppCfg</id>
        <config>
            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ex_notifications</name>
                        <icon>ex_notifications/app.ico</icon>
                        <minSize width="800" height="600" />
                    </frame>
                    <toolbar />
                </gui>
                <registry>
                    <toolbar sid="toolbarView" />
                    <view sid="mainview" />
                </registry>
            </service>

            <service uid="toolbarView" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <editor />
                        <editor />
                        <editor />
                        <editor />
                        <editor />
                        <editor />
                        <editor />
                        <separator />
                        <menuItem name="NOTIFY" />
                        <menuItem name="Close CHANNEL1" />
                        <spacer />
                        <separator />
                        <menuItem name="Color Theme" />
                    </layout>
                </gui>
                <registry>
                    <editor sid="useNotifierAct" />
                    <editor sid="maxChar" />
                    <editor sid="useSound" />
                    <editor sid="durationAct" />
                    <editor sid="typeAct" />
                    <editor sid="positionAct" />
                    <editor sid="channelAct" />
                    <menuItem sid="notifyAct" />
                    <menuItem sid="closeAct" />
                    <menuItem sid="changeThemeAct" />
                </registry>
            </service>

            <service uid="mainview" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                    </layout>
                </gui>
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="useNotifierAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="bool" name="Use notifier to centralize." key="usenotifier" defaultValue="true" />
                </parameters>
            </service>

            <service uid="maxChar" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="bool" name="Reach max. characters" key="reachMaxCharacters" defaultValue="false" />
                </parameters>
            </service>

            <service uid="useSound" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="bool" name="Sound" key="sound" defaultValue="false" />
                </parameters>
            </service>

            <service uid="durationAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Duration" key="duration" defaultValue="3000" values="3000,1000,infinite" />
                </parameters>
            </service>

            <service uid="typeAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Type" key="type" defaultValue="INFO" values="INFO,SUCCESS,FAILURE" />
                </parameters>
            </service>

            <service uid="positionAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Position" key="position" defaultValue="TOP_RIGHT" values="ALL,TOP_LEFT,TOP_RIGHT,CENTERED_TOP,CENTERED,BOTTOM_LEFT,BOTTOM_RIGHT,CENTERED_BOTTOM" />
                </parameters>
            </service>

            <service uid="channelAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Channel" key="channel" defaultValue="GLOBAL" values="GLOBAL,CHANNEL1,CHANNEL2" />
                </parameters>
            </service>

            <service uid="notifyAct" type="sight::module::ui::action" />

            <service uid="closeAct" type="sight::module::ui::action" />

            <!-- preference to apply new theme on app -->
            <service uid="changeThemeAct" type="sight::module::ui::qt::preferences_configuration">
                <preference>
                    <type>combobox</type>
                    <name>Color Theme</name>
                    <key>THEME</key>
                    <values>DEFAULT,FLATDARK</values>
                    <default_value>FLATDARK</default_value>
                </preference>
            </service>

            <!-- ******************************* Services ******************************* -->

            <!-- Dummy service only used to test notifications -->
            <service uid="testNotifierSrv" type="ex_notifications::display_test_notifications">
                <notification>
                    <channel key="CHANNEL1" uid="CHANNEL1" />
                    <channel key="CHANNEL2" uid="CHANNEL2" />
                </notification>
            </service>

            <!-- notifier listen to all the connected service & display queued notification at the same place (here TOP_RIGHT)-->
            <service uid="notifierSrv" type="sight::module::ui::qt::notifier">
                <!-- Parent container where notifications will be displayed, use the xmlattr uid hack to generate the generic_uid prefix of "maview" -->
                <parent uid="mainview" />
                <!-- Default message printed if empty string is emitted in notify* signals -->
                <message>Default Message</message>
                <channels>
                    <!-- Channel without uid configures default for all notification. It can be changed using enumParameters -->
                    <channel position="TOP_RIGHT" duration="3000" max="3" size="200x60" />
                    <!-- CHANNEL2 configuration is fixd here. It cannot be changed -->
                    <channel uid="CHANNEL2" position="TOP_LEFT" duration="5000" max="3" size="800x120" closable="false" />
                </channels>
            </service>

            <service uid="qt_style_changer_srv" type="sight::module::ui::qt::style_selector" />

            <!-- ******************************* Connections ***************************************** -->

            <!-- connection from base notify signals to the notifier,you can add as many service as you need -->
            <connect>
                <signal>testNotifierSrv/notified</signal>
                <slot>notifierSrv/pop</slot>
            </connect>

            <connect>
                <signal>testNotifierSrv/notification_closed</signal>
                <slot>notifierSrv/close_notification</slot>
            </connect>

            <!-- Others connections -->
            <connect>
                <signal>positionAct/enum_changed</signal>
                <slot>testNotifierSrv/set_enum_parameter</slot>
                <slot>notifierSrv/set_enum_parameter</slot>
            </connect>

            <connect>
                <signal>durationAct/enum_changed</signal>
                <slot>testNotifierSrv/set_enum_parameter</slot>
                <slot>notifierSrv/set_enum_parameter</slot>
            </connect>

            <connect>
                <signal>typeAct/enum_changed</signal>
                <slot>testNotifierSrv/set_enum_parameter</slot>
            </connect>

            <connect>
                <signal>channelAct/enum_changed</signal>
                <slot>testNotifierSrv/set_enum_parameter</slot>
            </connect>

            <connect>
                <signal>useNotifierAct/bool_changed</signal>
                <signal>maxChar/bool_changed</signal>
                <signal>useSound/bool_changed</signal>
                <slot>testNotifierSrv/set_bool_parameter</slot>
            </connect>

            <connect>
                <signal>changeThemeAct/parameters_modified</signal>
                <slot>qt_style_changer_srv/update_from_preferences</slot>
            </connect>

            <connect>
                <signal>notifyAct/clicked</signal>
                <slot>testNotifierSrv/update</slot>
            </connect>

            <connect>
                <signal>closeAct/clicked</signal>
                <slot>testNotifierSrv/close_channel1</slot>
            </connect>
        </config>
    </extension>
</plugin>
