<plugin id="uiVisuOgre" class="::uiVisuOgre::Plugin"  version="@PROJECT_VERSION@" >

    <library name="uiVisuOgre" />

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="uiIO"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SMaterialSelector</service>
        <object>::fwData::Reconstruction</object>
        <desc>service description</desc>
    </extension>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::STextureSelector</service>
        <object>::fwData::Reconstruction</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SCompositorParameterEditor</service>
        <object>::fwData::Object</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SShaderParameterEditor</service>
        <object>::fwData::Reconstruction</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SCompositorSelector</service>
        <object>::fwData::Composite</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SStereoSelector</service>
        <object>::fwData::Composite</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SCoreCompositorEditor</service>
        <object>::fwData::Composite</object>
        <desc>service description</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SLightSelector</service>
        <object>::fwData::Composite</object>
        <desc>User interface to select light adaptor from a selected layer or create a new one.</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiVisuOgre::SLightEditor</service>
        <object>::fwData::Composite</object>
        <desc>User interface to edit a light adaptor.</desc>
    </extension>

</plugin>
