overlay Ircad_Left_Top
{
    overlay_element Ircad_Top_Left/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Top_Left/IrcadPanel Panel
        {
            horz_align left
            vert_align top
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}

overlay Ircad_Left_Center
{
    overlay_element Ircad_Left_Center/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Left_Center/IrcadPanel Panel
        {
            horz_align left
            vert_align center
            top -0.05
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}

overlay Ircad_Left_Bottom
{
    overlay_element Ircad_Bottom_Left/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Bottom_Left/IrcadPanel Panel
        {
            horz_align left
            vert_align bottom
            top -0.10
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}

overlay Ircad_Center_Top
{
    overlay_element Ircad_Top_Center/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Top_Center/IrcadPanel Panel
        {
            horz_align center
            vert_align top
            left -0.075
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}

overlay Ircad_Center_Bottom
{
    overlay_element Ircad_Bottom_Center/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Bottom_Center/IrcadPanel Panel
        {
            horz_align center
            vert_align bottom
            left -0.075
            top -0.10
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}

overlay Ircad_Right_Top
{
    overlay_element Ircad_Top_Right/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Top_Right/IrcadPanel Panel
        {
            horz_align right
            vert_align top
            left -0.15
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}

overlay Ircad_Right_Center
{
    overlay_element Ircad_Right_Center/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Right_Center/IrcadPanel Panel
        {
            horz_align right
            vert_align center
            left -0.15
            top -0.05
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}

overlay Ircad_Right_Bottom
{
    overlay_element Ircad_Bottom_Right/EmptyPanel Panel
    {
        left 0.025
        top 0.025
        width 0.95
        height 0.95

        overlay_element Ircad_Bottom_Right/IrcadPanel Panel
        {
            horz_align right
            vert_align bottom
            left -0.15
            top -0.10
            width 0.15
            height 0.10
            material IrcadLogo
        }
    }
}
