<plugin id="PoC03MeshManualRegistration" version="@DASH_VERSION@" >

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="visuVTKQt" />

    <xi:include href="configurations/organManagerConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/manualRegistrationEditorConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/camViewManagerConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/worldViewConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::AppConfig">
        <id>PoC03MeshManualRegistration</id>
        <config>


            <object type="::fwData::Composite">

                <xi:include href="configurations/frameAndViews.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

                <service uid="snapshotScene1Editor" type="::gui::editor::IEditor" impl="::uiVisu::SnapshotEditor" autoConnect="no"/>

                <item key="image">
                    <object uid="imageUID"  type="::fwData::Image">
                        <service uid="imageReaderUid" impl="::uiIO::editor::SIOSelector" type="::gui::editor::IDialogEditor" autoConnect="no">
                            <type mode="reader" />
                        </service>
                    </object>
                </item>


                <!-- CompositeVisu description -->
                <item key="compositeVisu">
                    <object uid="compositeVisuUID" type="::fwData::Composite">

                        <service uid="updaterImageUID" impl="::ctrlSelection::SManage" autoConnect="no">
                            <uid>imageUID</uid>
                            <compositeKey>image</compositeKey>
                        </service>

                        <service uid="manager" impl="::ctrlSelection::manager::SwapperSrv" type="::ctrlSelection::IManagerSrv" autoConnect="yes">
                            <mode type="stop" />
                            <config>
                                <object id="image" type="::fwData::Image">
                                    <!-- This service convert a simple fwData::Image to medical Image -->
                                    <service uid="medicalImageConverter" impl="::ctrlSelection::MedicalImageSrv" type="::fwServices::IController" autoConnect="no" />
                                    <service uid="sliceListEditor" type="::gui::editor::IEditor" impl="::guiQt::editor::SSelectionMenuButton" autoConnect="no">
                                        <toolTip>Manage slice visibility</toolTip>
                                        <selected>3</selected>
                                        <items>
                                            <item text="One slice" value="1" />
                                            <item text="three slices" value="3" />
                                        </items>
                                    </service>
                                    <service uid="showScanEditor" type="::gui::editor::IEditor" impl="::guiQt::editor::SSignalButton" autoConnect="no">
                                        <config>
                                            <checkable>true</checkable>
                                            <icon>@BUNDLE_PREFIX@/media_0-1/icons/sliceHide.png</icon>
                                            <icon2>@BUNDLE_PREFIX@/media_0-1/icons/sliceShow.png</icon2>
                                            <iconWidth>40</iconWidth>
                                            <iconHeight>16</iconHeight>
                                            <checked>true</checked>
                                        </config>
                                    </service>
                                    <service uid="sliderIndexEditor" type="::gui::editor::IEditor" impl="::uiImage::SliceIndexPositionEditor" autoConnect="yes">
                                        <sliceIndex>axial</sliceIndex>
                                    </service>

                                    <connect>
                                        <signal>showScanEditor/toggled</signal>
                                        <slot>sliceListEditor/setEnabled</slot>
                                    </connect>
                                </object>
                            </config>
                        </service>

                        <service uid="genericScene" impl="::fwRenderVTK::SRender" type="::fwRender::IRender" autoConnect="yes">
                            <scene>
                                <vtkObject id="cam2PosMatrixTransform" class="vtkTransform" />

                                <picker id="picker" vtkclass="fwVtkCellPicker" />
                                <renderer id="default" background="0.0" />

                                <adaptor id="modelSeriesAdaptor" uid="genericScene_modelSeriesAdaptorUid" class="::visuVTKAdaptor::ModelSeries" objectId="modelSeries">
                                    <config renderer="default" picker="" autoresetcamera="no" />
                                </adaptor>
                                <adaptor uid="MPRNegatoScene3D" id="MPRNegato3D" class="::visuVTKAdaptor::NegatoMPR" objectId="image">
                                    <config renderer="default" picker="picker" slices="3" sliceIndex="axial" />
                                </adaptor>
                                <adaptor id="snapshot1" uid="snapshotUID" class="::visuVTKAdaptor::Snapshot" objectId="self">
                                    <config renderer="default" />
                                </adaptor>

                                <adaptor id="CamPosMatrix" class="::visuVTKAdaptor::Camera2" objectId="view1">
                                    <config renderer="default" picker="" />
                                </adaptor>

                                <adaptor id="CamPos2MatrixTransformAdaptor" class="::visuVTKAdaptor::Transform" objectId="view2">
                                    <config renderer="default" picker="" transform="cam2PosMatrixTransform" />
                                </adaptor>
                                <adaptor id="Cam2MeshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="cam2Mesh">
                                    <config renderer="default" picker="picker" transform="cam2PosMatrixTransform" autoresetcamera="no" />
                                </adaptor>

                                <adaptor id="MeshCompositeAdaptor" class="::visuVTKAdaptor::MeshesBoxWidget" objectId="meshDB">
                                    <config renderer="default" picker="picker" />
                                </adaptor>

                                <proxy channel="ModelRepresentationChannel" waitForKey="modelSeries">
                                    <slot>genericScene_modelSeriesAdaptorUid/updateNormalMode</slot>
                                </proxy>

                                <proxy channel="ModelDisplayChannel" waitForKey="modelSeries">
                                    <slot>genericScene_modelSeriesAdaptorUid/showReconstructions</slot>
                                </proxy>

                                <connect>
                                    <signal>snapshotScene1Editor/snapped</signal>
                                    <slot>snapshotUID/snap</slot>
                                </connect>

                                <connect waitForKey="image">
                                    <signal>showScanEditor/toggled</signal>
                                    <slot>MPRNegatoScene3D/showSlice</slot>
                                </connect>

                                <connect waitForKey="image">
                                    <signal>sliceListEditor/selected</signal>
                                    <slot>MPRNegatoScene3D/updateSliceMode</slot>
                                </connect>
                            </scene>
                        </service>

                        <service uid="genericScene2" impl="::fwRenderVTK::SRender" type="::fwRender::IRender" autoConnect="yes">
                            <scene>
                                <vtkObject id="cam1PosMatrixTransform" class="vtkTransform" />
                                <picker id="picker" vtkclass="fwVtkCellPicker" />
                                <renderer id="default" background="0.0" />

                                <adaptor id="modelSeriesAdaptor" uid="genericScene2_modelSeriesAdaptorUid" class="::visuVTKAdaptor::ModelSeries" objectId="modelSeries">
                                    <config renderer="default" picker="" autoresetcamera="no" />
                                </adaptor>

                                <adaptor id="CamPosMatrix" class="::visuVTKAdaptor::Camera2" objectId="view2">
                                    <config renderer="default" picker="" />
                                </adaptor>

                                <adaptor id="CamPos1MatrixTransformAdaptor" class="::visuVTKAdaptor::Transform" objectId="view1">
                                    <config renderer="default" picker="" transform="cam1PosMatrixTransform" />
                                </adaptor>
                                <adaptor id="Cam1MeshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="cam1Mesh">
                                    <config renderer="default" picker="picker" transform="cam1PosMatrixTransform" autoresetcamera="no" />
                                </adaptor>

                                <adaptor id="MeshCompositeAdaptor" class="::visuVTKAdaptor::MeshesBoxWidget" objectId="meshDB">
                                    <config renderer="default" picker="picker" />
                                </adaptor>

                                <proxy channel="ModelRepresentationChannel" waitForKey="modelSeries">
                                    <slot>genericScene2_modelSeriesAdaptorUid/updateNormalMode</slot>
                                </proxy>

                                <proxy channel="ModelDisplayChannel" waitForKey="modelSeries">
                                    <slot>genericScene2_modelSeriesAdaptorUid/showReconstructions</slot>
                                </proxy>
                            </scene>
                        </service>

                        <item key="modelSeries">
                            <object uid="modelSeriesUID"  type="::fwMedData::ModelSeries">
                                <service uid="modelSeriesReaderUid" impl="::uiIO::editor::SIOSelector" type="::gui::editor::IDialogEditor" autoConnect="no">
                                    <type mode="reader" />
                                </service>
                            </object>
                        </item>

                        <!-- meshDB description -->
                        <item key="meshDB">
                            <object uid="meshDBUid" type="::fwData::Composite">
                            </object>
                        </item>

                        <item key="view1">
                            <object uid="view1" type="::fwData::TransformationMatrix3D">
                            </object>
                        </item>

                        <item key="view2">
                            <object uid="view2" type="::fwData::TransformationMatrix3D">
                            </object>
                        </item>

                        <item key="cam2Mesh">
                            <object uid="cam2Mesh" type="::fwData::Mesh">

                                <service uid="camReaderFile" impl="::uiIO::editor::SIOSelector" type="::gui::editor::IDialogEditor" autoConnect="no" />
                                <service uid="cam2ReaderFile" impl="::ioData::MeshReaderService" type="::io::IReader" autoConnect="no">
                                    <file>@BUNDLE_PREFIX@/PoC03MeshManualRegistration_0-1/cam.trian</file>
                                </service>
                            </object>
                        </item>

                        <item key="cam1Mesh">
                            <object uid="cam1Mesh" type="::fwData::Mesh">
                                <service uid="cam1ReaderFile" impl="::ioData::MeshReaderService" type="::io::IReader" autoConnect="no">
                                    <file>@BUNDLE_PREFIX@/PoC03MeshManualRegistration_0-1/cam.trian</file>
                                </service>
                            </object>
                        </item>

                        <connect>
                            <signal>imageUID/modified</signal>
                            <slot>updaterImageUID/addOrSwap</slot>
                        </connect>

                    </object>
                </item>

                <start uid="IHM" />
                <start uid="updaterImageUID" />
                <start uid="manager" />
                <start uid="cam1ReaderFile" />
                <start uid="cam2ReaderFile" />

                <update uid="cam1ReaderFile" />
                <update uid="cam2ReaderFile" />

            </object>

        </config>
    </extension>

</plugin>
