<plugin id="PoC03MeshManualRegistration">

    <requirement id="servicesReg" />

    <xi:include href="configurations/organManagerConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/manualRegistrationEditorConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/camViewManagerConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/worldViewConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::AppConfig">
        <id>PoC03MeshManualRegistration</id>
        <type>parameters</type>
        <config>


            <object type="::fwData::Composite">

                <xi:include href="configurations/frameAndViews.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

                <service uid="snapshotScene1Editor" type="::gui::editor::IEditor" impl="::uiVisu::SnapshotEditor" autoConnect="no">
                    <snap>
                        <scene uid="genericScene" />
                    </snap>
                </service>

                <!-- myPatientDB description -->
                <item key="myPatientDB">
                    <object uid="myPatientDB" type="::fwData::PatientDB">

                        <service uid="myReaderPathFile" impl="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" autoConnect="no">
                            <type mode="reader" />
                            <selection mode="exclude" />
                            <addSelection service="::ioXML::FwXMLPatientDBReaderService" />
                        </service>
                        
                        <service impl="::ctrlSelection::wrapper::PatientDBWrapperSrv" type="::ctrlSelection::IWrapperSrv" uid="newOBject2newPatientDB" autoConnect="yes" />
                        
                        <service uid="myUpdaterComCannelAcq" impl="::fwServices::ComChannelService" type="::fwServices::ICommunication" autoConnect="no">
                            <target>myUpdaterAcq</target>
                        </service>
                        
                        <service uid="myUpdaterComCannelImg" impl="::fwServices::ComChannelService" type="::fwServices::ICommunication" autoConnect="no">
                            <target>myUpdaterImg</target>
                        </service>
                        
                    </object>
                </item>

                <!-- CompositeVisu description -->
                <item key="myCompositeVisu">
                    <object uid="myCompositeVisu" type="::fwData::Composite">

                        <service uid="myUpdaterAcq" impl="::ctrlSelection::updater::AcqFromPDBUpdaterSrv" type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                            <update compositeKey="myAcquisition" onEvent="NEW_LOADED_PATIENT" fromUID="myPatientDB" actionType="ADD_OR_SWAP" />
                            <update compositeKey="myAcquisition" onEvent="CLEAR_PATIENT" fromUID="myPatientDB" actionType="REMOVE" />
                        </service>
                        
                        <service uid="myUpdaterImg" impl="::ctrlSelection::updater::ImageFromPDBUpdaterSrv" type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                            <update compositeKey="myImage" onEvent="NEW_LOADED_PATIENT" fromUID="myPatientDB" actionType="ADD_OR_SWAP" />
                            <update compositeKey="myImage" onEvent="NEW_PATIENT" fromUID="myPatientDB" actionType="ADD_OR_SWAP" />
                            <update compositeKey="myImage" onEvent="CLEAR_PATIENT" fromUID="myPatientDB" actionType="REMOVE" />
                        </service>

                        <service uid="myManager" impl="::ctrlSelection::manager::SwapperSrv" type="::ctrlSelection::IManagerSrv" autoConnect="yes" priority="0.6">
                            <mode type="stop" />
                            <config>
                                <object id="myImage" type="::fwData::Image">
                                    <!-- This service convert a simple fwData::Image to medical Image -->
                                    <service uid="medicalImageConverter" impl="::ctrlSelection::MedicalImageSrv" type="::fwServices::IController" autoConnect="no" />
                                    <service uid="sliceListEditor" type="::gui::editor::IEditor" impl="::uiImage::SliceListEditor" autoConnect="yes">
                                        <negatoAdaptor uid="MPRNegatoScene3D" slices="3" />
                                    </service>
                                    <service uid="showScanEditor" type="::gui::editor::IEditor" impl="::uiImage::ShowScanEditor" autoConnect="no">
                                        <negatoAdaptor uid="MPRNegatoScene3D" />
                                    </service>
                                    <service uid="sliderIndexEditor" type="::gui::editor::IEditor" impl="::uiImage::SliceIndexPositionEditor" autoConnect="yes">
                                        <sliceIndex>axial</sliceIndex>
                                    </service>
                                </object>
                            </config>
                        </service>

                        <service uid="genericScene" impl="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoConnect="yes">
                            <scene>
                                <vtkObject id="myCam2PosMatrixTransform" class="vtkTransform" />

                                <picker id="myPicker" vtkclass="fwVtkCellPicker" />
                                <renderer id="default" background="0.0" />
                                <adaptor id="myRenderAdaptor" class="::visuVTKAdaptor::Render" objectId="self">
                                    <config renderer="default" picker="" />
                                </adaptor>
                                <adaptor id="myAcquisitionAdaptor" class="::visuVTKAdaptor::Acquisition" objectId="myAcquisition">
                                    <config renderer="default" picker="" autoresetcamera="no" />
                                </adaptor>
                                <adaptor uid="MPRNegatoScene3D" id="MPRNegato3D" class="::visuVTKAdaptor::NegatoMPR" objectId="myImage">
                                    <config renderer="default" picker="myPicker" slices="3" sliceIndex="axial" />
                                </adaptor>
                                <adaptor id="snapshot1" class="::visuVTKAdaptor::Snapshot" objectId="self">
                                    <config renderer="default" />
                                </adaptor>

                                <adaptor id="CamPosMatrix" class="::visuVTKAdaptor::Camera2" objectId="view1">
                                    <config renderer="default" picker="" />
                                </adaptor>

                                <adaptor id="CamPos2MatrixTransformAdaptor" class="::visuVTKAdaptor::Transform" objectId="view2">
                                    <config renderer="default" picker="" transform="myCam2PosMatrixTransform" />
                                </adaptor>
                                <adaptor id="Cam2MeshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="myCam2Mesh">
                                    <config renderer="default" picker="myPicker" transform="myCam2PosMatrixTransform" autoresetcamera="no" />
                                </adaptor>


                                <adaptor id="MeshCompositeAdaptor" class="::visuVTKAdaptor::MeshesBoxWidget" objectId="MyMeshDB">
                                    <config renderer="default" picker="myPicker" />
                                </adaptor>
                            </scene>
                        </service>
                        
                        <service uid="genericScene2" impl="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoConnect="yes">
                            <scene>
                                <vtkObject id="myCam1PosMatrixTransform" class="vtkTransform" />

                                <picker id="myPicker" vtkclass="fwVtkCellPicker" />

                                <renderer id="default" background="0.0" />

                                <adaptor id="myRenderAdaptor" class="::visuVTKAdaptor::Render" objectId="self">
                                    <config renderer="default" picker="" />
                                </adaptor>

                                <adaptor id="myAcquisitionAdaptor" class="::visuVTKAdaptor::Acquisition" objectId="myAcquisition">
                                    <config renderer="default" picker="" autoresetcamera="no" />
                                </adaptor>

                                <adaptor id="snapshot1" class="::visuVTKAdaptor::Snapshot" objectId="self">
                                    <config renderer="default" />
                                </adaptor>

                                <adaptor id="CamPosMatrix" class="::visuVTKAdaptor::Camera2" objectId="view2">
                                    <config renderer="default" picker="" />
                                </adaptor>

                                <adaptor id="CamPos1MatrixTransformAdaptor" class="::visuVTKAdaptor::Transform" objectId="view1">
                                    <config renderer="default" picker="" transform="myCam1PosMatrixTransform" />
                                </adaptor>
                                <adaptor id="Cam1MeshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="myCam1Mesh">
                                    <config renderer="default" picker="myPicker" transform="myCam1PosMatrixTransform" autoresetcamera="no" />
                                </adaptor>

                                <adaptor id="MeshCompositeAdaptor" class="::visuVTKAdaptor::MeshesBoxWidget" objectId="MyMeshDB">
                                    <config renderer="default" picker="myPicker" />
                                </adaptor>
                            </scene>
                        </service>

                        <!-- MyMeshDB description -->
                        <item key="MyMeshDB">
                            <object uid="MyMeshDB" type="::fwData::Composite">
                            </object>
                        </item>
                        
                        <item key="view1">
                            <object uid="view1" type="::fwData::TransformationMatrix3D">
                            </object>
                        </item>

                        <item key="view2">
                            <object uid="view2" type="::fwData::TransformationMatrix3D">
                            </object>
                        </item>

                        <item key="myCam2Mesh">
                            <object uid="myCam2Mesh" type="::fwData::Mesh">

                                <service uid="myCamReaderFile" impl="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" autoConnect="no" />
                                <service uid="myCam2ReaderFile" impl="::ioData::MeshReaderService" type="::io::IReader" autoConnect="no">
                                    <file>Bundles/PoC03MeshManualRegistration_0-1/cam.trian</file>
                                </service>
                            </object>
                        </item>

                        <item key="myCam1Mesh">
                            <object uid="myCam1Mesh" type="::fwData::Mesh">
                                <service uid="myCam1ReaderFile" impl="::ioData::MeshReaderService" type="::io::IReader" autoConnect="no">
                                    <file>Bundles/PoC03MeshManualRegistration_0-1/cam.trian</file>
                                </service>
                            </object>
                        </item>
                        
                    </object>
                </item>

                <start uid="MyIHM" />
                <start uid="myUpdaterAcq" />
                <start uid="myUpdaterImg" />
                <start uid="myManager" />
                <start uid="myUpdaterComCannelAcq" />
                <start uid="myUpdaterComCannelImg" />
                <start uid="newOBject2newPatientDB" />
                <start uid="myCam1ReaderFile" />
                <start uid="myCam2ReaderFile" />

                <update uid="myCam1ReaderFile" />
                <update uid="myCam2ReaderFile" />

            </object>

        </config>
    </extension>

</plugin>
