<plugin id="ioDicomExt" class="ioDicomExt::Plugin" >
    <library name="ioDicomExt" />

    <requirement id="io" />
    <requirement id="gui" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::ioDicomExt::dcmtk::editor::SQueryEditor</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Query Editor</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ioDicomExt::dcmtk::controller::SSeriesPuller</service>
        <object>::fwData::Vector</object>
        <desc>Pull Series Controller</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::ioDicomExt::common::action::SSeriesDBMerger</service>
        <object>::fwData::Vector</object>
        <desc>Push Series to SeriesDB</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ioDicomExt::common::controller::SProgressBarController</service>
        <object>::fwData::Composite</object>
        <desc>Progress Bar Controller</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ioDicomExt::common::controller::SPacsConfigurationInitializer</service>
        <object>::fwDicomIOExt::data::PacsConfiguration</object>
        <desc>Pacs Configuration Initializer</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::ioDicomExt::common::editor::SPacsConfigurationEditor</service>
        <object>::fwDicomIOExt::data::PacsConfiguration</object>
        <desc>Pacs Configuration Editor</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::ioDicomExt::dcmtk::editor::SSliceIndexDicomPullerEditor</service>
        <object>::fwDicomData::DicomSeries</object>
        <desc>Slice Index Dicom Puller Editor</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioDicomExt::dcmtk::SSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Series DB Reader (DCMTK)</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioDicomExt::gdcm::SDicomSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Dicom Series DB Reader (VTK/gdcm)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioDicomExt::gdcm::SDicomSeriesWriter</service>
        <object>::fwDicomData::DicomSeries</object>
        <desc>Dicom Writer (Binaries)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ioDicomExt::gdcm::SDicomSeriesAnonymizer</service>
        <object>::fwData::Composite</object>
        <desc>Dicom Series Anonymizer</desc>
    </extension>

</plugin>
