<plugin id="module_activity" class="::sight::modules::activity::Plugin"  version="@PROJECT_VERSION@" >

    <library name="module_activity" />

    <requirement id="module_service"/>

    <!-- EXTENSION POINT FOR AN APP CONFIGURATION -->
    <extension-point id="::sight::modules::activity::registry::Activity" schema="activity-0.1/activity.xsd"/>

</plugin>
