<?xml version="1.0" encoding="UTF-8" ?>
<plugin id="sight_viewer">
    <requirement id="sight::module::ui" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::io::session" />

    <extension implements="sight::service::extension::config">
        <id>SightViewer_SightData_SrvCfg</id>
        <desc>Sight data</desc>
        <config>
            <dialog extension=".sight" description="Sight data" policy="default" />
            <password policy="default" encryption="default" />
        </config>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>SightViewer_vtk_SrvCfg</id>
        <desc>VTK</desc>
        <config>
            <windowTitle>Open VTK file</windowTitle>
        </config>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>SightViewer_itk_SrvCfg</id>
        <desc>Nifti or Inr images</desc>
        <config>
            <windowTitle>Open an .inr or .nii file</windowTitle>
        </config>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>SightViewer_dicom_SrvCfg</id>
        <desc>DICOM</desc>
        <config>
            <windowTitle>Open DICOM directory</windowTitle>
            <dialog filter="image" />
        </config>
    </extension>

    <!-- Service config used for writing Snapshot -->
    <extension implements="sight::service::extension::config">
        <id>SightViewer_snapshot_SrvCfg</id>
        <desc>Snapshot</desc>
        <config>
            <dialog policy="always" />
            <backends enable="all" mode="best" />
        </config>
    </extension>

    <extension implements="sight::app::extension::config">
        <id>SightViewer_AppCfg</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="series_set" type="sight::data::series_set" />
            <object uid="model_series" type="sight::data::model_series" deferred="true" />
            <object uid="pacs_series_set" type="sight::data::series_set" />
            <object uid="image" type="sight::data::image_series" deferred="true" />
            <object uid="extruded_model_series" type="sight::data::model_series" />

            <object uid="volume_tf" type="sight::data::transfer_function" />

            <object uid="vr_visibility" type="sight::data::boolean" value="false" />
            <object uid="negato_visibility" type="sight::data::boolean" value="false" />
            <object uid="model_visibility" type="sight::data::boolean" value="true" />
            <object uid="axis_visibility" type="sight::data::boolean" value="false" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="main_view" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>Sight Viewer</name>
                        <version>@sight_viewer_VERSION@</version>
                        <icon>sight_viewer/Ogre_logo.svg</icon>
                        <min_size width="1280" height="720" />
                        <style QSSClass="Background" />
                    </frame>
                </gui>
                <registry>
                    <view sid="main_container_view" />
                </registry>
            </service>

            <service uid="main_container_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="1" topBorder="5" bottomBorder="5" QSSClass="view_background" />
                    </layout>
                </gui>
                <registry>
                    <view sid="container_view" />
                </registry>
            </service>

            <service uid="container_view" type="sight::module::ui::view">
                <gui>
                    <toolbar align="left" />
                    <layout type="sight::ui::layout::overlay">
                        <view />
                        <view x="-1" y="0" visible="false" />
                    </layout>
                </gui>
                <registry>
                    <toolbar sid="toolbar_view" />
                    <view sid="scene_parameter_view" />
                    <view sid="right_toolbar_slider_view" />
                </registry>
            </service>

            <service uid="scene_parameter_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" minWidth="500" QSSClass="view_background" />
                    </layout>
                </gui>
                <registry>
                    <view wid="scene_view" />
                    <view sid="parameter_view" />
                </registry>
            </service>

            <service uid="right_toolbar_slider_view" type="sight::module::ui::view">
                <gui>
                    <toolbar QSSClass="view_background" />
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                    </layout>
                </gui>
                <registry>
                    <toolbar sid="right_toolbar_view" />
                </registry>
            </service>

            <service uid="right_toolbar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <spacer />
                        <menu_item name="Show parameters" icon="sight::module::ui::icons/left.svg" />
                    </layout>
                </gui>
                <registry>
                    <menu_item sid="show_parameter_act" />
                </registry>
            </service>

            <service uid="parameter_view" type="sight::module::ui::view">
                <gui>
                    <toolbar />
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="0" spacing="0" QSSClass="view_background" />
                        <view proportion="0" spacing="0" QSSClass="view_background" />
                        <view proportion="0" spacing="0" QSSClass="view_background" />
                        <view proportion="0" spacing="0" QSSClass="view_background" />
                        <view proportion="0" spacing="0" QSSClass="view_background" />
                        <view proportion="0" spacing="0" QSSClass="view_background" />
                    </layout>
                </gui>
                <registry>
                    <toolbar sid="parameter_toolbar_view" />
                    <view sid="volume_parameter_view" />
                    <view sid="tf_parameter_view" />
                    <view wid="organs_parameter_view" />
                    <view sid="landmarks_parameter_view" />
                    <view sid="light_parameter_view" />
                </registry>
            </service>

            <service uid="tf_parameter_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view wid="tf_cfg_parameter_view" />
                    <view sid="transparency_parameter_srv" />
                </registry>
            </service>

            <service uid="parameter_toolbar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <menu_item name="Show volume parameters" icon="sight::module::ui::icons/volume.svg" style="check" />
                        <menu_item name="Show transfer function editor" icon="sight::module::ui::icons/tf1.svg" style="check" />
                        <menu_item name="Show organs manager" icon="sight::module::ui::icons/organs.svg" style="check" />
                        <menu_item name="Show landmarks manager" icon="sight::module::ui::icons/fiducial.svg" style="check" />
                        <menu_item name="Show light manager" icon="sight::module::ui::icons/light.svg" style="check" />
                        <spacer />
                        <menu_item name="Close parameters" icon="sight::module::ui::icons/right.svg" />
                    </layout>
                </gui>
                <registry>
                    <menu_item sid="volume_manager_act" />
                    <menu_item sid="tf_manager_act" />
                    <menu_item sid="organs_manager_act" />
                    <menu_item sid="landmarks_manager_act" />
                    <menu_item sid="light_manager_act" />
                    <menu_item sid="hide_parameter_act" />
                </registry>
            </service>

            <service uid="volume_parameter_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="volume_parameter_srv" />
                </registry>
            </service>

            <service uid="landmarks_parameter_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="landmarks_parameter_srv" />
                </registry>
            </service>

            <service uid="light_parameter_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <view proportion="0" />
                        <view proportion="1" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="light_selector_srv" />
                    <view sid="light_editor_srv" />
                    <view sid="compositor_selector_srv" />
                </registry>
            </service>

            <service uid="toolbar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <menu_item name="Load series" icon="sight::module::ui::icons/load.svg" />
                        <menu_item name="Open PACS" icon="sight::module::ui::icons/connection.svg" style="check" />
                        <separator />
                        <menu_item name="Show/hide mesh" icon="sight::module::ui::icons/show_mesh.svg" style="check" />
                        <menu_item name="Show/hide volume" icon="sight::module::ui::icons/show_volume.svg" style="check" />
                        <menu_item name="Show/hide negato" icon="sight::module::ui::icons/show_negato.svg" style="check" />
                        <separator />
                        <menu_item name="Show/hide cropping box" icon="sight::module::ui::icons/cropping_box.svg" style="check" />
                        <menu_item name="Reset cropping box" icon="sight::module::ui::icons/reset.svg" />
                        <accordion>
                            <menu_item name="Draw a new freehand cropping region" icon="sight::module::ui::icons/eraser.svg" style="check" />
                            <menu_item name="Undo" icon="sight::module::ui::icons/reset.svg" />
                        </accordion>
                        <separator />
                        <accordion>
                            <menu_item name="Enable landmarks edit mode" icon="sight::module::ui::icons/fiducial.svg" style="check" />
                            <menu_item name="Remove all landmarks" icon="sight::module::ui::icons/trash.svg" />
                        </accordion>
                        <accordion>
                            <menu_item name="Add/Edit distance" icon="sight::module::ui::icons/distance.svg" style="check" />
                            <menu_item name="Remove all distances" icon="sight::module::ui::icons/remove_distance.svg" />
                        </accordion>
                        <menu_item name="Show/Hide distance" icon="sight::module::ui::icons/show_distance.svg" style="check" />
                        <separator />
                        <menu_item name="Show/hide axis" icon="sight::module::ui::icons/axis.svg" style="check" />
                    </layout>
                </gui>
                <registry>
                    <menu_item sid="open_series_set_act" />
                    <menu_item sid="pacs_act" />
                    <menu_item sid="mesh_visibility_act" />
                    <menu_item sid="volume_visibility_act" />
                    <menu_item sid="negato3_d_visibility_act" />
                    <menu_item sid="box_widget_visibility_act" />
                    <menu_item sid="box_widget_reset_act" />
                    <menu_item sid="shape_extruder_act" />
                    <menu_item sid="shape_extruder_undo_act" />
                    <menu_item sid="landmarks_edit_mode_act" />
                    <menu_item sid="remove_all_landmarks_act" />
                    <menu_item sid="add_ruler_act" />
                    <menu_item sid="remove_all_rulers_act" />
                    <menu_item sid="show_ruler_act" />
                    <menu_item sid="axis_visibility_act" />
                </registry>
            </service>

            <!-- ******************************* Actions ****************************************** -->

            <service uid="open_series_set_act" type="sight::module::ui::action" />

            <!-- Read a series -->
            <service uid="open_series_set_srv" type="sight::module::ui::io::selector" worker="COMPUTE">
                <inout key="data" uid="series_set" />
                <type mode="reader" />
                <selection mode="exclude" />
                <addSelection service="sight::module::io::dicom::series_set_reader" />
                <addSelection service="sight::module::io::dicom::dicom_series_set_reader" />
                <config id="SightViewer_SightData_SrvCfg" service="sight::module::io::session::reader" />
                <config id="SightViewer_vtk_SrvCfg" service="sight::module::io::vtk::series_set_reader" />
                <config id="SightViewer_itk_SrvCfg" service="sight::module::io::itk::series_set_reader" />
                <config id="SightViewer_dicom_SrvCfg" service="sight::module::io::dicom::reader" />
            </service>

            <!-- Switch between parameters -->
            <service uid="volume_manager_act" type="sight::module::ui::modify_layout">
                <config>
                    <show sid="volume_parameter_view" />
                    <hide sid="tf_parameter_view" />
                    <hide wid="organs_parameter_view" />
                    <hide sid="landmarks_parameter_view" />
                    <hide sid="light_parameter_view" />
                </config>
            </service>

            <service uid="tf_manager_act" type="sight::module::ui::modify_layout">
                <config>
                    <hide sid="volume_parameter_view" />
                    <show sid="tf_parameter_view" />
                    <hide wid="organs_parameter_view" />
                    <hide sid="landmarks_parameter_view" />
                    <hide sid="light_parameter_view" />
                </config>
            </service>

            <service uid="organs_manager_act" type="sight::module::ui::modify_layout">
                <config>
                    <hide sid="volume_parameter_view" />
                    <hide sid="tf_parameter_view" />
                    <show wid="organs_parameter_view" />
                    <hide sid="landmarks_parameter_view" />
                    <hide sid="light_parameter_view" />
                </config>
            </service>

            <service uid="landmarks_manager_act" type="sight::module::ui::modify_layout">
                <config>
                    <hide sid="volume_parameter_view" />
                    <hide sid="tf_parameter_view" />
                    <hide wid="organs_parameter_view" />
                    <show sid="landmarks_parameter_view" />
                    <hide sid="light_parameter_view" />
                </config>
            </service>

            <service uid="light_manager_act" type="sight::module::ui::modify_layout">
                <config>
                    <hide sid="volume_parameter_view" />
                    <hide sid="tf_parameter_view" />
                    <hide wid="organs_parameter_view" />
                    <hide sid="landmarks_parameter_view" />
                    <show sid="light_parameter_view" />
                </config>
            </service>

            <!-- Show or hide the parameter view -->
            <service uid="hide_parameter_act" type="sight::module::ui::action" />

            <service uid="show_parameter_act" type="sight::module::ui::action">
                <state checked="true" />
            </service>

            <!-- PACS manager -->
            <service uid="pacs_act" type="sight::module::ui::action" />

            <!-- Adaptors visibility -->
            <service uid="volume_visibility_act" type="sight::module::ui::action">
                <properties checked="${vr_visibility}" enabled="false" />
            </service>

            <service uid="negato3_d_visibility_act" type="sight::module::ui::action">
                <properties checked="${negato_visibility}" enabled="false" />
            </service>

            <service uid="mesh_visibility_act" type="sight::module::ui::action">
                <properties checked="${model_visibility}" enabled="false" />
            </service>

            <service uid="box_widget_visibility_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <service uid="box_widget_reset_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <service uid="shape_extruder_act" type="sight::module::ui::action">
                <state enabled="true" />
            </service>

            <service uid="shape_extruder_undo_act" type="sight::module::ui::action">
                <state enabled="true" />
            </service>

            <service uid="axis_visibility_act" type="sight::module::ui::action">
                <properties checked="${axis_visibility}" />
            </service>

            <service uid="landmarks_edit_mode_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <service uid="remove_all_landmarks_act" type="sight::module::ui::action" />

            <!-- Manage distance -->
            <service uid="add_ruler_act" type="sight::module::ui::action">
                <state enabled="false" checked="false" />
            </service>

            <service uid="remove_all_rulers_act" type="sight::module::ui::action" />

            <service uid="show_ruler_act" type="sight::module::ui::action">
                <state enabled="false" checked="false" />
            </service>

            <!-- ************************ Configuration launchers ********************************* -->

            <service uid="image_split_views_cfg" type="sight::app::config_launcher">
                <properties config="sight::config::viz::scene3d::image_split_views" />
                <inout group="object">
                    <key name="model_series" uid="model_series" optional="true" />
                    <key name="image" uid="image" optional="true" />
                    <key name="volume_tf" uid="volume_tf" />
                    <key name="extruded_model_series" uid="extruded_model_series" />
                    <key name="vr_visibility" uid="${vr_visibility}" />
                    <key name="negato_visibility" uid="${negato_visibility}" />
                    <key name="model_visibility" uid="${model_visibility}" />
                    <key name="axis_visibility" uid="${axis_visibility}" />
                </inout>
                <param name="WID_PARENT" value="scene_view" />
                <channel name="vr_bool_param" uid="volume_bool" />
                <channel name="vr_int_param" uid="volume_int" />
                <channel name="vr_double_param" uid="volume_double" />
                <channel name="box_widget_visibility" uid="box_widget_visibility" />
                <channel name="box_widget_reset" uid="box_widget_reset" />
                <channel name="shape_extruder_enable_tool" uid="shape_extruder_enable_tool" />
                <channel name="shape_extruder_tool_disabled" uid="shape_extruder_tool_disabled" />
                <channel name="shape_extruder_undo" uid="shape_extruder_undo" />
                <channel name="shape_extruder_reset" uid="shape_extruder_reset" />
                <channel name="world_coords_landmarks" uid="world_coords_landmarks" />
                <channel name="negato_3d_transparency" uid="negato_3d_transparency" />
                <channel name="ruler_activation" uid="ruler_activation" />
                <channel name="ruler_deactivation" uid="ruler_deactivation" />
                <channel name="landmarks_edit_mode" uid="landmarks_edit_mode" />
                <channel name="landmarks_group_selected" uid="landmarks_group_selected" />
                <channel name="remove_all_landmarks" uid="remove_all_landmarks" />
                <channel name="remove_all_rulers" uid="remove_all_rulers" />
                <channel name="visibility_rulers" uid="visibility_rulers" />
                <channel name="landmarks_edit_mode_changed" uid="landmarks_edit_mode_changed" />
            </service>

            <!-- TF manager -->
            <service uid="tf_manager_cfg" type="sight::app::config_launcher">
                <properties config="sight::config::viz::scene2d::TransferFunctionWidgetCfg" />
                <inout group="object">
                    <key name="image" uid="image" />
                    <key name="currentTF" uid="volume_tf" />
                </inout>
                <param name="WID_PARENT" value="tf_cfg_parameter_view" />
            </service>

            <service uid="organ_manager_cfg" type="sight::app::config_launcher">
                <properties config="sight::config::viz::scene3d::organManager" />
                <inout group="object">
                    <key name="model_series" uid="model_series" />
                </inout>
                <param name="WID_PARENT" value="organs_parameter_view" />
                <param name="enable_delete" value="true" />
            </service>

            <service uid="pacs_cfg" type="sight::app::config_launcher">
                <properties config="sight::config::io::dicom::pacs_selector_window" start="false" />
                <inout group="object">
                    <key name="output_series_set" uid="pacs_series_set" />
                </inout>
                <param name="WINDOW_TITLE" value="PACS" />
                <param name="WINDOW_ICON" value="sight_viewer/Ogre_logo.svg" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!-- Extract the model or the image from the series -->
            <service uid="extract_series_srv" type="sight::module::ui::qt::series::select_dialog">
                <in key="series_set" uid="series_set" />
                <out key="model_series" uid="model_series" />
                <out key="image" uid="image" />
            </service>

            <service uid="extract_pacs_image_srv" type="sight::module::ui::qt::series::select_dialog">
                <in key="series_set" uid="pacs_series_set" />
                <out key="image" uid="image" />
            </service>

            <!-- Parameters for the volume rendering -->
            <service uid="volume_parameter_srv" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="int" name="Samples" key="sampling" defaultValue="1200" min="128" max="8192" reset="false" />
                    <param type="int" name="Opacity correction" key="opacityCorrection" defaultValue="200" min="0" max="200" reset="false" />
                    <param type="bool" name="Pre-integration" key="preIntegration" defaultValue="false" reset="false" />
                    <param type="bool" name="Ambient occlusion" key="ambientOcclusion" defaultValue="false" reset="false" />
                    <param type="bool" name="Color bleeding" key="colorBleeding" defaultValue="false" reset="false" />
                    <param type="double" name="Color bleeding factor" key="colorBleedingFactor" defaultValue="1.0" min="0.1" max="10.0" reset="false" depends="colorBleeding" />
                    <param type="int" name="SAT size ratio" key="satSizeRatio" defaultValue="1" min="1" max="4" reset="false" emitOnRelease="true" />
                    <param type="double" name="AO factor" key="aoFactor" defaultValue="1.0" min="0.1" max="10.0" reset="false" depends="ambientOcclusion" />
                    <param type="int" name="AO shells number" key="satShellsNumber" defaultValue="4" min="1" max="10" reset="false" depends="ambientOcclusion" emitOnRelease="true" />
                    <param type="int" name="AO shell radius" key="satShellRadius" defaultValue="4" min="1" max="10" reset="false" depends="ambientOcclusion" emitOnRelease="true" />
                </parameters>
            </service>

            <!-- Parameters for landmarks -->
            <service uid="landmarks_parameter_srv" type="sight::module::ui::qt::metrics::landmarks" auto_connect="true">
                <inout key="imageSeries" uid="image" />
                <advanced>true</advanced>
            </service>

            <!-- Light editor -->
            <service uid="light_selector_srv" type="sight::module::ui::viz::light_selector" />

            <service uid="light_editor_srv" type="sight::module::ui::viz::light_editor" />
            <service uid="compositor_selector_srv" type="sight::module::ui::viz::compositor_selector" />

            <!-- Transparency for the 3D negato -->
            <service uid="transparency_parameter_srv" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="double" name="Negatoscope transparency" key="transparency" defaultValue="0.0" min="0.0" max="1.0" reset="false" widget="slider" />
                </parameters>
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>open_series_set_act/clicked</signal>
                <slot>open_series_set_srv/update</slot>
            </connect>

            <connect channel="box_widget_visibility">
                <signal>box_widget_visibility_act/is_checked</signal>
            </connect>

            <connect channel="box_widget_reset">
                <signal>box_widget_reset_act/clicked</signal>
            </connect>

            <connect channel="shape_extruder_enable_tool">
                <signal>shape_extruder_act/is_checked</signal>
            </connect>

            <connect channel="shape_extruder_tool_disabled">
                <slot>shape_extruder_act/uncheck</slot>
            </connect>

            <connect channel="shape_extruder_reset">
                <signal>extract_series_srv/image_selected</signal>
                <signal>extract_pacs_image_srv/updated</signal>
            </connect>

            <connect channel="shape_extruder_undo">
                <signal>shape_extruder_undo_act/clicked</signal>
            </connect>

            <connect channel="negato_3d_transparency">
                <signal>transparency_parameter_srv/double_changed</signal>
            </connect>

            <connect>
                <signal>hide_parameter_act/clicked</signal>
                <slot>parameter_view/hide</slot>
                <slot>right_toolbar_slider_view/show</slot>
            </connect>

            <connect>
                <signal>show_parameter_act/clicked</signal>
                <slot>parameter_view/show</slot>
                <slot>right_toolbar_slider_view/hide</slot>
            </connect>

            <connect channel="ruler_activation">
                <signal>add_ruler_act/is_checked</signal>
            </connect>

            <connect channel="ruler_deactivation">
                <slot>add_ruler_act/uncheck</slot>
            </connect>

            <connect>
                <signal>landmarks_edit_mode_act/checked</signal>
                <slot>add_ruler_act/uncheck</slot>
            </connect>

            <connect>
                <signal>pacs_act/clicked</signal>
                <slot>pacs_cfg/start</slot>
            </connect>

            <connect>
                <signal>add_ruler_act/checked</signal>
                <slot>landmarks_edit_mode_act/uncheck</slot>
            </connect>

            <connect>
                <signal>series_set/modified</signal>
                <slot>extract_series_srv/update</slot>
            </connect>

            <connect>
                <signal>series_set/added_objects</signal>
                <slot>extract_series_srv/update</slot>
            </connect>

            <connect>
                <signal>pacs_series_set/added_objects</signal>
                <slot>extract_pacs_image_srv/update</slot>
            </connect>

            <connect>
                <signal>extract_series_srv/model_selected</signal>
                <slot>mesh_visibility_act/enable</slot>
            </connect>

            <connect>
                <signal>extract_series_srv/image_selected</signal>
                <signal>extract_pacs_image_srv/updated</signal>
                <slot>volume_visibility_act/enable</slot>
                <slot>volume_visibility_act/check</slot>
                <slot>negato3_d_visibility_act/enable</slot>
                <slot>negato3_d_visibility_act/check</slot>
                <slot>box_widget_visibility_act/enable</slot>
                <slot>shape_extruder_act/enable</slot>
                <slot>box_widget_reset_act/enable</slot>
                <slot>landmarks_edit_mode_act/enable</slot>
                <slot>add_ruler_act/enable</slot>
                <slot>remove_all_rulers_act/enable</slot>
                <slot>show_ruler_act/enable</slot>
            </connect>

            <connect channel="volume_bool">
                <signal>volume_parameter_srv/bool_changed</signal>
            </connect>

            <connect channel="volume_int">
                <signal>volume_parameter_srv/int_changed</signal>
            </connect>

            <connect channel="volume_double">
                <signal>volume_parameter_srv/double_changed</signal>
            </connect>

            <connect>
                <signal>light_selector_srv/light_selected</signal>
                <slot>light_editor_srv/edit_light</slot>
            </connect>

            <!-- Allow to check button in the advanced toolbar -->
            <connect>
                <signal>volume_manager_act/updated</signal>
                <slot>volume_manager_act/check</slot>
                <slot>tf_manager_act/uncheck</slot>
                <slot>organs_manager_act/uncheck</slot>
                <slot>landmarks_manager_act/uncheck</slot>
                <slot>light_manager_act/uncheck</slot>
            </connect>

            <connect>
                <signal>tf_manager_act/updated</signal>
                <slot>volume_manager_act/uncheck</slot>
                <slot>tf_manager_act/check</slot>
                <slot>organs_manager_act/uncheck</slot>
                <slot>landmarks_manager_act/uncheck</slot>
                <slot>light_manager_act/uncheck</slot>
            </connect>

            <connect>
                <signal>organs_manager_act/updated</signal>
                <slot>volume_manager_act/uncheck</slot>
                <slot>tf_manager_act/uncheck</slot>
                <slot>organs_manager_act/check</slot>
                <slot>landmarks_manager_act/uncheck</slot>
                <slot>light_manager_act/uncheck</slot>
            </connect>

            <connect>
                <signal>landmarks_manager_act/updated</signal>
                <slot>volume_manager_act/uncheck</slot>
                <slot>tf_manager_act/uncheck</slot>
                <slot>organs_manager_act/uncheck</slot>
                <slot>landmarks_manager_act/check</slot>
                <slot>light_manager_act/uncheck</slot>
            </connect>

            <connect>
                <signal>light_manager_act/updated</signal>
                <slot>volume_manager_act/uncheck</slot>
                <slot>tf_manager_act/uncheck</slot>
                <slot>organs_manager_act/uncheck</slot>
                <slot>landmarks_manager_act/uncheck</slot>
                <slot>light_manager_act/check</slot>
            </connect>

            <connect>
                <slot>volume_manager_act/uncheck</slot>
                <slot>tf_manager_act/uncheck</slot>
                <slot>organs_manager_act/uncheck</slot>
                <slot>landmarks_manager_act/uncheck</slot>
                <slot>light_manager_act/uncheck</slot>
            </connect>

            <!-- Manage landmarks -->

            <connect channel="world_coords_landmarks">
                <signal>landmarks_parameter_srv/send_world_coord</signal>
            </connect>

            <connect channel="landmarks_edit_mode">
                <signal>landmarks_edit_mode_act/is_checked</signal>
            </connect>

            <connect channel="landmarks_group_selected">
                <signal>landmarks_parameter_srv/group_selected</signal>
            </connect>

            <connect channel="remove_all_landmarks">
                <signal>remove_all_landmarks_act/clicked</signal>
            </connect>

            <connect channel="visibility_rulers">
                <signal>show_ruler_act/clicked</signal>
            </connect>

            <connect channel="remove_all_rulers">
                <signal>remove_all_rulers_act/clicked</signal>
            </connect>

            <connect channel="landmarks_edit_mode_changed">
                <slot>landmarks_edit_mode_act/set_checked</slot>
            </connect>

            <update uid="tf_manager_act" />
            <update uid="volume_parameter_srv" />
        </config>
    </extension>
</plugin>
