<plugin id="module_activities" class="::activities::Plugin"  version="@PROJECT_VERSION@" >

    <library name="activities" />

    <requirement id="module_services"/>

    <!-- EXTENSION POINT FOR AN APP CONFIGURATION -->
    <extension-point id="::activities::registry::Activities" schema="activities-0.1/activities.xsd"/>

</plugin>
