<plugin id="ioTuto" class="ioTuto::Plugin">

    <library name="ioTuto" />

    <requirement id="io" />

<!-- All Reader/Writer can extended by providing a specific configuration, being a user info for instance -->
<!--     <extension-point id="::ioTuto::ioTuto1" /> -->

<!-- User info like extensions -->
<!--    <extension implements="::ioTuto::ioTuto1" >
        <info text="Tuto(Ircad)"/>
    </extension> -->

    <!-- REGISTER_SERVICE( ::io::IReader , ::ioTuto::ExternalDataReaderService , ::fwData::Composite ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioTuto::ExternalDataReaderService</service>
        <object>::fwData::Composite</object>
    </extension>

        <!-- REGISTER_SERVICE( ::io::IReader , ::ioTuto::CompositeReaderService , ::fwData::Composite ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioTuto::CompositeReaderService</service>
        <object>::fwData::Composite</object>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioTuto::CompositeWriterService , ::fwData::Composite ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioTuto::CompositeWriterService</service>
        <object>::fwData::Composite</object>
    </extension>
</plugin>
