# use glob syntax.
syntax: glob
# vim swap file
*.swp
# eclipse stuff
*.cproject
*.project
*.pyc
*.pyo
# tmp files
.*~
*.autosave
#qtcreator cmake preferences
*.txt.user
# reject and backup file
*.rej
*.orig

# macos
.DS_Store