<plugin id="uiViewPoints" class="::uiViewPoints::Plugin" version="@DASH_VERSION@" >

    <library name="uiViewPoints" />

    <requirement id="io"/>
    <requirement id="gui"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiViewPoints::SViewPointsEditor</service>
        <object>::fwData::Vector</object>
    </extension>

</plugin>
