<plugin id="ctrlSplineNavigation" class="::ctrlSplineNavigation::Plugin" version="@PROJECT_VERSION@" >

    <library name="ctrlSplineNavigation" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlSplineNavigation::SMoveAlongSpline</service>
        <object>::fwData::PointList</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlSplineNavigation::SJumpToPointController</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
</plugin>

