<plugin id="VRRenderExt" version="@PROJECT_VERSION@" >

    <requirement id="servicesReg" />
    <requirement id="dataReg" />

    <requirement id="patchMedicalData" />

    <requirement id="filterVRRender" />
    <requirement id="activities" />
    <requirement id="preferences" />

    <requirement id="gui" />
    <requirement id="guiQt" />
    <requirement id="media" />

    <xi:include href="configurations/activitySelector.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/VRRenderExtBase.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/sdb.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::AppConfigParameters">
        <id>VRRenderExtAppBase</id>
        <parameters>
            <param name="appName" value="VRRenderExt 0.9.6" />
            <param name="appIconPath" value="VRRenderExt-0.9/vrrenderext.ico" />
            <param name="appVersion" value="0-9" />
        </parameters>
    </extension>

    <extension implements="::fwActivities::registry::Activities">
        <id>SDBVRRenderExt</id>
        <title>SDB</title>
        <desc>Series Selector</desc>
        <icon>media-0.1/icons/selector.svg</icon>
        <requirements />
        <appConfig id="SDBVRRenderExt">
            <parameters />
        </appConfig>
    </extension>

    <extension implements="::fwActivities::registry::Activities">
        <id>activitySelector</id>
        <title>Choose your activity</title>
        <desc>Activity selector for VRRenderExt</desc>
        <icon>media-0.1/icons/selector.svg</icon>
        <requirements />
        <appConfig id="activitySelector">
            <parameters />
        </appConfig>
    </extension>

</plugin>
