<plugin id="VRRenderExt">
    
    <xi:include href="configurations/VRRenderExtBase.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/sdb.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::AppConfigParameters">
        <id>VRRenderExtAppBase</id>
        <parameters>
            <param name="appName" value="VRRenderExt 0.9.6" />
            <param name="appIconPath" value="Bundles/VRRenderExt_0-9/vrrenderext.ico" />
        </parameters>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>IOSelectorServiceConfigVRRenderExtSeriesDBReader</id>
        <service>::uiIO::editor::IOSelectorService</service>
        <desc>IOSelectorService config for VRRenderExt SeriesDB reader</desc>
        <config>
            <type mode="reader" />
            <selection mode="exclude" />
            <addSelection service="::ioAtoms::SReader" />
            <addSelection service="::ioDicomExt::gdcm::SDicomSeriesDBReader" />
            <addSelection service="::ioDicomExt::dcmtk::SDicomSeriesDBReader" />
            <addSelection service="::ioGdcm::SDicomSeriesDBReader" />
            <config id="DCMTKReaderConfig" service="::ioDicomExt::dcmtk::SSeriesDBReader" />
            <config id="GDCMReaderConfig" service="::ioGdcm::SSeriesDBReader" />
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>DCMTKReaderConfig</id>
        <desc>DCMTK Reader config</desc>
        <config>
            <FilterSelectorSrvConfig name="FilterSelectorConfig" />
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>GDCMReaderConfig</id>
        <desc>GDCM Reader config</desc>
        <config>
            <FilterSelectorSrvConfig name="FilterSelectorConfig" /> 
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>FilterSelectorConfig</id>
        <service>::ioDicomExt::dcmtk::editor::SFilterSelectorDialog</service>
        <desc>"Open" action's filter selector config</desc>
        <config>
            <selection mode="include" />
            <addSelection filter="::fwDicomIOFilter::custom::DefaultDicomFilter" />
            <!--<addSelection filter="::fwDicomIOFilter::custom::NoFilter" />-->
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>SDBOpenIOSelectorConfig</id>
        <service>::uiIO::editor::IOSelectorService</service>
        <desc>"Open" action's IOSelector config</desc>
        <config>
            <type mode="reader" />
            <selection mode="include" />
            <addSelection service="::ioAtoms::SReader" />
            <config id="MDAtomsConfig" service="::ioAtoms::SReader" />
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>MDAtomsConfig</id>
        <desc>reader/writer config to read/write an atom representing a medical data</desc>
        <config>
            <patcher context="MedicalData" version="V08ALA" /> 
         </config>
     </extension>

    <extension implements="::fwServices::registry::AppConfig">
        <id>ExportSelection</id>
        <type>parameters</type>
        <parameters>
            <param name="GENERIC_UID" />
            <param name="selection" />
            <param name="modelSeries" />
            <param name="imageSeries" />
        </parameters>
        <config>
            <object type="::fwData::Composite" >
                <item key="modelSeries">
                    <object uid="${modelSeries}" src="ref" />
                </item>
                <item key="imageSeries">
                    <object uid="${imageSeries}" src="ref" />
                </item>
                <item key="selection">
                    <!-- <object uid="${selection}" type="::fwData::Vector" src="ref"> -->
                    <object uid="${selection}" src="ref">
                        <service uid="${GENERIC_UID}_export_selection" impl="::uiIO::editor::IOSelectorService" autoConnect="yes">
                            <type mode="writer" />
                            <!-- <selection mode="include" /> -->
                            <!-- <addSelection service="::ioAtoms::SReader" /> -->
                        </service>
                        <start uid="${GENERIC_UID}_export_selection" />
                        <update uid="${GENERIC_UID}_export_selection" />
                    </object>
                </item>
            </object>
        </config>
    </extension>

    <extension implements="::fwActivities::registry::Activities">
        <id>SeriesExport</id>
        <title>Series Export</title>
        <desc>Series Export</desc>
        <icon>NONE</icon>
        <requirements>
            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="1" maxOccurs="1">
                <key>ImageSeries</key>
            </requirement>
            <requirement name="modelSeries" type="::fwMedData::ModelSeries" minOccurs="0" maxOccurs="1">
                <key>ModelSeries</key>
            </requirement>
        </requirements>
        <builder>::fwActivities::builder::ActivitySeries</builder>
        <appConfig id="ExportSelection">
            <parameters>
                <parameter replace="imageSeries" by="@values.imageSeries" />
                <parameter replace="modelSeries" by="@values.modelSeries" />
            </parameters>
        </appConfig>
    </extension>

</plugin>
