<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <Module Id="launcher" Guid="12345678-8DEE-4410-990A-1802896C4258" Language="0" Version="1.2.3">

    <Package Id="12345678-8DEE-4410-990A-1802896C4258" InstallerVersion="200"
      Languages="1033" Manufacturer="Acme" SummaryCodepage="1252" AdminImage="no" ShortNames="no" />

	<Icon Id="icn_laun" src="../../Install/bin/launcher_0-1_win_32_cl7-1.exe" />
	
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='IRCAD' Name='IRCAD'>
          <Directory Id='INSTALLDIR' Name='$(var.SOFTWARE)' LongName='$(var.SOFTWARE) $(var.VERSION)'>
			  <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
				<Directory Id="IRCADFolder" Name="IRCAD">
					<Directory Id="ProgramMenuDir" Name='$(var.SOFTWARE)' LongName="$(var.SOFTWARE) $(var.VERSION)" />
				</Directory>
			  </Directory>
			  <Directory Id="DesktopFolder" Name="Desktop" />
			  
			<Component Id='MainExecutable' Guid='11112222-83F1-4F22-985B-FDB3C8ABD471'>
			
			  <File Id='$(var.SOFTWARE)EXE' Name='$(var.SOFTWARE).exe' LongName='$(var.SOFTWARE)_$(var.VERSION).exe'
				Source='../../Install/bin/launcher_0-1_win_32_cl7-1.exe' Vital='yes'>
			  <Shortcut Id="startmenuMyVFPApp" Directory="ProgramMenuDir" Name="$(var.SOFTWARE)"
			  LongName="$(var.SOFTWARE) $(var.VERSION)" WorkingDirectory='INSTALLDIR' Icon="icn_laun" IconIndex="0" />
			  <Shortcut Id="desktopMyVFPApp" Directory="DesktopFolder" Name="$(var.SOFTWARE)" 
			  LongName="$(var.SOFTWARE) $(var.VERSION)" WorkingDirectory='INSTALLDIR' Icon="icn_laun" IconIndex="0" />
			  </File>
			  
			  <File Id='$(var.SOFTWARE)PDF' Name='doc.pdf' LongName='$(var.SOFTWARE)_$(var.VERSION).pdf'
				Source='../../Config/wix/$(var.SOFTWARE)/$(var.SOFTWARE)_$(var.VERSION)_User_Manual_Eng.pdf' Vital='yes'>
			  <Shortcut Id="startmenuDoc" Directory="ProgramMenuDir" Name="doc.pdf"
			  LongName="$(var.SOFTWARE) $(var.VERSION) Documentation.pdf" WorkingDirectory='INSTALLDIR' Icon="icn_laun" IconIndex="0" />
			  </File>
			  
			  <File Id='$(var.SOFTWARE)QPDF' Name='qstart.pdf' LongName='$(var.SOFTWARE)_$(var.VERSION)_QuickStart.pdf'
				Source='../../Config/wix/$(var.SOFTWARE)/$(var.SOFTWARE)_$(var.VERSION)_Quickstart.pdf' Vital='yes'>
			  <Shortcut Id="startmenuQStart" Directory="ProgramMenuDir" Name="qstart.pdf"
			  LongName="$(var.SOFTWARE) $(var.VERSION) QuickStart.pdf" WorkingDirectory='INSTALLDIR' Icon="icn_laun" IconIndex="0" />
			  </File>
			  <!--
			  <File Id="ircad.txt" Name="ircad.url" LongName="ircad.url" Vital="yes" Source="ircad.txt">
				<Shortcut Id="startmenuInternetIRCAD" Directory="ProgramMenuDir" Advertise="yes" Name="Intern" LongName="IRCAD WebSite" 
				WorkingDirectory="INSTALLDIR" Icon="icn_laun" IconIndex="0" />
			  </File>
			  <File Id="websurg.txt" Name="websurg.url" LongName="websurg.url" Vital="yes" Source="websurg.txt">
				<Shortcut Id="startmenuInternetWEBSURG" Directory="ProgramMenuDir" Advertise="yes" Name="Intern" LongName="WebSurg WebSite" 
				WorkingDirectory="INSTALLDIR" Icon="icn_laun" IconIndex="0" />
			  </File>
			  -->
			  <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
			  
				<ProgId Id='Medical File Format.file' Description='Medical File Format.file' Icon="icn_laun" IconIndex="0"> 
				  <Extension Id='fxz' ContentType='application/fxz'> 
					 <Verb Id='open' Sequence='10' Command='Open' Target='[INSTALLDIR]$(var.SOFTWARE)_$(var.VERSION).exe' Argument='-p profile.xml -s patient@"%1" "%1"' /> 
				  </Extension> 
				</ProgId>
				
				<Registry Id='icn_laun1' Root='HKCR' Key='.fxz' Action='write' Type='string' Value='IRCAD $(var.SOFTWARE) FXZ file' /> 
				<Registry Id='icn_laun2' Root='HKCR' Key='Medical File Format.file' Action='write' Type='string' Value='Medical File Format' /> 
				<Registry Id='icn_laun3' Root='HKCR' Key='Medical File Format.file\DefaultIcon' Action='write' Type='string' Value='[INSTALLDIR]$(var.SOFTWARE)_$(var.VERSION).exe,0' /> 

				<Registry Id='key1' Root="HKLM" Key="SOFTWARE\IRCAD\Capabilities" Name="ApplicationDescription" Value="IRCAD $(var.SOFTWARE) FXZ Editor" Type="string" /> 
				<Registry Id='key2' Root="HKLM" Key="SOFTWARE\IRCAD\Capabilities" Name="ApplicationIcon" Value="[INSTALLDIR]$(var.SOFTWARE)_$(var.VERSION).exe,0" Type="string" /> 
				<Registry Id='key3' Root="HKLM" Key="SOFTWARE\IRCAD\Capabilities" Name="ApplicationName" Value="IRCAD $(var.SOFTWARE)" Type="string" /> 
				<Registry Id='key4' Root="HKLM" Key="SOFTWARE\IRCAD\Capabilities\DefaultIcon" Value="[INSTALLDIR]$(var.SOFTWARE)_$(var.VERSION).exe,1" Type="string" /> 
				<Registry Id='key5' Root="HKLM" Key="SOFTWARE\IRCAD\Capabilities\FileAssociations" Name=".fxz" Value="Medical File Format.file" Type="string" /> 
				<Registry Id='key7' Root="HKLM" Key="SOFTWARE\IRCAD\Capabilities\MIMEAssociations" Name="application/fxz" Value="Medical File Format.file" Type="string" /> 
				<Registry Id='key8' Root="HKLM" Key="SOFTWARE\IRCAD\Capabilities\shell\Open\command" Value="&quot;[INSTALLDIR]$(var.SOFTWARE)_$(var.VERSION).exe&quot; -p profile.xml -s patient@&quot;%1&quot;" Type="string" /> 

				<Registry Id='key9' Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="IRCAD $(var.SOFTWARE)" Value="SOFTWARE\IRCAD\Capabilities" Type="string" /> 

				<Registry Id='key10' Root="HKLM" Key="SOFTWARE\Classes\.fxz" Name="Content Type" Value="application/fxz" Type="string" /> 

				<Registry Id='key11' Root="HKLM" Key="SOFTWARE\Classes\.fxz\Medical File Format.file\ShellNew" Name=" " Value=" " Type="string" /> 
				<Registry Id='key12' Root="HKLM" Key="SOFTWARE\Classes\.fxz\OpenWithList\$(var.SOFTWARE)_$(var.VERSION).exe" Name=" " Value=" " Type="string" /> 
				<Registry Id='key13' Root="HKLM" Key="SOFTWARE\Classes\.fxz\OpenWithProgids" Name="Medical File Format.file" Value=" " Type="string" /> 
				<Registry Id='key14' Root="HKLM" Key="SOFTWARE\Classes\Applications\$(var.SOFTWARE)_$(var.VERSION).exe\SupportedTypes" Name=".fxz" Value=" " Type="string" /> 

				<Registry Id='key15' Root="HKLM" Key="SOFTWARE\Classes\Applications\$(var.SOFTWARE)_$(var.VERSION).exe\shell\open" Name="FriendlyAppName" Value="IRCAD $(var.SOFTWARE)" Type="string" /> 

				<Registry Id='key16' Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.SOFTWARE)_$(var.VERSION).exe" Value="[!$(var.SOFTWARE)_$(var.VERSION).exe]" Type="string" /> 
				<Registry Id='key17' Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.SOFTWARE)_$(var.VERSION).exe" Name="Path" Value="[INSTALLDIR]" Type="string" /> 

				<Registry Id='key18' Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.fxz\shell\edit.$(var.SOFTWARE)_$(var.VERSION).exe" Value="Edit with IRCAD $(var.SOFTWARE)" Type="string" /> 
				<Registry Id='key19' Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.fxz\shell\edit.$(var.SOFTWARE)_$(var.VERSION).exe\command" Value="&quot;[INSTALLDIR]$(var.SOFTWARE)_$(var.VERSION).exe&quot; -p profile.xml -s patient@&quot;%1&quot;" Type="string" /> 


            </Component>

			<Component Id='profile' Guid='11112222-83F1-4F22-985B-FDB3C8ABD500'>
				<File Id="pXML"	Name="profile.xml" LongName="profile.xml" Source="../../Install/Bundles/$(var.APP)_0-1/profile_$(var.APP).xml" />
			</Component>
			<!--
			<Directory Id='shareDIR' Name='share'>
				<Directory Id='LAUNCHERDIR' Name='launcher' LongName='launcher_0-1'>
					<Directory Id='LOCALEDIR' Name='locale' >
						<Directory Id='FRDIR' Name='fr' >
							<Directory Id='LCDIR' Name='LC' LongName='LC_MESSAGES'>
								<Component Id='i18n' Guid='11112222-83F1-4F22-985B-FDB3C8ABD501'>
									<File Id="launcherMO" Name="launcher.mo" Source="../../Install/share/launcher_0-1/locale/fr/LC_MESSAGES/launcher.mo" />
									<File Id="runtimeMO" Name="runtime.mo" Source="../../Install/share/launcher_0-1/locale/fr/LC_MESSAGES/runtime.mo" />
									<File Id="$(var.SOFTWARE)MO" Name="$(var.SOFTWARE).mo" Source="../../Install/share/launcher_0-1/locale/fr/LC_MESSAGES/$(var.SOFTWARE).mo" />
								</Component>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			-->
		  </Directory>
		</Directory>
	  </Directory>
	</Directory>
  </Module>
</Wix>
