<plugin id="opKinect" class="::opKinect::Plugin" version="@DASH_VERSION@" >

    <library name="opKinect" />

    <requirement id="io" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::opKinect::KinectSrv</service>
        <object>::fwMedData::ModelSeries</object>
    </extension>

</plugin>
