<plugin id="opKinect" class="::opKinect::Plugin">
    
    <library name="opKinect" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="io" />
    
    <extension implements="ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::opKinect::KinectSrv</service>
        <object>::fwData::Acquisition</object>
    </extension>
    
</plugin>
