<plugin id="uiMeasurementQt" class="::uiMeasurementQt::Plugin" version="@DASH_VERSION@" >
    <library name="uiMeasurementQt"/>
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>
    <requirement id="io"/>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiMeasurement::editor::Distance</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiMeasurementQt::editor::SLandmarks</service>
    </extension>
</plugin>
