<plugin id="tu_fwActivities"  version="@PROJECT_VERSION@" >

    <extension-point id="::fwActivities::registry::Activities" schema="activities.xsd"/>

    <extension implements="::fwActivities::registry::Activities">
        <id>Test0</id>
        <title>Title Test0</title>
        <desc>Desc Test0</desc>
        <icon>Icon Test0</icon>
        <requirements>
            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="1" maxOccurs="1" />
            <requirement name="modelSeries" type="::fwMedData::ModelSeries" minOccurs="0" maxOccurs="2" >
              <key>key1</key>
              <key>key2</key>
            </requirement>
        </requirements>
        <builder>::fwActivities::builder::ActivitySeries</builder>
        <appConfig id="Test0">
            <parameters>
                <parameter replace="RefModel" by="@values.modelSeries" />
                <parameter replace="RefImage" by="@values.imageSeries.value.image" />
            </parameters>
        </appConfig>
    </extension>

</plugin>

