<!--
This example shows the possibilities of SParameters:
- The two upper SParameters are linked together (the values are synchronized for the parameters with the same name).
- The two lower SParameters allow to set the minimum/maximum values of the upper SParameters (with the same name).
   - The minimum of a parameter is connected to the minimum of the maximum parameter (and vice versa)
-->
<plugin id="ExSParameters" >

    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::base" />
    <requirement id="sight::module::ui::qt" />

    <extension implements="sight::service::extension::AppConfig" >
        <id>ExSParameters_AppCfg</id>
        <config>

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="sight::module::ui::base::SFrame" >
                <gui>
                    <frame>
                        <name>ExSParameters</name>
                        <icon>ExSParameters/app.ico</icon>
                        <minSize width="800" height="600" />
                    </frame>
                </gui>
                <registry>
                    <view sid="mainview" start="true" />
                </registry>
            </service>

            <service uid="mainview" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="1" />
                        <view proportion="1" />
                    </layout>
                </gui>
                <registry>
                    <view sid="parametersView" start="true" />
                    <view sid="minmaxParametersSrvView" start="true" />
                </registry>
            </service>

            <service uid="parametersView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="horizontal" />
                        <view proportion="1" backgroundColor="#36393E" />
                        <view proportion="1" backgroundColor="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="parameters1Srv" start="true" />
                    <view sid="parameters2Srv" start="true" />
                </registry>
            </service>

            <service uid="minmaxParametersSrvView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="horizontal" />
                        <view proportion="1" backgroundColor="#36393E" />
                        <view proportion="1" backgroundColor="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="minParametersSrv" start="true" />
                    <view sid="maxParametersSrv" start="true" />
                </registry>
            </service>

            <!-- ******************************* Services ******************************* -->

            <service uid="parameters1Srv" type="sight::module::ui::qt::SParameters" >
                <parameters scrollable="true">
                    <param type="bool"    name="Enable"    key="enable"    defaultValue="true" />
                    <param type="bool"    name="Boolean"   key="bool_1"    defaultValue="true" depends="enable" />
                    <param type="color"   name="Color"     key="color_1"   defaultValue="#a55376b9" depends="enable" />
                    <param type="double"  name="Double 1"  key="double_1"  defaultValue="0.03" min="0.01" max="1." depends="enable" />
                    <param type="double"  name="Double 2"  key="double_2"  widget="slider" defaultValue="0.01" min="0." max="1." depends="enable" />
                    <param type="double2" name="2 Double"  key="double2_1" widget="spin"   defaultValue="5.0" min="0." max="100." depends="enable" />
                    <param type="double3" name="3 Double"  key="double3_1" widget="spin"   defaultValue="5.0" min="0." max="100." depends="enable" />
                    <param type="int"     name="Integer 1" key="int_1"     widget="spin"   defaultValue="50" min="0" max="100" depends="enable" />
                    <param type="int"     name="Integer 2" key="int_2"     widget="slider" defaultValue="50" min="0" max="100" depends="enable" />
                    <param type="int2"    name="2 Integer" key="int2_1"    widget="spin"   defaultValue="5" min="0" max="100" depends="enable" />
                    <param type="int3"    name="3 Integer" key="int3_1"    widget="spin"   defaultValue="5" min="0" max="100" depends="enable" />
                    <param type="enum"    name="Enum"      key="enum_1"    defaultValue="V1" values="V0,V1,V2,V3" />
                </parameters>
            </service>

            <service uid="parameters2Srv" type="sight::module::ui::qt::SParameters" >
                <parameters scrollable="true">
                    <param type="bool"    name="Enable"    key="enable"    defaultValue="true" />
                    <param type="bool"    name="Boolean"   key="bool_1"    defaultValue="false" depends="enable"  />
                    <param type="color"   name="Color"     key="color_1"   defaultValue="#25b18a" depends="enable"  />
                    <param type="double"  name="Double 1"  key="double_1"  defaultValue="0.35" min="0.01" max="1." depends="enable"  />
                    <param type="double"  name="Double 2"  key="double_2"  widget="slider" defaultValue="0.5" min="0." max="1." depends="enable"  />
                    <param type="double2" name="2 Double"  key="double2_1" widget="spin"   defaultValue="50.0" min="0." max="100." depends="enable"  />
                    <param type="double3" name="3 Double"  key="double3_1" widget="spin"   defaultValue="25.0" min="0." max="100." depends="enable"  />
                    <param type="int"     name="Integer 1" key="int_1"     widget="spin"   defaultValue="26" min="0" max="100" depends="enable"  />
                    <param type="int"     name="Integer 2" key="int_2"     widget="slider" defaultValue="37" min="0" max="100" depends="enable"  />
                    <param type="int2"    name="2 Integer" key="int2_1"    widget="spin"   defaultValue="8" min="0" max="100" depends="enable"  />
                    <param type="int3"    name="3 Integer" key="int3_1"    widget="spin"   defaultValue="12" min="0" max="100" depends="enable"  />
                    <param type="enum"    name="Enum"      key="enum_1"    defaultValue="V2" values="V0,V1,V2,V3" depends="enable"  />
                </parameters>
            </service>

            <service uid="minParametersSrv" type="sight::module::ui::qt::SParameters" >
                <parameters>
                    <param type="double"  name="Double 1"  key="double_1"  widget="spin"   defaultValue="0.2" min="0." max="0.8" />
                    <param type="double"  name="Double 2"  key="double_2"  widget="slider" defaultValue="0." min="0." max="80." />
                    <param type="double"  name="2 Double"  key="double2_1" widget="slider" defaultValue="20.5" min="0." max="80." />
                    <param type="double"  name="3 Double"  key="double3_1" widget="slider" defaultValue="20.5" min="0." max="80." />
                    <param type="int"     name="Integer 1" key="int_1"     widget="spin"   defaultValue="0" min="0" max="80" />
                    <param type="int"     name="Integer 2" key="int_2"     widget="slider" defaultValue="0" min="0" max="80" emitOnRelease="true"/>
                    <param type="int"     name="2 Integer" key="int2_1"    widget="slider" defaultValue="0" min="0" max="80" />
                    <param type="int"     name="3 Integer" key="int3_1"    widget="slider" defaultValue="0" min="0" max="80" />
                </parameters>
            </service>

            <service uid="maxParametersSrv" type="sight::module::ui::qt::SParameters" >
                <parameters>
                    <param type="double"  name="Double 1"  key="double_1"  widget="spin"   defaultValue="0.7" min="0.2" max="1." />
                    <param type="double"  name="Double 2"  key="double_2"  widget="slider" defaultValue="75.3" min="35." max="150." />
                    <param type="double"  name="2 Double"  key="double2_1" widget="slider" defaultValue="75.3" min="35." max="150." />
                    <param type="double"  name="3 Double"  key="double3_1" widget="slider" defaultValue="75.3" min="35." max="150." />
                    <param type="int"     name="Integer 1" key="int_1"     widget="spin"   defaultValue="20" min="0" max="100" />
                    <param type="int"     name="Integer 2" key="int_2"     widget="slider" defaultValue="20" min="0" max="100" emitOnRelease="true" />
                    <param type="int"     name="2 Integer" key="int2_1"    widget="slider" defaultValue="20" min="0" max="100" />
                    <param type="int"     name="3 Integer" key="int3_1"    widget="slider" defaultValue="20" min="0" max="100" />
                </parameters>
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <!-- Connect all the parameters to each other -->
            <connect>
                <signal>parameters1Srv/boolChanged</signal>
                <slot>parameters2Srv/setBoolParameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/boolChanged</signal>
                <slot>parameters1Srv/setBoolParameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/colorChanged</signal>
                <slot>parameters2Srv/setColorParameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/colorChanged</signal>
                <slot>parameters1Srv/setColorParameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/doubleChanged</signal>
                <slot>parameters2Srv/setDoubleParameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/doubleChanged</signal>
                <slot>parameters1Srv/setDoubleParameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/double2Changed</signal>
                <slot>parameters2Srv/setDouble2Parameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/double2Changed</signal>
                <slot>parameters1Srv/setDouble2Parameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/double3Changed</signal>
                <slot>parameters2Srv/setDouble3Parameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/double3Changed</signal>
                <slot>parameters1Srv/setDouble3Parameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/intChanged</signal>
                <slot>parameters2Srv/setIntParameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/intChanged</signal>
                <slot>parameters1Srv/setIntParameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/int2Changed</signal>
                <slot>parameters2Srv/setInt2Parameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/int2Changed</signal>
                <slot>parameters1Srv/setInt2Parameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/int3Changed</signal>
                <slot>parameters2Srv/setInt3Parameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/int3Changed</signal>
                <slot>parameters1Srv/setInt3Parameter</slot>
            </connect>

            <connect>
                <signal>parameters1Srv/enumChanged</signal>
                <slot>parameters2Srv/setEnumParameter</slot>
            </connect>

            <connect>
                <signal>parameters2Srv/enumChanged</signal>
                <slot>parameters1Srv/setEnumParameter</slot>
            </connect>

            <!-- Connection to update the parameters minimum/maximum -->
            <connect>
                <signal>minParametersSrv/intChanged</signal>
                <slot>parameters1Srv/setIntMinParameter</slot>
                <slot>parameters2Srv/setIntMinParameter</slot>
                <slot>maxParametersSrv/setIntMinParameter</slot>
            </connect>

            <connect>
                <signal>maxParametersSrv/intChanged</signal>
                <slot>parameters1Srv/setIntMaxParameter</slot>
                <slot>parameters2Srv/setIntMaxParameter</slot>
                <slot>minParametersSrv/setIntMaxParameter</slot>
            </connect>

            <connect>
                <signal>minParametersSrv/doubleChanged</signal>
                <slot>parameters1Srv/setDoubleMinParameter</slot>
                <slot>parameters2Srv/setDoubleMinParameter</slot>
                <slot>maxParametersSrv/setDoubleMinParameter</slot>
            </connect>

            <connect>
                <signal>maxParametersSrv/doubleChanged</signal>
                <slot>parameters1Srv/setDoubleMaxParameter</slot>
                <slot>parameters2Srv/setDoubleMaxParameter</slot>
                <slot>minParametersSrv/setDoubleMaxParameter</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />

            <!-- ******************************* Update services ***************************************** -->

            <update uid="parameters2Srv" />
            <update uid="minParametersSrv" />
            <update uid="maxParametersSrv" />

        </config>
    </extension>


</plugin>
