<plugin id="ex_video_tracking">
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3d_qt" />
    <requirement id="sight::module::ui" />

    <extension implements="sight::app::extension::config">
        <id>ExVideoTracking_AppCfg</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="camera" type="sight::data::camera" />
            <object uid="frameTL" type="sight::data::frame_tl">
                <value>100</value>
            </object>
            <object uid="marker_map" type="sight::data::marker_map" />
            <object uid="videoImage" type="sight::data::image" />

            <!-- Aruco tracker parameters -->
            <object uid="aruco_params" type="sight::data::map">
                <item key="debug_mode" type="sight::data::boolean" value="true" />
                <item key="corner_refinement" type="sight::data::boolean" value="true" />
                <item key="adaptive_th_win_size_min" type="sight::data::integer" value="3" />
                <item key="adaptive_th_win_size_max" type="sight::data::integer" value="23" />
                <item key="adaptive_th_win_size_step" type="sight::data::integer" value="10" />
                <item key="adaptive_th_constant" type="sight::data::real" value="7." />
                <item key="min_marker_perimeter_rate" type="sight::data::real" value="0.03" />
                <item key="max_marker_perimeter_rate" type="sight::data::real" value="4.0" />
                <item key="polygonal_approx_accuracy_rate" type="sight::data::real" value="0.03" />
                <item key="min_corner_distance_rate" type="sight::data::real" value="0.01" />
                <item key="min_distance_to_border" type="sight::data::integer" value="1" />
                <item key="min_marker_distance_rate" type="sight::data::real" value="0.0" />
                <item key="corner_refinement_win_size" type="sight::data::integer" value="5" />
                <item key="corner_refinement_max_iterations" type="sight::data::integer" value="30" />
                <item key="corner_refinement_min_accuracy" type="sight::data::real" value="0.1" />
                <item key="marker_border_bits" type="sight::data::integer" value="1" />
                <item key="perspective_remove_pixel_per_cell" type="sight::data::integer" value="8" />
                <item key="perspective_remove_ignored_margin_per_cell" type="sight::data::real" value="0.1" />
                <item key="max_erroneous_bits_in_border_rate" type="sight::data::real" value="0.3" />
                <item key="min_otsu_std_dev" type="sight::data::real" value="5.0" />
                <item key="error_correction_rate" type="sight::data::real" value="0.6" />
            </object>

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ex_video_tracking</name>
                        <icon>ex_video_tracking/app.ico</icon>
                        <min_size width="800" height="600" />
                    </frame>
                    <toolbar />
                </gui>
                <registry>
                    <toolbar sid="toolbarView" />
                    <view sid="cameraView" />
                </registry>
            </service>

            <service uid="toolbarView" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <editor />
                    </layout>
                </gui>
                <registry>
                    <editor wid="subToolbarView" />
                </registry>
            </service>

            <service uid="videoToolbarConfig" type="sight::app::config_launcher">
                <config id="sight::config::io::video::controls" />
                <object name="camera" uid="camera" />
                <object name="frameTL" uid="frameTL" />
                <param name="TOOLBAR" value="subToolbarView" />
                <param name="cameraStartedChannelOut" value="camera_started_channel" />
                <param name="cameraPausedChannelOut" value="camera_paused_channel" />
                <param name="cameraResumePauseChannelOut" value="camera_resume_pause_channel" />
                <param name="cameraStoppedChannelOut" value="camera_stopped_channel" />
            </service>

            <service uid="cameraView" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" background_color="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="genericSceneSrv" />
                    <view sid="aruco_parameters_srv" />
                </registry>
            </service>

            <!-- ******************************* Begin Generic scene ******************************* -->

            <service uid="genericSceneSrv" type="sight::viz::scene3d::render">
                <scene render_mode="manual">
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default">
                        <adaptor uid="videoAdp" />
                    </layer>
                </scene>
            </service>

            <service uid="videoAdp" type="sight::module::viz::scene3d::adaptor::video" auto_connect="true">
                <data image="${videoImage}" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!-- GUI to handle aruco tracking parameters -->
            <service uid="aruco_parameters_srv" type="sight::module::ui::qt::settings">
                <item data="${aruco_params}.debug_mode" name="Show Marker" />
                <item data="${aruco_params}.corner_refinement" name="Corner refinement" />
                <item data="${aruco_params}.adaptive_th_win_size_min" name="adpt. Threshold win size min" widget="slider" min="3" max="100" />
                <item data="${aruco_params}.adaptive_th_win_size_max" name="adpt. Threshold win size max" widget="slider" min="4" max="100" />
                <item data="${aruco_params}.adaptive_th_win_size_step" name="adpt. Threshold win size step" widget="slider" min="1" max="100" />
                <item data="${aruco_params}.adaptive_th_constant" name="adpt. threshold constant" min="0." max="30." />
                <item data="${aruco_params}.min_marker_perimeter_rate" name="Min. Marker Perimeter Rate" min="0.01" max="1.0" />
                <item data="${aruco_params}.max_marker_perimeter_rate" name="Max. Marker Perimeter Rate" min="1." max="10." />
                <item data="${aruco_params}.polygonal_approx_accuracy_rate" name="Polygonal Approx. Accuracy Rate" min="0.01" max="1." />
                <item data="${aruco_params}.min_corner_distance_rate" name="Min. Corner Distance Rate" min="0." max="1." />
                <item data="${aruco_params}.min_distance_to_border" name="Min. Distance to Border" widget="slider" min="0" max="10" />
                <item data="${aruco_params}.min_marker_distance_rate" name="Min. Marker Distance Rate" min="0." max="1." />
                <item data="${aruco_params}.corner_refinement_win_size" name="Corner Refinement Win. Size" widget="slider" min="1" max="100" />
                <item data="${aruco_params}.corner_refinement_max_iterations" name="Corner Refinement Max Iterations" widget="slider" min="1" max="10" />
                <item data="${aruco_params}.corner_refinement_min_accuracy" name="Corner Refinement Min. Accuracy" min="0.01" max="10." />
                <item data="${aruco_params}.marker_border_bits" name="Marker Border Bits" widget="slider" min="1" max="100" />
                <item data="${aruco_params}.perspective_remove_pixel_per_cell" name="Perspective Remove Pixel per Cell" widget="slider" min="1" max="32" />
                <item data="${aruco_params}.perspective_remove_ignored_margin_per_cell" name="Perspective Remove Ignored Margin Per Cell" min="0." max="1." />
                <item data="${aruco_params}.max_erroneous_bits_in_border_rate" name="Max. Erroneous Bits In Border Rate" min="0." max="1." />
                <item data="${aruco_params}.min_otsu_std_dev" name="Min. Otsu Std. Dev." min="0." max="100." />
                <item data="${aruco_params}.error_correction_rate" name="Error Correction Rate" min="0." max="1." />
            </service>

            <service uid="frameUpdaterSrv" type="sight::module::sync::synchronizer" worker="videoWorker">
                <in group="frame_tl" auto_connect="false">
                    <key uid="frameTL" />
                </in>
                <inout group="frames">
                    <key uid="videoImage" />
                </inout>
            </service>

            <service uid="trackerSrv" type="sight::module::geometry::vision::aruco_tracker" worker="tracking" auto_connect="false">
                <in key="camera" uid="camera" />
                <inout key="frame" uid="videoImage" />
                <inout group="marker_map">
                    <key uid="marker_map" />
                </inout>
                <track>
                    <marker id="0,1,2,3,4,5,6,7,8,42,100,101,102,103,104,105" />
                </track>
                <properties from="${aruco_params}" />
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect channel="camera_started_channel">
                <slot>updater/start</slot>
            </connect>

            <connect channel="camera_paused_channel">
                <slot>updater/stop</slot>
            </connect>

            <connect channel="camera_resumed_channel">
                <slot>updater/start</slot>
            </connect>

            <connect channel="camera_stopped_channel">
                <slot>updater/stop</slot>
            </connect>

            <update>
                <sequence uid="updater" loop="true" start="false">
                    <service uid="frameUpdaterSrv" />
                    <service uid="trackerSrv" />
                    <service uid="genericSceneSrv" />
                </sequence>
            </update>
        </config>
    </extension>
</plugin>
