<plugin id="monitor" class="::monitor::Plugin" version="@PROJECT_VERSION@" >
    <library name="monitor" />
    <requirement id="gui" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::monitor::action::MemoryInfo</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::monitor::action::fwMetrics</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::monitor::action::MemoryConsumption</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::monitor::action::SDumpAll</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
