<?xml version="1.0" encoding="UTF-8"?>

<plugin id="OgreViewer" version="@PROJECT_VERSION@" >

    <requirement id="preferences" />
    <requirement id="visuOgre" />
    <requirement id="material" />
    <requirement id="guiQt" />
    <requirement id="servicesReg" />
    <requirement id="scene2D" />
    <requirement id="patchMedicalData" />
    <requirement id="ioPacs" />

    <xi:include href="configurations/OgreGenericScene.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/PACSSelector.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/TransferFunctionManagerWindow.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::ServiceConfig" >
        <id>OgreViewer_jsonReader_SrvCfg</id>
        <desc>JSON</desc>
        <config>
            <patcher />
            <windowTitle>Open JSON file</windowTitle>
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig" >
        <id>OgreViewer_vtk_SrvCfg</id>
        <desc>VTK</desc>
        <config>
            <windowTitle>Open VTK file</windowTitle>
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig" >
        <id>OgreViewer_vtkGdcmd_SrvCfg</id>
        <desc>DICOM</desc>
        <config>
            <windowTitle>Open DICOM directory</windowTitle>
        </config>
    </extension>

    <extension implements="::fwServices::registry::AppConfig" >
        <id>OgreViewer_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="seriesDB" type="::fwMedData::SeriesDB" />
            <object uid="modelSeries" type="::fwMedData::ModelSeries" />
            <object uid="image" type="::fwData::Image" />
            <object uid="histogram" type="::fwData::Histogram" />
            <object uid="extrudedModelSeries" type="::fwMedData::ModelSeries" />
            <object uid="landmarks" type="::fwData::Landmarks" />

            <object uid="volumeTFPools" type="::fwData::Composite" />
            <object uid="volumeCurrentTFPool" type="::fwData::Composite" src="deferred" />
            <object uid="volumeCurrentTF" type="::fwData::TransferFunction" src="deferred" />
            <object uid="volumeTF" type="::fwData::TransferFunction" >
                <colors default="true" />
            </object>

            <object uid="previewSeriesDB" type="::fwMedData::SeriesDB" />
            <object uid="localSeriesDB" type="::fwMedData::SeriesDB" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainView" type="::gui::frame::SDefaultFrame" >
                <gui>
                    <frame>
                        <name>Ogre Viewer</name>
                        <icon>OgreViewer-@PROJECT_VERSION@/icons/Ogre_logo.svg</icon>
                        <minSize width="1150" height="700" />
                    </frame>
                </gui>
                <registry>
                    <view sid="mainContainerView" start="yes" />
                </registry>
            </service>

            <service uid="mainContainerView" type="::gui::view::SDefaultView" >
                <gui>
                    <layout type="::fwGui::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="1" topBorder="5" bottomBorder="5" backgroundColor="#2E2F30" />
                    </layout>
                </gui>
                <registry>
                    <view sid="containerView" start="yes" />
                </registry>
            </service>

            <service uid="containerView" type="::gui::view::SDefaultView" >
                <gui>
                    <toolBar align="left" />
                    <layout type="::fwGui::LineLayoutManager" >
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" minWidth="500" backgroundColor="#36393E" />
                    </layout>
                    <slideView opacity="1" hAlign="right" vAlign="top" width="50" height="55" >
                        <styleSheet>
                            <![CDATA[
                            #SlideBar QWidget {
                                background-color: none;
                            }
                            #SlideBar QToolBar {
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            ]]>
                        </styleSheet>
                    </slideView>
                </gui>
                <registry>
                    <toolBar sid="toolBarView" start="yes" />
                    <view wid="ogreSceneView" start="yes" />
                    <view sid="parameterView" start="yes" />
                    <slideView sid="rightToolbarSliderView" start="yes" />
                </registry>
            </service>

            <service uid="rightToolbarSliderView" type="::gui::view::SDefaultView">
                <gui>
                    <toolBar backgroundColor="#3E4453" />
                    <layout type="::fwGui::LineLayoutManager">
                        <orientation value="vertical" />
                    </layout>
                </gui>
                <registry>
                    <toolBar sid="rightToolbarView" start="yes" />
                </registry>
            </service>

            <service uid="rightToolbarView" type="::gui::aspect::SDefaultToolBar">
                <gui>
                    <layout>
                        <spacer />
                        <menuItem name="Show parameters" icon="flatIcon-0.1/icons/YellowLeftChevron.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="showParameterAct" start="yes" />
                </registry>
            </service>

            <service uid="parameterView" type="::gui::view::SDefaultView" >
                <gui>
                    <toolBar/>
                    <layout type="::fwGui::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                        <view proportion="0" spacing="0" />
                    </layout>
                </gui>
                <registry>
                    <toolBar sid="parameterToolBarView" start="yes" />
                    <view sid="volumeParameterView" start="yes" />
                    <view wid="organsParameterView" />
                    <view sid="landmarksParameterView" start="yes" />
                    <view sid="lightParameterView" start="yes" />
                    <view wid="extrudedMeshesParameterView" />
                </registry>
            </service>

            <service uid="parameterToolBarView" type="::gui::aspect::SDefaultToolBar" >
                <gui>
                    <layout>
                        <menuItem name="Show volume parameters" icon="flatIcon-0.1/icons/Volume.svg" style="check" />
                        <menuItem name="Show organs manager" icon="flatIcon-0.1/icons/Stomach.svg" style="check" />
                        <menuItem name="Show landmarks manager" icon="flatIcon-0.1/icons/YellowLandmarks.svg" style="check" />
                        <menuItem name="Show light manager" icon="flatIcon-0.1/icons/Light.svg" style="check" />
                        <menuItem name="Show extruded meshes manager" icon="flatIcon-0.1/icons/Extrude.svg" style="check" />
                        <spacer/>
                        <menuItem name="Close parameters" icon="flatIcon-0.1/icons/YellowRightChevron.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="volumeManagerAct" start="yes" />
                    <menuItem sid="organsManagerAct" start="yes" />
                    <menuItem sid="landmarksManagerAct" start="yes" />
                    <menuItem sid="lightManagerAct" start="yes" />
                    <menuItem sid="extrudedMeshesManagerAct" start="yes" />
                    <menuItem sid="hideParameterAct" start="yes" />
                </registry>
            </service>

            <service uid="volumeParameterView" type="::gui::view::SDefaultView" >
                <gui>
                    <layout type="::fwGui::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="volumeParameterSrv" start="yes" />
                </registry>
            </service>

            <service uid="landmarksParameterView" type="::gui::view::SDefaultView" >
                <gui>
                    <layout type="::fwGui::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="landmarksParameterSrv" start="yes" />
                </registry>
            </service>

            <service uid="lightParameterView" type="::gui::view::SDefaultView" >
                <gui>
                    <layout type="::fwGui::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <view proportion="0" />
                        <view proportion="1" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="lightSelectorSrv" />
                    <view sid="lightEditorSrv" />
                </registry>
            </service>

            <service uid="toolBarView" type="::gui::aspect::SDefaultToolBar" >
                <gui>
                    <layout>
                        <menuItem name="Load series" icon="flatIcon-0.1/icons/BlueLoad.svg" />
                        <menuItem name="Open PACS" icon="flatIcon-0.1/icons/GreenServerConnected.svg" style="check" />
                        <separator/>
                        <menuItem name="Negato view" icon="flatIcon-0.1/icons/Layers.svg" />
                        <menuItem name="Volume view" icon="flatIcon-0.1/icons/Volume.svg" />
                        <separator/>
                        <menuItem name="Show/Hide volume TF editor" icon="flatIcon-0.1/icons/TF1.svg" style="check" />
                        <separator/>
                        <menuItem name="Show/hide mesh" icon="flatIcon-0.1/icons/Stomach.svg" style="check" />
                        <menuItem name="Show/hide volume" icon="flatIcon-0.1/icons/Volume.svg" style="check" />
                        <menuItem name="Show/hide negato" icon="flatIcon-0.1/icons/Layers.svg" style="check" />
                        <separator/>
                        <menuItem name="Show/hide cropping box" icon="flatIcon-0.1/icons/CroppingBox.svg" style="check" />
                        <menuItem name="Reset cropping box" icon="flatIcon-0.1/icons/ResetCroppingBox.svg" />
                        <menuItem name="Shape extruder" icon="flatIcon-0.1/icons/Extrude.svg" style="check" />
                        <separator/>
                        <menuItem name="Add distance" icon="flatIcon-0.1/icons/AddDistance.svg" />
                        <menuItem name="Remove distance" icon="flatIcon-0.1/icons/RemoveDistance.svg" />
                        <menuItem name="Hide/show distance" icon="flatIcon-0.1/icons/Distance.svg" style="check" />
                        <separator/>
                        <menuItem name="Show/hide axis" icon="flatIcon-0.1/icons/Axis.svg" style="check" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="openSeriesDBAct" start="yes" />
                    <menuItem sid="pacsAct" start="yes" />
                    <menuItem sid="negatoViewAct" start="yes" />
                    <menuItem sid="volumeViewAct" start="yes" />
                    <menuItem sid="volumeTFAct" start="yes" />
                    <menuItem sid="meshVisibilityAct" start="yes" />
                    <menuItem sid="volumeVisibilityAct" start="yes" />
                    <menuItem sid="negato3DVisibilityAct" start="yes" />
                    <menuItem sid="boxWidgetVisibilityAct" start="yes" />
                    <menuItem sid="boxWidgetResetAct" start="yes" />
                    <menuItem sid="shapeExtruderAct" start="yes" />
                    <menuItem sid="addDistanceAct" start="yes" />
                    <menuItem sid="removeDistanceAct" start="yes" />
                    <menuItem sid="hideDistanceAct" start="yes" />
                    <menuItem sid="axisVisibilityAct" start="yes" />
                </registry>
            </service>

            <!-- ******************************* Actions ****************************************** -->

            <!-- Read a series -->
            <service uid="openSeriesDBAct" type="::uiIO::editor::SIOSelector" worker="COMPUTING_THREAD" >
                <inout key="data" uid="seriesDB" />
                <selection mode="exclude" />
                <addSelection service="::ioVtkGdcm::SSeriesDBLazyReader" />
                <addSelection service="::ioGdcm::SSeriesDBReader" />
                <addSelection service="::ioGdcm::SDicomSeriesDBReader" />
                <config id="OgreViewer_jsonReader_SrvCfg" service="::ioAtoms::SReader" />
                <config id="OgreViewer_vtk_SrvCfg" service="::ioVTK::SSeriesDBReader" />
                <config id="OgreViewer_vtkGdcmd_SrvCfg" service="::ioVtkGdcm::SSeriesDBReader" />
            </service>

            <!-- Show the negato/volume view -->
            <service uid="negatoViewAct" type="::gui::action::SSignal" />

            <service uid="volumeViewAct" type="::gui::action::SSignal" >
                <state visible="false" />
            </service>

            <!-- Switch between parameters -->
            <service uid="volumeManagerAct" type="::gui::action::SModifyLayout" >
                <config>
                    <show sid="volumeParameterView" />
                    <hide wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="organsManagerAct" type="::gui::action::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <show wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="landmarksManagerAct" type="::gui::action::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <hide wid="organsParameterView" />
                    <show sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="lightManagerAct" type="::gui::action::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <hide wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <show sid="lightParameterView" />
                    <hide wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <service uid="extrudedMeshesManagerAct" type="::gui::action::SModifyLayout" >
                <config>
                    <hide sid="volumeParameterView" />
                    <hide wid="organsParameterView" />
                    <hide sid="landmarksParameterView" />
                    <hide sid="lightParameterView" />
                    <show wid="extrudedMeshesParameterView" />
                </config>
            </service>

            <!-- Show or hide the parameter view -->
            <service uid="hideParameterAct" type="::gui::action::SSlotCaller" >
                <sync>true</sync>
                <slots>
                    <slot>parameterView/hide</slot>
                    <slot>rightToolbarSliderView/show</slot>
                </slots>
             </service>

            <service uid="showParameterAct" type="::gui::action::SBooleanSlotCaller" >
                <slots>
                    <slot>parameterView/show</slot>
                    <slot>rightToolbarSliderView/hide</slot>
                </slots>
                <state active="true" />
            </service>

            <!-- TF manager -->
            <service uid="volumeTFAct" type="::gui::action::SConfigLauncher" >
                <appConfig id="OgreViewer_TransferFunctionManagerWindow_AppCfg" />
                <parameter replace="WINDOW_TITLE" by="Volume TF editor" />
                <parameter replace="WINDOW_ICON" by="OgreViewer-@PROJECT_VERSION@/icons/Ogre_logo.svg" />
                <inout key="image" uid="image" />
                <inout key="histogram" uid="histogram" />
                <inout key="tfPools" uid="volumeTFPools" />
                <inout key="currentTFPool" uid="volumeCurrentTFPool" optional="yes" />
                <inout key="currentTF" uid="volumeCurrentTF" optional="yes" />
                <inout key="mergedTF" uid="volumeTF" />
                <state executable="false" />
            </service>

            <!-- PACS manager -->
            <service uid="pacsAct" type="::gui::action::SConfigLauncher" >
                <appConfig id="OgreViewer_PACSSelector_AppCfg" />
                <parameter replace="WINDOW_TITLE" by="PACS" />
                <parameter replace="WINDOW_ICON" by="OgreViewer-@PROJECT_VERSION@/icons/Ogre_logo.svg" />
                <inout key="previewSeriesDB" uid="previewSeriesDB" />
                <inout key="localSeriesDB" uid="localSeriesDB" />
                <inout key="image" uid="image" />
            </service>

            <!-- Adaptors visibility -->
            <service uid="volumeVisibilityAct" type="::gui::action::SSignal" >
                <state executable="false" />
            </service>

            <service uid="negato3DVisibilityAct" type="::gui::action::SSignal" >
                <state executable="false" />
            </service>

            <service uid="meshVisibilityAct" type="::gui::action::SSignal" >
                <state executable="false" />
            </service>

            <service uid="boxWidgetVisibilityAct" type="::gui::action::SSignal" >
                <state executable="false" />
            </service>

            <service uid="boxWidgetResetAct" type="::gui::action::SSignal" >
                <state executable="false" />
            </service>

            <service uid="shapeExtruderAct" type="::gui::action::SSignal" >
                <state executable="true" />
            </service>

            <service uid="axisVisibilityAct" type="::gui::action::SSignal" />

            <!-- Manage distance -->
            <service uid="addDistanceAct" type="::uiMeasurement::action::SAddDistance">
                <inout key="image" uid="image" />
                <state executable="false" />
            </service>

            <service uid="removeDistanceAct" type="::uiMeasurement::action::SRemoveDistance">
                <inout key="image" uid="image" />
                <state executable="false" />
            </service>

            <service uid="hideDistanceAct" type="::uiMeasurement::action::ShowDistance" autoConnect="yes" >
                <inout key="image" uid="image" />
                <state executable="false" />
            </service>

            <!-- ************************ Configuration launchers ********************************* -->

            <service uid="ogreGenericSceneCfg" type="::fwServices::SConfigController" >
                <appConfig id="OgreViewer_GenericScene_AppCfg" />
                <parameter replace="WID_PARENT" by="ogreSceneView" />
                <parameter replace="NEGATO_VIEW_RECEIVE_CHANNEL" by="NEGATO_VIEW_SENDER_CHANNEL" />
                <parameter replace="VOLUME_VIEW_RECEIVE_CHANNEL" by="VOLUME_VIEW_SENDER_CHANNEL" />
                <parameter replace="VR_BASIC_BOOL_PARAM_RECEIVER_CHANNEL" by="VOLUME_BASIC_BOOL_SENDER_CHANNEL" />
                <parameter replace="VR_BASIC_INT_PARAM_RECEIVER_CHANNEL" by="VOLUME_BASIC_INT_SENDER_CHANNEL" />
                <parameter replace="VR_BASIC_DOUBLE_PARAM_RECEIVER_CHANNEL" by="VOLUME_BASIC_DOUBLE_SENDER_CHANNEL" />
                <parameter replace="VR_VISIBILITY_RECEIVER_CHANNEL" by="VR_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="3DNEGATO_VISIBILITY_RECEIVER_CHANNEL" by="3DNEGATO_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="MESHES_VISIBILITY_RECEIVER_CHANNEL" by="MESHES_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="BOX_WIDGET_VISIBILITY_RECEIVER_CHANNEL" by="BOX_WIDGET_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="BOX_WIDGET_RESET_RECEIVER_CHANNEL" by="BOX_WIDGET_RESET_SENDER_CHANNEL" />
                <parameter replace="SHAPE_EXTRUDER_ENABLE_TOOL_RECEIVER_CHANNEL" by="SHAPE_EXTRUDER_ENABLE_TOOL_SENDER_CHANNEL" />
                <parameter replace="SHAPE_EXTRUDER_TOOL_DISABLED_SENDER_CHANNEL" by="SHAPE_EXTRUDER_TOOL_DISABLED_RECEIVER_CHANNEL" />
                <parameter replace="AXIS_VISIBILITY_RECEIVER_CHANNEL" by="AXIS_VISIBILITY_SENDER_CHANNEL" />
                <parameter replace="PICKER_SENDER_CHANNEL" by="PICKER_RECEIVER_CHANNEL" />
                <inout key="modelSeries" uid="modelSeries" />
                <inout key="image" uid="image" />
                <inout key="volumeTF" uid="volumeTF" />
                <inout key="extrudedModelSeries" uid="extrudedModelSeries" />
                <inout key="landmarks" uid="landmarks" />
            </service>

            <service uid="organManagerCfg"  type="::fwServices::SConfigController" >
                <appConfig id="OgreOrganManager" />
                <parameter replace="WID_PARENT" by="organsParameterView" />
                <parameter replace="MODELSERIESLIST_ENABLE_DELETE_CONFIG" by="true" />
                <inout key="organManagerModelSeries" uid="modelSeries" />
            </service>

            <service uid="extrudedMeshesManagerCfg"  type="::fwServices::SConfigController" >
                <appConfig id="OgreOrganManager" />
                <parameter replace="WID_PARENT" by="extrudedMeshesParameterView" />
                <parameter replace="MODELSERIESLIST_ENABLE_DELETE_CONFIG" by="true" />
                <inout key="organManagerModelSeries" uid="extrudedModelSeries" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!-- Extract the model or the image from the series -->
            <service uid="extractImageSrv" type="::ctrlCamp::SCopy" >
                <in key="source" uid="seriesDB" >
                    <extract from="@values.0.image" />
                </in>
                <inout key="target" uid="image" />
            </service>

            <service uid="extractMeshSrv" type="::ctrlCamp::SCopy" >
                <in key="source" uid="seriesDB" >
                    <extract from="@values.0" />
                </in>
                <inout key="target" uid="modelSeries" />
            </service>

            <!-- Compute the image histogram -->
            <service uid="computeHistogramSrv" type="::scene2D::processing::SComputeHistogram" autoConnect="yes" worker="COMPUTING_THREAD" >
                <in key="image" uid="image" />
                <inout key="histogram" uid="histogram" />
                <binsWidth>5.0</binsWidth>
            </service>

            <!-- Parameters for the volume rendering -->
            <service uid="volumeParameterSrv" type="::guiQt::editor::SParameters" >
                <parameters>
                    <param type="int" name="Samples" key="sampling" defaultValue="1024" min="128" max="8192" reset="false" />
                    <param type="int" name="Opacity correction" key="opacityCorrection" defaultValue="200" min="0" max="200" reset="false" />
                    <param type="bool" name="Pre-integration" key="preIntegration" defaultValue="false" reset="false" />
                    <param type="bool" name="Ambient occlusion" key="ambientOcclusion" defaultValue="false" reset="false" />
                    <param type="bool" name="Color bleeding" key="colorBleeding" defaultValue="false" reset="false" />
                    <param type="int" name="SAT size ratio" key="satSizeRatio" defaultValue="1" min="1" max="4" reset="false" />
                    <param type="double" name="AO factor" key="aoFactor" defaultValue="1.0" min="0.1" max="10.0" reset="false" depends="ambientOcclusion" />
                    <param type="int" name="AO shells number" key="satShellsNumber" defaultValue="4" min="1" max="10" reset="false" depends="ambientOcclusion" />
                    <param type="int" name="AO shell radius" key="satShellRadius" defaultValue="4" min="1" max="10" reset="false" depends="ambientOcclusion" />
                    <param type="double" name="Color bleeding factor" key="colorBleedingFactor" defaultValue="1.0" min="0.1" max="10.0" reset="false" depends="colorBleeding" />
                </parameters>
                <config sendAtStart="false" />
            </service>

            <!-- Parameters for landmarks -->
            <service uid="landmarksParameterSrv" type="::uiMeasurementQt::editor::SLandmarks" >
                <inout key="landmarks" uid="landmarks" />
                <advanced>yes</advanced>
            </service>

            <!-- Light editor -->
            <service uid="lightSelectorSrv" type="::uiVisuOgre::SLightSelector"  />

            <service uid="lightEditorSrv" type="::uiVisuOgre::SLightEditor" />

            <!-- ******************************* Connections ***************************************** -->

            <connect channel="NEGATO_VIEW_SENDER_CHANNEL" >
                <signal>negatoViewAct/triggered</signal>
                <slot>negatoViewAct/hide</slot>
                <slot>volumeViewAct/show</slot>
            </connect>

            <connect channel="VOLUME_VIEW_SENDER_CHANNEL" >
                <signal>volumeViewAct/triggered</signal>
                <slot>volumeViewAct/hide</slot>
                <slot>negatoViewAct/show</slot>
            </connect>

            <connect channel="VR_VISIBILITY_SENDER_CHANNEL" >
                <signal>volumeVisibilityAct/triggered</signal>
            </connect>

            <connect channel="3DNEGATO_VISIBILITY_SENDER_CHANNEL" >
                <signal>negato3DVisibilityAct/triggered</signal>
            </connect>

            <connect channel="MESHES_VISIBILITY_SENDER_CHANNEL" >
                <signal>meshVisibilityAct/triggered</signal>
            </connect>

            <connect channel="BOX_WIDGET_VISIBILITY_SENDER_CHANNEL" >
                <signal>boxWidgetVisibilityAct/triggered</signal>
            </connect>

            <connect channel="BOX_WIDGET_RESET_SENDER_CHANNEL" >
                <signal>boxWidgetResetAct/triggered</signal>
            </connect>

            <connect channel="SHAPE_EXTRUDER_ENABLE_TOOL_SENDER_CHANNEL" >
                <signal>shapeExtruderAct/triggered</signal>
            </connect>

            <connect channel="SHAPE_EXTRUDER_TOOL_DISABLED_RECEIVER_CHANNEL" >
                <slot>shapeExtruderAct/deactivate</slot>
            </connect>

            <connect channel="AXIS_VISIBILITY_SENDER_CHANNEL" >
                <signal>axisVisibilityAct/triggered</signal>
            </connect>

            <connect>
                <signal>image/visibilityModified</signal>
                <slot>negato3DVisibilityAct/setIsActive</slot>
            </connect>

            <connect>
                <signal>seriesDB/addedSeries</signal>
                <slot>extractImageSrv/update</slot>
                <slot>extractMeshSrv/update</slot>
            </connect>

            <connect>
                <signal>modelSeries/modified</signal>
                <slot>meshVisibilityAct/setExecutable</slot>
                <slot>meshVisibilityAct/activate</slot>
            </connect>

            <connect>
                <signal>image/modified</signal>
                <slot>volumeVisibilityAct/setExecutable</slot>
                <slot>volumeVisibilityAct/activate</slot>
                <slot>negato3DVisibilityAct/setExecutable</slot>
                <slot>negato3DVisibilityAct/activate</slot>
                <slot>negato3DVisibilityAct/update</slot>
                <slot>boxWidgetVisibilityAct/setExecutable</slot>
                <slot>shapeExtruderAct/setExecutable</slot>
                <slot>boxWidgetResetAct/setExecutable</slot>
                <slot>volumeTFAct/setExecutable</slot>
                <slot>addDistanceAct/setExecutable</slot>
                <slot>removeDistanceAct/setExecutable</slot>
                <slot>hideDistanceAct/setExecutable</slot>
            </connect>

            <connect channel="VOLUME_BASIC_BOOL_SENDER_CHANNEL" >
                <signal>volumeParameterSrv/boolChanged</signal>
            </connect>

            <connect channel="VOLUME_BASIC_INT_SENDER_CHANNEL" >
                <signal>volumeParameterSrv/intChanged</signal>
            </connect>

            <connect channel="VOLUME_BASIC_DOUBLE_SENDER_CHANNEL" >
                <signal>volumeParameterSrv/doubleChanged</signal>
            </connect>

            <connect>
                <signal>lightSelectorSrv/lightSelected</signal>
                <slot>lightEditorSrv/editLight</slot>
            </connect>

            <!-- Allow to activate button in the advanced toolbar -->
            <connect>
                <signal>volumeManagerAct/updated</signal>
                <slot>volumeManagerAct/activate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>organsManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>organsManagerAct/activate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>landmarksManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/activate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>lightManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/activate</slot>
                <slot>extrudedMeshesManagerAct/deactivate</slot>
            </connect>

            <connect>
                <signal>extrudedMeshesManagerAct/updated</signal>
                <slot>volumeManagerAct/deactivate</slot>
                <slot>organsManagerAct/deactivate</slot>
                <slot>landmarksManagerAct/deactivate</slot>
                <slot>lightManagerAct/deactivate</slot>
                <slot>extrudedMeshesManagerAct/activate</slot>
            </connect>

            <!-- Manage landmarks -->
            <connect channel="PICKER_RECEIVER_CHANNEL" >
                <slot>landmarksParameterSrv/pick</slot>
            </connect>

            <!-- ******************************* Start/Stop services ***************************************** -->

            <start uid="mainView" />
            <start uid="ogreGenericSceneCfg" />
            <start uid="organManagerCfg" />
            <start uid="extrudedMeshesManagerCfg" />
            <start uid="extractImageSrv" />
            <start uid="extractMeshSrv" />
            <start uid="computeHistogramSrv" />
            <start uid="lightSelectorSrv" />
            <start uid="lightEditorSrv" />

            <update uid="volumeManagerAct" />
            <update uid="volumeParameterSrv" />

        </config>
    </extension>
</plugin>
