<plugin id="visuVTKVRAdaptor" class="visuVTKAdaptor::Plugin" version="@DASH_VERSION@" >

    <library name="visuVTKVRAdaptor" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="visuVTK" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IAdaptor</type>
        <service>::visuVTKVRAdaptor::Volume</service>
        <object>::fwData::Image</object>
    </extension>

</plugin>



