<plugin id="vtkSimpleNegato" class="::vtkSimpleNegato::Plugin" >
	<library name="vtkSimpleNegato" />


<!-- 	REGISTER_SERVICE( ::fwRender::IRender, ::vtkSimpleNegato::RendererService, ::fwData::Image) ;	-->
<point id="::vtkSimpleNegato::RendererService" >
	<implements>::fwRender::IRender</implements>
	<implements>::fwData::Image</implements>
</point>

    
</plugin>



