<plugin id="ioARActivity" version="@PROJECT_VERSION@">

    <requirement id="filterUnknownSeries" />

    <!-- Service config used to read a seriesDB using ioAtoms. -->
    <extension implements="::sight::services::registry::ServiceConfig">
        <id>ARSDBAtomsReaderIOSelectorConfig</id>
        <service>::sight::modules::ui::base::editor::SIOSelector</service>
        <desc>Atoms seriesDB reader for arData.</desc>
        <config>
            <type mode="reader" />
            <selection mode="include" />
            <addSelection service="::sight::modules::io::atoms::SReader" />
            <config id="MDAtomsConfig" service="::sight::modules::io::atoms::SReader" />
        </config>
    </extension>

    <!-- Service config used to write a seriesDB using ioAtoms. -->
    <extension implements="::sight::services::registry::ServiceConfig">
        <id>ARSDBAtomsWriterIOSelectorConfig</id>
        <service>::sight::modules::ui::base::editor::SIOSelector</service>
        <desc>Atoms seriesDB reader for arData.</desc>
        <config>
            <type mode="writer" />
            <selection mode="include" />
            <addSelection service="::sight::modules::io::atoms::SWriter" />
            <config id="MDAtomsConfig" service="::sight::modules::io::atoms::SWriter" />
        </config>
    </extension>

    <!-- Service config used to read SeriesDB with all the available reader for SeriesDB. -->
    <extension implements="::sight::services::registry::ServiceConfig">
        <id>ARFullSDBReaderIOSelectorConfig</id>
        <service>::sight::modules::ui::base::editor::SIOSelector</service>
        <desc>IOSelectorService config for SeriesDB reader</desc>
        <config>
            <type mode="reader" />
            <selection mode="exclude" />
            <addSelection service="::sight::modules::io::file::SAttachmentSeriesReader" />
            <config id="MDAtomsConfig" service="::sight::modules::io::atoms::SReader" />
        </config>
    </extension>

    <extension implements="::sight::services::registry::ServiceConfig">
        <id>ARActivityReaderConfig</id>
        <service>::sight::modules::ui::base::editor::SIOSelector</service>
        <desc>Atoms seriesDB reader for arData.</desc>
        <config>
            <type mode="reader" />
            <selection mode="include" />
            <addSelection service="::sight::modules::io::atoms::SReader" />
            <config id="ActivityMDAtomsConfig" service="::sight::modules::io::atoms::SReader" />
        </config>
    </extension>

    <extension implements="::sight::services::registry::ServiceConfig">
        <id>ARActivityWriterConfig</id>
        <service>::sight::modules::ui::base::editor::SIOSelector</service>
        <desc>SExportWithSeriesDB config for SeriesDB writer</desc>
        <config>
            <type mode="writer" />
            <selection mode="include" />
            <addSelection service="::sight::modules::io::atoms::SWriter" />
            <config id="ActivityMDAtomsConfig" service="::sight::modules::io::atoms::SWriter" />
        </config>
    </extension>

</plugin>
