<plugin id="maths" class="::maths::Plugin" version="0.1" >
    
    <library name="maths" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::maths::SConcatenateMatrices</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

</plugin>
