<plugin id="maths" class="::maths::Plugin" version="@DASH_VERSION@" >
    
    <library name="maths" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::maths::SConcatenateMatrices</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::maths::SSwitchMatrices</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

</plugin>
