<plugin id="uiNavigation" class="::uiNavigation::Plugin">

    <library name="uiNavigation" />

    <requirement id="io"/>
    <requirement id="gui"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiNavigation::SNavigationEditor</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>

