<plugin id="videoOpenni" class="::videoOpenni::Plugin" version="0.1" >
    <library name="videoOpenni" />

    <extension implements="::fwServices::registry::ServiceFactory">
         <type>::arServices::IRGBDGrabber</type>
         <service>::videoOpenni::SScan</service>
         <object>::arData::FrameTL</object>
         <object>::arData::FrameTL</object>
         <object>::arData::FrameTL</object>
         <desc>Kinect or Sense camera</desc>
         <caps>DEVICE</caps>
    </extension>
</plugin>
