<plugin id="sight::module::sync" library="true" >

     <extension implements="sight::service::extension::Factory">
         <type>sight::service::synchronizer</type>
         <service>sight::module::sync::SSynchronizer</service>
         <desc>SSynchronizer service synchronizes any kind of video or matrix streams combination.</desc>
    </extension>

    <extension implements="sight::service::extension::Factory">
         <type>sight::service::controller</type>
         <service>sight::module::sync::SSignalGate</service>
         <desc>This service triggers a signal each time all configured signals are received. Once it triggers the signal</desc>
    </extension>

</plugin>
