<plugin id="tuto02_data_service_basic">
    <!-- The modules in requirements are automatically started when this
         Application is launched. -->
    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::qt" />

    <extension implements="sight::app::extension::config">
        <id>tuto02_data_service_basic</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <!-- In this tutorial, the central data object is a sight::data::image. -->
            <object uid="image_data" type="sight::data::image" />

            <!-- ******************************* UI declaration *********************************** -->

            <!--
                Description service of the GUI:
                The sight::module::ui::frame service automatically positions the various
                containers in the application main window.
                Here, it declares a container for the 3D rendering service.
            -->
            <service uid="main_frame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>Tutorial 2: Data and service basic</name>
                        <icon>tuto02_data_service_basic/tuto.ico</icon>
                        <min_size width="800" height="600" />
                    </frame>
                </gui>
                <registry>
                    <!-- Associate the container for the rendering service. -->
                    <view sid="image_renderer_srv" />
                </registry>
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!--
                Reading service:
                The <resource> tag defines the resource path (/rc) of a module or application.
            -->
            <service uid="image_reader_srv" type="sight::module::io::vtk::image_reader">
                <inout key="data" uid="image_data" />
                <resource>tuto02_data_service_basic/img-test.vtk</resource>
            </service>

            <!--
                Visualization service of a 3D medical image:
                This service will render the 3D image.
            -->
            <service uid="image_renderer_srv" type="sight::module::viz::sample::image">
                <in key="image" uid="image_data" />
            </service>

            <!-- ******************************* Update services ***************************************** -->

            <!--
                Definition of the service to update:
                The reading service load the data on the update.
                The render update must be called after the reading of the image.
            -->
            <update uid="image_reader_srv" />
            <update uid="image_renderer_srv" />
        </config>
    </extension>
</plugin>
