<plugin id="videoCalibration" class="::videoCalibration::Plugin" version="@DASH_VERSION@" >

    <library name="videoCalibration" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::videoCalibration::ICalibration</type>
        <service>::videoCalibration::SIntrinsic</service>
        <object>::arData::Camera</object>
    </extension>
        
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::videoCalibration::ICalibration</type>
        <service>::videoCalibration::SExtrinsic</service>
        <object>::arData::CameraSeries</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::videoCalibration::ICalibration</type>
        <service>::videoCalibration::SOpenCVIntrinsic</service>
        <object>::arData::Camera</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::videoCalibration::ICalibration</type>
        <service>::videoCalibration::SOpenCVExtrinsic</service>
        <object>::arData::CameraSeries</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::videoCalibration::SChessBoardDetector</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::videoCalibration::SCheckChessBoard</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::videoCalibration::SMarkerToPoint</service>
        <object>::fwData::PointList</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::videoCalibration::SFixedPointRegistration</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
    
</plugin>
