<plugin id="calibrationActivity" class="::calibrationActivity::Plugin" version="@PROJECT_VERSION@" >

    <library name="calibrationActivity" />
    <requirement id="module_services" />
    <requirement id="validators" />
    <requirement id="module_ui_base" />
    <requirement id="module_viz_ogre" />
    <requirement id="module_activities" />

    <xi:include href="configurations/calibration.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calIntrinsicView.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calExtrinsicView.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/displayImageConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/displayTwoImagesConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calibrationEdition.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/videoEdition.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/rgbdCalibration.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calibrationCharuco.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calIntrinsicCharucoView.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/calExtrinsicCharucoView.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::activities::registry::Activities">
        <id>Calibration</id>
        <title>Calibration</title>
        <desc>Calibrate the intrinsic and extrinsic parameters of cameras.</desc>
        <icon>module_ui_flaticon-0.1/icons/YellowCamera.svg</icon>
        <requirements>
             <requirement name="cameraSeries" type="::sight::data::CameraSeries" minOccurs="0" maxOccurs="0" />
        </requirements>
        <builder>::activities::builder::ActivitySeriesInitData</builder>
        <appConfig id="calibration">
            <parameters>
                <parameter replace="cameraSeries" by="@values.cameraSeries" />
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::activities::registry::Activities">
        <id>calibrationEdition</id>
        <title>Calibration Edition</title>
        <desc>
            <![CDATA[
                This activity allows to edit a calibration: <br />
                - edit the video file/stream<br />
                - edit the resolution
            ]]>
        </desc>
        <icon>module_ui_flaticon-0.1/icons/BlueParametersCamera.svg</icon>
        <requirements>
             <requirement name="cameraSeries" type="::sight::data::CameraSeries" minOccurs="1" maxOccurs="1">
                <desc>Calibrated camera series.</desc>
             </requirement>
        </requirements>
        <appConfig id="calibrationEdition">
            <parameters>
                <parameter replace="cameraSeries" by="@values.cameraSeries" />
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::activities::registry::Activities">
        <id>RGBDCalibration</id>
        <title>RGBD camera calibration</title>
        <desc>Calibrate the intrinsic and extrinsic parameters of a RGBD camera.</desc>
        <icon>module_ui_flaticon-0.1/icons/YellowCamera.svg</icon>
        <requirements>
        </requirements>
        <appConfig id="RGBDCalibration">
            <parameters>
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::activities::registry::Activities">
        <id>CalibrationCharuco</id>
        <title>Calibration Charuco</title>
        <desc>Calibrate the intrinsic and extrinsic parameters of cameras with charuco boards.</desc>
        <icon>module_ui_flaticon-0.1/icons/YellowCamera.svg</icon>
        <requirements>
             <requirement name="cameraSeries" type="::sight::data::CameraSeries" minOccurs="0" maxOccurs="0" />
        </requirements>
        <builder>::activities::builder::ActivitySeriesInitData</builder>
        <appConfig id="calibrationCharuco">
            <parameters>
                <parameter replace="cameraSeries" by="@values.cameraSeries" />
            </parameters>
        </appConfig>
    </extension>

    <!-- Service config used grab infrared frames from RealSense camera without the IR emitter -->
    <extension implements="::sight::services::registry::ServiceConfig">
        <id>InfraredRealsenseGrabberConfig</id>
        <service>::videoRealSense::SScan</service>
        <desc>Infrared grabber without IR emitter </desc>
        <config>
            <config fps="30" colorW="1280" colorH="720" depthW="1280" depthH="720" switchToIR="true" IREmitter="false" />
        </config>
    </extension>

</plugin>

