<plugin id="ioDicomWeb" class="ioDicomWeb::Plugin"  version="@PROJECT_VERSION@" >
    <library name="ioDicomWeb" />

    <requirement id="dataReg"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::editor::IEditor</type>
        <service>::ioDicomWeb::SQueryEditor</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Query Editor</desc>
        </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ioDicomWeb::SSeriesPuller</service>
        <object>::fwData::Vector</object>
        <desc>Pull Series Controller</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ioDicomWeb::SSeriesPusher</service>
        <object>::fwData::Object</object>
        <desc>Push Series Controller</desc>
    </extension>

</plugin>
