<plugin id="handEyeActivity" version="@PROJECT_VERSION@">

    <requirement id="visuVTKARAdaptor"/>
    <requirement id="visuVTKAdaptor"/>
    <requirement id="visuVTKQt"/>
    <requirement id="uiSelector"/>
    <requirement id="videoTools"/>
    <requirement id="trackerAruco"/>

    <xi:include href="configurations/camerasHandEyeCalibration.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/trackingHandEyeCalibration.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>camerasHandEyeCalibration</id>
        <title>Hand-Eye Calibration using two cameras</title>
        <desc>Hand-Eye Calibration Activity using two cameras</desc>
        <icon>arMedia-0.1/icons/calibrationActivity.svg</icon>
        <requirements>
            <requirement name="cameraSeries" type="::arData::CameraSeries" minOccurs="2" maxOccurs="2">
                <key>camera1</key>
                <key>camera2</key>
            </requirement>
        </requirements>
        <appConfig id="camerasHandEyeCalibration">
            <parameters>
                <parameter replace="camera1Uid" by="@values.cameraSeries.values.camera1.cameras.0" />
                <parameter replace="camera2Uid" by="@values.cameraSeries.values.camera2.cameras.0" />
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::fwActivities::registry::Activities">
        <id>trackingHandEyeCalibration</id>
        <title>Hand-Eye Calibration</title>
        <desc>Hand-Eye Calibration Activity using a camera and a tracking system</desc>
        <icon>arMedia-0.1/icons/calibrationActivity.svg</icon>
        <requirements>
            <requirement name="cameraSeries" type="::arData::CameraSeries" minOccurs="1" maxOccurs="1">
                <key>camera</key>
            </requirement>
        </requirements>
        <appConfig id="trackingHandEyeCalibration">
            <parameters>
                <parameter replace="camera" by="@values.cameraSeries.cameras.0" />
            </parameters>
        </appConfig>
    </extension>

</plugin>
