<plugin id="uiGenericQt" class="::uiGenericQt::Plugin" version="@DASH_VERSION@" >
    <library name="uiGenericQt"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiGeneric::action::LaunchBrowserActionService</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiGeneric::action::SShowAbout</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiGeneric::action::ShowHelpContents</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiGeneric::action::ShowRevInfo</service>
        <object>::fwData::Object</object>
    </extension>
    
</plugin>
