<plugin id="ExFrameByFrame" version="@PROJECT_VERSION@" >

    <requirement id="module_ui_qt" />
    <requirement id="module_service" />
    <requirement id="module_viz_ogre" />
    <requirement id="module_viz_ogreQt" />
    <requirement id="module_ui_base" />

    <extension implements="::sight::service::registry::AppConfig" >
        <id>ExFrameByFrame_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="camera" type="::sight::data::Camera" />
            <object uid="frameTL" type="::sight::data::FrameTL" >
                <value>100</value>
            </object>
            <object uid="videoImage" type="::sight::data::Image" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="::sight::modules::ui::base::SFrame" >
                <gui>
                    <frame>
                        <name>ExFrameByFrame</name>
                        <icon>ExFrameByFrame-@PROJECT_VERSION@/app.ico</icon>
                    </frame>
                    <toolBar/>
                </gui>
                <registry>
                    <toolBar sid="toolbarView" start="yes" />
                    <view sid="genericSceneSrv" start="yes" />
                </registry>
            </service>

            <service uid="toolbarView" type="::sight::modules::ui::base::SToolBar" >
                <gui>
                    <layout>
                        <editor/>
                        <menuItem name="Start" icon="module_ui_flaticon-0.1/icons/GreenStart.svg" shortcut="Space" />
                        <menuItem name="Stop" icon="module_ui_flaticon-0.1/icons/RedStop.svg" />
                        <menuItem name="Pause" icon="module_ui_flaticon-0.1/icons/OrangePause.svg" shortcut="Space" />
                        <spacer/>
                        <menuItem name="Previous" />
                        <menuItem name="Next" />
                    </layout>
                </gui>
                <registry>
                    <editor sid="videoSelectorSrv" start="yes" />
                    <menuItem sid="startVideoAct" start="yes" />
                    <menuItem sid="stopVideoAct" start="yes" />
                    <menuItem sid="pauseVideoAct" start="yes" />
                    <menuItem sid="previousImageAct" start="yes" />
                    <menuItem sid="nextImageAct" start="yes" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="startVideoAct" type="::sight::modules::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/startCamera</slot>
                </slots>
            </service>

            <service uid="stopVideoAct" type="::sight::modules::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/stopCamera</slot>
                </slots>
            </service>

            <service uid="pauseVideoAct" type="::sight::modules::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/pauseCamera</slot>
                </slots>
            </service>

            <service uid="previousImageAct" type="::sight::modules::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/previousImage</slot>
                </slots>
            </service>

            <service uid="nextImageAct" type="::sight::modules::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/nextImage</slot>
                </slots>
            </service>

            <!-- ******************************* Begin Generic Scene ******************************* -->

            <service uid="genericSceneSrv" type="::sight::viz::ogre::SRender" >
                <scene>
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default" order="1" />
                    <adaptor uid="videoAdp" />
                </scene>
            </service>

            <service uid="videoAdp" type="::sight::modules::viz::ogre::adaptor::SVideo" autoConnect="yes" >
                <in key="image" uid="videoImage" />
                <config layer="default" />
            </service>

            <!-- ************************************* Services ************************************ -->

            <service uid="videoSelectorSrv" type="::sight::modules::ui::qt::video::SCamera" >
                <inout key="camera" uid="camera" />
                <videoSupport>yes</videoSupport>
            </service>

            <service uid="videoGrabberSrv" type="::sight::modules::io::video::SFrameGrabber" >
                <in key="camera" uid="camera" />
                <inout key="frameTL" uid="frameTL" />
                <oneShot>true</oneShot>
                <useTimelapse>false</useTimelapse>
                <createTimestamp>true</createTimestamp>
            </service>

            <service uid="frameUpdaterSrv" type="::sight::modules::sync::SFrameMatrixSynchronizer" worker="videoWorker" >
                <in group="frameTL" >
                    <key uid="frameTL" />
                </in>
                <inout group="image" >
                    <key uid="videoImage" />
                </inout>
                <framerate>30</framerate>
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>camera/idModified</signal>
                <slot>videoGrabberSrv/stopCamera</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />
            <start uid="videoGrabberSrv" />
            <start uid="frameUpdaterSrv" />
            <start uid="videoAdp" />

        </config>
    </extension>
</plugin>
