<plugin id="ExDicomSegmentation">

    <requirement id="sight::module::activity" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3d_qt" />
    <requirement id="sight::module::ui" />

    <xi:include href="ex_dicom_segmentation_base.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="threshold.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="vtk_mesher.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::activity::extension">
        <id>ExDicomSegmentation_VTKMesher_Activity</id>
        <title>VTK mesher</title>
        <desc>Mesher activity using VTK</desc>
        <icon>sight::module::ui::flaticons/GreenMedicine.svg</icon>
        <requirements>
            <requirement name="imageSeries" type="sight::data::image_series" minOccurs="1" maxOccurs="1" />
        </requirements>
        <builder>sight::activity::builder::Activity</builder>
        <appConfig id="ExDicomSegmentation_VTKMesher_AppCfg"/>
    </extension>

    <extension implements="sight::activity::extension">
        <id>ExDicomSegmentation_Threshold_Activity</id>
        <title>Threshold</title>
        <desc>Simple threshold activity</desc>
        <icon>sight::module::ui::flaticons/GreenMedicine.svg</icon>
        <requirements>
            <requirement name="imageSeries" type="sight::data::image_series" minOccurs="1" maxOccurs="1" />
        </requirements>
        <builder>sight::activity::builder::Activity</builder>
        <appConfig id="ExDicomSegmentation_Threshold_AppCfg" />
    </extension>

    <extension implements="sight::activity::extension">
        <id>ExDicomSegmentation_Base_Activity</id>
        <title>ExDicomSegmentation</title>
        <desc>ExDicomSegmentation main activity</desc>
        <icon>sight::module::ui::flaticons/GreenMedicine.svg</icon>
        <requirements />
        <appConfig id="ExDicomSegmentation_Base_AppCfg">
            <parameters />
        </appConfig>
    </extension>

    <extension implements="sight::app::extension::config">
        <id>ExDicomSegmentation_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="seriesSet" type="sight::data::series_set" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ExDicomSegmentation</name>
                        <icon>ExDicomSegmentation/app.ico</icon>
                    </frame>
                </gui>
                <registry>
                    <view sid="dynamicViewSrv" start="true" />
                </registry>
            </service>

            <!-- ******************************* Services ***************************************** -->

            <service uid="dynamicViewSrv" type="sight::module::ui::qt::activity::dynamic_view">
                <inout group="data">
                    <key name="seriesSet" uid="seriesSet" />
                </inout>
                <mainActivity id="ExDicomSegmentation_Base_Activity" closable="false" />
                <parameters>
                    <parameter replace="ICON_PATH" by="ExDicomSegmentation/tuto.ico" />
                    <parameter replace="DYNAMICVIEW_SENDER_CHANNEL" by="DYNAMICVIEW_RECIEVER_CHANNEL" />
                </parameters>
                <config document="false" />
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect channel="DYNAMICVIEW_RECIEVER_CHANNEL">
                <slot>dynamicViewSrv/create_tab</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />

        </config>
    </extension>

</plugin>