<plugin id="tutoBasicConfig">
    <extension implements="::fwServices::registry::AppConfig">
        <id>tutoBasicConfig</id>
        <type>standard</type>
        <config>
            <object type="::fwData::Image">

                <service uid="myFrame" type="::fwGui::IFrameSrv" implementation="::gui::frame::DefaultFrame" autoComChannel="no">
                    <gui>
                        <frame>
                            <name>tutoBasicApplicationName</name>
                            <icon>Bundles/Tuto01Basic_0-1/tuto.ico</icon>
                            <minSize width="800" height="600" />
                        </frame>
                    </gui>
                </service>

                <start uid="myFrame" />

            </object>
        </config>
    </extension>
</plugin>