<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Module Id="gui" Guid="12345678-8DEE-4410-990A-1802896C5301" Language="0" Version="1.2.3">

    <Package Id="12345678-8DEE-4410-990A-1802896C5301" InstallerVersion="200"
      Languages="1033" Manufacturer="Acme" SummaryCodepage="1252" AdminImage="no" ShortNames="no" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='IRCAD' Name='IRCAD'>
          <Directory Id='INSTALLDIR' Name='$(var.SOFTWARE)' LongName='$(var.SOFTWARE) $(var.VERSION)'>

			<Directory Id='BUNDLESDIR' Name='Bundles'>
				<Directory Id='B301' Name='301' LongName='gui_0-0'>
					<Component Id='gui' Guid='11112222-83F1-4F22-985B-FDB3C8ABD301'>
						<File Id="P301"		Name="301.xml"		LongName="plugin.xml" Source="../../CommonLib/Bundles/gui_0-0/plugin.xml" />
						<File Id="DLL301"	Name="301.dll"		LongName="gui_0-0_win32_cl7-1.dll" Source="../../CommonLib/Bundles/gui_0-0/gui_0-0_win32_cl7-1.dll" />
					</Component>
				</Directory>
			</Directory>
			<Component Id='copy301' Guid='11112222-83F1-4F22-985B-FDB3C8ABD301'>
					<CopyFile Id="cp301" FileId="DLL301" DestinationName="301.dll" DestinationLongName="gui_0-0_win32_cl7-1.dll" />
			</Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

  </Module>
</Wix>
