<plugin class="::gui::Plugin" id="gui" version="@DASH_VERSION@" >

    <library name="gui"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IFrameSrv</type>
        <service>::gui::frame::SDefaultFrame</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IMenuSrv</type>
        <service>::gui::aspect::SDefaultMenu</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IMenuBarSrv</type>
        <service>::gui::aspect::SDefaultMenuBar</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::view::IView</type>
        <service>::gui::view::SDefaultView</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SDoNothing</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SQuit</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SStarter</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SSlotCaller</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SBooleanSlotCaller</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IToolBarSrv</type>
        <service>::gui::aspect::SDefaultToolBar</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SConfigLauncher</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SModifyLayout</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SPushObject</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SPushField</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IDialogEditor</type>
        <service>::gui::editor::SJobBar</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::SSignal</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
