<plugin class="::gui::Plugin" id="gui">

    <library name="gui"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>

    <point id="::gui::editor::IEditor">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::gui::editor::IDialogEditor">
        <implements>::fwServices::IService</implements>
    </point>
        
    <point id="::gui::view::IView">
        <implements>::fwServices::IService</implements>
    </point>

    <point id="::fwGui::IFrameSrv">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::fwGui::IActionSrv">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::fwGui::IMenuSrv">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::gui::aspect::IToolBar">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::fwGui::IMenuBarSrv">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::gui::frame::DefaultFrame">
        <implements>::fwGui::IFrameSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <point id="::gui::aspect::DefaultMenuSrv">
        <implements>::fwGui::IMenuSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <point id="::gui::aspect::DefaultMenuBarSrv">
        <implements>::fwGui::IMenuBarSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
        
    <point id="::gui::view::DefaultView">
        <implements>::gui::view::IView</implements>
        <implements>::fwTools::Object</implements>
    </point>
        
    <point id="::gui::action::NothingActionSrv">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
        
    <point id="::gui::action::CloseAction">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <point id="::gui::action::QuitAction">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
        
    <point id="::gui::action::StarterActionService">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>    
    
    <point id="::gui::aspect::DefaultToolBarSrv">
        <implements>::fwGui::IToolBarSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <point id="::gui::action::ConfigActionSrv">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <point id="::gui::action::ModifyLayoutActionSrv">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <!-- 
    <point id="::gui::action::ActionNotifyService">
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    -->
    
</plugin>
