<plugin id="visuVTKAdaptor" class="visuVTKAdaptor::Plugin" >

    <library name="visuVTKAdaptor" />

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="visu" />
    <requirement id="visuVTK" />



    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Render</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Cube</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Axes</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Material</service>
        <object>::fwData::Material</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::TriangularMesh</service>
        <object>::fwData::TriangularMesh</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Reconstruction</service>
        <object>::fwData::Reconstruction</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Acquisition</service>
        <object>::fwData::Acquisition</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ResectionDB</service>
        <object>::fwData::ResectionDB</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Resection</service>
        <object>::fwData::Resection</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Point</service>
        <object>::fwData::Point</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PointLabel</service>
        <object>::fwData::Point</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PointList</service>
        <object>::fwData::PointList</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PointListInteractor</service>
        <object>::fwData::PointList</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PickerInteractor</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImagePickerInteractor</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Distance</service>
        <object>::fwData::PointList</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageMultiDistances</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageLandmarks</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Text</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageText</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Model</service>
        <object>::fwData::Model</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Transform</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::BoxWidget</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Video</service>
        <object>::fwData::Video</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Camera</service>
        <object>::fwData::Video</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Camera2</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ResetCamera</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoOneSlice</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::SlicesCursor</service>
        <object>::fwData::Image</object>
    </extension>

     <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::SliceFollowerCamera</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Normals</service>
        <object>::fwData::TriangularMesh</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::InteractorStyle</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoWindowingInteractor</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoSlicingInteractor</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ProbeCursor</service>
        <object>::fwData::Image</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImagesProbeCursor</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoMPR</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneSelector</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneSelectionNotifier</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneInteractor</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneList</service>
        <object>::fwData::PlaneList</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Plane</service>
        <object>::fwData::Plane</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Snapshot</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Medical3DCamera</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Image</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageSlice</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::MeshesBoxWidget</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Image3DCursor</service>
        <object>::fwData::Image</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImagesBlend</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Mesh</service>
        <object>::fwData::Mesh</object>
    </extension>
   
   <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::MeshNormals</service>
        <object>::fwData::Mesh</object>
    </extension> 
</plugin>



