<plugin id="visuVTKAdaptor" class="visuVTKAdaptor::Plugin" >
    
    <library name="visuVTKAdaptor" />
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="visu" />
    <requirement id="visuVTK" />

    

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Render,::fwTools::Object ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Render</service>
        <object>::fwTools::Object</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Cube, ::fwTools::Object ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Cube</service>
        <object>::fwTools::Object</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Axes, ::fwTools::Object ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Axes</service>
        <object>::fwTools::Object</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Material, ::fwData::Material ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Material</service>
        <object>::fwData::Material</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::TriangularMesh, ::fwData::TriangularMesh ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::TriangularMesh</service>
        <object>::fwData::TriangularMesh</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Reconstruction, ::fwData::Reconstruction ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Reconstruction</service>
        <object>::fwData::Reconstruction</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Acquisition, ::fwData::Acquisition ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Acquisition</service>
        <object>::fwData::Acquisition</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::ResectionDB, ::fwData::ResectionDB ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ResectionDB</service>
        <object>::fwData::ResectionDB</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Resection, ::fwData::Resection ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Resection</service>
        <object>::fwData::Resection</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Point, ::fwData::Point ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Point</service>
        <object>::fwData::Point</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PointLabel, ::fwData::Point ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PointLabel</service>
        <object>::fwData::Point</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PointList, ::fwData::PointList ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PointList</service>
        <object>::fwData::PointList</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PointListInteractor, ::fwData::PointList ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PointListInteractor</service>
        <object>::fwData::PointList</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PickerInteractor, ::fwData::Composite ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PickerInteractor</service>
        <object>::fwData::Composite</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::ImagePickerInteractor, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImagePickerInteractor</service>
        <object>::fwData::Image</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Distance, ::fwData::PointList ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Distance</service>
        <object>::fwData::PointList</object>
    </extension>
 
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::ImageMultiDistances, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageMultiDistances</service>
        <object>::fwData::Image</object>
    </extension>  
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::ImageLandmarks, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageLandmarks</service>
        <object>::fwData::Image</object>
    </extension> 

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Text, ::fwTools::Object ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Text</service>
        <object>::fwTools::Object</object>
    </extension> 

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::ImageText, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageText</service>
        <object>::fwData::Image</object>
    </extension> 

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Model, ::fwData::Model ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Model</service>
        <object>::fwData::Model</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Transform, ::fwData::TransformationMatrix3D ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Transform</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Transform, ::fwData::TransformationMatrix3D ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::BoxWidget</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Video, ::fwData::Video ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Video</service>
        <object>::fwData::Video</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Camera, ::fwData::Video ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Camera</service>
        <object>::fwData::Video</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Camera2, ::fwData::TransformationMatrix3D ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Camera2</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::NegatoOneSlice, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoOneSlice</service>
        <object>::fwData::Image</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::SlicesCursor, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::SlicesCursor</service>
        <object>::fwData::Image</object>
    </extension>
    
     <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::SliceFollowerCamera, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::SliceFollowerCamera</service>
        <object>::fwData::Image</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Normals, ::fwData::TriangularMesh ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Normals</service>
        <object>::fwData::TriangularMesh</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::InteractorStyle, ::fwTools::Object ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::InteractorStyle</service>
        <object>::fwTools::Object</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::NegatoWindowingInteractor, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoWindowingInteractor</service>
        <object>::fwData::Image</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::NegatoSlicingInteractor, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoSlicingInteractor</service>
        <object>::fwData::Image</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::ProbeCursor, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ProbeCursor</service>
        <object>::fwData::Image</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::NegatoMPR, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::NegatoMPR</service>
        <object>::fwData::Image</object>
    </extension>
     
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PlaneSelector, ::fwTools::Object ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneSelector</service>
        <object>::fwTools::Object</object>
    </extension>   

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PlaneSelectionNotifier, ::fwData::Composite ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneSelectionNotifier</service>
        <object>::fwData::Composite</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PlaneInteractor, ::fwTools::Object ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneInteractor</service>
        <object>::fwTools::Object</object>
    </extension> 

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::PlaneList, ::fwData::PlaneList ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::PlaneList</service>
        <object>::fwData::PlaneList</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Plane, ::fwData::Plane ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Plane</service>
        <object>::fwData::Plane</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Snapshot, ::fwData::Composite ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Snapshot</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Medical3DCamera, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Medical3DCamera</service>
        <object>::fwData::Image</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::Image, ::fwData::Image ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::Image</service>
        <object>::fwData::Image</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::ImageSlice, ::fwData::Composite ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::ImageSlice</service>
        <object>::fwData::Composite</object>
    </extension>

    <!-- REGISTER_SERVICE( ::fwRenderVTK::IVtkAdaptorService, ::visuVTKAdaptor::MeshesBoxWidget, ::fwData::Composite ); -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKAdaptor::MeshesBoxWidget</service>
        <object>::fwData::Composite</object>
    </extension>

</plugin>



