<plugin id="tuto15_matrix">
    <requirement id="sight::module::ui" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />

    <extension implements="sight::app::extension::config">
        <id>Tuto15Matrix_AppCfg</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <!-- Mesh object associated to the uid 'mesh' -->
            <object uid="mesh" type="sight::data::mesh" />
            <!-- Matrix object associated to the uid 'matrix' -->
            <object uid="matrix" type="sight::data::matrix4" />
            <!-- Translation matrix object associated to the uid 'translationMatrix' -->
            <object uid="translationMatrix" type="sight::data::matrix4" />
            <!-- Rotation matrix object associated to the uid 'rotationMatrix' -->
            <object uid="rotationMatrix" type="sight::data::matrix4" />
            <object uid="transRotMatrix" type="sight::data::matrix4" />
            <object uid="rotTransMatrix" type="sight::data::matrix4" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="main_frame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>tuto15_matrix</name>
                        <icon>tuto15_matrix/tuto.ico</icon>
                        <min_size width="800" height="600" />
                    </frame>
                    <menubar />
                </gui>
                <registry>
                    <menubar sid="menu_bar_view" />
                    <view sid="container_view" />
                </registry>
            </service>

            <service uid="menu_bar_view" type="sight::module::ui::menubar">
                <gui>
                    <layout>
                        <menu name="File" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menu_file_view" />
                </registry>
            </service>

            <service uid="menu_file_view" type="sight::module::ui::menu">
                <gui>
                    <layout>
                        <menuItem name="Open mesh" shortcut="Ctrl+M" />
                        <separator />
                        <menuItem name="Quit" special_action="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="open_mesh_act" />
                    <menuItem sid="quit_act" />
                </registry>
            </service>

            <!--
            Default view service:
            The type 'sight::ui::layout::line' represents a layout where the view are aligned
            horizontally or vertically (set orientation value 'horizontal' or 'vertical').
            It is possible to add a 'proportion' attribute for the <view> to defined the proportion
            used by the view compared to the others.
            -->
            <service uid="container_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="2" />
                        <view proportion="1" background_color="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="generic_scene_srv" />
                    <view sid="editors_view" />
                </registry>
            </service>

            <service uid="editors_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="1" />
                        <view proportion="4" />
                    </layout>
                </gui>
                <registry>
                    <view sid="show_mesh_srv" />
                    <view sid="matrix_view" />
                </registry>
            </service>

            <service uid="matrix_view" type="sight::module::ui::qt::viz::transform_editor" auto_connect="false">
                <inout key="matrix" uid="matrix" />
                <translation enabled="true" min="-300" />
                <rotation enabled="true" min="-180" max="180" />
            </service>

            <!-- ******************************* Actions ****************************************** -->

            <service uid="open_mesh_act" type="sight::module::ui::action" />

            <service uid="quit_act" type="sight::module::ui::quit" />

            <!-- *************************** Begin generic scene *************************** -->

            <!--
            Mesh view:
            This scene display two meshes.
            -->
            <service uid="generic_scene_srv" type="sight::viz::scene3d::render">
                <scene>
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default">
                        <adaptor uid="trackball_interactor_adp" />
                        <adaptor uid="mesh1_adp" />
                        <adaptor uid="mesh2_adp" />
                        <adaptor uid="matrix1_adp" />
                        <adaptor uid="matrix2_adp" />
                        <adaptor uid="axis1_adp" />
                        <adaptor uid="axis2_adp" />
                        <adaptor uid="origin_axis_adp" />
                        <adaptor uid="text1_adp" />
                        <adaptor uid="text2_adp" />
                    </layer>
                </scene>
            </service>

            <service uid="trackball_interactor_adp" type="sight::module::viz::scene3d::adaptor::trackball_camera">
                <config priority="0" />
            </service>

            <!-- Mesh adaptors -->
            <service uid="mesh1_adp" type="sight::module::viz::scene3d::adaptor::mesh" auto_connect="true">
                <data mesh="${mesh}" />
                <config transform="transRotMat" color="#EE2234" />
            </service>

            <service uid="mesh2_adp" type="sight::module::viz::scene3d::adaptor::mesh" auto_connect="true">
                <data mesh="${mesh}" />
                <config transform="rotTransMat" color="#2234EE" />
            </service>

            <!--
            Defines transform adaptors:
            This adaptor works on a sight::data::matrix4 and manages a vtkTransform. When
            the sight::data::matrix4 is modified, it updates the vtkTransform, and vice
            versa.
            -->
            <service uid="matrix1_adp" type="sight::module::viz::scene3d::adaptor::transform" auto_connect="true">
                <data transform="${transRotMatrix}" />
                <config transform="transRotMat" />
            </service>

            <service uid="matrix2_adp" type="sight::module::viz::scene3d::adaptor::transform" auto_connect="true">
                <data transform="${rotTransMatrix}" />
                <config transform="rotTransMat" />
            </service>

            <service uid="axis1_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <config length="10" transform="transRotMat" label="false" origin="true" name="Base" origin_color="#6997BB" />
            </service>

            <service uid="axis2_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <config length="10" transform="rotTransMat" label="false" origin="true" origin_color="#D25252" />
            </service>

            <service uid="origin_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <config length="10" label="false" origin="true" origin_color="#000000" />
            </service>

            <service uid="text1_adp" type="sight::module::viz::scene3d::adaptor::text">
                <text>Translation-Rotation transform</text>
                <config color="#FF0000" fontSize="15" hAlign="left" vAlign="bottom" />
            </service>

            <service uid="text2_adp" type="sight::module::viz::scene3d::adaptor::text">
                <text>Rotation-Translation transform</text>
                <config color="#00FF00" fontSize="15" hAlign="right" vAlign="bottom" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <service uid="mesh_reader_srv" type="sight::module::ui::io::selector">
                <data read="${mesh}" />
            </service>

            <!--
            Defines matrix_decomposer_adp service:
            This service decompose a matrix into a rotation matrix and a translation matrix
            -->
            <service uid="matrix_decomposer_adp" type="sight::module::geometry::decompose_matrix">
                <in key="source" uid="matrix" auto_connect="true" />
                <inout key="translation" uid="translationMatrix" />
                <inout key="rotation" uid="rotationMatrix" />
            </service>

            <!-- to multiply matrices -->
            <service uid="concatenate_translation_and_rotation_arv" type="sight::module::geometry::concatenate_matrices" auto_connect="true">
                <data input="${translationMatrix}" />
                <data input="${rotationMatrix}" />
                <data output="${transRotMatrix}" />
            </service>

            <!-- to multiply matrices -->
            <service uid="concatenate_rotation_and_translation_srv" type="sight::module::geometry::concatenate_matrices" auto_connect="true">
                <data input="${rotationMatrix}" />
                <data input="${translationMatrix}" />
                <data output="${rotTransMatrix}" />
            </service>

            <service uid="show_mesh_srv" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="bool" name="Show/Hide Mesh" key="boolParam" defaultValue="true" />
                </parameters>
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>show_mesh_srv/bool_changed</signal>
                <slot>mesh1_adp/update_visibility</slot>
                <slot>mesh2_adp/update_visibility</slot>
            </connect>

            <connect>
                <signal>trackball_interactor_adp/started</signal>
                <slot>generic_scene_srv/reset_cameras</slot>
            </connect>

            <connect>
                <signal>open_mesh_act/clicked</signal>
                <slot>mesh_reader_srv/update</slot>
            </connect>
        </config>
    </extension>
</plugin>
