<plugin id="VideoTracking" version="@DASH_VERSION@">

    <requirement id="tracker" />
    <requirement id="trackerAruco" />
    <requirement id="arMedia" />

    <extension implements="::fwServices::registry::AppConfig">
        <id>VideoTracking</id>
        <config>

            <object type="::fwData::Composite">

                <service uid="MyIHM" impl="::gui::frame::DefaultFrame" type="::fwGui::IFrameSrv" autoConnect="no">
                    <gui>
                        <frame>
                            <name>VideoTracking</name>
                            <icon>Bundles/VideoTracking_0-1/videotracking.ico</icon>
                        </frame>
                        <toolBar />
                    </gui>
                    <registry>
                        <toolBar sid="toolbar" start="yes" />
                        <view sid="cameraView" start="yes" />
                    </registry>
                </service>

                <service uid="toolbar" type="::fwGui::IToolBarSrv" impl="::gui::aspect::DefaultToolBarSrv" autoConnect="no">
                    <gui>
                        <layout>
                            <editor />
                            <menuItem name="start" icon="Bundles/arMedia_0-1/icons/start-cam.svg" />
                            <menuItem name="stop" icon="Bundles/arMedia_0-1/icons/stop-cam.svg" />
                            <menuItem name="pause" icon="Bundles/arMedia_0-1/icons/pause-cam.svg" />
                        </layout>
                    </gui>
                    <registry>
                        <editor sid="CameraSelector" start="yes" />
                        <menuItem sid="startVideo" start="yes" />
                        <menuItem sid="stopVideo" start="yes" />
                        <menuItem sid="pauseVideo" start="yes" />
                    </registry>
                </service>


                <service uid="startVideo" type="::fwGui::IActionSrv" impl="::gui::action::SSlotCaller" autoConnect="no">
                    <slots>
                        <slot>frameGrabber/startCamera</slot>
                    </slots>
                </service>

                <service uid="stopVideo" type="::fwGui::IActionSrv" impl="::gui::action::SSlotCaller" autoConnect="no">
                    <slots>
                        <slot>frameGrabber/stopCamera</slot>
                    </slots>
                </service>

                <service uid="pauseVideo" type="::fwGui::IActionSrv" impl="::gui::action::SSlotCaller" autoConnect="no">
                    <slots>
                        <slot>frameGrabber/pauseCamera</slot>
                    </slots>
                </service>

                <service uid="cameraView" type="::gui::view::IView" impl="::gui::view::DefaultView" autoConnect="no">
                    <gui>
                        <layout type="::fwGui::CardinalLayoutManager">
                            <view align="center" />
                            <view align="right" />
                        </layout>
                    </gui>
                    <registry>
                        <view sid="genericScene" start="yes" />
                        <view sid="trackingEditor" start="yes" />
                    </registry>
                </service>

                <service uid="genericScene" impl="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoConnect="yes">
                    <scene>
                        <renderer id="default" background="0.0" />
                        <adaptor id="videoAdapter" class="::visuVTKARAdaptor::SVideoAdapter" objectId="image">
                            <config renderer="default" />
                        </adaptor>
                        <adaptor id="interactorStyle" class="::visuVTKAdaptor::InteractorStyle" objectId="self">
                            <config renderer="default" style="InteractorStyle2DForNegato" />
                        </adaptor>
                    </scene>
                </service>

                <service uid="trackingEditor" impl="::uiTracking::SArucoTrackerEditor" type="::gui::editor::IEditor" autoConnect="yes">
                </service>



                <service uid="tracker" impl="::trackerAruco::SArucoTracker" autoConnect="no" worker="tracking">
                    <config>
                        <timelineVideo>frameTL</timelineVideo>
                        <camera>camera</camera>
                        <track>
                            <marker id="0,1,2,3,4,5,6,7,8,42,100,101,102,103,104,105" timeline="tagTL" />
                        </track>
                        <threshold>
                            <method>ADPT_THRES</method>
                            <blockSize>7</blockSize>
                            <constant>7</constant>
                        </threshold>
                        <patternWidth>30</patternWidth>
                        <debugMarkers>yes</debugMarkers>
                    </config>
                </service>

                <service uid="synchronizer" impl="::videoTools::SFrameMatrixSynchronizer" autoConnect="no" worker="videoWorker">
                    <frames>
                        <frame from="frameTL" to="image" />
                    </frames>
                    <framerate>30</framerate>
                </service>

                <item key="camera">
                    <object uid="cameraUid" type="::arData::Camera">
                        <service uid="CameraSelector" impl="::videoQt::editor::SCamera" type="::gui::editor::IEditor" autoConnect="no">
                            <videoSupport>yes</videoSupport>
                        </service>
                    </object>
                </item>

                <item key="frameTL">
                    <object uid="frameTLUid" type="::extData::FrameTL">
                        <service uid="frameGrabber" impl="::videoQt::SFrameGrabber" autoConnect="no">
                            <cameraFwId>cameraUid</cameraFwId>
                        </service>
                        <value>100</value>
                    </object>
                </item>

                <item key="tagTL">
                    <object uid="tagTLUid" type="::arData::MarkerTL" />
                </item>

                <item key="image">
                    <object uid="imageUid" type="::fwData::Image" />
                </item>

                <connect>
                    <signal>cameraUid/idModified</signal>
                    <slot>frameGrabber/stopCamera</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/methodChanged</signal>
                    <slot>tracker/changeMethod</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/cornerMethodChanged</signal>
                    <slot>tracker/changeCornerRefinement</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/constantChanged</signal>
                    <slot>tracker/changeConstant</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/blockSizeChanged</signal>
                    <slot>tracker/changeBlockSize</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/borderWidthChanged</signal>
                    <slot>tracker/changeBorderWidth</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/patternWidthChanged</signal>
                    <slot>tracker/changePatternWidth</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/speedChanged</signal>
                    <slot>tracker/changeSpeed</slot>
                </connect>

                <connect>
                    <signal>trackingEditor/tagsDisplayed</signal>
                    <slot>tracker/displayTags</slot>
                </connect>

                <start uid="MyIHM" />
                <start uid="frameGrabber" />
                <start uid="synchronizer" />
                <start uid="tracker" />

            </object>
        </config>
    </extension>

</plugin>
