<plugin id="vtkCompositeMesh" class="::vtkCompositeMesh::Plugin" >
	<library name="vtkCompositeMesh" />


<!-- 	REGISTER_SERVICE( ::fwRender::IRender , ::vtkCompositeMesh::RendererService , ::fwData::Composite) ;	-->
<point id="::vtkCompositeMesh::RendererService" >
	<implements>::fwRender::IRender</implements>
	<implements>::fwData::Composite</implements>
</point>

    
</plugin>



