<plugin id="vtkSimpleMesh" class="::vtkSimpleMesh::Plugin" version="@PROJECT_VERSION@" >
    <library name="vtkSimpleMesh" />


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRender::IRender</type>
        <service>::vtkSimpleMesh::SRenderer</service>
        <object>::fwData::Mesh</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::vtkSimpleMesh::SSimpleMeshDeformation</service>
        <object>::fwData::Mesh</object>
    </extension>


</plugin>



