<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Module Id="visuVTK" Guid="12345678-8DEE-4410-990A-1802896C5342" Language="0" Version="1.2.3">

    <Package Id="12345678-8DEE-4410-990A-1802896C5342" InstallerVersion="200"
      Languages="1033" Manufacturer="Acme" SummaryCodepage="1252" AdminImage="no" ShortNames="no" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='IRCAD' Name='IRCAD'>
          <Directory Id='INSTALLDIR' Name='$(var.SOFTWARE)' LongName='$(var.SOFTWARE) $(var.VERSION)'>

			<Directory Id='BUNDLESDIR' Name='Bundles'>
				<Directory Id='B342' Name='342' LongName='visuVTK_0-1'>
					<Component Id='visuVTK' Guid='11112222-83F1-4F22-985B-FDB3C8ABD409'>
						<File Id="P342"			Name="342.xml"		LongName="plugin.xml" Source="../../Install/Bundles/visuVTK_0-1/plugin.xml" />
						<File Id="visuVTK.xsd"	Name="visuVTK.xsd"	LongName="visuVTKCfg.xsd" Source="../../Install/Bundles/visuVTK_0-1/visuVTKCfg.xsd" />
						<File Id="DLL342"		Name="342.dll"		LongName="visuVTK_0-1_win_32_cl7-1.dll" Source="../../Install/Bundles/visuVTK_0-1/visuVTK_0-1_win_32_cl7-1.dll" />
					</Component>
				</Directory>
            </Directory>
			
			<Component Id='copy342' Guid='11112222-83F1-4F22-985B-FDB3C8ABD609'>
					<CopyFile Id="cp342" FileId="DLL342" DestinationName="342.dll" DestinationLongName="visuVTK_0-1_win_32_cl7-1.dll" />
			</Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

  </Module>
</Wix>
