<plugin id="2DVisualizationActivity2" version="@DASH_VERSION@" >

    <requirement id="servicesReg" />
    <requirement id="gui" />
    <requirement id="uiMeasurement" />
    <requirement id="uiMeasurementQt" />
    <requirement id="ctrlSelection" />
    <requirement id="uiImageQt" />
    <requirement id="uiVisu" />
    <requirement id="uiVisuQt" />
    <requirement id="visuVTKAdaptor" />
    <requirement id="visuVTKQt" />
    <requirement id="media" />

    <xi:include href="configurations/2DVisualization.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/2DNegato.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/2DNegatoWithTF.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/2DSimpleConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>2DVisualization</id>
        <title>2D visualization</title>
        <desc>Display a medical image in 2D.</desc>
        <icon>@BUNDLE_PREFIX@/media_0-1/icons/icon-2D.png</icon>
        <requirements>
            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="1" maxOccurs="1">
                <desc>Image to display.</desc>
            </requirement>
        </requirements>
        <builder>::fwActivities::builder::ActivitySeries</builder>
        <appConfig id="2DVisualization">
            <parameters>
                <parameter replace="image" uid="@values.imageSeries.image" />
            </parameters>
        </appConfig>
    </extension>
</plugin>
