<!--
- All icons must be in the svg format.
- The page size must be 130*130px.
- Margins must be 15px for each border so the drawing must have a size of 100*100px.
- Borders thickness must be 2px.
- Each border as the same color as the background with a lightness divide by 2.
- If an icon is used in another one, it sizes should be 50*50px.
- Colors should fit the given ones:
    - Yellow : 255/198/109.
    - Red : 210/82/82
    - Blue : 105/151/187
    - Orange : 203/119/47
    - Green : 97/150/71
    - Grey : 54/57/62
-->
<plugin id="sight::module::ui::flaticons" >
</plugin>
