<plugin id="Tuto08GenericScene">

<requirement id="servicesReg" />

<extension implements="::fwServices::registry::AppConfig">
        <id>Tuto08GenericScene</id>
        <type>parameters</type>
        <config>


    <object type="::fwData::Composite">
        <service uid="MyIHM" impl="::gui::frame::DefaultFrame" type="::fwGui::IFrameSrv" autoConnect="no">
            <gui>
                <frame>
                    <name>Tuto08GenericScene</name>
                    <icon>Bundles/Tuto08GenericScene_0-1/tuto.ico</icon>
                </frame>
                <menuBar />
            </gui>
            <registry>
                <menuBar sid="myMenuBar" start="yes" />
                <view sid="multiView_scene1" start="yes" />
            </registry>
        </service>

        <service uid="progress_statusbar" impl="::gui::editor::SJobBar" autoConnect="no" />

        <service uid="myMenuBar" type="::fwGui::IMenuBarSrv" impl="::gui::aspect::DefaultMenuBarSrv" autoConnect="no" >
            <gui>
                <layout>
                    <menu name="File" />
                </layout>
            </gui>
            <registry>
                <menu sid="menu_File" start="yes" />
            </registry>
        </service>

        <service uid="menu_File" type="::fwGui::IMenuSrv" impl="::gui::aspect::DefaultMenuSrv" autoConnect="no" >
            <gui>
                <layout>
                    <menuItem name="Open image" shortcut="Ctrl+I" />
                    <menuItem name="Open mesh" shortcut="Ctrl+M" />
                    <menuItem name="Open texture" shortcut="Ctrl+T" />
                    <separator />
                    <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                </layout>
            </gui>
            <registry>
                <menuItem sid="action_openImage" start="yes" />
                <menuItem sid="action_openMesh" start="yes" />
                <menuItem sid="action_openTexture" start="yes" />
                <menuItem sid="action_quit" start="yes" />
            </registry>
        </service>

        <service uid="action_openImage" type="::fwGui::IActionSrv" impl="::gui::action::StarterActionService" autoConnect="no">
            <start uid="imageReader" />
        </service>
        <service uid="action_openMesh" type="::fwGui::IActionSrv" impl="::gui::action::StarterActionService" autoConnect="no">
            <start uid="meshReader" />
        </service>
        <service uid="action_openTexture" type="::fwGui::IActionSrv" impl="::gui::action::StarterActionService" autoConnect="no">
            <start uid="textureReader" />
        </service>
        <service uid="action_quit" type="::fwGui::IActionSrv" impl="::gui::action::QuitAction" autoConnect="no" />

        <service uid="multiView_scene1" type="::gui::view::IView" impl="::gui::view::DefaultView" autoConnect="no" >
            <gui>
                <layout type="::fwGui::CardinalLayoutManager" >
                    <view align="center" />
                    <view align="bottom" minWidth="400" minHeight="30" resizable="no" />
                </layout>
            </gui>
            <registry>
                <view sid="genericScene" start="yes" />
                <view sid="multiView_scene1_bottom" start="yes" />
            </registry>
        </service>


        <service uid="multiView_scene1_bottom" type="::gui::view::IView" impl="::gui::view::DefaultView" autoConnect="no">
            <gui>
                <layout type="::fwGui::LineLayoutManager" >
                    <orientation value="horizontal" />
                    <view proportion="0" minWidth="30" />
                    <view proportion="0" minWidth="50" />
                    <view proportion="1" />
                    <view proportion="0" minWidth="30" />
                </layout>
            </gui>
            <registry>
                <view sid="sliceListEditor" start="no" />
                <view sid="showScanEditor" start="no" />
                <view sid="sliderIndexEditor" start="no" />
                <view sid="snapshotScene1Editor" start="yes" />
            </registry>
        </service>

        <service uid="snapshotScene1Editor" type="::gui::editor::IEditor" impl="::uiVisu::SnapshotEditor" autoConnect="no"/>
        
        <item key="mesh">
            <object uid="meshUID" type="::fwData::Mesh">
                <service uid="meshReader" impl="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" autoConnect="no">
                    <type mode="reader" />
                </service>
            </object>
        </item>
        <item key="image">
            <object uid="imageUID"  type="::fwData::Image">
                <service uid="imageReader" impl="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" autoConnect="no">
                    <type mode="reader" />
                </service>
            </object>
        </item>


        <!-- CompositeVisu description -->
        <item key="myCompositeVisu">
            <object uid="myCompositeVisu" type="::fwData::Composite">
                <service uid="updaterImageUID" impl="::ctrlSelection::updater::SObjFromUid" type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                    <uid>imageUID</uid>
                    <compositeKey>image</compositeKey>
                </service>
                <service uid="updaterMeshUID" impl="::ctrlSelection::updater::SObjFromUid" type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                    <uid>meshUID</uid>
                    <compositeKey>mesh</compositeKey>
                </service>
                
                <service uid="genericScene" impl="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoConnect="yes">
                    <scene>
                        <picker id="myPicker" vtkclass="fwVtkCellPicker" />
                        
                        <renderer id="default" background="0.0" />

                        <adaptor id="meshAdaptor" class="::visuVTKAdaptor::Mesh" objectId="mesh">
                            <config renderer="default" picker="" uvgen="sphere" texture="textureAdaptor"/>
                        </adaptor>

                        <adaptor id="textureAdaptor" class="::visuVTKAdaptor::Texture" objectId="textureImage">
                            <config renderer="default" picker="" filtering="linear" wrapping="repeat"/>
                        </adaptor>

                        <adaptor uid="MPRNegatoScene3D" id="MPRNegato3D" class="::visuVTKAdaptor::NegatoMPR" objectId="image">
                            <config renderer="default" picker="myPicker" mode="3d" slices="3" sliceIndex="axial" />
                        </adaptor>
                            
                        <adaptor id="snapshot1" uid="snapshotUID" class="::visuVTKAdaptor::Snapshot" objectId="self" >
                            <config renderer="default" />
                        </adaptor>
                        
                        <connect>
                            <signal>snapshotScene1Editor/snapped</signal>
                            <slot>snapshotUID/snap</slot>
                        </connect>
                        
                        <proxy channel="show_scan" waitForKey="image">
                            <slot>MPRNegatoScene3D/showSlice</slot>
                        </proxy>
                        <proxy channel="slice_mode" waitForKey="image">
                            <slot>MPRNegatoScene3D/updateSliceMode</slot>
                        </proxy>
                        
                    </scene>
                </service>
                
                <service uid="manager" impl="::ctrlSelection::manager::SwapperSrv" type="::ctrlSelection::IManagerSrv" autoConnect="yes"  >
                    <mode type="stop" />
                    <config>
                        <object id="image" type="::fwData::Image">
                            <!-- This service convert a simple fwData::Image to medical Image -->
                            <service uid="medicalImageConverter" impl="::ctrlSelection::MedicalImageSrv" type="::fwServices::IController"  autoConnect="yes" />
                            <service uid="sliceListEditor" type="::gui::editor::IEditor" impl="::guiQt::editor::SSelectionMenuButton" autoConnect="no">
                                <toolTip>Manage slice visibility</toolTip>
                                <selected>3</selected>
                                <items>
                                    <item text="One slice" value="1" />
                                    <item text="three slices" value="3" />
                                </items>
                            </service>
                            <service uid="showScanEditor" type="::gui::editor::IEditor" impl="::guiQt::editor::SSignalButton" autoConnect="no">
                                <config>
                                    <checkable>true</checkable>
                                    <icon>Bundles/media_0-1/icons/sliceHide.png</icon>
                                    <icon2>Bundles/media_0-1/icons/sliceShow.png</icon2>
                                    <iconWidth>40</iconWidth>
                                    <iconHeight>16</iconHeight>
                                    <checked>true</checked>
                                </config>
                            </service>
                            <service uid="sliderIndexEditor" type="::gui::editor::IEditor" impl="::uiImage::SliceIndexPositionEditor" autoConnect="yes" >
                                <sliceIndex>axial</sliceIndex>
                            </service>
                            
                            <connect>
                                <signal>showScanEditor/toggled</signal>
                                <slot>sliceListEditor/setEnabled</slot>
                            </connect>
                            <proxy channel="show_scan">
                                <signal>showScanEditor/toggled</signal>
                            </proxy>
                            <proxy channel="slice_mode">
                                <signal>sliceListEditor/selected</signal>
                            </proxy>
                                
                        </object>
                    </config>
                </service>

                <item key="textureImage">
                    <object uid="textureUID"  type="::fwData::Image">
                        <service uid="textureReader" impl="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" autoConnect="no">
                            <type mode="reader" />
                        </service>
                    </object>
                </item>

                <connect>
                    <signal>imageUID/modified</signal>
                    <slot>updaterImageUID/addOrSwap</slot>
                </connect>
                
                <connect>
                    <signal>meshUID/modified</signal>
                    <slot>updaterMeshUID/addOrSwap</slot>
                </connect>

            </object>
        </item>

        <connect>
            <signal>meshReader/jobCreated</signal>
            <slot>progress_statusbar/showJob</slot>
        </connect>

        <connect>
            <signal>imageReader/jobCreated</signal>
            <slot>progress_statusbar/showJob</slot>
        </connect>

        <start uid="MyIHM" />
        <start uid="progress_statusbar" />
        <start uid="updaterImageUID" />
        <start uid="updaterMeshUID" />
        <start uid="manager" />

    </object>


        </config>
    </extension>

</plugin>
