<!--
This example shows the possibilities of properties:
- The two upper properties are linked together (the values are synchronized for the properties with the same name).
- The two lower properties allow to set the minimum/maximum values of the upper properties (with the same name).
   - The minimum of a parameter is connected to the minimum of the maximum parameter (and vice versa)
-->
<plugin id="ex_settings">
    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::io::joystick" />

    <extension implements="sight::app::extension::config">
        <id>ex_settings_app_cfg</id>
        <config>
            <!-- ******************************* UI declaration *********************************** -->

            <!-- We set an uid for each object, because in this sample, we pass the map to the first service -->
            <!-- and we pass each object to the second service -->
            <object uid="properties_map" type="sight::data::map" preference="true">
                <item key="enable" uid="enable_obj" type="sight::data::boolean" value="true" />
                <item key="bool_1" uid="bool_obj" type="sight::data::boolean" value="false" />
                <item key="text" uid="text_obj" type="sight::data::string" value="Hello" />
                <item key="file" uid="file_obj" type="sight::data::string" value="path/to/file/to/read" />
                <item key="dir" uid="dir_obj" type="sight::data::string" value="path/to/dir/to/write" />
                <item key="color_1" uid="color_obj" type="sight::data::color" value="#a55376b9" />
                <item key="double_1" uid="double_1_obj" type="sight::data::real" value="0.03" />
                <item key="double_2" uid="double_2_obj" type="sight::data::real" value="0.01" />
                <item key="double2_1" uid="double2_1_obj" type="sight::data::dvec2" value="5.0;7.0" />
                <item key="double3_1" uid="double3_1_obj" type="sight::data::dvec3" value="5.0;8.0;20.0" />
                <item key="int_1" uid="int_1_obj" type="sight::data::integer" value="50" />
                <item key="int_2" uid="int_2_obj" type="sight::data::integer" value="50" />
                <item key="int2_1" uid="int2_1_obj" type="sight::data::ivec2" value="5;10" />
                <item key="int3_1" uid="int3_1_obj" type="sight::data::ivec3" value="5;12;12" />
                <item key="enum_1" uid="enum_1_obj" type="sight::data::string" value="V1" />
                <item key="nonlin" uid="nonlin_obj" type="sight::data::integer" value="2" />
                <item key="buttonRaw" uid="button_obj" type="sight::data::integer" value="0" />
            </object>

            <service uid="main_frame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ex_settings</name>
                        <icon>ex_settings/app.ico</icon>
                        <minSize width="1200" />
                    </frame>
                    <menubar />
                </gui>
                <registry>
                    <view sid="mainview" start="true" />
                </registry>
            </service>

            <service uid="mainview" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="0" QSSClass="Background" />
                        <view proportion="0" QSSClass="Background" />
                        <view proportion="0" QSSClass="Background" />
                    </layout>
                </gui>
                <registry>
                    <view sid="properties1_srv" start="true" />
                    <view sid="properties2_srv" start="true" />
                    <view sid="properties3_srv" start="true" />
                </registry>
            </service>

            <!-- ******************************* Services ******************************* -->

            <!-- Example using a map -->
            <service uid="properties1_srv" type="sight::module::ui::qt::settings">
                <inout key="map" uid="properties_map" />
                <ui scrollable="true">
                    <item name="Enable" key="enable" />
                    <item name="Boolean" key="bool_1" depends="enable" />
                    <item name="Color" key="color_1" depends="enable" />
                    <item name="Double 1" key="double_1" min="0.01" max="1." depends="enable" />
                    <item name="Double 2" key="double_2" widget="slider" enable_joystick="true" min="0." max="1000.58" decimal="1" depends="enable" />
                    <item name="2 Double" key="double2_1" widget="spin" min="0." max="100." depends="enable" />
                    <item name="3 Double" key="double3_1" widget="spin" min="0." max="100." depends="enable" />
                    <item name="Integer 1" key="int_1" widget="spin" min="0" max="100" depends="enable" />
                    <item name="Integer 2" key="int_2" widget="slider" enable_joystick="true" min="0" max="100" depends="enable" />
                    <item name="2 Integer" key="int2_1" widget="spin" min="0" max="100" depends="enable" />
                    <item name="3 Integer" key="int3_1" widget="spin" min="0" max="100" depends="enable" />
                    <item name="Enum" key="enum_1" widget="combobox" values="V0,V1=v1,V2=v2,V3=v3" />
                    <item name="Combo slider" key="nonlin" widget="comboslider" enable_joystick="true" values="25,50,90,120,150" />
                    <item name="Button list:" key="buttonRaw" widget="buttonBar" enable_joystick="true">
                        <item value="button1" label="extrude" icon="sight::module::ui::icons/extrude.svg" />
                        <item value="button2" label="Medicine Mode" icon="sight::module::ui::icons/image_series.svg" />
                        <item value="button3" label="Open settings" icon="sight::module::ui::icons/gear.svg" />
                        <item value="button4" label="Device TX 3267-AFV" icon="sight::module::ui::icons/add_distance.svg" />
                        <item value="button5" icon="sight::module::ui::icons/find.svg" />
                    </item>
                    <item name="Text" key="text" widget="text" depends="enable" />
                    <item name="File" key="file" widget="file_write" depends="enable" />
                    <item name="Dir" key="dir" widget="dir_read" depends="enable" />
                </ui>
            </service>

            <!-- Example using individual objects -->
            <service uid="properties2_srv" type="sight::module::ui::qt::settings">
                <inout group="keys">
                    <key uid="enable_obj" />
                    <key uid="bool_obj" />
                    <key uid="color_obj" />
                    <key uid="double_1_obj" />
                    <key uid="double_2_obj" />
                    <key uid="double2_1_obj" />
                    <key uid="double3_1_obj" />
                    <key uid="int_1_obj" />
                    <key uid="int_2_obj" />
                    <key uid="int2_1_obj" />
                    <key uid="int3_1_obj" />
                    <key uid="enum_1_obj" />
                    <key uid="nonlin_obj" />
                    <key uid="button_obj" />
                    <key uid="text_obj" />
                    <key uid="file_obj" />
                    <key uid="dir_obj" />
                </inout>
                <ui scrollable="false">
                    <item name="Enable" />
                    <item name="Boolean" depends="enable_obj" />
                    <item name="Color" depends="enable_obj" />
                    <item name="Double 1" min="0.01" max="1." depends="enable_obj" />
                    <item name="Double 2" widget="slider" min="0." max="1000.58" depends="enable_obj" />
                    <item name="2 Double" widget="spin" min="0." max="100." depends="enable_obj" />
                    <item name="3 Double" widget="spin" min="0." max="100." depends="enable_obj" />
                    <item name="Integer 1" widget="spin" min="0" max="100" depends="enable_obj" />
                    <item name="Integer 2" widget="slider" min="0" max="100" depends="enable_obj" />
                    <item name="2 Integer" widget="spin" min="0" max="100" depends="enable_obj" />
                    <item name="3 Integer" widget="spin" min="0" max="100" depends="enable_obj" />
                    <item name="Enum" widget="combobox" values="V0,V1=v1,V2=v2,V3=v3" depends="enable_obj" />
                    <item name="Combo box" widget="combobox" values="25,50,90,120,150" depends="enable_obj" />
                    <item name="Button list:" widget="buttonBar" hOffset="32">
                        <item value="button1" label="extrude" icon="sight::module::ui::icons/extrude.svg" />
                        <item value="button2" label="Medicine Mode" icon="sight::module::ui::icons/image_series.svg" />
                        <item value="button3" label="Open settings" icon="sight::module::ui::icons/gear.svg" />
                        <item value="button4" label="Device TX 3267-AFV" icon="sight::module::ui::icons/add_distance.svg" />
                        <item value="button5" icon="sight::module::ui::icons/find.svg" />
                    </item>
                    <item name="Text" widget="text" depends="enable_obj" />
                    <item name="File" widget="file_write" depends="enable_obj" />
                    <item name="Dir" widget="dir_read" depends="enable_obj" />
                </ui>
            </service>

            <service uid="properties3_srv" type="sight::module::ui::qt::settings">
                <inout group="keys">
                    <key uid="enable_obj" />
                    <key uid="bool_obj" />
                    <key uid="color_obj" />
                    <key uid="double_1_obj" />
                    <key uid="double_2_obj" />
                    <key uid="double2_1_obj" />
                    <key uid="double3_1_obj" />
                    <key uid="int_1_obj" />
                    <key uid="int_2_obj" />
                    <key uid="int2_1_obj" />
                    <key uid="int3_1_obj" />
                    <key uid="enum_1_obj" />
                    <key uid="nonlin_obj" />
                    <key uid="button_obj" />
                    <key uid="text_obj" />
                    <key uid="file_obj" />
                    <key uid="dir_obj" />
                </inout>
                <ui scrollable="true">
                    <item name="Enable" orientation="vertical" />
                    <item name="Boolean" depends="enable_obj" orientation="vertical" />
                    <item name="Color" depends="enable_obj" orientation="vertical" />
                    <item name="Double 1" min="0.01" max="1." depends="enable_obj" orientation="vertical" />
                    <item name="Double 2" widget="slider" min="0." max="1000.58" depends="enable_obj" orientation="vertical" />
                    <item name="2 Double" widget="spin" min="0." max="100." depends="enable_obj" orientation="vertical" />
                    <item name="3 Double" widget="spin" min="0." max="100." depends="enable_obj" orientation="vertical" />
                    <item name="Integer 1" widget="spin" min="0" max="100" depends="enable_obj" orientation="vertical" />
                    <item name="Integer 2" widget="slider" min="0" max="100" depends="enable_obj" orientation="vertical" />
                    <item name="2 Integer" widget="spin" min="0" max="100" depends="enable_obj" orientation="vertical" />
                    <item name="3 Integer" widget="spin" min="0" max="100" depends="enable_obj" orientation="vertical" />
                    <item name="Enum" widget="combobox" values="V0,V1=v1,V2=v2,V3=v3" depends="enable_obj" orientation="vertical" />
                    <item name="Combo box" widget="combobox" values="25,50,90,120,150" depends="enable_obj" orientation="vertical" />
                    <item name="Button list:" widget="buttonBar" hOffset="32" orientation="vertical">
                        <item value="button1" label="extrude" icon="sight::module::ui::icons/extrude.svg" />
                        <item value="button2" label="Medicine Mode" icon="sight::module::ui::icons/image_series.svg" />
                        <item value="button3" label="Open settings" icon="sight::module::ui::icons/gear.svg" />
                        <item value="button4" label="Device TX 3267-AFV" icon="sight::module::ui::icons/add_distance.svg" />
                        <item value="button5" icon="sight::module::ui::icons/find.svg" />
                    </item>
                    <item name="Text" widget="text" depends="enable_obj" orientation="vertical" />
                    <item name="File" widget="file_write" depends="enable_obj" orientation="vertical" />
                    <item name="Dir" widget="dir_read" depends="enable_obj" orientation="vertical" />
                </ui>
            </service>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="main_frame" />
        </config>
    </extension>
</plugin>
