<plugin id="sight::module::viz::qt3d" library="true" autostart="true">

    <extension implements="sight::service::extension::factory">
         <type>sight::viz::qt3d::adaptor</type>
         <service>sight::module::viz::qt3d::adaptor::material</service>
         <object>sight::data::material</object>
         <desc>Adapt a data::material.</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::viz::qt3d::adaptor</type>
         <service>sight::module::viz::qt3d::adaptor::mesh</service>
         <object key="mesh">sight::data::mesh</object>
         <desc>This adaptor shows individual meshes.</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::viz::render</type>
         <service>sight::viz::qt3d::render</service>
         <desc></desc>
    </extension>
</plugin>
