<plugin id="sight::module::viz::qt3d" library="true" >

    <extension implements="::sight::service::extension::Factory">
         <type>sight::viz::qt3d::IAdaptor</type>
         <service>sight::module::viz::qt3d::adaptor::SMaterial</service>
         <object>sight::data::Material</object>
         <desc>Adapt a data::Material.</desc>
    </extension>

    <extension implements="::sight::service::extension::Factory">
         <type>sight::viz::qt3d::IAdaptor</type>
         <service>sight::module::viz::qt3d::adaptor::SMesh</service>
         <object key="mesh">sight::data::Mesh</object>
         <desc>This adaptor shows individual meshes.</desc>
    </extension>

    <extension implements="::sight::service::extension::Factory">
         <type>sight::viz::base::IRender</type>
         <service>sight::viz::qt3d::SRender</service>
         <desc></desc>
    </extension>
</plugin>
