<plugin id="uiCPR" class="::uiCPR::Plugin" version="@DASH_VERSION@" >

    <library name="uiCPR" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiCPR::SCPREditor</service>
        <object>::fwData::Image</object>
    </extension>

</plugin>
