<!-- 
    This tutorial shows a VTK scene containing a 3D image and a 3D model.
    To use this application, you should open a 3D image mask of an organ. An used the mesher actions to creates a 
    reconstruction. Then, you can update the organ color, transparence, ... using the editors in the right.
 -->
<plugin id="Tuto09MesherWithGenericScene" version="@DASH_VERSION@">

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="visuVTKQt" />


    <extension implements="::fwServices::registry::AppConfig">
        <id>Tuto09MesherWithGenericScene</id>
        <config>

            <object type="::fwData::Composite">

                <service uid="MyIHM" impl="::gui::frame::SDefaultFrame">
                    <gui>
                        <frame>
                            <name>Tuto09MesherWithGenericScene</name>
                            <icon>Bundles/Tuto09MesherWithGenericScene_0-1/tuto.ico</icon>
                        </frame>
                        <menuBar />
                    </gui>
                    <registry>
                        <menuBar sid="myMenuBar" start="yes" />
                        <view sid="mainView" start="yes" />
                    </registry>
                </service>

                <service uid="myMenuBar" impl="::gui::aspect::SDefaultMenuBar">
                    <gui>
                        <layout>
                            <menu name="File" />
                            <menu name="Mesher" />
                        </layout>
                    </gui>
                    <registry>
                        <menu sid="menu_File" start="yes" />
                        <menu sid="menu_Mesher" start="yes" />
                    </registry>
                </service>

                <service uid="mainView" impl="::gui::view::SDefaultView">
                    <gui>
                        <layout type="::fwGui::CardinalLayoutManager">
                            <view align="center" minWidth="200" />
                            <view align="right" minWidth="200" minHeight="200" position="0" />
                            <view align="right" minWidth="200" minHeight="80" position="1" />
                            <view align="right" minWidth="200" minHeight="200" position="2" />
                            <view align="bottom" minHeight="30" resizable="no" />
                        </layout>
                    </gui>
                    <registry>
                        <view sid="genericScene" start="yes" />
                        <view sid="listOrganEditor" start="yes" />
                        <view sid="organMaterialEditor" />
                        <view sid="representationEditor" />
                        <view sid="sceneEditorsView" start="yes" />
                    </registry>
                </service>
                <service uid="sceneEditorsView" impl="::gui::view::SDefaultView">
                    <gui>
                        <layout type="::fwGui::LineLayoutManager">
                            <orientation value="horizontal" />
                            <view proportion="0" minWidth="30" />
                            <view proportion="0" minWidth="50" />
                            <view proportion="1" />
                            <view proportion="0" minWidth="30" />
                        </layout>
                    </gui>
                    <registry>
                        <view sid="sliceListEditor" start="yes" />
                        <view sid="showScanEditor" start="yes" />
                        <view sid="sliderIndexEditor" start="yes" />
                        <view sid="snapshotScene1Editor" start="yes" />
                    </registry>
                </service>

                <service uid="progress_statusbar" impl="::gui::editor::SJobBar" />

                <service uid="snapshotScene1Editor" impl="::uiVisu::SnapshotEditor" />

                <service uid="menu_File" impl="::gui::aspect::SDefaultMenu">
                    <gui>
                        <layout>
                            <menuItem name="Open image" shortcut="Ctrl+O" />
                            <menuItem name="Save meshes" shortcut="Ctrl+S" />
                            <separator />
                            <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="action_openImage" start="yes" />
                        <menuItem sid="action_saveModelSeries" start="yes" />
                        <menuItem sid="action_quit" start="yes" />
                    </registry>
                </service>
                <service uid="menu_Mesher" impl="::gui::aspect::SDefaultMenu">
                    <gui>
                        <layout>
                            <menuItem name="Create Mesh 50" />
                            <menuItem name="Create Mesh 80" />
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="action_createMesh50" start="yes" />
                        <menuItem sid="action_createMesh80" start="yes" />
                    </registry>
                </service>

                <service uid="action_openImage" impl="::gui::action::SStarter">
                    <start uid="imageReader" />
                </service>
                <service uid="action_saveModelSeries" impl="::gui::action::SStarter">
                    <start uid="modelSeriesWriter" />
                </service>
                <service uid="action_quit" impl="::gui::action::SQuit" />


                <service uid="mesher50ServiceUID" impl="::opVTKMesh::SVTKMesher">
                    <config>
                        <percentReduction>50</percentReduction>
                        <image>image</image>
                        <modelSeries>modelSeries</modelSeries>
                    </config>
                </service>

                <service uid="mesher80ServiceUID" impl="::opVTKMesh::SVTKMesher">
                    <config>
                        <percentReduction>80</percentReduction>
                        <image>image</image>
                        <modelSeries>modelSeries</modelSeries>
                    </config>
                </service>

                <service uid="updaterReconstUID" impl="::ctrlSelection::updater::SObjFromSlot">
                    <compositeKey>reconstruction</compositeKey>
                </service>

                <service uid="managerUID" impl="::ctrlSelection::manager::SwapperSrv" autoConnect="yes">
                    <mode type="stop" />
                    <config>

                        <object id="reconstruction" type="::fwData::Reconstruction">
                            <service uid="organMaterialEditor" impl="::uiReconstruction::OrganMaterialEditor" type="::gui::editor::IEditor" />
                            <service uid="representationEditor" impl="::uiReconstruction::RepresentationEditor" type="::gui::editor::IEditor" />

                            <connect>
                                <signal>representationEditor/normalsModeModified</signal>
                                <slot>modelSeriesAdaptorUid/updateNormalMode</slot>
                            </connect>
                        </object>

                    </config>
                </service>

                <service uid="genericScene" impl="::fwRenderVTK::SRender" autoConnect="yes">
                    <scene>
                        <picker id="myPicker" vtkclass="fwVtkCellPicker" />
                        <renderer id="default" background="0.0" />
                        <adaptor id="modelSeriesAdaptor" uid="modelSeriesAdaptorUid" class="::visuVTKAdaptor::ModelSeries" objectId="modelSeries">
                            <config renderer="default" picker="" />
                        </adaptor>
                        <adaptor id="MPRNegato3D" uid="MPRNegatoScene3D" class="::visuVTKAdaptor::NegatoMPR" objectId="image">
                            <config renderer="default" picker="myPicker" mode="3D" slices="3" sliceIndex="axial" />
                        </adaptor>
                        <adaptor id="snapshot1" uid="snapshotUID" class="::visuVTKAdaptor::Snapshot" objectId="self">
                            <config renderer="default" />
                        </adaptor>

                        <connect>
                            <signal>listOrganEditor/recDisplayModified</signal>
                            <slot>modelSeriesAdaptorUid/showReconstructions</slot>
                        </connect>

                        <connect>
                            <signal>snapshotScene1Editor/snapped</signal>
                            <slot>snapshotUID/snap</slot>
                        </connect>

                        <connect>
                            <signal>showScanEditor/toggled</signal>
                            <slot>MPRNegatoScene3D/showSlice</slot>
                        </connect>

                        <connect>
                            <signal>sliceListEditor/selected</signal>
                            <slot>MPRNegatoScene3D/updateSliceMode</slot>
                        </connect>
                    </scene>
                </service>

                <item key="modelSeries">
                    <object uid="modelSeriesUID" type="::fwMedData::ModelSeries">
                        <service uid="listOrganEditor" impl="::uiMedData::editor::SModelSeriesList" autoConnect="yes">
                            <columns>
                                <organ_name>@organ_name</organ_name>
                            </columns>
                        </service>
                        <service uid="modelSeriesWriter" impl="::uiIO::editor::SIOSelector">
                            <type mode="writer" />
                        </service>
                    </object>
                </item>

                <item key="image">
                    <object uid="imageUID" type="::fwData::Image">
                        <service uid="imageReader" impl="::uiIO::editor::SIOSelector">
                            <type mode="reader" />
                        </service>
                        <!-- This service convert a simple fwData::Image to medical Image -->
                        <service uid="medicaImageConverter" impl="::ctrlSelection::MedicalImageSrv" type="::fwServices::IController" autoConnect="yes" />
                        <service uid="action_createMesh50" impl="::gui::action::SStarter">
                            <start_if_exists uid="mesher50ServiceUID" />
                        </service>
                        <service uid="action_createMesh80" impl="::gui::action::SStarter">
                            <start_if_exists uid="mesher80ServiceUID" />
                        </service>
                        <service uid="sliceListEditor" impl="::guiQt::editor::SSelectionMenuButton">
                            <toolTip>Manage slice visibility</toolTip>
                            <selected>3</selected>
                            <items>
                                <item text="One slice" value="1" />
                                <item text="three slices" value="3" />
                            </items>
                        </service>
                        <service uid="showScanEditor" impl="::guiQt::editor::SSignalButton">
                            <config>
                                <checkable>true</checkable>
                                <icon>Bundles/media_0-1/icons/sliceHide.png</icon>
                                <icon2>Bundles/media_0-1/icons/sliceShow.png</icon2>
                                <iconWidth>40</iconWidth>
                                <iconHeight>16</iconHeight>
                                <checked>true</checked>
                            </config>
                        </service>
                        <service uid="sliderIndexEditor" impl="::uiImage::SliceIndexPositionEditor" autoConnect="yes">
                            <sliceIndex>axial</sliceIndex>
                        </service>
                    </object>
                </item>

                <connect>
                    <signal>modelSeriesWriter/jobCreated</signal>
                    <slot>progress_statusbar/showJob</slot>
                </connect>

                <connect>
                    <signal>showScanEditor/toggled</signal>
                    <slot>sliceListEditor/setEnabled</slot>
                </connect>                

                <connect>
                    <signal>listOrganEditor/reconstructionSelected</signal>
                    <slot>updaterReconstUID/addOrSwap</slot>
                </connect>

                <start uid="MyIHM" />
                <start uid="progress_statusbar" />
                <start uid="updaterReconstUID" />
                <start uid="managerUID" />
                <start uid="medicaImageConverter" />

            </object>

        </config>
    </extension>

</plugin>
