<plugin id="blendActivity" >

    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::viz::scene2d" />

    <xi:include href="configurations/Blend.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/ImageMix.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/TransferFunctionEditor.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::sight::activity::extension::Activity">
        <id>Blend</id>
        <title>Blend</title>
        <desc>Activity to superimpose two images.</desc>
        <icon>sight::module::ui::icons/icon-blend.png</icon>
        <requirements>
            <requirement name="imageSeries" type="::sight::data::ImageSeries" minOccurs="2" maxOccurs="2" >
                <desc>Images series to superimpose. They must have the same size, spacing and origin.</desc>
                <validator>::sight::activity::validator::ImageProperties</validator>
                <key>FrontImage</key>
                <key>BackImage</key>
            </requirement>
        </requirements>
        <builder>::activity::builder::ActivitySeries</builder>
        <appConfig id="Blend">
            <parameters>
                <parameter replace="frontImageUid"      by="@values.imageSeries.values.FrontImage.image" />
                <parameter replace="backgroundImageUid" by="@values.imageSeries.values.BackImage.image" />
            </parameters>
        </appConfig>
    </extension>
</plugin>
