<plugin id="visuVTKARAdaptor" class="visuVTKARAdaptor::Plugin" version="@DASH_VERSION@" >
    
    <library name="visuVTKARAdaptor" />

    <requirement id="visuVTK" />
    
   
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKARAdaptor::SVideoAdapter</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKARAdaptor::SPointList</service>
        <object>::fwData::PointList</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKARAdaptor::SCamera</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuVTKARAdaptor::SText</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
