<plugin id="uiPatientDB" class="::uiPatientDB::Plugin">
    <library name="uiPatientDB"/>
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>
    <requirement id="io"/>
    <requirement id="uiIO"/>
    
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::CloneImage</service>
        <object>::fwData::PatientDB</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::AddPatientDB</service>
        <object>::fwData::PatientDB</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::ExportPatientDB</service>
        <object>::fwData::PatientDB</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::ExportPatient</service>
        <object>::fwData::PatientDB</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::ErasePatientDB</service>
        <object>::fwData::PatientDB</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::ErasePatient</service>
        <object>::fwData::PatientDB</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::ExportImage</service>
        <object>::fwData::PatientDB</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::uiPatientDB::SPatientDBInserter</service>
        <object>::fwData::Object</object>
        <desc>Insert object in PatientDB</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiPatientDB::action::AddMedicalWorkspace</service>
        <object>::fwData::Composite</object>
    </extension>
    
        <extension implements="::fwServices::registry::ServiceConfig">
        <id>MwzIOSelectorReaderConfig</id>
        <service>::uiIO::editor::IOSelectorService</service>
        <desc>IOSelector config to read mwz file</desc>
        <config>
            <type mode="reader" />
            <selection mode="include" />
            <addSelection service="::ioXML::FwXMLGenericReaderService" />
            <config id="FwXMLGenericWriterReaderMWZConfig" service="::ioXML::FwXMLGenericReaderService" />
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>MwzIOSelectorWriterConfig</id>
        <service>::uiIO::editor::IOSelectorService</service>
        <desc>IOSelector config to write mwz file</desc>
        <config>
            <type mode="writer" />
            <selection mode="include" />
            <addSelection service="::ioXML::FwXMLGenericWriterService" />
            <config id="FwXMLGenericWriterReaderMWZConfig" service="::ioXML::FwXMLGenericWriterService" />
        </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
        <id>FwXMLGenericWriterReaderMWZConfig</id>
        <desc>FwXMLGenericWriter config to read or write mwz files</desc>
        <config>
            <archiveExtension>.mwz13</archiveExtension>
        </config>
    </extension>
        
</plugin>
