<plugin id="visuNavigation" class="::visuNavigation::Plugin" version="@DASH_VERSION@" >

    <library name="visuNavigation" />

    <requirement id="visuVTK" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::visuNavigation::SSplineAdaptor</service>
        <object>::fwData::PointList</object>
    </extension>

</plugin>
