<plugin id="sight::module::navigation::calibration" library="true">
    <extension implements="sight::service::extension::factory">
        <type>sight::service::registerer</type>
        <service>sight::module::navigation::calibration::tool_calibration</service>
        <object key="matricesVector">sight::data::vector</object>
        <object key="matrixCalibration">sight::data::matrix4</object>
        <object key="matrixCenter">sight::data::matrix4</object>
        <desc>Service that computes a pivot calibration</desc>
    </extension>
</plugin>
