<plugin id="ioZMQ" class="::ioZMQ::Plugin" version="@PROJECT_VERSION@" >

    <library name="ioZMQ" />
    
    <requirement id="io" />
    <requirement id="ioNetwork" />

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::ioNetwork::INetworkListener</type>
       <service>::ioZMQ::SZeroMQListener</service>
       <object>::fwData::Object</object>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::ioNetwork::INetworkSender</type>
       <service>::ioZMQ::SZeroMQSender</service>
       <object>::fwData::Object</object>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::io::IReader</type>
       <service>::ioZMQ::SImageNetworkReader</service>
       <object>::fwData::Image</object>
       <desc>ZeroMQ network image reader</desc>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::io::IWriter</type>
       <service>::ioZMQ::SImageNetworkWriter</service>
       <object>::fwData::Image</object>
       <desc>ZeroMQ network image writer</desc>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::io::IWriter</type>
       <service>::ioZMQ::SAtomNetworkWriter</service>
       <object>::fwData::Object</object>
       <desc>ZeroMQ network atom writer</desc>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::io::IReader</type>
       <service>::ioZMQ::SAtomNetworkReader</service>
       <object>::fwData::Object</object>
       <desc>ZeroMQ network atom reader</desc>
   </extension>

</plugin>
