<plugin id="ExRGBDImageMasking" >

    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3dQt" />
    <requirement id="sight::module::ui::base" />

    <extension implements="sight::service::extension::AppConfig" >
        <id>ExRGBDImageMasking_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <!-- Frames timelines to manage video and depth streams  -->
            <object uid="frameTLVideo" type="sight::data::FrameTL" />
            <object uid="frameTLDepth" type="sight::data::FrameTL" />
            <!-- Images extracted from the TL and used to perform image masking -->
            <object uid="videoImage" type="sight::data::Image" />
            <object uid="depthImage" type="sight::data::Image" />
            <object uid="foregroundImage" type="sight::data::Image" />
            <object uid="offscreenImage" type="sight::data::Image" />
            <!-- Objects related to the camera managing the calibration data -->
            <object uid="RGBDCameraSeries" type="sight::data::CameraSeries" />
            <object uid="RGBcamera" type="sight::data::Camera" src="deferred" />
            <object uid="Dcamera" type="sight::data::Camera" src="deferred" />
            <!-- Matrices to register to mesh in the right space regading the camera position -->
            <object uid="registrationMatrix" type="sight::data::Matrix4" />
            <object uid="inverseMatrix" type="sight::data::Matrix4" />
            <object uid="extrinsic" type="sight::data::Matrix4" src="deferred" />
            <!-- Objectes related to the models loaded to perform AR -->
            <object uid="seriesDB" type="sight::data::SeriesDB" />
            <object uid="modelSeries" type="sight::data::ModelSeries" src="deferred" />
            <object uid="mesh" type="sight::data::Mesh" src="deferred" />

            <!-- ******************************* UI declaration *********************************** -->

            <!-- declaration of the views, menu and toolbar -->
            <service uid="mainFrame" type="sight::module::ui::base::SFrame" >
                <gui>
                    <frame>
                        <name>ExRGBDImageMasking</name>
                        <icon>ExRGBDImageMasking/app.ico</icon>
                    </frame>
                    <menuBar/>
                    <toolBar/>
                </gui>
                <registry>
                    <menuBar sid="menuBarView" start="true" />
                    <toolBar sid="toolbarView" start="true" />
                    <view sid="mainView" start="true" />
                </registry>
            </service>

            <service uid="menuBarView" type="sight::module::ui::base::SMenuBar" >
                <gui>
                    <layout>
                        <menu name="File" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menuView" start="true" />
                </registry>
            </service>

            <service uid="menuView" type="sight::module::ui::base::SMenu" >
                <gui>
                    <layout>
                        <menuItem name="Load transformation" shortcut="Ctrl+T" />
                        <separator/>
                        <menuItem name="Load mesh" shortcut="Ctrl+M" />
                        <separator/>
                        <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="loadTransformationAct" start="true" />
                    <menuItem sid="loadMeshAct" start="true" />
                    <menuItem sid="quitAct" start="true" />
                </registry>
            </service>

            <service uid="toolbarView" type="sight::module::ui::base::SToolBar" >
                <gui>
                    <layout>
                        <editor />
                        <menuItem name="Start" icon="sight::module::ui::flaticons/GreenStart.svg" shortcut="Space" />
                        <menuItem name="Pause" icon="sight::module::ui::flaticons/OrangePause.svg" shortcut="Space" />
                        <menuItem name="Play" icon="sight::module::ui::flaticons/GreenStart.svg" shortcut="Space" />
                        <menuItem name="Stop" icon="sight::module::ui::flaticons/RedStop.svg" />
                        <menuItem name="Loop" icon="sight::module::ui::flaticons/OrangeLoop.svg" style="check" />
                        <separator/>
                        <menuItem name="Learn background" icon="sight::module::ui::flaticons/Background.svg" />
                        <separator/>
                        <menuItem name="Manage organs" icon="sight::module::ui::flaticons/Stomach.svg" style="check" />
                        <spacer/>
                        <menuItem name="Settings" icon="sight::module::ui::flaticons/BlueParameters.svg" style="check" />
                    </layout>
                </gui>
                <registry>
                    <editor sid="videoSelectorSrv" start="true" />
                    <menuItem sid="startVideoAct" start="true" />
                    <menuItem sid="pauseVideoAct" start="true" />
                    <menuItem sid="resumeVideoAct" start="true" />
                    <menuItem sid="stopVideoAct" start="true" />
                    <menuItem sid="loopVideoAct" start="true" />
                    <menuItem sid="learnBackgroundAct" start="true" />
                    <menuItem sid="organManagerAct" start="false" />
                    <menuItem sid="showSettingsAct" start="true" />
                </registry>
            </service>

            <service uid="mainView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                        <view proportion="0" backgroundColor="#36393E" visible="false" />
                        <view proportion="1" />
                    </layout>
                </gui>
                <registry>
                    <view sid="settingsView" start="true" />
                    <view sid="genericSceneSrv" />
                </registry>
            </service>

            <service uid="settingsView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="horizontal" />
                        <view proportion="0" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="enableHoleFillingFilterParamSrv" start="true" />
                    <view sid="maskerThresholdParamSrv" start="true" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <!-- declaration of actions/slot callers -->
            <service uid="quitAct" type="sight::module::ui::base::SQuit" />

            <service uid="loadTransformationAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>transformReaderSrv/update</slot>
                </slots>
            </service>

            <service uid="loadMeshAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>meshReaderSrv/update</slot>
                </slots>
            </service>

            <!-- Start the frame grabber -->
            <service uid="startVideoAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/startCamera</slot>
                </slots>
                <state executable="false" />
            </service>

            <!-- Pause the frame grabber -->
            <service uid="pauseVideoAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/pauseCamera</slot>
                    <slot>resumeVideoAct/show</slot>
                    <slot>pauseVideoAct/hide</slot>
                </slots>
                <state visible="false" />
            </service>

            <!-- Resume the frame grabber -->
            <service uid="resumeVideoAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/pauseCamera</slot>
                    <slot>resumeVideoAct/hide</slot>
                    <slot>pauseVideoAct/show</slot>
                </slots>
                <state visible="false" />
            </service>

            <!-- Stop the frame grabber -->
            <service uid="stopVideoAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/stopCamera</slot>
                    <slot>startVideoAct/show</slot>
                    <slot>resumeVideoAct/hide</slot>
                    <slot>pauseVideoAct/hide</slot>
                    <slot>stopVideoAct/setInexecutable</slot>
                    <slot>loopVideoAct/setInexecutable</slot>
                    <slot>loopVideoAct/deactivate</slot>
                </slots>
                <state executable="false" />
            </service>

            <!-- Loop the frame grabber -->
            <service uid="loopVideoAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/loopVideo</slot>
                </slots>
                <state executable="false" />
            </service>

            <service uid="learnBackgroundAct" type="sight::module::ui::base::com::SSlotCaller" >
                <slots>
                    <slot>maskerSrv/setBackground</slot>
                </slots>
            </service>

            <service uid="organManagerAct" type="sight::module::ui::base::SConfigLauncher" >
                <appConfig id="ModelSeriesManagerWindow" />
                <inout key="ORGAN_MANAGER_MODELSERIES" uid="modelSeries" />
                <parameter replace="ICON_PATH" by="ExRGBDImageMasking/app.ico" />
            </service>

            <service uid="showSettingsAct" type="sight::module::ui::base::com::SBooleanSlotCaller" >
                <slots>
                    <slot>settingsView/setVisible</slot>
                </slots>
            </service>

            <!-- ******************************* Begin Generic Scene ******************************* -->

            <service uid="genericSceneSrv" type="sight::viz::scene3d::SRender" >
                <scene>
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="video" order="1" />
                    <adaptor uid="videoAdp" />

                    <layer id="default" order="2" />
                    <adaptor uid="meshAdp" />
                    <adaptor uid="cameraAdp" />

                    <layer id="ar" order="3" />
                    <adaptor uid="videoARAdp" />
                </scene>
            </service>

            <service uid="videoAdp" type="sight::module::viz::scene3d::adaptor::SVideo" autoConnect="true" >
                <in key="image" uid="videoImage" />
                <config layer="video" />
            </service>

            <service uid="cameraAdp" type="sight::module::viz::scene3d::adaptor::SCamera" >
                <inout key="transform" uid="inverseMatrix" autoConnect="true" />
                <in key="calibration" uid="RGBcamera" />
                <config layer="default" />
            </service>

            <service uid="meshAdp" type="sight::module::viz::scene3d::adaptor::SModelSeries" autoConnect="true" >
                <in key="model" uid="modelSeries" />
                <config layer="default" transform="id" autoresetcamera="false" />
            </service>

            <service uid="videoARAdp" type="sight::module::viz::scene3d::adaptor::SVideo" autoConnect="true" >
                <in key="image" uid="foregroundImage" />
                <config layer="ar" />
            </service>

            <!-- ******************************* Begin Generic Scene ******************************* -->

            <!-- Scene in which skin mesh will be render and fill a binary image to perform image masking -->
            <service uid="offscreenSceneSrv" type="sight::viz::scene3d::SRender" >
                <inout key="offScreen" uid="offscreenImage" />
                <scene width="1280" height="720" >
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default" order="1" />
                    <adaptor uid="cameraOffscreenAdp" />
                    <adaptor uid="meshOffscreenAdp" />
                </scene>
            </service>

            <service uid="cameraOffscreenAdp" type="sight::module::viz::scene3d::adaptor::SCamera" autoConnect="true" >
                <inout key="transform" uid="inverseMatrix" autoConnect="true" />
                <in key="calibration" uid="RGBcamera" />
                <config layer="default" />
            </service>

            <service uid="meshOffscreenAdp" type="sight::module::viz::scene3d::adaptor::SMesh" autoConnect="true" >
                <in key="mesh" uid="mesh" shadingMode="ambient" />
                <config layer="default" transform="id" autoresetcamera="false" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!-- Parameter to enable/disable hole filling from the RealSense grabber -->
            <service uid="enableHoleFillingFilterParamSrv" type="sight::module::ui::qt::SParameters" >
                <parameters>
                    <param type="bool" name="Enable holes Filling filter" key="enableHolesFilling" defaultValue="true" />
                </parameters>
            </service>

            <!-- Parameter to tune the threshold value from the SRGBDImageMasking service -->
            <service uid="maskerThresholdParamSrv" type="sight::module::ui::qt::SParameters" >
                <parameters>
                    <param type="int" name="Masking threshold" key="threshold" defaultValue="10" min="0" max="50" />
                </parameters>
            </service>

            <service uid="videoSelectorSrv" type="sight::module::ui::qt::video::SCamera" >
                <inout key="cameraSeries" uid="RGBDCameraSeries" />
                <createCameraNumber>2</createCameraNumber>
                <videoSupport>true</videoSupport>
            </service>

            <!-- To get frames from the RealSense camera -->
            <service uid="videoGrabberSrv" type="sight::module::io::realsense::SScan" worker="grabber" >
                <inout key="cameraSeries" uid="RGBDCameraSeries" />
                <inout key="depthTL" uid="frameTLDepth" />
                <inout key="frameTL" uid="frameTLVideo" />
                <config fps="30" colorW="1280" colorH="720" depthW="1280" depthH="720" preset="Hand" alignTo="Color" />
            </service>

            <!-- To synchronize matrix, frame and detection -->
            <service uid="frameUpdaterSrv" type="sight::module::sync::SFrameMatrixSynchronizer" worker="videoWorker" >
                <in group="frameTL" >
                    <key uid="frameTLVideo" />
                    <key uid="frameTLDepth" />
                </in>
                <inout group="image" >
                    <key uid="videoImage" />
                    <key uid="depthImage" />
                </inout>
            </service>

            <!-- Matrix (trf format) reader -->
            <!-- This matrix is used to staticaly register the model onto the video -->
            <service uid="transformReaderSrv" type="sight::module::ui::base::io::SSelector" >
                <inout key="data" uid="registrationMatrix" />
                <type mode="reader" /> <!-- mode is optional (by default it is "reader") -->
                <selection mode="include" />
                <addSelection service="sight::module::io::matrix::Matrix4ReaderService" />
            </service>

            <!-- Reader to open seriesDB data (.jsonz format) -->
            <service uid="meshReaderSrv" type="sight::module::ui::base::io::SSelector" >
                <inout key="data" uid="seriesDB" />
            </service>

            <!-- Extract the modelSeries from the loaded seriesDB -->
           <service uid="extractModelSeriesSrv" type="sight::module::data::SGetSeries" >
               <in key="seriesDB" uid="seriesDB"/>
               <out group="series" >
                   <key index="0" uid="modelSeries" />
               </out>
           </service>

            <!-- Extract mesh in the model series -->
            <service uid="extractSkinSrv" type="sight::module::data::SGetMesh" >
               <in key="modelSeries" uid="modelSeries" />
               <out group="mesh" >
                   <key type="Skin" uid="mesh"/>
               </out>
            </service>

            <!-- Extract RGB instrinsic Depth intrinsic and Extrinsic matrices from a sight::data::CameraSeries -->
            <service uid="extractCameraSrv" type="sight::module::data::SGetCamera" >
                <!-- Source -->
                <inout key="cameraSeries" uid="RGBDCameraSeries" />
                <!-- Destination -->
                <out group="camera" >
                    <key index="0" uid="Dcamera" />
                    <key index="1" uid="RGBcamera" />
                </out>
                <out group="extrinsic" >
                    <key index="1" uid="extrinsic" />
                </out>
            </service>

            <!-- Use the extrinsic matrix to get back in the RGB space -->
            <service uid="concatenateSrv" type="sight::module::geometry::base::SConcatenateMatrices" >
                <in group="matrix" >
                    <key uid="registrationMatrix" autoConnect="true" inverse="true" />
                    <key uid="extrinsic" autoConnect="true" inverse="true" />
                </in>
                <inout key="output" uid="inverseMatrix" />
            </service>

            <!-- To extract the foreground image to display on top of meshes -->
            <service uid="maskerSrv" type="sight::module::filter::vision::SDepthImageMasking" worker="masker" >
                <in key="maskImage" uid="offscreenImage" />
                <in key="videoImage" uid="videoImage" />
                <in key="depthImage" uid="depthImage" autoConnect="true" />
                <inout key="foregroundImage" uid="foregroundImage" />
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>videoSelectorSrv/configuredFile</signal>
                <signal>videoSelectorSrv/configuredStream</signal>
                <signal>videoSelectorSrv/configuredDevice</signal>
                <slot>startVideoAct/update</slot>
            </connect>

            <connect>
                <signal>videoGrabberSrv/cameraStarted</signal>
                <slot>pauseVideoAct/show</slot>
                <slot>startVideoAct/hide</slot>
                <slot>stopVideoAct/setExecutable</slot>
                <slot>loopVideoAct/setExecutable</slot>
            </connect>

            <connect>
                <signal>RGBCamera/idModified</signal>
                <slot>videoGrabberSrv/stopCamera</slot>
            </connect>

            <connect>
                <signal>RGBCamera/modified</signal>
                <slot>startVideoAct/setExecutable</slot>
                <slot>stopVideoAct/update</slot>
            </connect>

            <connect>
                <signal>seriesDB/modified</signal>
                <signal>seriesDB/addedSeries</signal>
                <slot>extractModelSeriesSrv/update</slot>
            </connect>

            <connect>
                <signal>cameraSeries/addedCamera</signal>
                <slot>extractCameraSrv/update</slot>
            </connect>

            <connect>
                 <signal>enableHoleFillingFilterParamSrv/boolChanged</signal>
                 <slot>videoGrabberSrv/setBoolParameter</slot>
            </connect>

            <connect>
                 <signal>maskerThresholdParamSrv/intChanged</signal>
                 <slot>maskerSrv/setThreshold</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />
            <start uid="organManagerAct" />
            <start uid="frameUpdaterSrv" />
            <start uid="videoGrabberSrv" />
            <start uid="extractCameraSrv" />
            <start uid="transformReaderSrv" />
            <start uid="maskerSrv" />
            <start uid="meshReaderSrv" />
            <start uid="extractModelSeriesSrv" />
            <start uid="extractSkinSrv" />
            <start uid="concatenateSrv" />
            <start uid="genericSceneSrv" />
            <start uid="videoAdp" />
            <start uid="videoARAdp" />
            <start uid="cameraAdp" />
            <start uid="meshAdp" />
            <start uid="offscreenSceneSrv" />
            <start uid="meshOffscreenAdp" />
            <start uid="cameraOffscreenAdp" />

            <!-- ******************************* Update services ***************************************** -->

            <update uid="extractSkinSrv" />
            <update uid="extractCameraSrv" />
            <update uid="concatenateSrv" />
            <update uid="enableHoleFillingFilterParamSrv" />
            <update uid="meshAdp" />

        </config>
    </extension>
</plugin>
