<plugin id="TutohBasicConfig">
<xi:include href="BasicFrameConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
<extension id="TutoLaunchBasicConfig" implements="::fwServices::ServiceObjectConfig">
    <object uid="myImage" type="::fwData::Image">

        <service type="::fwGui::IFrameSrv" implementation="::gui::frame::DefaultFrame" autoComChannel="no">
            <gui>
                <frame>
                    <name>Tuto 11 : Launch basic config</name>
                    <icon>Bundles/Tuto11LaunchBasicConfig_0-1/tuto.ico</icon>
                    <minSize width="800" height="600" />
                </frame>
                <menuBar />
            </gui>
            <registry>
                <menuBar sid="mainMenuBar" start="yes" />
                <view sid="mainView" start="yes" />
            </registry>
        </service>

        <service uid="mainMenuBar" type="::fwGui::IMenuBarSrv" implementation="::gui::aspect::DefaultMenuBarSrv" autoComChannel="no" >
            <gui>
                <layout>
                     <menu name="File" />
                </layout>
            </gui>
            <registry>
                <menu sid="menuFile" start="yes" />
            </registry>
        </service>
        
        <service uid="menuFile" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no" >
            <gui>
                <layout>
                    <menuItem name="Open file" shortcut="Ctrl+O" />
                    <separator />
                    <menuItem name="Launch Config" style="check"/>
                    <separator />
                    <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                </layout>
            </gui>
            <registry>
                <menuItem sid="actionOpenFile" start="yes" />
                <menuItem sid="actionLaunchConfig" start="yes" />
                <menuItem sid="actionQuit" start="yes" />
            </registry>
        </service>


        <service uid="actionOpenFile" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no" >
            <start uid="myReaderPathFile"/>
        </service>      

        <service uid="actionQuit" type="::fwGui::IActionSrv" implementation="::gui::action::QuitAction" autoComChannel="no" />

        <service uid="myReaderPathFile" implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor"  autoComChannel="no" />
        
        <service uid="actionLaunchConfig" type="::fwGui::IActionSrv" implementation="::gui::action::ConfigActionSrv" autoComChannel="no">
            <config id="BasicFrameConfig" />
            <replace val="myImage" pattern="SELECTED_UID_myImage" />
        </service>
        
        <service implementation="::vtkSimpleNegato::RendererService" type="::fwRender::IRender" uid="mainView" autoComChannel="yes" >
        </service>

        <start type="::fwGui::IFrameSrv" />
        <stop type="::fwGui::IFrameSrv" />

    </object>
</extension>
</plugin>
