<plugin id="scene2D" class="::scene2D::Plugin" version="@DASH_VERSION@" >

    <library name="scene2D" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::scene2D::processing::SComputeHistogram</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRender::IRender</type>
        <service>::fwRenderQt::SRender</service>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::Grid2D</service>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::Line</service>
    </extension>
   
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::Square</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::GridFromFloat</service>
        <object>::fwData::Float</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::TransferFunction</service>
        <object>::fwData::Image</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::Negato</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::Histogram</service>
        <object>::fwData::Histogram</object>
    </extension>
   
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::CurvedHistogram</service>
        <object>::fwData::Histogram</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::ViewportRangeSelector</service>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::HistogramCursor</service>
        <object>::fwData::Histogram</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::HistogramValue</service>
        <object>::fwData::Histogram</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::ScaleValues</service>
    </extension>
   
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::Axis</service>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRenderQt::IAdaptor</type>
        <service>::scene2D::adaptor::ViewportInteractor</service>
    </extension>
    
</plugin>
