<plugin id="DicomWebWriterActivity" version="@PROJECT_VERSION@" >

    <requirement id="module_activity" />
    <requirement id="module_ui_qt" />
    <requirement id="visuVTKQt" />
    <requirement id="module_io_dimse" />

    <xi:include href="configurations/DicomWebWriter.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::activities::registry::Activities">
        <id>DicomWebWriterActivity</id>
        <title>DicomWeb Writer</title>
        <desc>DicomWeb Writer activity</desc>
        <icon>media-0.1/icons/Push.svg</icon>
        <requirements>
        </requirements>
        <builder>::activities::builder::ActivitySeries</builder>
        <appConfig id="DicomWebWriterActivity">
        </appConfig>
    </extension>
</plugin>
