<plugin id="sight::config::io::dicomweb">
    <requirement id="sight::module::service" />
    <requirement id="sight::module::io::dicomweb" />

    <xi:include href="configurations/pacs_selector_dicomweb_widget.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::service::extension::config">
        <id>sight::config::io::dicomweb::reader_config</id>
        <desc>Reader configuration to convert retrieved DicomSeries to ImageSeries</desc>
        <config>
            <filterType>sight::filter::dicom::custom::default_dicom_filter</filterType>
        </config>
    </extension>

    <extension implements="sight::activity::extension">
        <id>sight::config::io::dicomweb::reader</id>
        <title>DicomWeb Reader</title>
        <desc>DicomWeb Reader activity</desc>
        <icon>sight::module::ui::icons/pull.svg</icon>
        <requirements />
        <builder>sight::activity::builder::Activity</builder>
        <appConfig id="sight::config::io::dicomweb::reader" />
    </extension>
</plugin>
