<plugin id="cprActivity" version="@PROJECT_VERSION@" >

    <requirement id="mediaExt" />
    <requirement id="uiIO" />
    <requirement id="visuVTKQt" />

    <xi:include href="configurations/curvedPlanarReformation.xml" xmlns:xi="http://www.w3.org/2003/XInclude" /> 
    <xi:include href="configurations/cprViewDebug.xml" xmlns:xi="http://www.w3.org/2003/XInclude" /> 

    <extension implements="::fwActivities::registry::Activities">
        <id>curvedPlanarReformationActivity</id>
        <title>Curved Planar Reformation</title>
        <desc>Curved planar reformation activity</desc>
        <icon>mediaExt-0.1/icons/cpr.png</icon>
        <requirements>

            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="1" maxOccurs="1" />

            <requirement name="curvedPlanarReformation" type="::fwData::PointList" minOccurs="0" maxOccurs="0" >
                <key>cprPointsKey</key>
            </requirement>

        </requirements>
        <builder>::fwActivities::builder::ActivitySeriesInitData</builder>
        <appConfig id="curvedPlanarReformation">
            <parameters>
                <parameter replace="imageUid" by="@values.imageSeries.image" />
                <parameter replace="SplinePointListUid" by="@values.curvedPlanarReformation" />
                <parameter replace="orientation" by="axial" />
            </parameters>
        </appConfig> 
    </extension>
</plugin>
