<plugin id="uiNetwork" class="::uiNetwork::Plugin" version="@PROJECT_VERSION@" >

    <library name="uiNetwork" />

    <requirement id="gui" />
    <requirement id="uiIO" />
    <requirement id="ioNetwork" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiNetwork::SObjectConnectorTree</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
