<plugin id="guiQt" class="::guiQt::Plugin">
    <library name="guiQt" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="gui" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::gui::editor::DummyEditor</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::guiQt::editor::Code</service>
        <object>::fwData::String</object>
        <desc>a multi line editor</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::gui::action::QuitAction</service>
        <object>::fwTools::Object</object>
    </extension>


</plugin>
