<plugin id="guiQt" class="::guiQt::Plugin" version="@DASH_VERSION@" >
    <library name="guiQt" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="gui" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::gui::editor::DummyEditor</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::guiQt::editor::Code</service>
        <object>::fwData::String</object>
        <desc>a multi line editor</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::view::IView</type>
        <service>::guiQt::editor::DynamicView</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::view::IActivityView</type>
        <service>::guiQt::editor::SDynamicView</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::view::IActivityView</type>
        <service>::guiQt::editor::SActivityView</service>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::guiQt::editor::SSlider</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::guiQt::editor::SSignalButton</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::guiQt::editor::SSelectionMenuButton</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
       <type>::gui::editor::IEditor</type>
        <service>::guiQt::editor::SParameters</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
