<plugin id="sight::module::navigation::openvslam" library="true" >


    <extension implements="::sight::service::extension::Factory">
         <type>sight::service::ITracker</type>
         <service>sight::module::navigation::openvslam::SOpenvslam</service>
         <desc>Service that manages an instance of Openvslam (Simultaneous tracking and Mapping).</desc>
    </extension>
</plugin>
