<plugin id="monitorQt" class="::monitorQt::Plugin" version="@DASH_VERSION@" >

    <library name="monitorQt" />
    <requirement id="monitor" />
    <requirement id="gui" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::monitor::action::ClassFactoryRegistryInfo</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::monitor::action::ComponentsTree</service>
        <object>::fwData::Object</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::monitor::DumpEditor</service>
        <object>::fwData::Object</object>
    </extension>
    
    <xi:include href="DumpFrameConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
    
</plugin>
