<plugin id="ctrlCamera" class="::ctrlCamera::Plugin" version="@PROJECT_VERSION@" >
    
    <library name="ctrlCamera" />
    
    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::services::IController</type>
        <service>::ctrlCamera::SExtractDeviceInfo</service>
        <object>::sight::data::Object</object>
    </extension>
    
</plugin>
