<plugin id="splineEditionActivity" version="@DASH_VERSION@" >

    <requirement id="2DVisualizationActivity" />
    <requirement id="3DVisualizationActivity" />
    <requirement id="visuVTKVRAdaptor" />
    <requirement id="scene2D" />
    <requirement id="mediaExt" />
    <requirement id="uiTF" />
    <requirement id="uiIO" />

    <xi:include href="configurations/splineEdition.xml" xmlns:xi="http://www.w3.org/2003/XInclude" /> 
    <xi:include href="configurations/viewDebug.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>splineEditionActivity</id>
        <title>Spline Edition</title>
        <desc>Spline edition activity</desc>
        <icon>@BUNDLE_PREFIX@/mediaExt_0-1/icons/spline.png</icon>
        <requirements>

            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="1" maxOccurs="1" />

            <requirement name="MSComposite" type="::fwMedData::ModelSeries" minOccurs="0" maxOccurs="1" >
                <key>OptionalModelSeriesKey</key>
            </requirement>

            <requirement name="splineEdition" type="::fwData::PointList" minOccurs="0" maxOccurs="0" >
                <key>SplinePointListKey</key>
            </requirement>

        </requirements>
        <builder>::fwActivities::builder::ActivitySeriesInitData</builder>
        <appConfig id="splineEdition">
            <parameters>
                <parameter replace="imageUid" by="@values.imageSeries.image" />
                <parameter replace="ModelSeriesCompositeUid" by="@values.MSComposite" />
                <parameter replace="SplinePointListUid" by="@values.splineEdition" />
                <parameter replace="orientation" by="axial" />
            </parameters>
        </appConfig> 
    </extension>
</plugin>
