<plugin id="sight::module::io::pcl" library="true" >


    <extension implements="::sight::service::extension::Factory">
         <type>sight::service::IGrabber</type>
         <service>sight::module::io::pcl::SFrameGrabber</service>
         <object>sight::data::FrameTL</object>
         <desc>Defines the service grabbing video frame.</desc>
    </extension>
</plugin>
