<?xml version="1.0" encoding="UTF-8"?>

<plugin id="VRViewer" version="@DASH_VERSION@" >

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="visuOgreAdaptor" />
    <requirement id="visuOgreQt" />
    <requirement id="material" />
    <requirement id="scene2D" />
    <requirement id="preferences" />
    <requirement id="ioDicom" />
    <requirement id="ioActivity" />

    <xi:include href="configurations/OgreVolumeRendering.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::ServiceConfig">
         <id>SSeriesDBMergerConfig</id>
         <service>::uiIO::editor::SIOSelector</service>
         <desc>IOSelectorService config for MarkerIdentification SeriesDB importer</desc>
         <config>
             <type mode="reader" />
             <selection mode="include" />
             <addSelection service="::ioDcmtk::SSeriesDBReader" />
             <addSelection service="::ioVTK::SSeriesDBReader" />
             <addSelection service="::ioVtkGdcm::SSeriesDBReader" />
             <config id="DCMTKConfig" service="::ioDcmtk::SSeriesDBReader" />
         </config>
    </extension>

    <extension implements="::fwServices::registry::ServiceConfig">
         <id>DCMTKConfig</id>
         <desc>DCMTK image reader</desc>
         <config>
            <config filterType="::fwDicomIOFilter::sorter::ImagePositionPatientSorter" />
         </config>
    </extension>

    <extension implements="::fwServices::registry::AppConfig2">
        <id>VRViewer_Extension</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="dicomSeriesDB" type="::fwMedData::SeriesDB" />
            <object uid="selections" type="::fwData::Vector" />

            <object uid="image" type="::fwData::Image" src="deferred" />
            <object uid="imageSeries" type="::fwMedData::ImageSeries" />
            <object uid="TFPool" type="::fwData::Composite" />
            <object uid="TFSelections" type="::fwData::Composite" />

            <object uid="viewport" type="::scene2D::data::Viewport" />
            <object uid="histogram" type="::fwData::Histogram" />
            <object uid="histogramPoint" type="::fwData::Point" />
            <object uid="cameraTF" type="::fwData::TransformationMatrix3D" />
            <object uid="clippingMatrix" type="::fwData::TransformationMatrix3D" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="ihm" type="::gui::frame::SDefaultFrame" >
                <gui>
                    <frame>
                        <name>VRViewer</name>
                        <icon>@BUNDLE_PREFIX@/VRViewer_0-1/ogre_head.svg</icon>
                        <minSize width="1280" height="720" />
                    </frame>
                    <menuBar />
                </gui>
                <registry>
                    <menuBar sid="menuBar" start="yes" />
                    <view sid="multiView_scene1" start="yes" />
                </registry>
            </service>

            <service uid="menuBar" type="::gui::aspect::SDefaultMenuBar" >
                <gui>
                    <layout>
                        <menu name="File" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menu_File" start="yes" />
                </registry>
            </service>

            <service uid="multiView_scene1" type="::gui::view::SDefaultView" >
                <gui>
                    <layout type="::fwGui::CardinalLayoutManager">
                        <view align="center" />
                        <view align="bottom" />
                        <view align="right" caption="Volume rendering settings"/>
                        <view align="right" minWidth="500" caption="Tranfer function settings"/>
                    </layout>
                    <toolBar/>
                </gui>
                <registry>
                    <view sid="selector" start="yes" />
                    <view wid="OgreVolumeRenderingView" start="no" />
                    <view wid="OgreVolumeRenderingSettingsView" start="yes" />
                    <view sid="histogramView" start="yes" />
                    <toolBar sid="toolBar" start="yes" />
                </registry>
            </service>

            <service uid="histogramView" type="::gui::view::SDefaultView" >
                <gui>
                    <layout type="::fwGui::LineLayoutManager">
                        <orientation value="vertical" />
                        <view proportion="0" minHeight="30" />
                        <view proportion="0" minHeight="100" />
                        <view proportion="1" />
                        <view proportion="0" />
                    </layout>
                </gui>
                <registry>
                    <view sid="tfm" start="yes" />
                    <view sid="Scene2D_Shutter" start="no" />
                    <view sid="Scene2D" start="no" />
                    <view sid="windowLevelVR" start="no" />
                </registry>
            </service>

            <service uid="menu_File" type="::gui::aspect::SDefaultMenu" >
                <gui>
                    <layout>
                        <menuItem name="Import a DICOM image..." shortcut="Ctrl+I" />
                        <menuItem name="Load a preset..." shortcut="Ctrl+O" />
                        <menuItem name="Save as a preset..." shortcut="Ctrl+S" />
                        <separator />
                        <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="actionImport" start="yes" />
                    <menuItem sid="actionLoadPreset" start="yes" />
                    <menuItem sid="actionSavePreset" start="yes" />
                    <menuItem sid="actionQuit" start="yes" />
                </registry>
            </service>

            <service uid="toolBar" type="::gui::aspect::SDefaultToolBar">
                <gui>
                    <layout>
                        <menuItem name="Import a DICOM image" icon="@BUNDLE_PREFIX@/media_0-1/icons/Import.svg" />
                        <menuItem name="Load a preset" icon="@BUNDLE_PREFIX@/media_0-1/icons/Import.svg" />
                        <menuItem name="Save as a preset" icon="@BUNDLE_PREFIX@/media_0-1/icons/Export.svg" />
                        <menuItem name="Show/hide box cropping" icon="@BUNDLE_PREFIX@/media_0-1/icons/icon-box.png" style="check" />
                        <editor name="Show/hide box cropping"  />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="actionImport" />
                    <menuItem sid="actionLoadPreset" />
                    <menuItem sid="actionSavePreset" />
                    <menuItem sid="ActionResetBoxWidget" start="yes" />
                    <editor wid="ToolBarParent" />
                </registry>
            </service>
            <!-- ******************************* Actions ****************************************** -->

            <service uid="actionImport" type="::uiIO::action::SSeriesDBMerger" autoConnect="yes">
                <inout key="seriesDB" uid="dicomSeriesDB"/>
                <IOSelectorSrvConfig name="SSeriesDBMergerConfig" />
            </service>

            <service uid="actionLoadPreset" type="::uiIO::action::SSeriesDBMerger" autoConnect="yes">
                <inout key="seriesDB" uid="dicomSeriesDB"/>
                <IOSelectorSrvConfig name="SDBAtomsReaderIOSelectorConfig" />
            </service>

            <service uid="actionSavePreset" type="::gui::action::SSlotCaller">
                <slots>
                    <slot>startWriter/update</slot>
                    <slot>pushCameraTFInImage/update</slot>
                    <slot>pushTFInImage/update</slot>
                    <slot>pushClippingMatrixInImage/update</slot>
                </slots>
            </service>

            <service uid="startWriter" type="::gui::action::SStarter">
                <start uid="writer" />
            </service>

            <service uid="writer" type="::uiIO::editor::SIOSelector" config="SDBAtomsWriterIOSelectorConfig">
                <inout key="seriesDB" uid="dicomSeriesDB"/>
            </service>

            <service uid="actionQuit" type="::gui::action::SQuit"  />

            <service uid="ActionResetBoxWidget" type="::gui::action::SBooleanSlotCaller">
                <slots>
                    <slot>VR/toggleWidgets</slot>
                </slots>
            </service>
            <!-- ************************ Configuration launchers ********************************* -->

            <service uid="cfgOgreVolumeRendering" type="::fwServices::SConfigController" >
                <appConfig id="OgreVolumeRendering" />
                <inout key="image" uid="image" />
                <inout key="TFSelections" uid="TFSelections" />
                <inout key="cameraTF" uid="cameraTF" />
                <inout key="clippingMatrix" uid="clippingMatrix" />
                <parameter replace="WID_PARENT" uid="OgreVolumeRenderingView" />
                <parameter replace="SETTINGS_WID_PARENT" uid="OgreVolumeRenderingSettingsView" />
                <parameter replace="TOOLBAR_WID_PARENT" uid="ToolBarParent" />
                <parameter replace="VRAdaptor" uid="VR" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <service uid="Scene2D_Shutter" type="::scene2D::Render" autoConnect="yes">
                <in key="histogram" uid="histogram" />
                <inout key="viewport" uid="viewport" />
                <scene>
                    <scene x="-1100" y="-1.1" width="2400" height="1.2" />

                    <viewport id="view1" x="-1100" y="-1.1" width="2400" height="1.2" />

                    <axis id="xAxis" origin="0.0" scale="1.0" scaleType="LINEAR" />
                    <axis id="yAxis" origin="0.0" scale="-1.0" scaleType="LINEAR" />

                    <axis id="axeHistogramY" origin="0.0" scale="-0.000001" scaleType="LINEAR" />

                    <adaptor id="shutterGrid" class="::scene2D::adaptor::Grid2D" objectId="self">
                        <config xMin="-1200" xMax="1400" yMin="-0.7" yMax="1.7" xSpacing="200" ySpacing="0.2" viewportUID="viewport" color="darkGray" xAxis="xAxis" yAxis="yAxis" zValue="1" />
                    </adaptor>

                    <adaptor id="shutterAbscissa" class="::scene2D::adaptor::Line" objectId="self">
                        <config x1="-1200" x2="1400" y1="0" y2="0" color="white" xAxis="xAxis" yAxis="yAxis" zValue="2" />
                    </adaptor>

                    <adaptor id="shutterOrdinate" class="::scene2D::adaptor::Line" objectId="self">
                        <config x1="0" x2="0" y1="-0.1" y2="1.2" color="white" xAxis="xAxis" yAxis="yAxis" zValue="3" />
                    </adaptor>

                    <adaptor id="shutterHistogram" class="::scene2D::adaptor::Histogram" objectId="histogram">
                        <config color="green" xAxis="xAxis" yAxis="axeHistogramY" zValue="4" />
                    </adaptor>

                    <adaptor id="viewportRangeSelector" class="::scene2D::adaptor::ViewportRangeSelector" objectId="viewport">
                        <config xAxis="xAxis" yAxis="yAxis" zValue="5" initialWidth="1200" initialPos="-700" />
                    </adaptor>

                </scene>
            </service>

            <service uid="Scene2D" type="::scene2D::Render" autoConnect="yes">
                <in key="image" uid="image" />
                <in key="histogram" uid="histogram" />
                <inout key="histogramPoint" uid="histogramPoint" />
                <inout key="viewport" uid="viewport" />
                <inout key="TFSelections" uid="TFSelections" />
                <scene>
                    <scene x="-1100" y="-1.1" width="2400" height="1.2" antialiasing="true" />

                    <viewport id="view1" x="-500" y="-1.1" width="500" height="1.2" />

                    <axis id="xAxis" origin="0.0" scale="1.0" scaleType="LINEAR" />
                    <axis id="yAxis" origin="0.0" scale="-1.0" scaleType="LINEAR" />

                    <axis id="axeHistogramY" origin="0.0" scale="-0.000001" scaleType="LINEAR" />

                    <adaptor id="grid" class="::scene2D::adaptor::Grid2D" objectId="self">
                        <config xMin="-1200" xMax="1500" yMin="0.0" yMax="1.0" xSpacing="100" ySpacing="0.1" opacity="0.25" viewportUID="viewport" color="darkGray" xAxis="xAxis" yAxis="yAxis" zValue="1" />
                    </adaptor>

                    <adaptor id="abscissa" class="::scene2D::adaptor::Line" objectId="self">
                        <config x1="-1200" x2="1500" y1="0" y2="0" color="white" xAxis="xAxis" yAxis="yAxis" zValue="2" />
                    </adaptor>

                    <adaptor id="ordinate" class="::scene2D::adaptor::Line" objectId="self">
                        <config x1="0" x2="0" y1="-0.1" y2="1.2" color="white" xAxis="xAxis" yAxis="yAxis" zValue="3" />
                    </adaptor>

                    <adaptor id="maxOpacity" class="::scene2D::adaptor::Line" objectId="self">
                        <config x1="-1200" x2="1500" y1="1" y2="1" color="red" xAxis="xAxis" yAxis="yAxis" zValue="4" />
                    </adaptor>

                    <adaptor id="curvedHistogram" class="::scene2D::adaptor::CurvedHistogram" objectId="histogram">
                        <config xAxis="xAxis" yAxis="axeHistogramY" borderColor="lightGray" innerColor="gray" opacity="0.25" zValue="6" histogramPointUID="histogramPoint" borderWidth="2.0" />
                    </adaptor>

                    <!-- A graphic cursor that follow histogram's shape according to mouse's cursor -->
                    <adaptor id="histogramCursor" class="::scene2D::adaptor::HistogramCursor" objectId="histogram">
                        <config xAxis="xAxis" yAxis="axeHistogramY" color="blue" borderColor="gray" zValue="9" pointSize="16" viewportUID="viewport" histogramPointUID="histogramPoint" />
                    </adaptor>

                    <adaptor id="histogramValue" class="::scene2D::adaptor::HistogramValue" objectId="histogram">
                        <config xAxis="xAxis" yAxis="axeHistogramY" zValue="12" fontSize="6" viewportUID="viewport" histogramPointUID="histogramPoint" />
                    </adaptor>

                    <adaptor id="tf2" class="::scene2D::adaptor::TransferFunction" objectId="image">
                        <config lineColor="lightGray" circleColor="lightGray" xAxis="xAxis" yAxis="yAxis" zValue="7" viewportUID="viewport" selectedTFKey="SelectedTF" tfSelectionFwID="TFSelections" />
                    </adaptor>

                    <adaptor id="viewportRangeUpdater" class="::scene2D::adaptor::ViewportUpdater" objectId="viewport">
                        <config xAxis="xAxis" yAxis="yAxis" zValue="9" />
                    </adaptor>

                    <adaptor id="scaleValuesLeft" class="::scene2D::adaptor::ScaleValues" objectId="self">
                        <config min="0.0" max="1.0" interval="0.1" fontSize="7" align="left" unit="%" viewportUID="viewport" color="darkGray" xAxis="xAxis" yAxis="yAxis" zValue="11" />
                    </adaptor>

                    <adaptor id="axisLeft" class="::scene2D::adaptor::Axis" objectId="self">
                        <config min="0.0" max="1.0" interval="0.1" align="left" tickSize="5" viewportUID="viewport" color="darkGray" xAxis="xAxis" yAxis="yAxis" zValue="11" />
                    </adaptor>

                    <adaptor id="scaleValuesBottom" class="::scene2D::adaptor::ScaleValues" objectId="self">
                        <config min="-1024" max="1024" interval="200" fontSize="7" align="bottom" viewportUID="viewport" color="darkGray" xAxis="xAxis" yAxis="yAxis" zValue="11" />
                    </adaptor>

                    <adaptor id="axisBottom" class="::scene2D::adaptor::Axis" objectId="self">
                        <config min="-1024" max="1024" interval="100" align="bottom" tickSize="5" viewportUID="viewport" color="darkGray" xAxis="xAxis" yAxis="yAxis" zValue="11" />
                    </adaptor>
                </scene>
            </service>

            <!-- *********************************** Image TF management ******************************************* -->
            <service uid="tfm" type="::uiTF::TransferFunctionEditor" >
                <inout key="transferFunctions" uid="TFPool" />
                <inout key="TFSelections" uid="TFSelections" />
                <config selectedTFKey="SelectedTF" />
            </service>

            <service uid="medicalImage" type="::ctrlSelection::MedicalImageSrv" >
                <inout key="image" uid="image" />
            </service>

            <service uid="computeHistogram" type="::scene2D::processing::SComputeHistogram" autoConnect="yes" worker="COMPUTING_THREAD">
                <in key="image" uid="image" />
                <inout key="histogram" uid="histogram" />
                <binsWidth>5.0</binsWidth>
            </service>

            <service uid="windowLevelVR" type="::uiImage::WindowLevel" autoConnect="yes">
                <inout key="image" uid="image" autoConnect="yes"/>
                <inout key="TFSelections" uid="TFSelections" />
                <config selectedTFKey="SelectedTF" />
            </service>

            <!-- *********************************** Data extraction *********************************************** -->
            <service uid="selector" type="::uiMedData::editor::SSelector" autoConnect="yes">
                <inout key="seriesDB" uid="dicomSeriesDB"/>
                <inout key="selection" uid="selections" />
                <selectionMode>single</selectionMode>
            </service>

            <service uid="extractImage" type="::ctrlCamp::SExtractObj" >
               <inout key="source" uid="selections" >
                   <extract from="@values.0.image" />
               </inout>
               <out group="target">
                   <key uid="image"/>
               </out>
            </service>

            <service uid="copyCameraTF" type="::ctrlCamp::SCopy" >
                <in key="source" uid="selections">
                    <extract from="@values.0.image.fields.cameraTransform" />
                </in>
                <inout key="target" uid="cameraTF"/>
            </service>

            <service uid="copyTF" type="::ctrlCamp::SCopy" >
                <in key="source" uid="selections">
                    <extract from="@values.0.image.fields.tf" />
                </in>
                <inout key="target" uid="TFSelections"/>
            </service>

            <service uid="copyClippingMatrix" type="::ctrlCamp::SCopy" >
                <in key="source" uid="selections">
                    <extract from="@values.0.image.fields.clippingMatrix" />
                </in>
                <inout key="target" uid="clippingMatrix"/>
            </service>

            <service uid="pushCameraTFInImage" type="::rdTools::SAddField" >
                <inout group="source">
                    <key uid="cameraTF" />
                </inout>
                <inout key="target" uid="image" />
                <field id="cameraTransform" />
            </service>

            <service uid="pushTFInImage" type="::rdTools::SAddField" >
                <inout group="source">
                    <key uid="TFSelections" />
                </inout>
                <inout key="target" uid="image" />
                <field id="tf" />
            </service>

            <service uid="pushClippingMatrixInImage" type="::rdTools::SAddField" >
                <inout group="source">
                    <key uid="clippingMatrix" />
                </inout>
                <inout key="target" uid="image" />
                <field id="clippingMatrix" />
            </service>

            <!-- *********************************** Connections *************************************************** -->
            <connect>
                <signal>selections/addedObjects</signal>
                <slot>extractImage/update</slot>
                <slot>copyCameraTF/update</slot>
                <slot>copyTF/update</slot>
                <slot>copyClippingMatrix/update</slot>
            </connect>

            <connect>
                <signal>selections/removedObjects</signal>
                <slot>extractImage/update</slot>
            </connect>

            <!-- Start/Stop services -->
            <start uid="ihm" />
            <start uid="Scene2D" />
            <start uid="Scene2D_Shutter" />
            <start uid="extractImage" />
            <start uid="startWriter" />

            <!-- Deferred start -->
            <start uid="medicalImage" />
            <start uid="cfgOgreVolumeRendering" />
            <start uid="windowLevelVR" />
            <start uid="computeHistogram" />
            <start uid="pushCameraTFInImage" />
            <start uid="pushTFInImage" />
            <start uid="pushClippingMatrixInImage" />
            <start uid="copyCameraTF" />
            <start uid="copyTF" />
            <start uid="copyClippingMatrix" />

        </config>

    </extension>
</plugin>
