<plugin id="ioGdcm" class="ioGdcm::Plugin" >
    <library name="ioGdcm" />

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="io" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioGdcm::SSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Dicom Reader (gdcm)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioGdcm::SSeriesWriter</service>
        <object>::fwMedData::ImageSeries</object>
        <desc>Dicom Writer (gdcm)</desc>
    </extension>
    
</plugin>
