<plugin id="ioGdcm" class="ioGdcm::Plugin"  version="@DASH_VERSION@" >
    <library name="ioGdcm" />

    <requirement id="dataReg"/>
    <requirement id="io" />
    <requirement id="ioDicom" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ioGdcm::SDicomSeriesAnonymizer</service>
        <object>::fwData::Object</object>
        <desc>Dicom Series Anonymizer</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::ioGdcm::SDicomSeriesConverter</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Read and push DicomSeries to a SeriesDB</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioGdcm::SDicomSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Dicom Series DB Reader (GDCM)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioGdcm::SDicomSeriesWriter</service>
        <object>::fwMedData::DicomSeries</object>
        <desc>Dicom Writer (Copy files)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioGdcm::SSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Dicom Reader (GDCM)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioGdcm::SSeriesDBWriter</service>
        <object>::fwData::Vector</object>
        <desc>Dicom Writer (GDCM)</desc>
    </extension>


</plugin>
