<plugin id="memory" class="memory::Plugin" version="@PROJECT_VERSION@" >

    <library name="memory"/>


    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::services::IController</type>
        <service>::memory::SDumpPolicy</service>
        <object>::sight::data::Object</object>
    </extension>

</plugin>
