<plugin id="ioAtoms" class="::ioAtoms::Plugin" version="@PROJECT_VERSION@" >

    <library name="ioAtoms" />

    <requirement id="module_services" />

    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::fwIO::IReader</type>
        <service>::ioAtoms::SReader</service>
        <object>::sight::data::Object</object>
        <desc>Atoms reader</desc>
    </extension>

    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::fwIO::IWriter</type>
        <service>::ioAtoms::SWriter</service>
        <object>::sight::data::Object</object>
        <desc>Atoms writer</desc>
    </extension>

</plugin>



