<plugin id="ExActivities" version="@PROJECT_VERSION@" >

    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::base" />
    <requirement id="sight::module::activity" />

    <xi:include href="configurations/ExActivitiesBase.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/ImageReading.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::sight::activity::extension::Activity" >
        <id>ExImage_Import_Activity</id>
        <title>Image reading</title>
        <desc>Activity to read an image</desc>
        <icon>sight_module_ui_flaticons-0.1/BlueFile.svg</icon>
        <requirements>
            <requirement name="image" type="::sight::data::Image" minOccurs="1" maxOccurs="1" >
                <desc>Image that will be read by this activity.</desc>
            </requirement>
        </requirements>
        <appConfig id="ExActivities_ImageReading_AppCfg" >
            <parameters>
                 <parameter replace="image" by="@values.image" />
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::sight::activity::extension::Activity" >
        <id>ExImage_Negatoscope_Activity</id>
        <title>Image displaying</title>
        <desc>Activity to display an image</desc>
        <icon>sight_module_ui_flaticons-0.1/Layers.svg</icon>
        <requirements>
            <!-- The image must be present to launch the activity -->
            <requirement name="image" type="::sight::data::Image" minOccurs="1" maxOccurs="1" >
                <desc>Image that will be display by this activity.</desc>
            </requirement>
            <requirement name="landmarks" type="::sight::data::Landmarks" minOccurs="0" maxOccurs="0" >
                <desc>Landmarks that will be created in this activity.</desc>
            </requirement>
        </requirements>
        <appConfig id="2DVisualization" >
            <parameters>
                 <parameter replace="image" by="@values.image" />
                 <parameter replace="landmarks" by="@values.landmarks" />
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::sight::activity::extension::Activity" >
        <id>ExImage_VolumeRendering_Activity</id>
        <title>Image displaying Volume</title>
        <desc>Activity to display an image in a volume rendering</desc>
        <icon>sight_module_ui_flaticons-0.1/Volume.svg</icon>
        <requirements>
            <!-- The image must be present to launch the activity -->
            <requirement name="image" type="::sight::data::Image" minOccurs="1" maxOccurs="1" >
                <desc>Image that will be display by this activity.</desc>
            </requirement>
            <requirement name="optionalModelSeries" type="::sight::data::ModelSeries" minOccurs="0" maxOccurs="1" >
                <desc>Optional model series.</desc>
            </requirement>
        </requirements>
        <appConfig id="VolumeRendering" >
            <parameters>
                 <parameter replace="image" by="@values.image" />
                 <parameter replace="optionalModelSeriesComposite" by="@values.optionalModelSeries" />
            </parameters>
        </appConfig>
    </extension>

    <extension implements="::sight::service::extension::Config" >
        <id>ExActivities_Sequencer_SrvCfg</id>
        <service>::sight::module::ui::qt::activity::SSequencer</service>
        <desc>Configuration for sequencer</desc>
        <config>
            <activity id="ExImage_Import_Activity" name="Import" />
            <activity id="ExImage_Negatoscope_Activity" name="Negatoscope" />
            <activity id="ExImage_VolumeRendering_Activity" name="Volume Rendering" />
            <clear>#2E3034</clear>
            <primary>#6997BB</primary>
            <background>#565A5E</background>
            <elevation>#525867</elevation>
            <accent>#666C7B</accent>
            <foreground>#3E4453</foreground>
        </config>
    </extension>

    <extension implements="::sight::service::extension::Config" >
        <id>ExActivities_Wizard_SrvCfg</id>
        <service>::sight::module::ui::qt::activity::SWizard</service>
        <desc>Custom configuration for ExActivities wizard</desc>
        <config>
            <ioSelectorConfig>SDBReaderIOSelectorConfig</ioSelectorConfig>
            <sdbIoSelectorConfig>FullSDBReaderIOSelectorConfig</sdbIoSelectorConfig>
            <confirm>false</confirm>
            <icons>
                <icon type="::sight::data::Image" icon="sight_module_ui_flaticons-0.1/Volume.svg" />
            <>
        </config>
    </extension>

    <extension implements="::sight::service::extension::AppConfigParameters" >
        <id>ExActivities_AppCfgParam</id>
        <parameters>
            <param name="APP_NAME" value="Ex Activity @PROJECT_VERSION@" />
            <param name="ICON_PATH" value="ExActivities-@PROJECT_VERSION@/app.ico" />
            <param name="SEQUENCER_CONFIG" value="ExActivities_Sequencer_SrvCfg" />
            <param name="WIZARD_CONFIG" value="ExActivities_Wizard_SrvCfg" />
        </parameters>
    </extension>

</plugin>
