<plugin id="activitiesConfig" version="@PROJECT_VERSION@">

    <requirement id="module_io_atoms" />
    <requirement id="module_activity" />
    <requirement id="ioActivity" />

    <xi:include href="configurations/ActivityLauncher.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::sight::service::registry::ServiceConfig">
        <id>defaultWizardConfig</id>
        <service>::sight::modules::ui::qt::editor::SActivityWizard</service>
        <desc>Default configuration for activity wizard</desc>
        <config>
            <ioSelectorConfig>SDBReaderIOSelectorConfig</ioSelectorConfig>
            <sdbIoSelectorConfig>FullSDBReaderIOSelectorConfig</sdbIoSelectorConfig>
            <confirm>false</confirm>
            <icons>
                <icon type="::sight::data::ImageSeries" icon="media-0.1/icons/ImageSeries.svg" />
                <icon type="::sight::data::ModelSeries" icon="media-0.1/icons/ModelSeries.svg" />
            </icons>
        </config>
    </extension>

</plugin>
