<plugin id="sight::module::viz::scene3d_qt" library="true" autostart="true">
    <requirement id="sight::module::service"/>
    <requirement id="sight::module::viz::scene3d"/>

    <extension implements="sight::service::extension::factory">
         <type>sight::viz::scene3d::adaptor</type>
         <service>sight::module::viz::scene3d_qt::adaptor::landmarks</service>
         <object key="landmarks">sight::data::landmarks</object>
         <object key="image">sight::data::image</object>
         <desc>This adaptor displays landmarks.</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::viz::scene3d::adaptor</type>
         <service>sight::module::viz::scene3d_qt::adaptor::image_multi_distances</service>
         <object key="image">sight::data::image</object>
         <desc>This adaptor displays distances retrieved from an image fields.</desc>
    </extension>
</plugin>
