<plugin id="ctrlCamp" class="::ctrlCamp::Plugin" version="@DASH_VERSION@" >
    
    <library name="ctrlCamp" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlCamp::ICamp</type>
        <service>::ctrlCamp::SExtractObj</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlCamp::ICamp</type>
        <service>::ctrlCamp::SExtractMeshByType</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlCamp::ICamp</type>
        <service>::ctrlCamp::SCopy</service>
        <object>::fwData::Object</object>
    </extension>
    
</plugin>
