<plugin id="ctrlPointSelection" class="::ctrlPointSelection::Plugin" version="@DASH_VERSION@" >

    <library name="ctrlPointSelection" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlPointSelection::SUpdateNegato</service>
        <object>::fwData::Image</object>
    </extension>

</plugin>
