[Build]
/cmake @fbridault

[Visualisation]
/lib/viz/ @fbridault
/module/viz/ @fbridault

[Serialisation]
lib/io/bitmap @dweckmann
lib/io/session @dweckmann
module/io/bitmap @dweckmann
module/io/session @dweckmann
