<?xml version="1.0"?>
<opencv_storage>

    <!-- HYBRID or CIRCULAR-->
    <patternToUse>"HYBRID"</patternToUse>
    <!-- Size of planar circular-dot marker-->
    <Circular_BoardSize_Width>3</Circular_BoardSize_Width>
    <Circular_BoardSize_Height>7</Circular_BoardSize_Height>
    <!-- Distance between dots in mm-->
    <Circular_Pattern_Size>2.0</Circular_Pattern_Size>

    <!-- Symmetric pattern size, for curved pattern set the central symmetric pattern size-->
    <Sym_BoardSize_Width>2</Sym_BoardSize_Width>
    <Sym_BoardSize_Height>5</Sym_BoardSize_Height>
    <!-- The symetric pattern in millimeter, Y is from one line to another -->
    <Sym_Square_Size_X>4.0</Sym_Square_Size_X>
    <Sym_Square_Size_Y>6.0</Sym_Square_Size_Y>
    <!-- The asymetric pattern in millimeter-->
    <Asym_Square_Size>2.0</Asym_Square_Size>
    <!-- The radius (millimeter) of cylinder the curved marker is attached on -->
    <Radius>5.0</Radius>
    <!-- Distance from the centre in millimeter-->
    <Chess_Dist_Center>8.0</Chess_Dist_Center>
    <!-- Distance b/w chess in millimeter-->
    <Chess_Interval>4.0</Chess_Interval>

</opencv_storage>
