<?xml version="1.0"?>
<opencv_storage>

    <!-- HYBRID or CIRCULAR-->
    <patternToUse>"HYBRID"</patternToUse>
    <!-- Size of planar circular-dot marker-->
    <Circular_BoardSize_Width>3</Circular_BoardSize_Width>
    <Circular_BoardSize_Height>7</Circular_BoardSize_Height>
    <!-- Distance between dots in mm-->
    <Circular_Pattern_Size>2.0</Circular_Pattern_Size>

    <!-- Symmetric pattern size, for curved pattern set the central symmetric pattern size-->
    <Sym_BoardSize_Width>2</Sym_BoardSize_Width>
    <Sym_BoardSize_Height>5</Sym_BoardSize_Height>
    <!-- The symetric pattern in millimeter, Y is from one line to another -->
    <Sym_Square_Size_X>4.0</Sym_Square_Size_X>
    <Sym_Square_Size_Y>6.0</Sym_Square_Size_Y>
    <!-- The asymetric pattern in millimeter-->
    <Asym_Square_Size>2.0</Asym_Square_Size>
    <!-- The radius (millimeter) of cylinder the curved marker is attached on -->
    <Radius>5.0</Radius>
    <!-- Distance from the centre in millimeter-->
    <Chess_Dist_Center>8.0</Chess_Dist_Center>
    <!-- Distance b/w chess in millimeter-->
    <Chess_Interval>4.0</Chess_Interval>

    <image_Width>960</image_Width>
    <image_Height>540</image_Height>

    <!-- Camera matrix (focal length and principle point)-->
    <Camera_Matrix type_id="opencv-matrix">
        <rows>3</rows>
        <cols>3</cols>
        <dt>d</dt>
        <data>
            8.1761498963391728e+002 0. 4.7663049159307280e+002 0.
            8.0943091543845867e+002 2.8169579541042611e+002 0. 0. 1.</data></Camera_Matrix>

    <!-- Distortion coefficients k1, k2, p1, p2, k3-->
    <Distortion_Coefficients type_id="opencv-matrix">
        <rows>5</rows>
        <cols>1</cols>
        <dt>d</dt>
        <data>
            -1.6734371223530975e-001 1.4546522926386546e-001
            -2.5437423329362839e-003 -1.7038400645078837e-003 0.</data></Distortion_Coefficients>

</opencv_storage>
