<plugin id="ioVTK" class="::ioVTK::Plugin" version="@PROJECT_VERSION@" >
    <library name="ioVTK" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />

    <requirement id="io" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioVTK::SImageWriter</service>
        <object>::fwData::Image</object>
        <desc>VTK Image Writer (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioVTK::SImageSeriesWriter</service>
        <object>::fwMedData::ImageSeries</object>
        <desc>VTK Image Writer (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioVTK::SImageReader</service>
        <object>::fwData::Image</object>
        <desc>VTK Image Reader (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioVTK::SMeshReader</service>
        <object>::fwData::Mesh</object>
        <desc>VTK Mesh Reader (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioVTK::SMeshWriter</service>
        <object>::fwData::Mesh</object>
        <desc>VTK Mesh Writer (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioVTK::SModelSeriesWriter</service>
        <object>::fwMedData::ModelSeries</object>
        <desc>VTK files (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioVTK::SModelSeriesReader</service>
        <object>::fwMedData::ModelSeries</object>
        <desc>VTK files (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioVTK::SModelSeriesObjWriter</service>
        <object>::fwMedData::ModelSeries</object>
        <desc>Wavefront OBJ files (VTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioVTK::SSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>VTK File Reader (VTK)</desc>
    </extension>

</plugin>
