<plugin id="ioDcmtk" class="ioDcmtk::Plugin"  version="@PROJECT_VERSION@" >
    <library name="ioDcmtk" />

    
    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::sight::io::base::services::IReader</type>
        <service>::ioDcmtk::SSeriesDBReader</service>
        <object>::sight::data::SeriesDB</object>
        <desc>Series DB Reader (DCMTK)</desc>
    </extension>

</plugin>
