<plugin id="volumeRenderingActivity">

    <requirement id="servicesReg" />
    <requirement id="2DVisualizationActivity" />
    <requirement id="visuVTKVRAdaptor" />
    <requirement id="scene2D" />
    <requirement id="uiTF" />
    <requirement id="uiIO" />

    <xi:include href="configurations/VolumeRendering.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>VolumeRendering</id>
        <title>Volume rendering</title>
        <desc>Volume rendering activity</desc>
        <icon>Bundles/media_0-1/icons/icon-VR.png</icon>
        <requirements>
            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="1" maxOccurs="1" />
            <requirement name="modelSeries" type="::fwMedData::ModelSeries" minOccurs="0" maxOccurs="1" />
        </requirements>
        <builder>::fwActivities::builder::ActivitySeries</builder>
        <appConfig id="3DVisualization">
            <parameters>
                <parameter replace="imageUid" by="@values.imageSeries.image" />
                <parameter replace="modelSeriesUid" by="@values.modelSeries" />
            </parameters>
        </appConfig>
    </extension>
</plugin>
