<plugin id="volumeRenderingActivity">

    <requirement id="servicesReg" />
    <requirement id="2DVisualizationActivity" />

    <xi:include href="configurations/VolumeRendering.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>VolumeRendering</id>
        <title>Volume rendering</title>
        <desc>Volume rendering activity</desc>
        <icon>Bundles/icons_0-1/icons/icon-VR.png</icon>
        <requirements>
            <requirement name="imageSeries" type="::fwMedicalData::ImageSeries" minOccurs="1" maxOccurs="1" /> 
            <requirement name="modelSeries" type="::fwMedicalData::ModelSeries" minOccurs="0" maxOccurs="1" /> 
        </requirements>
        <builder impl="::fwActivities::builder::ActivitySeries" />
        <appConfig id="3DVisualization">
            <parameters>
                <key id="@imageSeries.image" pattern="imageUid" />
                <key id="modelSeries" pattern="modelSeriesUid" />
            </parameters>
        </appConfig>
    </extension>
</plugin>
