<plugin id="vtkSimpleMesh" class="::vtkSimpleMesh::Plugin" >
    <library name="vtkSimpleMesh" />


<!--    REGISTER_SERVICE( ::fwRender::IRender , ::vtkSimpleMesh::RendererService , ::fwData::TriangularMesh) ;  -->
<extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRender::IRender</type>
        <service>::vtkSimpleMesh::RendererService</service>
        <object>::fwData::TriangularMesh</object>
    </extension>

    
</plugin>



