<plugin id="servicesReg" class="::servicesReg::Plugin" >

    <library name="servicesReg" />

    <requirement id="dataReg" />
    
    <!-- EXTENSION POINT FOR AN APP CONFIGURATION -->
    <extension-point id="::fwServices::registry::AppConfig" schema="appConfig.xsd"/>
    
    <!-- EXTENSION POINT FOR A SERVICE FACTORY -->
    <extension-point id="::fwServices::registry::ServiceFactory" schema="serviceFactory.xsd"/>

    <!-- EXTENSION POINT FOR A SERVICE CONFIGURATION -->
    <extension-point id="::fwServices::registry::ServiceConfig"  schema="serviceConfig.xsd"/>

    <!-- SPECIFIC SERVICES -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IEditionService</type>
        <service>::fwServices::DefaultEditor</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwComEd::IProcessObjectParser</service>
        <object>::fwData::ProcessObject</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwComEd::ICompositeParser</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwComEd::TransformationMatrix3DParser</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IXMLParser</type>
        <service>::fwServices::ObjectXMLParser</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IEditionService</type>
        <service>::fwComEd::ProcessObjectEditor</service>
        <object>::fwData::ProcessObject</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IEditionService</type>
        <service>::fwComEd::CompositeEditor</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::ICommunication</type>
        <service>::fwServices::ComChannelService</service>
        <object>::fwTools::Object</object>
    </extension>
</plugin>
