<!--
This example shows how to display notifications popups.

Mode 1: Using notifier service (recommanded) and 'notified' signal from base
connected to notifier slots 'pop'.

Mode 2: Standalone by calling directly the notification dialog inside your service (see display_test_notifications.cpp)
this mode is not recommanded since each service can pop notification without any knowlegde of how many notifications
are already displayed and where they are displayed on screen.

-->
<plugin id="ExNotifications" library="true">

    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::ui" />

    <extension implements="sight::service::extension::factory">
        <type>sight::ui::action</type>
        <service>ExNotifications::display_test_notifications</service>
        <object>sight::data::object</object>
    </extension>

    <extension implements="sight::app::extension::config">
        <id>ExNotifications_AppCfg</id>
        <config>

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ExNotifications</name>
                        <icon>ExNotifications/app.ico</icon>
                        <minSize width="800" height="600" />
                    </frame>
                    <toolBar />
                </gui>
                <registry>
                    <toolBar sid="toolbarView" start="true" />
                    <view sid="mainview" start="true" />
                </registry>
            </service>

            <service uid="toolbarView" type="sight::module::ui::tool_bar">
                <gui>
                    <layout>
                        <editor />
                        <editor />
                        <editor />
                        <editor />
                        <editor />
                        <editor />
                        <separator />
                        <menuItem name="NOTIFY" />
                        <menuItem name="Close CHANNEL1" />
                        <spacer />
                        <separator />
                        <menuItem name="Color Theme" />
                    </layout>
                </gui>
                <registry>
                    <editor sid="useNotifierAct" start="true" />
                    <editor sid="maxChar" start="true" />
                    <editor sid="durationAct" start="true" />
                    <editor sid="typeAct" start="true" />
                    <editor sid="positionAct" start="true" />
                    <editor sid="channelAct" start="true" />
                    <menuItem sid="notifyAct" start="true" />
                    <menuItem sid="closeAct" start="true" />
                    <menuItem sid="changeThemeAct" start="true" />
                </registry>
            </service>

            <service uid="mainview" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                    </layout>
                </gui>
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="useNotifierAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="bool" name="Use notifier to centralize." key="usenotifier" defaultValue="true" />
                </parameters>
            </service>

            <service uid="maxChar" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="bool" name="Reach max. characters" key="reachMaxCharacters" defaultValue="false" />
                </parameters>
            </service>

            <service uid="durationAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Duration" key="duration" defaultValue="3000" values="3000,1000,infinite" />
                </parameters>
            </service>

            <service uid="typeAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Type" key="type" defaultValue="INFO" values="INFO,SUCCESS,FAILURE" />
                </parameters>
            </service>

            <service uid="positionAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Position" key="position" defaultValue="TOP_RIGHT" values="ALL,TOP_LEFT,TOP_RIGHT,CENTERED_TOP,CENTERED,BOTTOM_LEFT,BOTTOM_RIGHT,CENTERED_BOTTOM" />
                </parameters>
            </service>

            <service uid="channelAct" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Channel" key="channel" defaultValue="GLOBAL" values="GLOBAL,CHANNEL1,CHANNEL2" />
                </parameters>
            </service>

            <service uid="notifyAct" type="sight::module::ui::action" />

            <service uid="closeAct" type="sight::module::ui::action" />

            <!-- preference to apply new theme on app -->
            <service uid="changeThemeAct" type="sight::module::ui::qt::preferences_configuration">
                <preference>
                    <type>combobox</type>
                    <name>Color Theme</name>
                    <key>THEME</key>
                    <values>DEFAULT,DARKSTYLE,FLATDARK</values>
                    <default_value>FLATDARK</default_value>
                </preference>
            </service>

            <!-- ******************************* Services ******************************* -->

            <!-- Dummy service only used to test notifications -->
            <service uid="testNotifierSrv" type="ExNotifications::display_test_notifications">
                <notification>
                    <channel key="CHANNEL1" uid="CHANNEL1" />
                    <channel key="CHANNEL2" uid="CHANNEL2" />
                </notification>
            </service>

            <!-- notifier listen to all the connected service & display queued notification at the same place (here TOP_RIGHT)-->
            <service uid="notifierSrv" type="sight::module::ui::qt::notifier">
                <parent uid="mainview" /> <!-- Parent container where notifications will be displayed, use the xmlattr uid hack to generate the generic_uid prefix of "maiview" -->
                <message>Default Message</message><!-- Default message printed if empty string is emitted in notify* signals -->
                <channels>
                    <!-- Channel without uid configures default for all notification. It can be changed using enumParameters -->
                    <channel position="TOP_RIGHT" duration="3000" max="3" size="200x60" />
                    <!-- CHANNEL2 configuration is fixd here. It cannot be changed -->
                    <channel uid="CHANNEL2" position="TOP_LEFT" duration="5000" max="3" size="800x120" closable="false" />
                </channels>
            </service>

            <service uid="sight::module::ui::qtChangerSrv" type="sight::module::ui::qt::style_selector" />

            <!-- ******************************* Connections ***************************************** -->

            <!-- connection from base notify signals to the notifier,you can add as many service as you need -->
            <connect>
                <signal>testNotifierSrv/notified</signal>
                <slot>notifierSrv/pop</slot>
            </connect>

            <connect>
                <signal>testNotifierSrv/notificationClosed</signal>
                <slot>notifierSrv/closeNotification</slot>
            </connect>

            <!-- Others connections -->
            <connect>
                <signal>positionAct/enumChanged</signal>
                <slot>testNotifierSrv/setEnumParameter</slot>
                <slot>notifierSrv/setEnumParameter</slot>
            </connect>

            <connect>
                <signal>durationAct/enumChanged</signal>
                <slot>testNotifierSrv/setEnumParameter</slot>
                <slot>notifierSrv/setEnumParameter</slot>
            </connect>

            <connect>
                <signal>typeAct/enumChanged</signal>
                <slot>testNotifierSrv/setEnumParameter</slot>
            </connect>

            <connect>
                <signal>channelAct/enumChanged</signal>
                <slot>testNotifierSrv/setEnumParameter</slot>
            </connect>

            <connect>
                <signal>useNotifierAct/boolChanged</signal>
                <signal>maxChar/boolChanged</signal>
                <slot>testNotifierSrv/setBoolParameter</slot>
            </connect>

            <connect>
                <signal>changeThemeAct/parametersModified</signal>
                <slot>styleChangerSrv/updateFromPreferences</slot>
            </connect>

            <connect>
                <signal>notifyAct/clicked</signal>
                <slot>testNotifierSrv/update</slot>
            </connect>

            <connect>
                <signal>closeAct/clicked</signal>
                <slot>testNotifierSrv/closeChannel1</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />
            <start uid="notifierSrv" />
            <start uid="testNotifierSrv" />
            <start uid="sight::module::ui::qtChangerSrv" />

        </config>
    </extension>


</plugin>