<plugin id="DemoComSofaConfiguration">

    <extension id="DemoComSofaConfig" implements="::fwData::TriangularMesh">

        <object uid="CompositeVisu" type="::fwData::Composite">

        <!--  Mesh data creation. -->
        <item key="TrianMesh">
        <object uid="myMesh" type="::fwData::TriangularMesh">

            <!-- Mise en place de la fenetre pricipale  -->
            <service type="::fwGui::IFrameSrv" implementation="::gui::frame::DefaultFrame" autoComChannel="no">
                <gui>
                    <frame>
                        <name>Altran-Est - Medic@ : PoC1 Demo integration SOFA-FW4SPL</name>
                        <icon>Bundles/PoC1SofaMonoOrgan_0-1/tuto.ico</icon>
                        <minSize width="800" height="600" />
                    </frame>
                    <menuBar />
                </gui>
                <registry>
                    <menuBar sid="myMenuBar" start="yes" />
                    <view sid="myDefaultView" start="yes" />
                </registry>
            </service>

            <!-- Mise en place de la partie visualisation  -->
            <service uid="myDefaultView" type="::gui::view::IView" implementation="::gui::view::DefaultView" autoComChannel="no">
                <gui>
                    <layout type="::fwGui::LineLayoutManager">
                        <orientation value="horizontal" />
                        <view caption="" />
                    </layout>
                </gui>
                <registry>
                    <view sid="RenderingMesh" start="yes" />
                </registry>
            </service>

            <!-- ****************************************** -->

            <!-- Liste des menus -->
            <service uid="myMenuBar" type="::fwGui::IMenuBarSrv" implementation="::gui::aspect::DefaultMenuBarSrv" autoComChannel="no">
                <gui>
                    <layout>
                        <menu name="Fichier" />
                        <menu name="Sofa" />
                        <menu name="?" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menuFile" start="yes" />
                    <menu sid="menuSofa" start="yes" />
                    <menu sid="menuAbout" start="yes" />
                </registry>
            </service>

            <!-- ****************************************** -->

            <!-- Menu Fichier -->
            <service uid="menuFile" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no">
                <gui>
                    <layout>
                        <menuItem name="Ouvrir"/>
                        <separator />
                        <menuItem name="Quitter" specialAction="QUIT" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="actionOpen" start="yes" />
                    <menuItem sid="actionQuit" start="yes" />
                </registry>
            </service>

            <!-- Menu Sofa -->
            <service uid="menuSofa" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no">
                <gui>
                    <layout>
                        <menuItem name="Deformer" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="actionDeform" start="yes" />
                </registry>
            </service>

            <!-- Menu Apropos -->
            <service uid="menuAbout" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no">
                <gui>
                    <layout>
                        <menuItem name="A propos" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="actionAbout" start="yes" />
                </registry>
            </service>

            <!-- ****************************************** -->

            <!-- Action Ouvrir -->
            <service uid="actionOpen" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no">
                <start uid="readerPathMeshFile" />
            </service>

            <!-- Action Quitter -->
            <service uid="actionQuit" type="::fwGui::IActionSrv" implementation="::gui::action::QuitAction" autoComChannel="no" />

            <!-- Action Deformer qui appelle SofaService -->
            <service uid="actionDeform" type="::fwGui::IActionSrv" implementation="::opSofa::SofaTrianSrv" autoComChannel="no">
                <mesh uid="myMesh" />
            </service>

            <!-- Action Apropos -->
            <service uid="actionAbout" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no">
            </service>

            <!-- ****************************************** -->

            <!-- Service de rendu -->
            <!--<service implementation="::vtkSimpleMesh::RendererService" type="::fwRender::IRender" uid="RenderingMesh" autoComChannel="yes">-->
                <!--<masterSlaveRelation>master</masterSlaveRelation>-->
            <!--</service>-->




            <!-- Service de lecture du fichier -->
            <service implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IEditor" uid="readerPathMeshFile" autoComChannel="no">
                <type mode="reader" />
            </service>

            <!-- ****************************************** -->
        </object>
        </item>



                <service uid="RenderingMesh" implementation="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoComChannel="yes">
                    <scene>
                        <!--<picker id="myPicker" vtkclass="fwVtkCellPicker" />-->

                        <renderer id="default" background="0.0" />
                        <adaptor id="myRenderAdaptor" class="::visuVTKAdaptor::Render" objectId="self">
                            <config renderer="default" picker="" />
                        </adaptor>

                        <adaptor id="MeshAdaptor" class="::visuVTKAdaptor::TriangularMesh" objectId="TrianMesh">
                            <config renderer="default" picker="" />
                        </adaptor>

                    </scene>
                </service>

        <start type="::fwGui::IFrameSrv" />

        <stop type="::fwGui::IFrameSrv" />


        </object>
    </extension>
</plugin>
