<plugin id="ex_solve_pnp">
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3d_qt" />
    <requirement id="sight::module::ui" />

    <extension implements="sight::app::extension::config">
        <id>ex_solve_pnp::config</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="camera_set" type="sight::data::camera_set" />
            <object uid="camera" type="sight::data::camera" deferred="true" />
            <object uid="frame_tl" type="sight::data::frame_tl" />
            <object uid="video_image" type="sight::data::image" />

            <object uid="cube" type="sight::data::mesh" />

            <object uid="registration_matrix" type="sight::data::matrix4" />

            <object uid="2d_points" type="sight::data::point_list" />
            <object uid="2d_pixels" type="sight::data::point_list" />
            <object uid="3d_points" type="sight::data::point_list" />
            <object uid="render_mode" type="sight::data::string" value="auto" />
            <object uid="render_mode_auto" type="sight::data::string" value="auto" />
            <object uid="render_mode_manual" type="sight::data::string" value="manual" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="main_frame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ex_solve_pnp</name>
                        <icon>ex_solve_pnp/app.ico</icon>
                    </frame>
                    <menubar />
                    <toolbar />
                </gui>
                <registry>
                    <toolbar sid="toolbar_view" />
                    <view sid="camera_view" />
                </registry>
            </service>

            <service uid="toolbar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <menuItem name="Load Calibration" icon="sight::module::ui::icons/calibration.svg" />
                        <editor />
                        <menuItem name="Start" icon="sight::module::ui::icons/play.svg" shortcut="Space" />
                        <menuItem name="Pause" icon="sight::module::ui::icons/pause.svg" shortcut="Space" />
                        <menuItem name="Play" icon="sight::module::ui::icons/play.svg" shortcut="Space" />
                        <menuItem name="Stop" icon="sight::module::ui::icons/stop.svg" />
                        <menuItem name="Loop" icon="sight::module::ui::icons/loop.svg" style="check" />
                        <editor />
                        <menuItem name="Register" icon="sight::module::ui::icons/register_points.svg" />
                        <menuItem name="Reset" icon="sight::module::ui::icons/reset.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="load_calib_act" />
                    <editor sid="video_selector_srv" />
                    <menuItem sid="start_video_act" />
                    <menuItem sid="pause_video_act" />
                    <menuItem sid="resume_video_act" />
                    <menuItem sid="stop_video_act" />
                    <menuItem sid="loop_video_act" />
                    <menuItem sid="register_act" />
                    <menuItem sid="reset_act" />
                </registry>
            </service>

            <service uid="camera_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" />
                    </layout>
                </gui>
                <registry>
                    <view sid="scene_view" />
                </registry>
            </service>

            <service uid="scene_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="3" />
                        <view proportion="1" />
                    </layout>
                </gui>
                <registry>
                    <view sid="ar_scene_srv" />
                    <view sid="vr_scene_srv" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="load_calib_act" type="sight::module::ui::action" />

            <!-- Start the frame grabber -->
            <service uid="start_video_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <!-- Pause the frame grabber -->
            <service uid="pause_video_act" type="sight::module::ui::action">
                <state visible="false" />
            </service>

            <!-- Resume the frame grabber -->
            <service uid="resume_video_act" type="sight::module::ui::action">
                <state visible="false" />
            </service>

            <!-- Stop the frame grabber -->
            <service uid="stop_video_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <!-- Loop the frame grabber -->
            <service uid="loop_video_act" type="sight::module::ui::action">
                <state enabled="false" />
            </service>

            <service uid="register_act" type="sight::module::ui::action" />

            <service uid="reset_act" type="sight::module::ui::action" />

            <!-- ******************************* Begin Generic scene ******************************* -->

            <service uid="ar_scene_srv" type="sight::viz::scene3d::render">
                <scene render_mode="${render_mode}">
                    <background color="#36393E" />

                    <layer id="video">
                        <adaptor uid="ar_picker_adp" />
                        <adaptor uid="ar_video_adp" />
                        <adaptor uid="ar_point_list_adp" />
                    </layer>

                    <layer id="default">
                        <adaptor uid="ar_camera_adp" />
                        <adaptor uid="ar_mesh_adp" />
                        <adaptor uid="ar_trf_adp" />
                    </layer>
                </scene>
            </service>

            <service uid="ar_picker_adp" type="sight::module::viz::scene3d::adaptor::picker">
                <config />
            </service>

            <service uid="ar_video_adp" type="sight::module::viz::scene3d::adaptor::video">
                <data image="${video_image}" />
            </service>

            <service uid="ar_point_list_adp" type="sight::module::viz::scene3d::adaptor::point_list">
                <data pointList="${2d_points}" />
                <config color="#619647" radius="0.01" />
            </service>

            <service uid="ar_camera_adp" type="sight::module::viz::scene3d::adaptor::camera">
                <data transform_in="${registration_matrix}" />
                <data calibration="${camera}" />
            </service>

            <service uid="ar_mesh_adp" type="sight::module::viz::scene3d::adaptor::mesh">
                <data mesh="${cube}" />
                <config autoresetcamera="false" />
            </service>

            <!-- ******************************* Begin Generic scene ******************************* -->

            <service uid="vr_scene_srv" type="sight::viz::scene3d::render">
                <scene render_mode="${render_mode}">
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default" transparency="DepthPeeling" numPeels="4">
                        <adaptor uid="vr_trackball_interactor_adp" />
                        <adaptor uid="vr_picker_adp" />
                        <adaptor uid="vr_point_list_adp" />
                        <adaptor uid="vr_mesh_adp" />
                        <adaptor uid="vr_axis_adp" />
                    </layer>
                </scene>
            </service>

            <service uid="vr_trackball_interactor_adp" type="sight::module::viz::scene3d::adaptor::trackball_camera">
                <config priority="0" />
            </service>

            <service uid="vr_picker_adp" type="sight::module::viz::scene3d::adaptor::picker" />

            <service uid="vr_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <config length="0.3" origin="false" label="false" />
            </service>

            <service uid="vr_point_list_adp" type="sight::module::viz::scene3d::adaptor::point_list">
                <data pointList="${3d_points}" />
                <config color="#619647" radius="0.05" />
            </service>

            <service uid="vr_mesh_adp" type="sight::module::viz::scene3d::adaptor::mesh">
                <data mesh="${cube}" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!-- Calibration reader (here OpenCV's XML/YAML) -->
            <service uid="calibration_reader_srv" type="sight::module::io::vision::open_cv_reader">
                <data read="${camera_set}" />
            </service>

            <!-- extract a sight::data::camera from the sight::data::camera_set -->
            <service uid="camera_extractor_srv" type="sight::module::data::get_camera">
                <input camera_set="${camera_set}" />
                <output camera="${camera}" index="0" />
            </service>

            <service uid="mesh_reader_srv" type="sight::module::io::vtk::mesh_reader">
                <data read="${cube}" />
                <path resource="ex_solve_pnp/plane.vtk" />
            </service>

            <!-- GUI to select camera (device, file, or stream) -->
            <service uid="video_selector_srv" type="sight::module::ui::qt::video::camera">
                <data camera="${camera}" />
                <videoSupport>true</videoSupport>
            </service>

            <!-- Grab image from camera device and fill a frame timeline -->
            <service uid="video_grabber_srv" type="sight::module::io::video::frame_grabber">
                <config camera="${camera}" />
                <timeline image="${frame_tl}" />
            </service>

            <service uid="frame_updater_srv" type="sight::module::sync::synchronizer" auto_connect="false">
                <input>
                    <frames>
                        <item timeline="${frame_tl}" />
                    </frames>
                </input>
                <output>
                    <frames>
                        <item image="${video_image}" />
                    </frames>
                </output>
            </service>

            <service uid="solve_pnp_srv" type="sight::module::geometry::vision::solve_pnp">
                <input point_list_2d="${2d_pixels}" point_list_3d="${3d_points}" calibration="${camera}" />
                <output matrix="${registration_matrix}" />
                <config inverse="true" shift="true" />
            </service>

            <service uid="image_picker_srv" type="sight::module::ui::video::image_picker">
                <input camera="${camera}" />
                <output world_points="${2d_points}" screen_points="${2d_pixels}" />
                <config videoReference="center" />
            </service>

            <service uid="point_list_vr_manager_srv" type="sight::module::geometry::manage_point_list">
                <output point_list="${3d_points}" />
                <config label="true" tolerance="0.1" modifier="CTRL" />
            </service>

            <service uid="reset_points_srv" type="sight::module::data::reset">
                <data target="${2d_points}" />
                <data target="${2d_pixels}" />
                <data target="${3d_points}" />
                <data target="${registration_matrix}" />
            </service>

            <service uid="set_render_mode_to_auto_srv" type="sight::module::data::copy">
                <data source="${render_mode_auto}" />
                <data target="${render_mode}" />
            </service>

            <service uid="set_render_mode_to_manual_srv" type="sight::module::data::copy">
                <data source="${render_mode_manual}" />
                <data target="${render_mode}" />
            </service>

            <!-- ******************************* Connections ***************************************** -->
            <connect>
                <signal>load_calib_act/clicked</signal>
                <slot>calibration_reader_srv/update</slot>
            </connect>

            <connect>
                <signal>start_video_act/clicked</signal>
                <slot>video_grabber_srv/start_camera</slot>
                <slot>set_render_mode_to_manual_srv/update</slot>
                <slot>updater/start</slot>
            </connect>

            <connect>
                <signal>pause_video_act/clicked</signal>
                <slot>video_grabber_srv/pause_camera</slot>
                <slot>resume_video_act/show</slot>
                <slot>pause_video_act/hide</slot>
                <slot>set_render_mode_to_auto_srv/update</slot>
                <slot>updater/stop</slot>
            </connect>

            <connect>
                <signal>resume_video_act/clicked</signal>
                <slot>video_grabber_srv/pause_camera</slot>
                <slot>resume_video_act/hide</slot>
                <slot>pause_video_act/show</slot>
                <slot>set_render_mode_to_manual_srv/update</slot>
                <slot>updater/start</slot>
            </connect>

            <connect>
                <signal>stop_video_act/clicked</signal>
                <slot>video_grabber_srv/stop_camera</slot>
                <slot>start_video_act/show</slot>
                <slot>resume_video_act/hide</slot>
                <slot>pause_video_act/hide</slot>
                <slot>stop_video_act/disable</slot>
                <slot>loop_video_act/disable</slot>
                <slot>loop_video_act/uncheck</slot>
                <slot>set_render_mode_to_auto_srv/update</slot>
                <slot>updater/stop</slot>
            </connect>

            <connect>
                <signal>video_selector_srv/configured_file</signal>
                <signal>video_selector_srv/configured_stream</signal>
                <signal>video_selector_srv/configured_device</signal>
                <slot>start_video_act/update</slot>
            </connect>

            <connect>
                <signal>video_grabber_srv/camera_started</signal>
                <slot>pause_video_act/show</slot>
                <slot>start_video_act/hide</slot>
                <slot>stop_video_act/enable</slot>
                <slot>loop_video_act/enable</slot>
            </connect>

            <connect>
                <signal>loop_video_act/clicked</signal>
                <slot>video_grabber_srv/loop_video</slot>
            </connect>

            <connect>
                <signal>camera/id_modified</signal>
                <slot>stop_video_act/update</slot>
            </connect>

            <connect>
                <signal>camera/modified</signal>
                <slot>start_video_act/enable</slot>
                <slot>stop_video_act/update</slot>
            </connect>

            <connect>
                <signal>vr_picker_adp/picked</signal>
                <slot>point_list_vr_manager_srv/pick</slot>
            </connect>

            <connect>
                <signal>ar_picker_adp/picked</signal>
                <slot>image_picker_srv/get_interaction</slot>
            </connect>

            <connect>
                <signal>camera_set/added_camera</signal>
                <slot>camera_extractor_srv/update</slot>
            </connect>

            <connect>
                <signal>reset_act/clicked</signal>
                <slot>reset_points_srv/update</slot>
            </connect>

            <connect>
                <signal>register_act/clicked</signal>
                <slot>solve_pnp_srv/update</slot>
            </connect>

            <!-- ******************************* Update services ***************************************** -->

            <update>
                <service uid="mesh_reader_srv" />

                <sequence uid="updater" loop="true" start="false">
                    <service uid="frame_updater_srv" />
                    <service uid="ar_scene_srv" />
                    <service uid="vr_scene_srv" />
                </sequence>
            </update>
        </config>
    </extension>
</plugin>
