<plugin id="sight::module::io::itk" library="true" >

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::reader</type>
        <service>sight::module::io::itk::image_reader</service>
        <object>sight::data::image</object>
        <desc>ITK Reader (ITK/Ircad)</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::writer</type>
        <service>sight::module::io::itk::image_writer</service>
        <object>sight::data::image</object>
        <desc>ITK Writer (ITK/Ircad)</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::writer</type>
        <service>sight::module::io::itk::sliced_image_series_writer</service>
        <object>sight::data::image_series</object>
        <desc>ImageSeries sliced to jpg Writer (ITK)</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::reader</type>
        <service>sight::module::io::itk::series_set_reader</service>
        <object>sight::data::series_set</object>
        <desc>SeriesSet image Reader (ITK)</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::writer</type>
        <service>sight::module::io::itk::image_series_writer</service>
        <object>sight::data::image_series</object>
        <desc>ImageSeries Writer (ITK)</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::reader</type>
        <service>sight::module::io::itk::image_series_reader</service>
        <object>sight::data::image_series</object>
        <desc>ImageSeries Reader (ITK)</desc>
    </extension>

</plugin>
