<plugin id="sight::module::filter::mesh" library="true">
    <extension implements="sight::service::extension::factory">
        <type>sight::service::filter</type>
        <service>sight::module::filter::mesh::vtk_mesher</service>
        <object key="imageSeries">sight::data::image_series</object>
        <object key="modelSeries">sight::data::model_series</object>
        <desc>This service generates meshes from an ImageSeries using VTK library.</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
        <type>sight::service::generator</type>
        <service>sight::module::filter::mesh::generator::ultrasound_mesh</service>
        <desc>Generate the mesh used to display the ultrasound image.</desc>
    </extension>
</plugin>
