<plugin id="activity_io_dicomweb" version="@PROJECT_VERSION@" >

    <requirement id="module_activity" />
    <requirement id="module_ui_qt" />
    <requirement id="module_viz_scene3dQt" />

    <xi:include href="configurations/DicomWebReader.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/DicomWebWriter.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/2DDicomWebPreviewConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::sight::activity::registry::Activity">
        <id>activity_io_dicomweb</id>
        <title>DicomWeb Reader</title>
        <desc>DicomWeb Reader activity</desc>
        <icon>module_ui_media-0.1/icons/Pull.svg</icon>
        <requirements>
        </requirements>
        <builder>::activity::builder::ActivitySeries</builder>
        <appConfig id="activity_io_dicomweb">
        </appConfig>
        </extension>

    <extension implements="::sight::service::registry::ServiceConfig">
        <id>DicomWebReaderConfig</id>
        <desc>Reader configuration to convert retrieved DicomSeries to ImageSeries</desc>
        <config>
            <config filterType="::sight::filter::dicom::custom::DefaultDicomFilter" />
        </config>
    </extension>

    <extension implements="::sight::activity::registry::Activity">
        <id>DicomWebWriterActivity</id>
        <title>DicomWeb Writer</title>
        <desc>DicomWeb Writer activity</desc>
        <icon>module_ui_media-0.1/icons/Push.svg</icon>
        <requirements>
        </requirements>
        <builder>::activity::builder::ActivitySeries</builder>
        <appConfig id="DicomWebWriterActivity">
        </appConfig>
    </extension>

</plugin>
