<plugin id="viewPointsActivity" version="@DASH_VERSION@" >

    <requirement id="2DVisualizationActivity" />
    <requirement id="3DVisualizationActivity" />
    <requirement id="visuVTKVRAdaptor" />
    <requirement id="scene2D" />
    <requirement id="uiTF" />
    <requirement id="uiIO" />

    <xi:include href="configurations/viewPoints.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>viewPointsActivity</id>
        <title>View Points</title>
        <desc>View Points activity</desc>
        <icon>@BUNDLE_PREFIX@/media_0-1/icons/icon-landmark.png</icon>
        <requirements>

            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="0" maxOccurs="1" >
                <key path="@image">OptionalImageKey</key>
            </requirement>

            <requirement name="modelSeries" type="::fwMedData::ModelSeries" minOccurs="0" maxOccurs="1" >
                <key>OptionalModelSeriesKey</key>
            </requirement>

            <requirement name="viewPoints" type="::fwData::Vector" minOccurs="0" maxOccurs="0" >
                <key>ViewPointsVectorKey</key>
            </requirement>

        </requirements>
        <builder>::fwActivities::builder::ActivitySeriesInitData</builder>
        <appConfig id="viewPoints">
            <parameters>
                <parameter replace="ImageSeriesCompositeUid" by="@values.imageSeries" />
                <parameter replace="ModelSeriesCompositeUid" by="@values.modelSeries" />
                <parameter replace="ViewPointsVectorUid" by="@values.viewPoints" />
            </parameters>
        </appConfig>
    </extension>
</plugin>
