<plugin id="ExDetectCamMotion" version="@PROJECT_VERSION@" >

    <requirement id="module_ui_qt" />
    <requirement id="module_services" />
    <requirement id="module_viz_ogre" />
    <requirement id="module_viz_ogreQt" />
    <requirement id="module_ui_base" />

    <extension implements="::sight::services::registry::AppConfig" >
        <id>ExDetectCamMotion_AppCgf</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="frameTL"    type="::sight::data::FrameTL" />
            <object uid="videoImage" type="::sight::data::Image" />
            <object uid="camera"     type="::sight::data::Camera" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="::sight::modules::ui::base::frame::SDefaultFrame" >
                <gui>
                    <menuBar/>
                    <toolBar/>
                    <frame>
                        <name>ExDetectCamMotion</name>
                        <icon>ExDetectCamMotion-@PROJECT_VERSION@/app.ico</icon>
                    </frame>
                </gui>
                <registry>
                    <menuBar sid="menuBarView" start="yes" />
                    <toolBar sid="toolbarView" start="yes" />
                    <view sid="genericSceneSrv" start="yes" />
                </registry>
            </service>

            <service uid="menuBarView" type="::sight::modules::ui::base::aspect::SDefaultMenuBar" >
                <gui>
                    <layout>
                        <menu name="File" />
                        <menu name="Preferences" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menuFileView" start="yes" />
                    <menu sid="menuPreferencesView" start="yes" />
                </registry>
            </service>

            <service uid="menuFileView" type="::sight::modules::ui::base::aspect::SDefaultMenu" >
                <gui>
                    <layout>
                        <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="quitAct" start="yes" />
                </registry>
            </service>

            <service uid="menuPreferencesView" type="::sight::modules::ui::base::aspect::SDefaultMenu" >
                <gui>
                    <layout>
                        <menuItem name="Video directory" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="videoDirAct" start="yes" />
                </registry>
            </service>

            <service uid="toolbarView" type="::sight::modules::ui::base::aspect::SDefaultToolBar" >
                <gui>
                    <layout>
                        <editor/>
                        <menuItem name="Start" icon="flatIcon-0.1/icons/GreenStart.svg" shortcut="Space" />
                        <menuItem name="Pause" icon="flatIcon-0.1/icons/OrangePause.svg" shortcut="Space" />
                        <menuItem name="Play" icon="flatIcon-0.1/icons/GreenStart.svg" shortcut="Space" />
                        <menuItem name="Stop" icon="flatIcon-0.1/icons/RedStop.svg" />
                        <menuItem name="Loop" icon="flatIcon-0.1/icons/OrangeLoop.svg" style="check" />
                        <separator/>
                        <editor />
                    </layout>
                </gui>
                <registry>
                    <editor sid="videoSelectorSrv" />
                    <menuItem sid="startVideoAct" start="yes" />
                    <menuItem sid="pauseVideoAct" start="yes" />
                    <menuItem sid="resumeVideoAct" start="yes" />
                    <menuItem sid="stopVideoAct" start="yes" />
                    <menuItem sid="loopVideoAct" start="yes" />
                    <editor sid="motionStatusSrv" start="yes" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <!-- declaration of actions/slot callers -->
            <service uid="quitAct" type="::sight::modules::ui::base::action::SQuit" />

            <!-- Start the frame grabber -->
            <service uid="startVideoAct" type="::sight::modules::ui::base::action::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/startCamera</slot>
                </slots>
                <state executable="false" />
            </service>

            <!-- Pause the frame grabber -->
            <service uid="pauseVideoAct" type="::sight::modules::ui::base::action::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/pauseCamera</slot>
                    <slot>resumeVideoAct/show</slot>
                    <slot>pauseVideoAct/hide</slot>
                </slots>
                <state visible="false" />
            </service>

            <!-- Resume the frame grabber -->
            <service uid="resumeVideoAct" type="::sight::modules::ui::base::action::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/pauseCamera</slot>
                    <slot>resumeVideoAct/hide</slot>
                    <slot>pauseVideoAct/show</slot>
                </slots>
                <state visible="false" />
            </service>

            <!-- Stop the frame grabber -->
            <service uid="stopVideoAct" type="::sight::modules::ui::base::action::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/stopCamera</slot>
                    <slot>startVideoAct/show</slot>
                    <slot>resumeVideoAct/hide</slot>
                    <slot>pauseVideoAct/hide</slot>
                    <slot>stopVideoAct/setInexecutable</slot>
                    <slot>loopVideoAct/setInexecutable</slot>
                    <slot>loopVideoAct/deactivate</slot>
                </slots>
                <state executable="false" />
            </service>

            <!-- Loop the frame grabber -->
            <service uid="loopVideoAct" type="::sight::modules::ui::base::action::SSlotCaller" >
                <slots>
                    <slot>videoGrabberSrv/loopVideo</slot>
                </slots>
                <state executable="false" />
            </service>

            <!-- preference save the video directory and re-open the same directory at next launch of the app -->
            <service uid="videoDirAct" type="::sight::modules::ui::base::action::SPreferencesConfiguration" >
                <preference>
                    <type>path</type>
                    <name>Video directory</name>
                    <key>VIDEO_DIR_PREF</key>
                    <default_value>...</default_value>
                </preference>
            </service>

            <!-- ******************************* Begin Generic Scene ******************************* -->

            <!-- Scene in which the video will be rendered -->
            <service uid="genericSceneSrv" type="::sight::viz::ogre::SRender" >
                <scene>
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default" order="1" />
                    <adaptor uid="videoAdp" />
                </scene>
            </service>

            <service uid="videoAdp" type="::sight::modules::viz::ogre::adaptor::SVideo" autoConnect="yes" >
                <in key="image" uid="videoImage" />
                <config layer="default" />
            </service>

            <!-- ************************************* Services ************************************ -->

            <service uid="motionStatusSrv" type="::sight::modules::ui::base::editor::SStatus" >
                <form>circle</form>
                <size>
                    <width>20</width>
                    <height>20</height>
                </size>
                <labelStatus>Motion</labelStatus>
                <red>No motion</red>
                <green>Motion</green>
                <orange>Computing...</orange>
            </service>

            <service uid="videoSelectorSrv" type="::videoQt::editor::SCamera" >
                <inout key="camera" uid="camera" />
                <videoSupport>yes</videoSupport>
            </service>

            <!-- Grab image from camera device and fill a frame timeline -->
            <service uid="videoGrabberSrv" type="::videoQt::SFrameGrabber" >
                <in key="camera" uid="camera" />
                <inout key="frameTL" uid="frameTL" />
            </service>

            <service uid="frameUpdaterSrv" type="::videoTools::SFrameUpdater" >
                <in key="frameTL" uid="frameTL" autoConnect="yes" />
                <inout key="frame" uid="videoImage" />
            </service>

            <service uid="opticalFlowSrv" type="::videoTools::SOpticalFlow" worker="ofWorker" >
                <in key="timeline" uid="frameTL" autoConnect="yes" />
                <config scaleFactor="3.6" />
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>videoSelectorSrv/configuredFile</signal>
                <signal>videoSelectorSrv/configuredStream</signal>
                <signal>videoSelectorSrv/configuredDevice</signal>
                <slot>startVideoAct/update</slot>
            </connect>

            <connect>
                <signal>videoGrabberSrv/cameraStarted</signal>
                <slot>pauseVideoAct/show</slot>
                <slot>startVideoAct/hide</slot>
                <slot>stopVideoAct/setExecutable</slot>
                <slot>loopVideoAct/setExecutable</slot>
            </connect>

            <connect>
                <signal>camera/idModified</signal>
                <slot>videoGrabberSrv/stopCamera</slot>
            </connect>

            <connect>
                <signal>camera/modified</signal>
                <slot>startVideoAct/setExecutable</slot>
                <slot>stopVideoAct/update</slot>
            </connect>

            <connect>
                <signal>opticalFlowSrv/cameraMoved</signal>
                <slot>motionStatusSrv/changeToGreen</slot>
            </connect>

            <connect>
                <signal>opticalFlowSrv/cameraRemained</signal>
                <slot>motionStatusSrv/changeToRed</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />
            <start uid="videoSelectorSrv" />
            <start uid="videoGrabberSrv" />
            <start uid="frameUpdaterSrv" />
            <start uid="opticalFlowSrv" />
            <start uid="videoAdp" />

        </config>
    </extension>
</plugin>

