<plugin id="sight::module::navigation::optics" library="true" >
    <requirement id="sight::module::service"/>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::tracker</type>
         <service>sight::module::navigation::optics::aruco_tracker</service>
         <desc>Class used to track multiple tags with ArUco.</desc>
    </extension>
</plugin>
