<plugin id="trackerAruco" class="::trackerAruco::Plugin" version="@DASH_VERSION@" >

    <library name="trackerAruco" />

    <requirement id="tracker" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::tracker::ITracker</type>
        <service>::trackerAruco::SArucoTracker</service>
        <object>::fwData::Composite</object>
    </extension>

</plugin>
