<plugin id="ex_image_reslice">
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3d_qt" />
    <requirement id="sight::module::ui" />

    <xi:include href="reslice_view.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::app::extension::config">
        <id>ex_image_reslice::config</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="input_image" type="sight::data::image" />
            <object uid="input_mask" type="sight::data::image" />

            <object uid="axial_slice" type="sight::data::image" />
            <object uid="axial_mask_slice" type="sight::data::image" />
            <object uid="frontal_slice" type="sight::data::image" />
            <object uid="frontal_mask_slice" type="sight::data::image" />

            <object uid="tf" type="sight::data::transfer_function" />
            <object uid="id_matrix" type="sight::data::matrix4" />

            <object uid="axial_matrix" type="sight::data::matrix4" />
            <object uid="axial_to_frontal_matrix" type="sight::data::matrix4">
                <matrix>
                    <![CDATA[
                        1    0    0    0
                        0    0    1    0
                        0    -1    0    0
                        0    0    0    1
                    ]]>
                </matrix>
            </object>

            <object uid="frontal_matrix" type="sight::data::matrix4" />
            <object uid="center_reslice" type="sight::data::boolean" />

            <object uid="mask_tf" type="sight::data::transfer_function">
                <name>segmentations</name>
                <colors isClamped="false" resample_to_max_texture_size="false">
                    <step color="#00000000" value="0" />
                    <step color="#0000FF90" value="1" />
                    <step color="#00FF0090" value="2" />
                    <step color="#00FFFF90" value="3" />
                    <step color="#FF000090" value="4" />
                </colors>
            </object>

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="main_frame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ex_image_reslice</name>
                        <minSize width="800" height="600" />
                    </frame>
                </gui>
                <registry>
                    <view sid="main_view" start="true" />
                </registry>
            </service>

            <service uid="main_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::cardinal">
                        <view align="center" />
                    </layout>
                    <toolbar />
                </gui>
                <registry>
                    <toolbar sid="tool_bar_view" start="true" />
                    <view sid="sub_view" start="true" />
                </registry>
            </service>

            <!-- service which create a toolbar -->
            <service uid="tool_bar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <menuItem name="Load image series ..." icon="sight::module::ui::icons/load.svg" />
                        <menuItem name="Load mask ..." icon="sight::module::ui::icons/load.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="open_image_act" start="true" />
                    <menuItem sid="open_mask_act" start="true" />
                </registry>
            </service>

            <service uid="sub_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="1" />
                        <view proportion="0" />
                    </layout>
                </gui>
                <registry>
                    <view sid="main_scene_srv" start="true" />
                    <view sid="2d_negato_view" start="true" />
                    <view sid="transform_view" start="true" />
                </registry>
            </service>

            <service uid="2d_negato_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <view proportion="0" />
                    </layout>
                </gui>
                <registry>
                    <view wid="axial_negato_view" start="false" />
                    <view wid="frontal_negato_view" start="false" />
                </registry>
            </service>

            <service uid="transform_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="0" />
                        <view proportion="0" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="transform_editor_srv" start="true" />
                    <view sid="center_editor_srv" start="true" />
                </registry>
            </service>

            <!-- We consider that the transform editor generates a matrix with an axial orientation -->
            <service uid="transform_editor_srv" type="sight::module::ui::qt::viz::transform_editor" auto_connect="false">
                <inout key="matrix" uid="axial_matrix" />
                <translation enabled="true" min="-512" max="512" />
                <rotation enabled="true" min="-180" max="180" />
            </service>

            <service uid="center_editor_srv" type="sight::module::ui::qt::settings">
                <inout group="keys">
                    <key uid="center_reslice" />
                </inout>
                <ui scrollable="false">
                    <item name="Center the reslice" />
                </ui>
            </service>

            <service uid="concatenate_matrices" type="sight::module::geometry::concatenate_matrices">
                <in group="matrix">
                    <key uid="axial_matrix" />
                    <key uid="axial_to_frontal_matrix" />
                </in>
                <inout key="output" uid="frontal_matrix" />
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="open_image_act" type="sight::module::ui::action" />
            <service uid="open_mask_act" type="sight::module::ui::action" />

            <!-- ******************************* Main 3D scene ******************************* -->

            <service uid="main_scene_srv" type="sight::viz::scene3d::render">
                <scene>
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default" order="1">
                        <adaptor uid="origin_transform_adp" />
                        <adaptor uid="origin_axis_adp" />

                        <adaptor uid="image_axis_adp" />
                        <adaptor uid="axial_slice_axis_adp" />
                        <adaptor uid="frontal_slice_axis_adp" />

                        <adaptor uid="trackball_interactor_adp" />

                        <adaptor uid="3d_negato_adp" />
                        <adaptor uid="reslice_axial_negato_adp" />
                        <adaptor uid="reslice_axial_mask_negato_adp" />
                        <adaptor uid="reslice_frontal_negato_adp" />
                        <adaptor uid="reslice_frontal_mask_negato_adp" />
                    </layer>
                </scene>
            </service>

            <service uid="origin_transform_adp" type="sight::module::viz::scene3d::adaptor::transform">
                <inout key="transform" uid="id_matrix" />
                <config transform="id_matrix" />
            </service>

            <service uid="origin_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <config visible="true" origin="true" originColor="#FFFFFF" label="true" name="origin" transform="id_matrix" />
            </service>

            <service uid="trackball_interactor_adp" type="sight::module::viz::scene3d::adaptor::trackball_camera">
                <config priority="0" />
            </service>

            <service uid="3d_negato_adp" type="sight::module::viz::scene3d::adaptor::negato3d">
                <in key="image" uid="input_image" />
                <inout key="tf" uid="tf" />
                <config sliceIndex="axial" interactive="true" />
            </service>

            <service uid="image_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <in key="image" uid="input_image" />
                <config visible="true" origin="true" originColor="#0000FF" label="false" />
            </service>

            <service uid="reslice_axial_negato_adp" type="sight::module::viz::scene3d::adaptor::negato2d">
                <in key="image" uid="axial_slice" />
                <in key="tf" uid="tf" />
                <config sliceIndex="axial" filtering="linear" border="false" interactive="false" slicesCross="false" />
            </service>

            <service uid="axial_slice_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <in key="image" uid="axial_slice" />
                <config visible="true" origin="true" originColor="#FF0000" label="false" />
            </service>

            <service uid="reslice_frontal_negato_adp" type="sight::module::viz::scene3d::adaptor::negato2d">
                <in key="image" uid="frontal_slice" />
                <in key="tf" uid="tf" />
                <config sliceIndex="axial" filtering="linear" border="false" interactive="false" slicesCross="false" />
            </service>

            <service uid="frontal_slice_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <in key="image" uid="frontal_slice" />
                <config visible="true" origin="true" originColor="#00FF00" label="false" />
            </service>

            <!-- ******************************* In-plane negato view ******************************* -->

            <service uid="axial_negato_cfg" type="sight::app::config_controller">
                <appConfig id="ex_image_reslice::reslice_view" />
                <parameter replace="WID_PARENT" by="axial_negato_view" />
                <inout group="data">
                    <key name="image" uid="${input_image}" />
                    <key name="mask" uid="${input_mask}" />
                    <key name="slice" uid="${axial_slice}" />
                    <key name="tf" uid="${tf}" />
                    <key name="mask_slice" uid="${axial_mask_slice}" />
                    <key name="mask_tf" uid="${mask_tf}" />
                    <key name="reslice_matrix" uid="${axial_matrix}" />
                    <key name="center" uid="${center_reslice}" />
                </inout>
            </service>

            <!-- ******************************* Frontal negato view ******************************* -->

            <service uid="frontal_negato_cfg" type="sight::app::config_controller">
                <appConfig id="ex_image_reslice::reslice_view" />
                <parameter replace="WID_PARENT" by="frontal_negato_view" />
                <inout group="data">
                    <key name="image" uid="${input_image}" />
                    <key name="mask" uid="${input_mask}" />
                    <key name="slice" uid="${frontal_slice}" />
                    <key name="tf" uid="${tf}" />
                    <key name="mask_slice" uid="${frontal_mask_slice}" />
                    <key name="mask_tf" uid="${mask_tf}" />
                    <key name="reslice_matrix" uid="${frontal_matrix}" />
                    <key name="center" uid="${center_reslice}" />
                </inout>
            </service>

            <!-- ******************************* Services ***************************************** -->

            <service uid="read_image_srv" type="sight::module::ui::io::selector">
                <inout key="data" uid="input_image" />
                <type mode="reader" />
            </service>

            <service uid="read_mask_srv" type="sight::module::ui::io::selector">
                <inout key="data" uid="input_mask" />
                <type mode="reader" />
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>open_image_act/clicked</signal>
                <slot>read_image_srv/update</slot>
            </connect>

            <connect>
                <signal>open_mask_act/clicked</signal>
                <slot>read_mask_srv/update</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="main_frame" />

            <start uid="origin_transform_adp" />
            <start uid="origin_axis_adp" />
            <start uid="concatenate_matrices" />

            <start uid="trackball_interactor_adp" />
            <start uid="3d_negato_adp" />
            <start uid="reslice_axial_negato_adp" />
            <start uid="reslice_frontal_negato_adp" />
            <start uid="axial_slice_axis_adp" />
            <start uid="frontal_slice_axis_adp" />

            <start uid="image_axis_adp" />

            <start uid="axial_negato_cfg" />
            <start uid="frontal_negato_cfg" />

            <start uid="read_image_srv" />
            <start uid="read_mask_srv" />

            <update uid="concatenate_matrices" />
        </config>
    </extension>
</plugin>
