<plugin id="ctrlSelection" class="::ctrlSelection::Plugin" >

    <library name="ctrlSelection" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::AcqFromPDBUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::ImageFromPDBUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::AcqFromPDBSelectorUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::PSAFromPDBSelectorUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::ImageFromPDBSelectorUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::ResecFromPDBUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::ResecDBFromPDBUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::ReconstructionFromAcqUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::ReconstructionFromResecUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::PlaneListFromPDBUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::ObjFromMsgUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::DataInfoFromMsgUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::SelectedNodeIOUpdaterSrv</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IUpdaterSrv</type>
        <service>::ctrlSelection::updater::TranslateUpdater</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IManagerSrv</type>
        <service>::ctrlSelection::manager::SwapperSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IManagerSrv</type>
        <service>::ctrlSelection::manager::SField</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IManagerSrv</type>
        <service>::ctrlSelection::manager::MedicalImageManagerSrv</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlSelection::MedicalImageSrv</service>
        <object>::fwData::Image</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlSelection::ImageUpdateAxis</service>
        <object>::fwData::Image</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlSelection::BookmarkSrv</service>
        <object>::fwTools::Object</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IWrapperSrv</type>
        <service>::ctrlSelection::wrapper::GraphWrapperSrv</service>
        <object>::fwData::Graph</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IWrapperSrv</type>
        <service>::ctrlSelection::wrapper::ImageWrapperSrv</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IWrapperSrv</type>
        <service>::ctrlSelection::wrapper::PatientDBWrapperSrv</service>
        <object>::fwData::PatientDB</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IWrapperSrv</type>
        <service>::ctrlSelection::wrapper::MsgForwarderSrv</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IWrapperSrv</type>
        <service>::ctrlSelection::wrapper::ObjToCompositeMsgForwarderSrv</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IWrapperSrv</type>
        <service>::ctrlSelection::wrapper::MsgWrapperSrv</service>
        <object>::fwTools::Object</object>
    </extension>

</plugin>



