<plugin id="DemoComSofa" version="@DASH_VERSION@" >

    <extension implements="::fwServices::registry::AppConfig">
        <id>DemoComSofaID</id>
        <config>

            <object type="::fwData::Composite">

                <service uid="ihm" impl="::gui::frame::SDefaultFrame" type="::fwGui::IFrameSrv" autoConnect="no">
                    <gui>
                        <frame>
                            <name>Altran-Est - Medic@ : PoC 2 Demo integration SOFA-FW4SPL</name>
                            <icon>@BUNDLE_PREFIX@/PoC02SofaMultiOrgans_0-1/tuto.ico</icon>
                        </frame>
                        <menuBar />
                    </gui>
                    <registry>
                        <menuBar sid="menuBar" start="yes" />
                        <view sid="multiView_scene1" start="yes" />
                    </registry>
                </service>

                <service uid="menuBar" type="::fwGui::IMenuBarSrv" impl="::gui::aspect::SDefaultMenuBar" autoConnect="no" >
                    <gui>
                        <layout>
                            <menu name="File" />
                            <menu name="Sofa" />
                        </layout>
                    </gui>
                    <registry>
                        <menu sid="menu_File" start="yes" />
                        <menu sid="menu_Sofa" start="yes" />
                    </registry>
                </service>

                <service uid="multiView_scene1" type="::gui::view::IView" impl="::gui::view::SDefaultView" autoConnect="no">
                    <gui>
                        <layout type="::fwGui::CardinalLayoutManager" >
                            <view align="center" minWidth="200"/>
                            <view align="right" minWidth="200" minHeight="200" position="0" />
                            <view align="right" minWidth="200" minHeight="80" position="1" />
                            <view align="right" minWidth="200" minHeight="200" position="2" />
                        </layout>
                    </gui>
                    <registry>
                        <view sid="genericScene" start="yes" />
                        <view sid="listOrganEditor" />
                        <view sid="multiView_scene1_bottom" start="yes" />
                    </registry>
                </service>
                <service uid="multiView_scene1_bottom" type="::gui::view::IView" impl="::gui::view::SDefaultView" autoConnect="no">
                    <gui>
                        <layout type="::fwGui::LineLayoutManager">
                            <orientation value="horizontal" />
                            <view proportion="0" minWidth="30" />
                            <view proportion="0" minWidth="50" />
                            <view proportion="1" />
                            <view proportion="0" minWidth="30" />
                        </layout>
                    </gui>
                </service>

                <service uid="menu_File" type="::fwGui::IMenuSrv" impl="::gui::aspect::SDefaultMenu" autoConnect="no" >
                    <gui>
                        <layout>
                            <menuItem name="Open image..." shortcut="Ctrl+I" />
                            <menuItem name="Open model series..." shortcut="Ctrl+M" />
                            <separator />
                            <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="action_openImage" start="yes" />
                        <menuItem sid="action_openMesh" start="yes" />
                        <menuItem sid="action_quit" start="yes" />
                    </registry>
                </service>

                <service uid="menu_Sofa" type="::fwGui::IMenuSrv" impl="::gui::aspect::SDefaultMenu" autoConnect="no" >
                    <gui>
                        <layout>
                            <menuItem name="Create scene" />
                            <menuItem name="Load scene" />
                        </layout>
                    </gui>
                    <registry>
                        <menuItem sid="sofaWriterAction" start="no" />
                        <menuItem sid="sofaReaderAction" start="no" />
                    </registry>
                </service>

                <service uid="action_openImage" impl="::gui::action::SStarter" type="::fwGui::IActionSrv"  autoConnect="no" >
                    <start uid="readerPathImageFile"/>
                </service>

                <service uid="action_openMesh" impl="::gui::action::SStarter" type="::fwGui::IActionSrv"  autoConnect="no" >
                    <start uid="readerPathMeshFile"/>
                </service>

                <service uid="action_saveFile" impl="::gui::action::SStarter" type="::fwGui::IActionSrv"  autoConnect="no" >
                    <start uid="readerPathMeshFile"/>
                </service>

                <service uid="action_quit" type="::fwGui::IActionSrv" impl="::gui::action::SQuit" autoConnect="no" />

                <item key="image">
                    <object uid="imageUID" type="::fwData::Image">

                        <service impl="::uiIO::editor::SIOSelector" type="::gui::editor::IDialogEditor" uid="readerPathImageFile" autoConnect="no">
                            <type mode="reader" />
                        </service>

                    </object>
                </item>

                <item key="modelSeries">
                    <object uid="modelSeriesUID" type="::fwMedData::ModelSeries">

                        <service impl="::uiIO::editor::SIOSelector" type="::gui::editor::IDialogEditor"
                            uid="readerPathMeshFile" autoConnect="no">
                            <type mode="reader" />
                        </service>

                    </object>
                </item>

                <!-- CompositeVisu description -->
                <item key="compositeVisu">
                    <object uid="compositeVisu" type="::fwData::Composite">
                        <service uid="medicalImageManager" impl="::ctrlSelection::manager::MedicalImageManagerSrv"
                            type="::ctrlSelection::IManagerSrv" autoConnect="yes">
                            <update imageCompositeKey="image" />
                        </service>

                        <service uid="updaterImageUID" impl="::ctrlSelection::updater::ObjFromMsgUpdaterSrv"
                            type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                            <update compositeKey="image" onEvent="NEW_IMAGE" fromUID="imageUID" actionType="ADD_OR_SWAP"/>
                        </service>

                        <service uid="updaterModelSeriesUID" impl="::ctrlSelection::updater::ObjFromMsgUpdaterSrv"
                            type="::ctrlSelection::IUpdaterSrv" autoConnect="no">
                            <update compositeKey="modelSeries" onEvent="ADD_RECONSTRUCTION" fromUID="modelSeriesUID" actionType="ADD_OR_SWAP"/>
                        </service>

                        <service uid="manager" impl="::ctrlSelection::manager::SwapperSrv" type="::ctrlSelection::IManagerSrv" autoConnect="yes">
                            <mode type="stop" />
                            <config>
                                <object id="modelSeries" type="::fwMedData::ModelSeries" >

                                  <service uid="sofaCore" impl="::opSofa::SofaCoreSrv" type="::fwGui::IActionSrv" autoConnect="yes" >
                                  </service>

                                  <service  uid="sofaWriterAction" impl="::gui::action::SStarter" type="::fwGui::IActionSrv" autoConnect="no" >
                                        <start uid="sofaWriter"/>
                                  </service>

                                  <service uid="sofaWriter" impl="::opSofa::SofaSceneWriterSrv" type="::io::IWriter" autoConnect="no" >
                                      <writeTrian>no</writeTrian>
                                  </service>

                                  <service  uid="sofaReaderAction" impl="::gui::action::SStarter" type="::fwGui::IActionSrv" autoConnect="no" >
                                      <start uid="sofaReader"/>
                                  </service>

                                  <service uid="sofaReader" impl="::opSofa::SofaSceneReaderSrv" type="::io::IReader" autoConnect="no" >
                                  </service>

                                  <service uid="listOrganEditor" impl="::uiMedData::editor::SModelSeriesList" type="::gui::editor::IEditor" autoConnect="yes" />
                              </object>

                            </config>
                        </service>
                        <service uid="genericScene" impl="::fwRenderVTK::SRender" type="::fwRender::IRender" autoConnect="yes">
                            <scene>
                                <picker id="defaultPicker" vtkclass="fwVtkCellPicker" />
                                <renderer id="default" background="0.0" />

                                <adaptor id="imageAdaptor" class="::visuVTKAdaptor::NegatoMPR" objectId="image">
                                    <config renderer="default" picker="defaultPicker" />
                                </adaptor>

                                <adaptor id="modelSeriesAdaptor" class="::visuVTKAdaptor::ModelSeries" objectId="modelSeries">
                                    <config renderer="default" picker="defaultPicker" />
                                </adaptor>
                            </scene>
                        </service>

                        <connect>
                            <signal>imageUID/objectModified</signal>
                            <slot>updaterImageUID/receive</slot>
                        </connect>

                        <connect>
                            <signal>modelSeriesUID/objectModified</signal>
                            <slot>updaterModelSeriesUID/receive</slot>
                        </connect>

                    </object>
                </item>

                <start uid="ihm"/>
                <start uid="updaterImageUID"/>
                <start uid="updaterModelSeriesUID"/>
                <start uid="medicalImageManager"/>
                <start uid="manager"/>

            </object>
        </config>
    </extension>
</plugin>
