<plugin id="ctrlMemory" class="::ctrlMemory::Plugin"  version="@PROJECT_VERSION@" >
    
    <library name="ctrlMemory" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="ctrlSelection" />
        
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::ctrlSelection::IManagerSrv</type>
        <service>::ctrlMemory::manager::LockDumpManagerSrv</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlMemory::LockDumpSrv</service>
        <object>::fwData::Object</object>
    </extension>
    
</plugin>



