<plugin id="dicomAppConfig" version="@PROJECT_VERSION@" >

    <requirement id="ctrlMemory" />
    <requirement id="ctrlSelection" />
    <requirement id="dataReg" />
    <requirement id="gui" />
    <requirement id="guiQt" />
    <requirement id="ioDicom" />
    <requirement id="ioGdcm" />
    <requirement id="visuVTK" />
    <requirement id="visuVTKAdaptor" />
    <requirement id="visuVTKQt" />

    <xi:include href="configurations/2DLocalPreviewConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

</plugin>
