<plugin id="blendActivity">

    <requirement id="servicesReg" />
    <requirement id="gui" />
    <requirement id="guiQt" />
    <requirement id="ctrlSelection" />
    <requirement id="uiVisu" />
    <requirement id="uiVisuQt" />
    <requirement id="visuVTKAdaptor" />
    <requirement id="uiImageQt" />
    <requirement id="media" />
    <requirement id="uiTF" />
    <requirement id="scene2D" />

    <xi:include href="configurations/Blend.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/ImageMix.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/TransferFunctionEditor.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>Blend</id>
        <title>Blend</title>
        <desc>Blend activity</desc>
        <icon>Bundles/media_0-1/icons/icon-blend.png</icon>
        <requirements>
            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="2" maxOccurs="2" />
        </requirements>
        <builder>::fwActivities::builder::ActivitySeries</builder>
        <appConfig id="Blend">
            <parameters>
                <parameter replace="frontImageUid" by="@values.imageSeries.values.0.image" />
                <parameter replace="backgroundImageUid" by="@values.imageSeries.values.1.image" />
            </parameters>
        </appConfig>
    </extension>
</plugin>
