<plugin id="ioDcmtk" class="ioDcmtk::Plugin"  version="@PROJECT_VERSION@" >
    <library name="ioDcmtk" />

    <requirement id="dataReg"/>
    <requirement id="io" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioDcmtk::SSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Series DB Reader (DCMTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioDcmtk::SDicomSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Dicom Series DB Reader (DCMTK)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioDcmtk::SDicomTagSeriesDBReader</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Dicom Tag Series DB Reader (DCMTK)</desc>
    </extension>

</plugin>
