<plugin id="ex_activities">

    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui" />
    <requirement id="sight::module::activity" />

    <xi:include href="configurations/ex_activities_base.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/image_reading.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/volume_rendering.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::activity::extension">
        <id>ExImage_Import_Activity</id>
        <title>ImageSeries reading</title>
        <desc>Activity to read an imageSeries</desc>
        <icon>sight::module::ui::flaticons/BlueFile.svg</icon>
        <requirements>
            <requirement name="imageSeries" type="sight::data::image_series" minOccurs="1" maxOccurs="1">
                <desc>ImageSeries that will be read by this activity.</desc>
            </requirement>
        </requirements>
        <appConfig id="ExActivities_ImageReading_AppCfg" />
    </extension>

    <extension implements="sight::activity::extension">
        <id>ExImage_Negatoscope_Activity</id>
        <title>ImageSeries displaying</title>
        <desc>Activity to display an imageSeries</desc>
        <icon>sight::module::ui::flaticons/Layers.svg</icon>
        <requirements>
            <!-- The imageSeries must be present to launch the activity -->
            <requirement name="imageSeries" type="sight::data::image_series" minOccurs="1" maxOccurs="1">
                <desc>ImageSeries that will be display by this activity.</desc>
            </requirement>
            <requirement name="landmarks" type="sight::data::landmarks" minOccurs="0" maxOccurs="0">
                <desc>Landmarks that will be created in this activity.</desc>
            </requirement>
        </requirements>
        <appConfig id="2DVisualization" />
    </extension>

    <extension implements="sight::activity::extension">
        <id>ExImage_VolumeRendering_Activity</id>
        <title>ImageSeries displaying Volume</title>
        <desc>Activity to display an imageSeries in a volume rendering</desc>
        <icon>sight::module::ui::flaticons/Volume.svg</icon>
        <requirements>
            <!-- The imageSeries must be present to launch the activity -->
            <requirement name="imageSeries" type="sight::data::image_series" minOccurs="1" maxOccurs="1">
                <desc>ImageSeries that will be display by this activity.</desc>
            </requirement>
            <requirement name="optionalModelSeries" type="sight::data::model_series" minOccurs="0" maxOccurs="1">
                <desc>Optional model series.</desc>
            </requirement>
        </requirements>
        <appConfig id="VolumeRendering" />
    </extension>

    <extension implements="sight::service::extension::config">
        <id>ExActivities_Sequencer_SrvCfg</id>
        <service>sight::module::ui::qt::activity::sequencer</service>
        <desc>Configuration for sequencer</desc>
        <config>
            <activity id="ExImage_Import_Activity" name="Import" />
            <activity id="ExImage_Negatoscope_Activity" name="Negatoscope" />
            <activity id="ExImage_VolumeRendering_Activity" name="Volume Rendering" />
            <clear>#2E3034</clear>
            <primary>#6997BB</primary>
            <background>#565A5E</background>
            <elevation>#525867</elevation>
            <accent>#666C7B</accent>
            <foreground>#3E4453</foreground>
            <fontSize>14</fontSize>
        </config>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>ExActivities_Wizard_SrvCfg</id>
        <service>sight::module::ui::qt::activity::wizard</service>
        <desc>Custom configuration for ex_activities wizard</desc>
        <config>
            <ioSelectorConfig>SDBReaderIOSelectorConfig</ioSelectorConfig>
            <sdbIoSelectorConfig>FullSDBReaderIOSelectorConfig</sdbIoSelectorConfig>
            <confirm>false</confirm>
            <icons>
                <icon type="sight::data::image" icon="sight::module::ui::flaticons/Volume.svg" />
            </icons>
        </config>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>SessionReaderConfig</id>
        <service>sight::module::io::session::reader</service>
        <desc>Session reader</desc>
        <config>
            <dialog extension=".sample" description="Sample Sight session file" policy="always" />
            <password policy="global" encryption="salted" />
        </config>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>SessionWriterConfig</id>
        <service>sight::module::io::session::writer</service>
        <desc>Session writer</desc>
        <config>
            <dialog extension=".sample" description="Sample Sight session file" policy="once" />
            <password policy="global" encryption="salted" />
        </config>
    </extension>

    <extension implements="sight::app::extension::parameters">
        <id>ExActivities_AppCfgParam</id>
        <parameters>
            <param name="APP_NAME" value="ex_activities" />
            <param name="APP_VERSION" value="@PROJECT_VERSION@" />
            <param name="ICON_PATH" value="ex_activities/app.ico" />
            <param name="SEQUENCER_CONFIG" value="ExActivities_Sequencer_SrvCfg" />
            <param name="WIZARD_CONFIG" value="ExActivities_Wizard_SrvCfg" />
        </parameters>
    </extension>

</plugin>
