<plugin id="ctrlCamera" class="::ctrlCamera::Plugin" version="0.1">
    
    <library name="ctrlCamera" />
    
    <requirement id="dataReg" />
    <requirement id="arDataReg" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlCamera::SExtractDeviceInfo</service>
        <object>::fwData::Object</object>
    </extension>
    
</plugin>
