<plugin id="videoTools" class="videoTools::Plugin" version="@PROJECT_VERSION@" >

    <library name="videoTools" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::arServices::ISynchronizer</type>
        <service>::videoTools::SFrameMatrixSynchronizer</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::arServices::ISynchronizer</type>
        <service>::videoTools::SMatrixSynchronizer</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::arServices::ISynchronizer</type>
        <service>::videoTools::SMatrixTLSelector</service>
        <object>::fwData::Composite</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::videoTools::SFrameUpdater</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IOperator</type>
        <service>::videoTools::SFrameResizer</service>
        <object>::fwData::Composite</object>
        <desc>service description</desc>
    </extension>

</plugin>
