<plugin id="sight::module::io::dicom" library="true">
    <requirement id="sight::module::service" />

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::reader</type>
        <service>sight::module::io::dicom::reader</service>
        <object>sight::data::series_set</object>
        <desc>DICOM Reader</desc>
    </extension>
</plugin>
