<plugin id="ctrlComputeCPR" class="::ctrlComputeCPR::Plugin" version="@PROJECT_VERSION@" >

    <library name="ctrlComputeCPR" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlComputeCPR::SComputeCPR3D</service>
        <object>::fwData::Mesh</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::ctrlComputeCPR::SComputeCPR2D</service>
        <object>::fwData::Image</object>
    </extension>

</plugin>

