<plugin id="activitiesConfig" version="@PROJECT_VERSION@">

    <requirement id="sight::module::io::atoms" />
    <requirement id="sight::module::activity" />
    <requirement id="sight::module::io::activity" />

    <xi:include href="configurations/ActivityLauncher.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::sight::service::extension::Config">
        <id>defaultWizardConfig</id>
        <service>::sight::module::ui::qt::activity::SWizard</service>
        <desc>Default configuration for activity wizard</desc>
        <config>
            <ioSelectorConfig>SDBReaderIOSelectorConfig</ioSelectorConfig>
            <sdbIoSelectorConfig>FullSDBReaderIOSelectorConfig</sdbIoSelectorConfig>
            <confirm>false</confirm>
            <icons>
                <icon type="::sight::data::ImageSeries" icon="sight_module_ui_icons-0.1/ImageSeries.svg" />
                <icon type="::sight::data::ModelSeries" icon="sight_module_ui_icons-0.1/ModelSeries.svg" />
            </icons>
        </config>
    </extension>

</plugin>
