<plugin id="sight::config::ui::activity">

    <requirement id="sight::module::io::session" />
    <requirement id="sight::module::activity" />
    <requirement id="sight::module::io::activity" />

    <xi:include href="configurations/activity_launcher.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::service::extension::config">
        <id>defaultWizardConfig</id>
        <service>sight::module::ui::qt::activity::wizard</service>
        <desc>Default configuration for activity wizard</desc>
        <config>
            <ioSelectorConfig>SDBReaderIOSelectorConfig</ioSelectorConfig>
            <sdbIoSelectorConfig>FullSDBReaderIOSelectorConfig</sdbIoSelectorConfig>
            <confirm>false</confirm>
            <icons>
                <icon type="sight::data::image_series" icon="sight::module::ui::icons/image_series.svg" />
                <icon type="sight::data::model_series" icon="sight::module::ui::icons/model_series.svg" />
            </icons>
        </config>
    </extension>

</plugin>
