<plugin id="trackerAruco" class="::trackerAruco::Plugin" version="@PROJECT_VERSION@" >

    <library name="trackerAruco" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::arServices::ITracker</type>
        <service>::trackerAruco::SArucoTracker</service>
        <object>::fwData::Composite</object>
    </extension>

</plugin>
