<plugin id="basicRegistration" class="::basicRegistration::Plugin" version="@PROJECT_VERSION@" >

    <library name="basicRegistration" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::basicRegistration::SPointListRegistration</service>
        <object>::fwData::Composite</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::editor::IEditor</type>
        <service>::basicRegistration::SImagesSubstract</service>
        <object>::fwData::Composite</object>
    </extension>

</plugin>
