<plugin id="uiIO" class="::uiIO::Plugin" >
        
        <library name="uiIO" />

        <requirement id="dataReg" />
        <requirement id="gui" />
        <requirement id="io" />

        <point id="::uiIO::editor::IOSelectorService">
                <implements>::gui::editor::IEditor</implements>
                <implements>::fwTools::Object</implements>
        </point>
 
    <point id="::uiIO::action::ExportAcquisition">
        <implements>::gui::action::IAction</implements>
        <implements>::fwData::PatientDB</implements>
    </point>
        
    <extension-point id="::uiIO::editor::IOSelectorServiceConfig"/>
  
</plugin>



