<plugin id="FilterConfiguration">
    <extension id="FilterConfig" implements="::fwServices::ServiceObjectConfig">
    <!-- Root object -->
    <object type="::fwData::Composite">
        <!-- Windows & Main Menu -->
        <service type="::fwGui::IFrameSrv" implementation="::gui::frame::DefaultFrame" autoComChannel="no" >
            <gui>
                <frame>
                    <name>Filter</name>
                    <icon>Bundles/Tuto06Filter_0-1/tuto.ico</icon>
                    <minSize width="720" height="600"/>
                </frame>
                <menuBar />
            </gui>
            <registry>
                <menuBar sid="myMenuBar" start="yes" />
                <view sid="myDefaultView" start="yes" />
            </registry>
        </service>
        
       <service uid="myMenuBar" type="::fwGui::IMenuBarSrv" implementation="::gui::aspect::DefaultMenuBarSrv" autoComChannel="no" >
            <gui>
                <layout>
                     <menu name="File" />
                     <menu name="Filter" />
                </layout>
            </gui>
            <registry>
                <menu sid="menuFile" start="yes" />
                <menu sid="menuFilter" start="yes" />
            </registry>
        </service>
        
        <service uid="myDefaultView" type="::gui::view::IView" implementation="::gui::view::DefaultView" autoComChannel="no" >
            <gui>
                <layout type="::fwGui::CardinalLayoutManager" >
                    <view align="center" />
                    <view align="right" minWidth="500" minHeight="100" />
                </layout>
            </gui>
            <registry>
                <view sid="RenderingImage1" start="yes" />
                <view sid="RenderingImage2" start="yes" />
            </registry>
        </service> 
        
        <!-- Menus -->
        <service uid="menuFile" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no" >
            <gui>
                <layout>
                    <menuItem name="Open image file" shortcut="Ctrl+O" />
                    <separator />
                    <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                </layout>
            </gui>
            <registry>
                <menuItem sid="actionOpenImageFile" start="yes" />
                <menuItem sid="actionQuit" start="yes" />
            </registry>
        </service>
        <service uid="menuFilter" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no" >
            <gui>
                <layout>
                    <menuItem name="Compute Image Filter" />
                </layout>
            </gui>
            <registry>
                <menuItem sid="actionImageFilter" start="yes" />
            </registry>
        </service>
        
        <!-- Actions on Menus -->         
        <service uid="actionQuit" type="::fwGui::IActionSrv" implementation="::gui::action::QuitAction" autoComChannel="no" />
        <service uid="actionOpenImageFile" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no" >
            <start uid="readerPathImageFile"/>
        </service>
        <service uid="actionImageFilter" type="::fwGui::IActionSrv" implementation="::opImageFilter::action::ImageFilter" autoComChannel="no" >
            <imageIn  uid="myImage1"/>
            <imageOut uid="myImage2"/>
        </service>
        <!-- Services on objects -->
        <!-- 1st Object of the composite -->
        <item key="myImage1">
            <object uid="myImage1" type="::fwData::Image">
                <service implementation="::vtkSimpleNegato::RendererService" type="::fwRender::IRender" uid="RenderingImage1" autoComChannel="yes" />
                <service implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" uid="readerPathImageFile" autoComChannel="no" >
                    <type mode="reader"/>
                </service>
            </object>
        </item>
        <!-- 2nd Object of the composite -->       
        <item key="myImage2">
            <object uid="myImage2" type="::fwData::Image">
                <service implementation="::vtkSimpleNegato::RendererService" type="::fwRender::IRender" uid="RenderingImage2" autoComChannel="yes" />
            </object> 
        </item>
    
    <!-- Starting order of services -->
    <start type="::fwGui::IFrameSrv" />

    <stop type="::fwGui::IFrameSrv" />
  </object>
  </extension>
</plugin>    
