<plugin id="ioXML" class="ioXML::Plugin">

    <library name="ioXML"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="io" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLGenericWriterService</service>
        <object>::fwTools::Object</object>
        <desc>Generic fwXML Writer (Ircad)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioXML::FwXMLGenericReaderService</service>
        <object>::fwTools::Object</object>
        <desc>Generic fwXML Reader (Ircad)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioXML::FwXMLPatientDBReaderService</service>
        <object>::fwData::PatientDB</object>
        <desc>fwXML PatientDB Reader (Ircad)</desc>
    </extension>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLPatientDBWriterService</service>
        <object>::fwData::PatientDB</object>
        <desc>fwXML PatientDB Writer (Ircad)</desc>
    </extension>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioXML::FwXMLImageReaderService</service>
        <object>::fwData::Image</object>
        <desc>fwXML Image Reader (Ircad)</desc>
    </extension>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLImageWriterService</service>
        <object>::fwData::Image</object>
        <desc>fwXML Image Writer (Ircad)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLPatient2PatientDBWriterService</service>
        <object>::fwData::Patient</object>
        <desc>fwXML Patient Writer (Ircad)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLAcquisitionWriterService</service>
        <object>::fwData::Acquisition</object>
        <desc>fwXML Acquisition Writer (Ircad)</desc>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwXML::IFileFormatService</type>
        <service>::fwXML::TriangularMeshFileFormatService</service>
        <object>::fwData::TriangularMesh</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwXML::IFileFormatService</type>
        <service>::fwXML::ImageFileFormatService</service>
        <object>::fwData::Image</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwXML::IFileFormatService</type>
        <service>::fwXML::ArrayFileFormatService</service>
        <object>::fwData::Array</object>
    </extension>
    
</plugin>
