<plugin id="ioXML" class="ioXML::Plugin">

    <library name="ioXML"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="io" />

    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioXML::FwXMLPatientDBWriterService , ::fwTools::Object ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLGenericWriterService</service>
        <object>::fwTools::Object</object>
        <desc>Generic fwXML Writer (Ircad)</desc>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioXML::FwXMLPatientDBWriterService , ::fwTools::Object ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioXML::FwXMLGenericReaderService</service>
        <object>::fwTools::Object</object>
        <desc>Generic fwXML Reader (Ircad)</desc>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IReader , ::io::FwXMLPatientDBReaderService , ::fwData::PatientDB ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioXML::FwXMLPatientDBReaderService</service>
        <object>::fwData::PatientDB</object>
        <desc>fwXML Reader (Ircad)</desc>
    </extension>


    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioXML::FwXMLPatientDBWriterService , ::fwData::PatientDB ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLPatientDBWriterService</service>
        <object>::fwData::PatientDB</object>
        <desc>fwXML Writer (Ircad)</desc>
    </extension>


    <!-- REGISTER_SERVICE( ::io::IReader , ::ioXML::FwXMLImageReaderService , ::fwData::Image ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IReader</type>
        <service>::ioXML::FwXMLImageReaderService</service>
        <object>::fwData::Image</object>
        <desc>fwXML Reader (Ircad)</desc>
    </extension>


    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioXML::FwXMLImageWriterService , ::fwData::Image ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLImageWriterService</service>
        <object>::fwData::Image</object>
        <desc>fwXML Writer (Ircad)</desc>
    </extension>


    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioXML::FwXMLPatient2PatientDBWriterService , ::fwData::Patient ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLPatient2PatientDBWriterService</service>
        <object>::fwData::Patient</object>
        <desc>fwXML Writer (Ircad)</desc>
    </extension>

    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioXML::FwXMLAcquisitionWriterService , ::fwData::Acquisition ) ; -->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::io::IWriter</type>
        <service>::ioXML::FwXMLAcquisitionWriterService</service>
        <object>::fwData::Acquisition</object>
        <desc>fwXML Writer (Ircad)</desc>
    </extension>

</plugin>
