<plugin id="uiSpline" class="::uiSpline::Plugin" version="@PROJECT_VERSION@" >

    <library name="uiSpline" />

    <requirement id="io"/>
    <requirement id="gui"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiSpline::SSplinePointsEditor</service>
        <object>::fwData::PointList</object>
    </extension>

</plugin>


