<plugin id="sight::module::geometry" library="true" >
    <requirement id="sight::module::service"/>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::controller</type>
         <service>sight::module::geometry::concatenate_matrices</service>
         <object>sight::data::matrix4</object>
         <desc>This service concatenates N matrices together.</desc>
    </extension>
    <extension implements="sight::service::extension::factory">
         <type>sight::service::filter</type>
         <service>sight::module::geometry::decompose_matrix</service>
         <object key="matrix">sight::data::matrix4</object>
         <object key="translation">sight::data::matrix4</object>
         <object key="rotation">sight::data::matrix4</object>
         <object key="scale">sight::data::matrix4</object>
         <desc>This service decomposes a matrix into a 3 by 3 rotation matrix, a 3 dimensional translation vector</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::controller</type>
         <service>sight::module::geometry::manage_point_list</service>
         <object key="pointList">sight::data::point_list</object>
         <object key="matrix">sight::data::matrix4</object>
         <desc>Add point in a data::point_list</desc>
    </extension>


    <extension implements="sight::service::extension::factory">
         <type>sight::service::base</type>
         <service>sight::module::geometry::matrix_list</service>
         <desc>This service manages vectors of matrices and can be connected to the matrices list visualization service (</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::filter</type>
         <service>sight::module::geometry::point_list_from_matrices</service>
         <desc>The point_list_from_matrices service extracts translation part of multiple matrices and put it into a pointlist.</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::base</type>
         <service>sight::module::geometry::point_to_landmark_distance</service>
         <desc>Computes the intersection between a mesh and a line.</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::base</type>
         <service>sight::module::geometry::point_to_landmark_vector</service>
         <desc>Compute the vector between a point and a target</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::controller</type>
         <service>sight::module::geometry::switch_matrices</service>
         <object>sight::data::matrix4</object>
         <desc>This service switch between several matrices.</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::base</type>
         <service>sight::module::geometry::targeting</service>
         <desc>Return a pointList containing the position of a landmark on a CrossHair</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::service::base</type>
         <service>sight::module::geometry::transform_landmark</service>
         <desc>Apply a matrix to a landmark.</desc>
    </extension>
</plugin>
