<plugin id="sight::activity::io::dicom">

    <requirement id="sight::module::activity" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::viz::scene3d_qt" />

    <xi:include href="configurations/2d_local_preview_config.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/2d_pacs_preview_config.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/filtering.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/pacs_configuration.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/pacs_reader.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/pacs_writer.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/preview.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::activity::extension">
        <id>sight::activity::io::dicom::pacs_reader</id>
        <title>Dicom PACS Reader</title>
        <desc>Dicom PACS Reader activity</desc>
        <icon>sight::module::ui::icons/pull.svg</icon>
        <requirements>
        </requirements>
        <builder>sight::activity::builder::Activity</builder>
        <appConfig id="sight::activity::io::dicom::pacs_reader">
        </appConfig>
    </extension>

    <extension implements="sight::activity::extension">
        <id>sight::activity::io::dicom::pacs_writer</id>
        <title>Dicom PACS Writer</title>
        <desc>Dicom Pacs Writer activity</desc>
        <icon>sight::module::ui::icons/push.svg</icon>
        <requirements>
        </requirements>
        <builder>sight::activity::builder::Activity</builder>
        <appConfig id="sight::activity::io::dicom::pacs_writer">
        </appConfig>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>sight::io::dicom::pacs_reader_config</id>
        <desc>Reader configuration to convert retrieved DicomSeries to ImageSeries</desc>
        <config>
            <filterType>sight::filter::dicom::custom::default_dicom_filter</filterType>
        </config>
    </extension>

    <extension implements="sight::activity::extension">
        <id>sight::activity::io::dicom::filtering</id>
        <title>DICOM Filtering</title>
        <desc>DICOM Filtering activity</desc>
        <icon>sight::module::ui::icons/plus.svg</icon>
        <requirements>
        </requirements>
        <builder>sight::activity::builder::Activity</builder>
        <appConfig id="sight::activity::io::dicom::filtering">
        </appConfig>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>sight::activity::io::dicom::series_set_selector_config</id>
        <service>sight::module::ui::io::selector</service>
        <desc>io::selector config for DICOM Filtering Activity</desc>
        <config>
            <type mode="reader" />
            <selection mode="include" />
            <addSelection service="sight::module::io::dicom::dicom_series_set_reader" />
            <config id="sight::activity::io::dicom::reader_config" service="sight::module::io::dicom::dicom_series_set_reader" />
        </config>
    </extension>

    <extension implements="sight::service::extension::config">
        <id>sight::activity::io::dicom::reader_config</id>
        <desc>DICOM Reader config</desc>
        <config>
            <dicomdirSupport>user_selection</dicomdirSupport>
            <mode>direct</mode>
        </config>
    </extension>

</plugin>