<plugin id="uiIO" class="::uiIO::Plugin"  version="@PROJECT_VERSION@" >

    <library name="uiIO" />

    <requirement id="dataReg" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::editor::IDialogEditor</type>
        <service>::uiIO::editor::SIOSelector</service>
        <object>::fwData::Object</object>
    </extension>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiIO::action::SSeriesDBMerger</service>
        <object>::fwMedData::SeriesDB</object>
        <desc>Merge SeriesDB</desc>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiIO::action::SExportWithSeriesDB</service>
        <object>::fwData::Object</object>
        <desc>Export the series using a SeriesDB</desc>
    </extension>

</plugin>
