<plugin id="sight::config::viz::scene3d">

    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::viz::scene3d" />

    <xi:include href="configurations/negato2d.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/light_manager.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/organ_manager.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/volume_rendering.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/image_split_views.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

</plugin>
