<plugin id="opSofa" class="::opSofa::Plugin">
    
    <library name="opSofa" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="io" />
    
    <extension implements="ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::opSofa::SofaCoreSrv</service>
        <object>::fwData::Acquisition</object>
    </extension>
  
    <extension implements="ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::opSofa::SofaStartSrv</service>
        <object>::fwData::Acquisition</object>
    </extension>
    
    <extension implements="ServiceFactory">
        <type>::io::IWriter</type>
        <service>::opSofa::SofaSceneWriterSrv</service>
        <object>::fwData::Acquisition</object>
    </extension>

    <extension implements="ServiceFactory">
        <type>::io::IReader</type>
        <service>::opSofa::SofaSceneReaderSrv</service>
        <object>::fwData::Acquisition</object>
    </extension>

    <extension implements="ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::opSofa::SofaTrianSrv</service>
        <object>::fwTools::Object</object>
    </extension>

    <extension implements="ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::opSofa::SofaMeshEditorSrv</service>
        <object>::fwData::Acquisition</object>
    </extension>

  <extension implements="ServiceFactory">
        <type>::fwRenderVTK::IVtkAdaptorService</type>
        <service>::opSofa::BoxWidget</service>
        <object>::fwData::TransformationMatrix3D</object>
    </extension>
    
</plugin>
