<plugin id="MesherV3Config">

    <extension implements="::fwServices::registry::AppConfig">
        <id>MesherV3Config</id>
        <type>standard</type>
        <config>
        

        <!--  Composite data creation. -->
        <object type="::fwData::Composite">

            <!-- Frame & View -->

            <!--
                Service associated to the Composite data :
                main window creation.
            -->
            <service uid="myFrame" type="::fwGui::IFrameSrv" implementation="::gui::frame::DefaultFrame" autoComChannel="no">
                <gui>
                    <frame>
                        <name>Mesher</name>
                        <icon>Bundles/Tuto05MesherC_0-1/tuto.ico</icon>
                        <minSize width="800" height="600" />
                    </frame>
                    <menuBar />
                </gui>
                <registry>
                    <menuBar sid="myMenuBar" start="yes" />
                    <view sid="myDefaultView" start="yes" />
                </registry>
            </service>

            <service uid="myDefaultView" type="::gui::view::IView" implementation="::gui::view::DefaultView" autoComChannel="no">
                <gui>
                    <layout type="::fwGui::CardinalLayoutManager">
                        <view caption="Image view" align="center" />
                        <view caption="Mesh 1 view" align="right" minWidth="500" minHeight="100" />
                        <view caption="Meshes view" align="right" minWidth="500" minHeight="100" />
                        <view caption="Mesh 2 view" align="right" minWidth="500" minHeight="100" />
                    </layout>
                </gui>
                <registry>
                    <view sid="RenderingImage" start="yes" />
                    <view sid="RenderingMesh1" start="yes" />
                    <view sid="RenderingMesh" start="yes" />
                    <view sid="RenderingMesh2" start="yes" />
                </registry>
            </service>


            <!-- Menu Bar, Menus & Actions -->


            <service uid="myMenuBar" type="::fwGui::IMenuBarSrv" implementation="::gui::aspect::DefaultMenuBarSrv" autoComChannel="no">
                <gui>
                    <layout>
                        <menu name="File" />
                        <menu name="Mesher" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menuFile" start="yes" />
                    <menu sid="menuMesher" start="yes" />
                </registry>
            </service>


            <service uid="menuFile" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no">
                <gui>
                    <layout>
                        <menuItem name="Open image file" shortcut="Ctrl+O" />
                        <menuItem name="Save image" />
                        <separator />
                        <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="actionOpenImageFile" start="yes" />
                    <menuItem sid="actionSaveImageFile" start="yes" />
                    <menuItem sid="actionQuit" start="yes" />
                </registry>
            </service>


            <service uid="menuMesher" type="::fwGui::IMenuSrv" implementation="::gui::aspect::DefaultMenuSrv" autoComChannel="no">
                <gui>
                    <layout>
                        <menuItem name="Compute Mesh 1 (VTK)" />
                        <menuItem name="Compute Mesh 2 (VTK)" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="actionCreateVTKMesh1" start="yes" />
                    <menuItem sid="actionCreateVTKMesh2" start="yes" />
                </registry>
            </service>

            <service uid="actionQuit" type="::fwGui::IActionSrv" implementation="::gui::action::QuitAction" autoComChannel="no" />



            <!--
                Service associated to the Composite data :
                menu services creation.
                Actions in relationship with images and meshe
            -->
            <service uid="actionOpenImageFile" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no">
                <start uid="readerPathImageFile" />
            </service>

            <service uid="actionSaveImageFile" type="::fwGui::IActionSrv" implementation="::gui::action::StarterActionService" autoComChannel="no">
                <start uid="writerImageFile" />
            </service>

            <service uid="actionCreateVTKMesh1" type="::fwGui::IActionSrv" implementation="::opVTKMesh::action::VTKMeshCreation" autoComChannel="no">
                <image uid="myImage" />
                <mesh uid="myMesh1" />
                <percentReduction value="0" />
            </service>

            <service uid="actionCreateVTKMesh2" type="::fwGui::IActionSrv" implementation="::opVTKMesh::action::VTKMeshCreation" autoComChannel="no">
                <image uid="myImage" />
                <mesh uid="myMesh2" />
                <percentReduction value="30" />
            </service>



            <service implementation="::vtkCompositeMesh::RendererService" type="::fwRender::IRender" uid="RenderingMesh" autoComChannel="yes" />

            <!--
                Image object creation Services contained between the tags <object> and </object>
                are associated to the Image data.
            -->
            <item key="myImage">
                <object uid="myImage" type="::fwData::Image">

                    <!--
                    Services associated to the Image data :
                    Visualization, reading and writing service creation.
                    -->
                    <service implementation="::vtkSimpleNegato::RendererService" type="::fwRender::IRender" uid="RenderingImage" autoComChannel="yes" />

                    <service implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" uid="readerPathImageFile" autoComChannel="no">
                        <type mode="reader" />
                    </service>

                    <service implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IDialogEditor" uid="writerImageFile" autoComChannel="no">
                        <type mode="writer" />
                    </service>

                </object>
            </item>

            <!--
                TriangularMesh object creation. Services contained between the tags <object> and </object> are
                associated to the TriangularMesh data.
             -->
            <item key="myMesh1">
                <object uid="myMesh1" type="::fwData::TriangularMesh">

                    <!--
                        Services associated to the TriangularMesh data :
                        Visualization, reading and writing service creation.
                    -->
                    <service implementation="::vtkSimpleMesh::RendererService" type="::fwRender::IRender" uid="RenderingMesh1" autoComChannel="yes">
                        <masterSlaveRelation>master</masterSlaveRelation>
                    </service>


                    <service uid="MyComChannelSrv1" implementation="::fwServices::ComChannelService" type="::fwServices::ICommunication" autoComChannel="no">
                        <target>RenderingMesh</target>
                    </service>


                </object>
            </item>

            <!--
                TriangularMesh object creation. Services contained between the tags <object> and </object> are
                associated to the TriangularMesh data.
             -->
            <item key="myMesh2">
                <object uid="myMesh2" type="::fwData::TriangularMesh">

                    <!--
                        Services associated to the TriangularMesh data :
                        Visualization, reading and writing service creation.
                    -->
                    <service implementation="::vtkSimpleMesh::RendererService" type="::fwRender::IRender" uid="RenderingMesh2" autoComChannel="yes">
                        <masterSlaveRelation>master</masterSlaveRelation>
                    </service>


                    <service uid="MyComChannelSrv2" implementation="::fwServices::ComChannelService" type="::fwServices::ICommunication" autoComChannel="no">
                        <target>RenderingMesh</target>
                    </service>

                </object>
            </item>

            <!--
                In order to start the different services, it does not need to follow the objects creation order. Note that the services associated to the Image and TriangularMesh data are not started
                between the tags corresponding to these two data definitions but, before the end of the Composite data definition.
            -->
            <start uid="myFrame" />

            <start uid="MyComChannelSrv1" />
            <start uid="MyComChannelSrv2" />

            <stop uid="MyComChannelSrv2" />
            <stop uid="MyComChannelSrv1" />

            

        </object>
    
        </config>
    </extension>
</plugin>    
