<plugin id="tuto">

    <extension id="tuto" implements="::fwData::Composite">

        <object id="myCompositeVisu" type="::fwData::Composite">

            <service type="::gui::frame::IFrame" implementation="::gui::frame::MainFrame" autoComChannel="no">
                <name>tutoDataService bis</name>
                <icon>Bundles/Tuto10MatrixTransformInGS_0-1/tuto.ico</icon>
                <view uid="multiView" autoStart="yes" />
            </service>

            <service uid="myMenuBar" type="::gui::aspect::IMenuBar" implementation="::gui::aspect::DefaultMenuBar" autoComChannel="no">
                <menus>
                    <menu uid="menu_File" />
                </menus>
            </service>

            <service name="File" uid="menu_File" type="::gui::aspect::IMenu" implementation="::gui::aspect::DefaultMenu" autoComChannel="no">
                <action uid="action_openFile" />
                <separator />
                <action uid="action_quit" />
            </service>

            <service uid="action_openFile" name="OpenFile" type="::gui::action::IAction" implementation="::gui::action::StarterActionService" shortcut="Ctrl+O" autoComChannel="no">
                <start uid="myReaderPathFile" />
            </service>

            <service uid="action_quit" specialAction="QUIT" name="Quit" type="::gui::action::IAction" implementation="::gui::action::QuitAction" shortcut="Ctrl+Q" autoComChannel="no" />

            <service uid="multiView" type="::gui::view::IView" implementation="::gui::view::MultiView" autoComChannel="no">
                <views>
                    <view uid="genericScene" align="center" autoStart="yes" />
                    <view uid="matrixEEditor" align="bottom" minHeight="40" position="0" autoStart="yes" />
                </views>
            </service>


            <service uid="genericScene" implementation="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoComChannel="yes">
                <scene>

                    <renderer id="default" background="0.0" />

                    <picker id="myPicker" vtkclass="fwVtkCellPicker" />

                    <vtkObject id="mat1" class="vtkTransform" />
                    <vtkObject id="mat2" class="vtkTransform" />
                    <vtkObject id="mat3" class="vtkTransform" />
                    <vtkObject id="mat4" class="vtkTransform" />
                    <vtkObject id="mat5" class="vtkTransform" />
                    
                    <!-- mat5 = mat5 x mat1 x mat4 -->
                    <vtkObject id="mat6" class="vtkTransform" >
                        <vtkTransform>
                            <concatenate>mat5</concatenate>
                            <concatenate>mat1</concatenate>
                            <concatenate>mat4</concatenate>
                        </vtkTransform>
                    </vtkObject>
                    
                    <!-- mat6 = mat5 x mat2 x mat5 x mat5 x mat5 x mat4 x mat4 -->
                    <vtkObject id="mat7" class="vtkTransform" >
                        <vtkTransform>
                            <concatenate inverse="yes">mat5</concatenate>
                            <concatenate>mat2</concatenate>
                            <concatenate>mat5</concatenate>
                            <concatenate>mat5</concatenate>
                            <concatenate>mat5</concatenate>
                            <concatenate>mat4</concatenate>
                            <concatenate>mat4</concatenate>
                        </vtkTransform>
                    </vtkObject>
                    
                    <!-- mat7 = mat3 x mat5 x mat4 x mat4 x mat4 -->
                    <vtkObject id="mat8" class="vtkTransform" >
                        <vtkTransform>
                            <concatenate>mat3</concatenate>
                            <concatenate>mat5</concatenate>
                            <concatenate>mat4</concatenate>
                            <concatenate>mat4</concatenate>
                            <concatenate>mat4</concatenate>
                        </vtkTransform>
                    </vtkObject>
                    
                    

                    <adaptor id="MatrixAdatorA" class="::visuVTKAdaptor::Transform" objectId="matrixA">
                        <config renderer="default" picker="" transform="mat1" />
                    </adaptor>

                    <adaptor id="MatrixAdatorB" class="::visuVTKAdaptor::Transform" objectId="matrixB">
                        <config renderer="default" picker="" transform="mat2" />
                    </adaptor>
                    
                    <adaptor id="MatrixAdatorC" class="::visuVTKAdaptor::Transform" objectId="matrixC">
                        <config renderer="default" picker="" transform="mat3" />
                    </adaptor>
                    
                    <adaptor id="MatrixAdatorD" class="::visuVTKAdaptor::Transform" objectId="matrixD">
                        <config renderer="default" picker="" transform="mat4" />
                    </adaptor>
                    
                    <adaptor id="MatrixAdatorE" class="::visuVTKAdaptor::Transform" objectId="matrixE">
                        <config renderer="default" picker="" transform="mat5" />
                    </adaptor>
                    
                    
                    
                    <adaptor id="Renderer" class="::visuVTKAdaptor::Render" objectId="myCompositeVisu">
                        <config renderer="default" picker="" />
                    </adaptor>

                    <adaptor id="TMAdaptor1" class="::visuVTKAdaptor::TriangularMesh" objectId="mesh">
                        <config renderer="default" picker="" />
                    </adaptor>

                    <adaptor id="TMAdaptor2" class="::visuVTKAdaptor::TriangularMesh" objectId="mesh">
                        <config renderer="default" picker="" transform="mat6" />
                    </adaptor>
                    
                    <adaptor id="TMAdaptor3" class="::visuVTKAdaptor::TriangularMesh" objectId="mesh">
                        <config renderer="default" picker="" transform="mat7" />
                    </adaptor>
                    
                    <adaptor id="TMAdaptor4" class="::visuVTKAdaptor::TriangularMesh" objectId="mesh">
                        <config renderer="default" picker="" transform="mat8" />
                    </adaptor>

                </scene>
            </service>

            <object id="matrixA" type="::fwData::TransformationMatrix3D">
                <matrix>
                    1 0 0 2
                    0 1 0 0
                    0 0 1 0
                    0 0 0 1 
                </matrix>
            </object>

            <object id="matrixB" type="::fwData::TransformationMatrix3D">
                <matrix>
                    1 0 0 4
                    0 1 0 0
                    0 0 1 0
                    0 0 0 1 
                </matrix>
            </object>
            
            <object id="matrixC" type="::fwData::TransformationMatrix3D">
                <matrix>
                    1 0 0 0
                    0 1 0 0
                    0 0 1 2
                    0 0 0 1 
                </matrix>
            </object>
            
            <object id="matrixD" type="::fwData::TransformationMatrix3D">
                <matrix>
                    0.75 0 0 0
                    0 0.75 0 0
                    0 0 0.75 0
                    0 0 0 1 
                </matrix>
            </object>
            
            <object id="matrixE" type="::fwData::TransformationMatrix3D">
                <service uid="matrixEEditor" implementation="::uiVisu::TransformationMatrixEditor" type="::gui::editor::IEditor" autoComChannel="yes" />
            </object>
                        

            <object id="mesh" type="::fwData::TriangularMesh">
                <service uid="myReaderPathFile" implementation="::uiIO::editor::IOSelectorService" type="::gui::editor::IEditor" autoComChannel="no" />
            </object>

            <start type="::gui::frame::IFrame" />
            <start type="::gui::aspect::IMenuBar" />
            
            <stop type="::gui::aspect::IMenuBar" />
            <stop type="::gui::frame::IFrame" />

        </object>

    </extension>
</plugin>
