<plugin id="sight::module::debug" library="true" >


    <extension implements="sight::service::extension::factory">
         <type>sight::ui::action</type>
         <service>sight::module::debug::action::MemoryConsumption</service>
         <object>sight::data::object</object>
         <desc>Implements configuring method derived from base. .</desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::ui::action</type>
         <service>sight::module::debug::action::MemoryInfo</service>
         <object>sight::data::object</object>
         <desc></desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::ui::action</type>
         <service>sight::module::debug::action::dump_all</service>
         <object>sight::data::object</object>
         <desc></desc>
    </extension>

    <extension implements="sight::service::extension::factory">
         <type>sight::ui::action</type>
         <service>sight::module::debug::action::fwMetrics</service>
         <object>sight::data::object</object>
         <desc></desc>
    </extension>
</plugin>
