<plugin id="dataReg" class="::dataReg::Plugin" >
    
    <library name="dataReg" />

    <!-- ROOT STRUCTURES -->
    <extension-point id="::fwTools::Object" />

    <!-- SPECIFIC DATA -->
    <point id="::fwData::Composite">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::ProcessObject">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Float">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Histogram">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Image">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::PatientDB">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Patient">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Model">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::TriangularMesh">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Video">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Camera">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Spline">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Graph">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::None">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Reconstruction">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Acquisition">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Boolean">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Color">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Integer">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Material">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::String">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Plane">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::PlaneList">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Point">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::PointList">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Resection">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::ResectionDB">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::location::SingleFile">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::Node">
        <implements>::fwTools::Object</implements>
    </point>
    <point id="::fwData::TransformationMatrix3D">
        <implements>::fwTools::Object</implements>
    </point>
    
</plugin>
