<plugin id="opVTKMesh" class="::opVTKMesh::Plugin">
        
        <library name="opVTKMesh" />

        <requirement id="dataReg" />
        <requirement id="gui" />

        <point id="::opVTKMesh::action::VTKMeshCreation" >
                <implements>::gui::action::IAction</implements>
                <implements>::fwTools::Object</implements>
        </point>
        
</plugin>
