<plugin id="SightCalibrator">

    <requirement id="sight::module::service" />
    <requirement id="sight::module::memory" />
    <requirement id="sight::module::ui::base" />
    <requirement id="sight::module::activity" />
    <requirement id="sight::module::io::atoms" />
    <requirement id="sight::module::ui::qt" />

    <xi:include href="configurations/SightCalibratorActivitySelector.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/SightCalibratorBase.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/SightCalibratorSelector.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::sight::activity::extension::Activity">
        <id>SightCalibratorActivitySelector_Activity</id>
        <title>Activity selector</title>
        <desc>Activity selector for SightCalibrator</desc>
        <icon>sight_module_ui_flaticons/YellowCamera.svg</icon>
        <requirements />
        <appConfig id="SightCalibrator_ActivitySelector_AppCfg">
            <parameters />
        </appConfig>
    </extension>

    <extension implements="::sight::service::extension::AppConfigParameters">
        <id>SightCalibrator_AppCfgParam</id>
        <parameters>
            <param name="APP_NAME" value="SightCalibrator @PROJECT_VERSION@" />
            <param name="ICON_PATH" value="SightCalibrator/app.ico" />
        </parameters>
    </extension>

</plugin>
