<plugin id="vtkCompositeMesh" class="::vtkCompositeMesh::Plugin"  version="@PROJECT_VERSION@" >


    <library name="vtkCompositeMesh" />

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRender::IRender</type>
        <service>::vtkCompositeMesh::RendererService</service>
        <object>::fwData::Composite</object>
    </extension>

</plugin>
