<plugin id="opPOCMesher" class="::opPOCMesher::Plugin" version="@PROJECT_VERSION@">

    <library name="opPOCMesher" />

    <requirement id="dataReg" />
    <requirement id="gui" />
    <requirement id="opVTKMesh" />

    <extension implements="::fwServices::registry::ServiceFactory">
       <type>::opVTKMesh::IMesher</type>
        <service>::opPOCMesher::CGoGNMesher</service>
        <object>::fwData::Composite</object>
    </extension>

</plugin>
