<plugin id="sight::config::viz::image" >

    <requirement id="sight::module::service" />

    <xi:include href="configurations/imageSlider.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/TransferFunctionWithNegatoEditor.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

</plugin>
