<?xml version="1.0" encoding="UTF-8" ?>
<plugin id="archive_extractor">
    <requirement id="sight::module::ui" />
    <requirement id="sight::module::io::zip" />

    <extension implements="sight::app::extension::config">
        <id>ArchiveExtractor_AppCfg</id>
        <config>
            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainView" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>Archive Extractor</name>
                        <version>@archive_extractor_VERSION@</version>
                        <minSize height="80" />
                        <maxSize height="80" />
                    </frame>
                </gui>
                <registry>
                    <view sid="containerView" />
                </registry>
            </service>

            <service uid="containerView" type="sight::module::ui::view">
                <gui>
                    <toolbar align="top" />
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                    </layout>
                </gui>
                <registry>
                    <toolbar sid="toolBarView" />
                </registry>
            </service>

            <service uid="toolBarView" type="sight::module::ui::toolbar">
                <gui>
                    <layout style="ToolButtonTextBesideIcon">
                        <menuItem name="Extract archive" icon="sight::module::ui::icons/volume.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="extractArchiveAct" />
                </registry>
            </service>

            <service uid="progressStatusbar" type="sight::module::ui::job_bar" />

            <!-- ******************************* Actions ****************************************** -->

            <service uid="extractArchiveAct" type="sight::module::ui::action" />

            <!-- ******************************* Services ***************************************** -->

            <service uid="extractArchiveSrv" type="sight::module::io::zip::extract" />

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>extractArchiveAct/clicked</signal>
                <slot>extractArchiveSrv/update</slot>
            </connect>

            <connect>
                <signal>extractArchiveSrv/job_created</signal>
                <slot>progressStatusbar/show_job</slot>
            </connect>
        </config>
    </extension>
</plugin>
