<?xml version="1.0" encoding="UTF-8" ?>
<plugin id="archive_extractor">
    <requirement id="sight::module::ui" />
    <requirement id="sight::module::io::zip" />

    <extension implements="sight::app::extension::config">
        <id>ArchiveExtractor_AppCfg</id>
        <config>
            <!-- ******************************* UI declaration *********************************** -->

            <service uid="main_view" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>Archive Extractor</name>
                        <version>@archive_extractor_VERSION@</version>
                        <min_size height="80" />
                        <max_size height="80" />
                    </frame>
                </gui>
                <registry>
                    <view sid="container_view" />
                </registry>
            </service>

            <service uid="container_view" type="sight::module::ui::view">
                <gui>
                    <toolbar align="top" />
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="0" />
                    </layout>
                </gui>
                <registry>
                    <toolbar sid="tool_bar_view" />
                    <view sid="progress_bar" />
                </registry>
            </service>

            <service uid="tool_bar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout style="ToolButtonTextBesideIcon">
                        <menuItem name="Extract archive" icon="sight::module::ui::icons/volume.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="extract_archive_act" />
                </registry>
            </service>

            <service uid="progress_bar" type="sight::module::ui::qt::progress_bar" />

            <!-- ******************************* Actions ****************************************** -->

            <service uid="extract_archive_act" type="sight::module::ui::action" />

            <!-- ******************************* Services ***************************************** -->

            <service uid="extract_archive_srv" type="sight::module::io::zip::extract" />

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>extract_archive_act/clicked</signal>
                <slot>extract_archive_srv/update</slot>
            </connect>

            <connect>
                <signal>extract_archive_srv/monitor_created</signal>
                <slot>progress_bar/add_monitor</slot>
            </connect>
        </config>
    </extension>
</plugin>
