<plugin id="uiReconstructionQt" class="::uiReconstruction::Plugin">
    <library name="uiReconstructionQt"/>
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>
    
    <!--    REGISTER_SERVICE( ::gui::editor::IEditor , ::uiReconstruction::RepresentationEditor , ::fwData::Reconstruction ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiReconstruction::RepresentationEditor</service>
        <object>::fwData::Reconstruction</object>
    </extension>
    
    <!--    REGISTER_SERVICE( ::gui::editor::IEditor, ::uiReconstruction::OrganMaterialEditor, ::fwData::Reconstruction ) ;-->
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiReconstruction::OrganMaterialEditor</service>
        <object>::fwData::Reconstruction</object>
    </extension>
        
</plugin>
