<plugin id="3DVisualizationActivity" version="@PROJECT_VERSION@" >

    <requirement id="servicesReg" />
    <requirement id="visuVTKQt" />

    <xi:include href="configurations/3DVisualization.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/ManageOrganWithSeries.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/3DNegatoWithAcq.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/3DSimpleConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwActivities::registry::Activities">
        <id>3DVisualization</id>
        <title>3D visualization</title>
        <desc>Activity to display a 3D model, and optionally its associated image.</desc>
        <icon>media-0.1/icons/icon-3D.png</icon>
        <requirements>
            <requirement name="modelSeries" type="::fwMedData::ModelSeries" minOccurs="1" maxOccurs="1">
                <desc>3D model.</desc>
            </requirement>
            <requirement name="imageSeries" type="::fwMedData::ImageSeries" minOccurs="0" maxOccurs="1" >
                <desc>Image associated to the model.</desc>
                <key path="@image" >OptionalInputImageKey</key>
            </requirement>
            <requirement name="landmarks" type="::fwData::Landmarks" minOccurs="0" maxOccurs="0">
                <desc>Landmarks to display.</desc>
            </requirement>
        </requirements>
        <builder>::fwActivities::builder::ActivitySeriesInitData</builder>
        <appConfig id="3DVisualization">
            <parameters>
                <parameter replace="imageComposite" by="@values.imageSeries" />
                <parameter replace="modelSeries" by="@values.modelSeries" />
                <parameter replace="landmarks" by="@values.landmarks" />
                <parameter replace="orientation" by="frontal" />
            </parameters>
        </appConfig>
    </extension>

</plugin>
