<plugin id="uiReconstructionWx" class="::uiReconstruction::Plugin">
    <library name="uiReconstructionWx"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="gui"/>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiReconstruction::RepresentationEditor</service>
        <object>::fwData::Reconstruction</object>
    </extension>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::gui::editor::IEditor</type>
        <service>::uiReconstruction::OrganMaterialEditor</service>
        <object>::fwData::Reconstruction</object>
    </extension>

</plugin>
