<plugin id="ex_stereo_ar">
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3d_qt" />
    <requirement id="sight::module::ui" />

    <extension implements="sight::app::extension::config">
        <id>ex_stereo_ar::config</id>
        <config>
            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="camera_set" type="sight::data::camera_set" />
            <object uid="camera_1" type="sight::data::camera" deferred="true" />
            <object uid="camera_2" type="sight::data::camera" deferred="true" />
            <object uid="frame_tl_1" type="sight::data::frame_tl" />
            <object uid="frame_tl_2" type="sight::data::frame_tl" />
            <object uid="marker_map_1" type="sight::data::marker_map" />
            <object uid="marker_map_2" type="sight::data::marker_map" />
            <object uid="video_image_1" type="sight::data::image" />
            <object uid="video_image_2" type="sight::data::image" />
            <object uid="debug_image_1" type="sight::data::image" />
            <object uid="debug_image_2" type="sight::data::image" />
            <object uid="matrix_tl" type="sight::data::matrix_tl" />
            <object uid="matrix" type="sight::data::matrix4" />
            <object uid="extrinsic" type="sight::data::matrix4" deferred="true" />
            <object uid="inverse_mat" type="sight::data::matrix4" />
            <object uid="right_mat" type="sight::data::matrix4" />

            <!-- Aruco tracker parameters -->
            <object uid="aruco_params" type="sight::data::map">
                <item key="debug_mode" type="sight::data::boolean" value="true" />
                <item key="corner_refinement:enabled" type="sight::data::boolean" value="true" />
                <item key="adaptive_threshold:win_size_min" type="sight::data::integer" value="3" />
                <item key="adaptive_threshold:win_size_max" type="sight::data::integer" value="23" />
                <item key="adaptive_threshold:win_size_step" type="sight::data::integer" value="10" />
                <item key="adaptive_threshold:constant" type="sight::data::real" value="7." />
                <item key="marker_detection:min_perimeter_rate" type="sight::data::real" value="0.03" />
                <item key="marker_detection:max_perimeter_rate" type="sight::data::real" value="4.0" />
                <item key="marker_detection:polygonal_approx_accuracy_rate" type="sight::data::real" value="0.03" />
                <item key="marker_detection:min_corner_distance_rate" type="sight::data::real" value="0.01" />
                <item key="marker_detection:min_distance_to_border" type="sight::data::integer" value="1" />
                <item key="marker_detection:min_marker_distance_rate" type="sight::data::real" value="0.05" />
                <item key="corner_refinement:win_size" type="sight::data::integer" value="5" />
                <item key="corner_refinement:max_iterations" type="sight::data::integer" value="30" />
                <item key="corner_refinement:min_accuracy" type="sight::data::real" value="0.1" />
                <item key="marker:border_bits" type="sight::data::integer" value="1" />
                <item key="perspective_removal:pixel_per_cell" type="sight::data::integer" value="8" />
                <item key="perspective_removal:ignored_margin_per_cell" type="sight::data::real" value="0.1" />
                <item key="error_correction:max_erroneous_bits_in_border_rate" type="sight::data::real" value="0.3" />
                <item key="error_correction:min_otsu_std_dev" type="sight::data::real" value="5.0" />
                <item key="error_correction:rate" type="sight::data::real" value="0.6" />
            </object>

            <!-- Reprojection parameters -->
            <object uid="reprojection_params" type="sight::data::map">
                <item key="display" type="sight::data::boolean" value="false" />
                <item key="color" type="sight::data::color" value="#ffffff" />
            </object>

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="main_frame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ex_stereo_ar</name>
                        <icon>ex_stereo_ar/app.ico</icon>
                    </frame>
                    <menubar />
                    <toolbar />
                </gui>
                <registry>
                    <menubar sid="menu_bar_view" />
                    <toolbar sid="toolbar_view" />
                    <view sid="camera_view" />
                </registry>
            </service>

            <service uid="menu_bar_view" type="sight::module::ui::menubar">
                <gui>
                    <layout>
                        <menu name="File" />
                        <menu name="Preferences" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menu_file_view" />
                    <menu sid="menu_preferences_view" />
                </registry>
            </service>

            <service uid="menu_file_view" type="sight::module::ui::menu">
                <gui>
                    <layout>
                        <menuItem name="Show settings" shortcut="Ctrl+H" style="check" />
                        <menuItem name="Quit" special_action="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="show_parameters_act" />
                    <menuItem sid="quit_act" />
                </registry>
            </service>

            <service uid="menu_preferences_view" type="sight::module::ui::menu">
                <gui>
                    <layout>
                        <menuItem name="Video directory" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="video_dir_act" />
                </registry>
            </service>

            <service uid="toolbar_view" type="sight::module::ui::toolbar">
                <gui>
                    <layout>
                        <menuItem name="Load Calibration" icon="sight::module::ui::icons/calibration.svg" />
                        <editor />
                        <editor />
                        <menuItem name="Start" icon="sight::module::ui::icons/play.svg" shortcut="Space" />
                        <menuItem name="Stop" icon="sight::module::ui::icons/stop.svg" />
                        <menuItem name="Loop" icon="sight::module::ui::icons/loop.svg" style="check" />
                        <separator />
                        <menuItem name="Start camera pose recording" icon="sight::module::ui::icons/record.svg" />
                        <menuItem name="Stop camera pose recording" icon="sight::module::ui::icons/stop.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="load_calib_act" />
                    <editor sid="video_selector_1_srv" />
                    <editor sid="video_selector_2_srv" />
                    <menuItem sid="start_video_act" />
                    <menuItem sid="stop_video_act" />
                    <menuItem sid="loop_video_act" />
                    <menuItem sid="start_record_act" />
                    <menuItem sid="stop_record_act" />
                </registry>
            </service>

            <service uid="camera_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" background_color="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="video_view" />
                    <view sid="parameters_view" />
                </registry>
            </service>

            <service uid="video_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="3" />
                        <view proportion="0" background_color="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="stereo_view" />
                    <view sid="info_view" />
                </registry>
            </service>

            <service uid="info_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="1" />
                        <view proportion="1" />
                    </layout>
                </gui>
                <registry>
                    <view sid="reprojection_info_view" />
                    <view sid="reprojection_matrix_status_srv" />
                </registry>
            </service>

            <service uid="stereo_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="0" />
                        <view proportion="0" />
                    </layout>
                </gui>
                <registry>
                    <view sid="left_generic_scene_srv" />
                    <view sid="right_generic_scene_srv" />
                </registry>
            </service>

            <service uid="reprojection_info_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="1" />
                    </layout>
                </gui>
                <registry>
                    <view sid="error_label_left_srv" />
                    <view sid="error_label_right_srv" />
                </registry>
            </service>

            <service uid="parameters_view" type="sight::module::ui::view">
                <gui>
                    <layout type="sight::ui::layout::line">
                        <orientation value="vertical" />
                        <view proportion="3" />
                        <view proportion="2" />
                        <view proportion="1" />
                        <spacer />
                    </layout>
                </gui>
                <registry>
                    <view sid="aruco_parameters_srv" />
                    <view sid="reprojection_parameters_srv" />
                    <view sid="synchro_params_srv" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <!-- declaration of actions/slot callers -->
            <service uid="quit_act" type="sight::module::ui::quit" />

            <!-- preference save the video directory and re-open the same directory at next launch of the app -->
            <service uid="video_dir_act" type="sight::module::ui::qt::preferences_configuration">
                <preference>
                    <type>path</type>
                    <name>Video directory</name>
                    <key>VIDEO_DIR_PREF</key>
                    <default_value>...</default_value>
                </preference>
            </service>

            <service uid="show_parameters_act" type="sight::module::ui::modify_layout">
                <config>
                    <show_or_hide sid="parameters_view" />
                </config>
            </service>

            <service uid="load_calib_act" type="sight::module::ui::action" />
            <service uid="start_video_act" type="sight::module::ui::action" />
            <service uid="stop_video_act" type="sight::module::ui::action" />
            <service uid="loop_video_act" type="sight::module::ui::action" />
            <service uid="start_record_act" type="sight::module::ui::action" />
            <service uid="stop_record_act" type="sight::module::ui::action">
                <state visible="false" />
            </service>

            <!-- ******************************* Begin Generic scene ******************************* -->

            <service uid="left_generic_scene_srv" type="sight::viz::scene3d::render">
                <scene render_mode="manual">
                    <background top_color="#36393E" bottom_color="#36393E" />

                    <layer id="video">
                        <adaptor uid="l_video_adp" />
                    </layer>
                    <layer id="overlay">
                        <adaptor uid="l_debug_video_adp" />
                    </layer>
                    <layer id="default">
                        <adaptor uid="l_axis_adp" />
                        <adaptor uid="l_camera_adp" />
                    </layer>
                </scene>
            </service>

            <service uid="l_video_adp" type="sight::module::viz::scene3d::adaptor::video">
                <data image="${video_image_1}" />
            </service>

            <service uid="l_debug_video_adp" type="sight::module::viz::scene3d::adaptor::video">
                <data image="${debug_image_1}" />
            </service>

            <service uid="l_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <config length="30" origin="true" />
            </service>

            <service uid="l_camera_adp" type="sight::module::viz::scene3d::adaptor::camera">
                <data transform_in="${inverse_mat}" />
                <data calibration="${camera_1}" />
            </service>

            <!-- ******************************* Begin Generic scene ******************************* -->

            <!-- scene in which the video and the 3D will be rendered -->
            <service uid="right_generic_scene_srv" type="sight::viz::scene3d::render">
                <scene render_mode="manual">
                    <background top_color="#36393E" bottom_color="#36393E" />

                    <layer id="video">
                        <adaptor uid="r_video_adp" />
                    </layer>
                    <layer id="overlay">
                        <adaptor uid="r_debug_video_adp" />
                    </layer>
                    <layer id="default">
                        <adaptor uid="r_axis_adp" />
                        <adaptor uid="r_camera_adp" />
                    </layer>
                </scene>
            </service>

            <service uid="r_video_adp" type="sight::module::viz::scene3d::adaptor::video">
                <data image="${video_image_2}" />
            </service>

            <service uid="r_debug_video_adp" type="sight::module::viz::scene3d::adaptor::video">
                <data image="${debug_image_2}" />
            </service>

            <service uid="r_axis_adp" type="sight::module::viz::scene3d::adaptor::axis">
                <config length="30" origin="true" />
            </service>

            <service uid="r_camera_adp" type="sight::module::viz::scene3d::adaptor::camera">
                <data transform_in="${right_mat}" />
                <data calibration="${camera_2}" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <!-- Calibration reader (here OpenCV's XML/YAML) -->
            <service uid="calibration_reader_srv" type="sight::module::io::vision::open_cv_reader">
                <data read="${camera_set}" />
            </service>

            <!-- extract a sight::data::camera from the sight::data::camera_set -->
            <service uid="camera_extractor_srv" type="sight::module::data::get_camera">
                <input camera_set="${camera_set}" />
                <output camera="${camera_1}" index="0" />
                <output camera="${camera_2}" index="1" extrinsic="${extrinsic}" />
            </service>

            <!-- save poses matrices in a file -->
            <service uid="matrices_writer_srv" type="sight::module::io::matrix::matrix_writer" auto_connect="false">
                <data write="${matrix_tl}" />
            </service>

            <!-- GUI to handle aruco tracking parameters -->
            <service uid="aruco_parameters_srv" type="sight::module::ui::qt::settings">
                <item data="${aruco_params}.debug_mode" name="Show Marker" />
                <item data="${aruco_params}.corner_refinement:enabled" name="Corner refinement" />
                <item data="${aruco_params}.adaptive_threshold:win_size_min" name="adpt. Threshold win size min" widget="slider" min="3" max="100" />
                <item data="${aruco_params}.adaptive_threshold:win_size_max" name="adpt. Threshold win size max" widget="slider" min="4" max="100" />
                <item data="${aruco_params}.adaptive_threshold:win_size_step" name="adpt. Threshold win size step" widget="slider" min="1" max="100" />
                <item data="${aruco_params}.adaptive_threshold:constant" name="adpt. threshold constant" min="0." max="30." />
                <item data="${aruco_params}.marker_detection:min_perimeter_rate" name="Min. Marker Perimeter Rate" min="0.01" max="1.0" />
                <item data="${aruco_params}.marker_detection:max_perimeter_rate" name="Max. Marker Perimeter Rate" min="1." max="10." />
                <item data="${aruco_params}.marker_detection:polygonal_approx_accuracy_rate" name="Polygonal Approx. Accuracy Rate" min="0.01" max="1." />
                <item data="${aruco_params}.marker_detection:min_corner_distance_rate" name="Min. Corner Distance Rate" min="0." max="1." />
                <item data="${aruco_params}.marker_detection:min_distance_to_border" name="Min. Distance to Border" widget="slider" min="0" max="10" />
                <item data="${aruco_params}.marker_detection:min_marker_distance_rate" name="Min. Marker Distance Rate" min="0." max="1." />
                <item data="${aruco_params}.corner_refinement:win_size" name="Corner Refinement Win. Size" widget="slider" min="1" max="100" />
                <item data="${aruco_params}.corner_refinement:max_iterations" name="Corner Refinement Max Iterations" widget="slider" min="1" max="10" />
                <item data="${aruco_params}.corner_refinement:min_accuracy" name="Corner Refinement Min. Accuracy" min="0.01" max="10." />
                <item data="${aruco_params}.marker:border_bits" name="Marker Border Bits" widget="slider" min="1" max="100" />
                <item data="${aruco_params}.perspective_removal:pixel_per_cell" name="Perspective Remove Pixel per Cell" widget="slider" min="1" max="32" />
                <item data="${aruco_params}.perspective_removal:ignored_margin_per_cell" name="Perspective Remove Ignored Margin Per Cell" min="0." max="1." />
                <item data="${aruco_params}.error_correction:max_erroneous_bits_in_border_rate" name="Max. Erroneous Bits In Border Rate" min="0." max="1." />
                <item data="${aruco_params}.error_correction:min_otsu_std_dev" name="Min. Otsu Std. Dev." min="0." max="100." />
                <item data="${aruco_params}.error_correction:rate" name="Error Correction Rate" min="0." max="1." />
            </service>

            <service uid="reprojection_parameters_srv" type="sight::module::ui::qt::settings">
                <item data="${reprojection_params}.display" name="Show reprojection" />
                <item data="${reprojection_params}.color" name="Circle color" />
            </service>

            <service uid="synchro_params_srv" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="int" name="frame_tl_1 Timeshift (ms)" key="frameDelay_0" widget="spin" defaultValue="0" min="0" max="2000" />
                    <param type="int" name="frame_tl_2 Timeshift (ms)" key="frameDelay_1" widget="spin" defaultValue="0" min="0" max="2000" />
                    <param type="int" name="matrix Timeshift (ms)" key="matrixDelay_0" widget="spin" defaultValue="0" min="0" max="2000" />
                </parameters>
            </service>

            <!-- Gui Service to display a value in a QLabel -->
            <service uid="error_label_left_srv" type="sight::module::ui::qt::text_status">
                <label>Reprojection Error Left (RMSE)</label>
                <color>#D25252</color>
            </service>

            <service uid="error_label_right_srv" type="sight::module::ui::qt::text_status">
                <label>Reprojection Error Right (RMSE)</label>
                <color>#D25252</color>
            </service>

            <!-- GUI to display a state -->
            <service uid="reprojection_matrix_status_srv" type="sight::module::ui::qt::status">
                <labels display="beside">
                    <name>Reprojection matrix computed</name>
                </labels>
                <red>No reprojection matrix</red>
                <green>Reprojection matrix is present</green>
            </service>

            <!-- GUI to select camera (device, file, or stream) -->
            <service uid="video_selector_1_srv" type="sight::module::ui::qt::video::camera">
                <data camera="${camera_1}" />
                <videoSupport>true</videoSupport>
            </service>

            <service uid="video_selector_2_srv" type="sight::module::ui::qt::video::camera">
                <data camera="${camera_2}" />
                <videoSupport>true</videoSupport>
            </service>

            <!-- Grab image from camera device and fill a frame timeline -->
            <service uid="video_grabber_1_srv" type="sight::module::io::video::frame_grabber">
                <config camera="${camera_1}" />
                <timeline image="${frame_tl_1}" />
            </service>

            <service uid="video_grabber_2_srv" type="sight::module::io::video::frame_grabber">
                <config camera="${camera_2}" />
                <timeline image="${frame_tl_2}" />
            </service>

            <!-- Aruco tracker service -->
            <service uid="aruco_tracker_1_srv" type="sight::module::geometry::vision::aruco_tracker" worker="tracking" auto_connect="false">
                <input camera="${camera_1}" frame="${video_image_1}" />
                <output debug_frame="${debug_image_1}">
                    <marker_map>
                        <!-- timeline of detected tag(s) -->
                        <item data="${marker_map_1}" />
                    </marker_map>
                </output>
                <track>
                    <!-- list of id -->
                    <marker id="101" />
                </track>
                <config debug_mode="${aruco_params}.debug_mode">
                    <corner_refinement
                        enabled="${aruco_params}.corner_refinement:enabled"
                        win_size="${aruco_params}.corner_refinement:win_size"
                        max_iterations="${aruco_params}.corner_refinement:max_iterations"
                        min_accuracy="${aruco_params}.corner_refinement:min_accuracy"
                    />
                    <adaptive_threshold
                        win_size_min="${aruco_params}.adaptive_threshold:win_size_min"
                        win_size_max="${aruco_params}.adaptive_threshold:win_size_max"
                        win_size_step="${aruco_params}.adaptive_threshold:win_size_step"
                        constant="${aruco_params}.adaptive_threshold:constant"
                    />
                    <marker_detection
                        min_perimeter_rate="${aruco_params}.marker_detection:min_perimeter_rate"
                        max_perimeter_rate="${aruco_params}.marker_detection:max_perimeter_rate"
                        polygonal_approx_accuracy_rate="${aruco_params}.marker_detection:polygonal_approx_accuracy_rate"
                        min_corner_distance_rate="${aruco_params}.marker_detection:min_corner_distance_rate"
                        min_distance_to_border="${aruco_params}.marker_detection:min_distance_to_border"
                        min_marker_distance_rate="${aruco_params}.marker_detection:min_marker_distance_rate"
                    />
                    <marker border_bits="${aruco_params}.marker:border_bits" />
                    <perspective_removal pixel_per_cell="${aruco_params}.perspective_removal:pixel_per_cell" ignored_margin_per_cell="${aruco_params}.perspective_removal:ignored_margin_per_cell" />
                    <error_correction
                        max_erroneous_bits_in_border_rate="${aruco_params}.error_correction:max_erroneous_bits_in_border_rate"
                        min_otsu_std_dev="${aruco_params}.error_correction:min_otsu_std_dev"
                        rate="${aruco_params}.error_correction:rate"
                    />
                </config>
            </service>

            <service uid="aruco_tracker_2_srv" type="sight::module::geometry::vision::aruco_tracker" worker="tracking" auto_connect="false">
                <input camera="${camera_2}" frame="${video_image_2}" />
                <output debug_frame="${debug_image_2}">
                    <marker_map>
                        <!-- timeline of detected tag(s) -->
                        <item data="${marker_map_2}" />
                    </marker_map>
                </output>
                <track>
                    <!-- list of id -->
                    <marker id="101" />
                </track>
                <config debug_mode="${aruco_params}.debug_mode">
                    <corner_refinement
                        enabled="${aruco_params}.corner_refinement:enabled"
                        win_size="${aruco_params}.corner_refinement:win_size"
                        max_iterations="${aruco_params}.corner_refinement:max_iterations"
                        min_accuracy="${aruco_params}.corner_refinement:min_accuracy"
                    />
                    <adaptive_threshold
                        win_size_min="${aruco_params}.adaptive_threshold:win_size_min"
                        win_size_max="${aruco_params}.adaptive_threshold:win_size_max"
                        win_size_step="${aruco_params}.adaptive_threshold:win_size_step"
                        constant="${aruco_params}.adaptive_threshold:constant"
                    />
                    <marker_detection
                        min_perimeter_rate="${aruco_params}.marker_detection:min_perimeter_rate"
                        max_perimeter_rate="${aruco_params}.marker_detection:max_perimeter_rate"
                        polygonal_approx_accuracy_rate="${aruco_params}.marker_detection:polygonal_approx_accuracy_rate"
                        min_corner_distance_rate="${aruco_params}.marker_detection:min_corner_distance_rate"
                        min_distance_to_border="${aruco_params}.marker_detection:min_distance_to_border"
                        min_marker_distance_rate="${aruco_params}.marker_detection:min_marker_distance_rate"
                    />
                    <marker border_bits="${aruco_params}.marker:border_bits" />
                    <perspective_removal pixel_per_cell="${aruco_params}.perspective_removal:pixel_per_cell" ignored_margin_per_cell="${aruco_params}.perspective_removal:ignored_margin_per_cell" />
                    <error_correction
                        max_erroneous_bits_in_border_rate="${aruco_params}.error_correction:max_erroneous_bits_in_border_rate"
                        min_otsu_std_dev="${aruco_params}.error_correction:min_otsu_std_dev"
                        rate="${aruco_params}.error_correction:rate"
                    />
                </config>
            </service>

            <!-- This will compute the pose of the camera with tag(s) detected by aruco -->
            <service uid="registration_srv" type="sight::module::geometry::vision::pose_from2d" worker="tracking" auto_connect="false">
                <input extrinsic="${extrinsic}">
                    <markers>
                        <item data="${marker_map_1}" />
                        <item data="${marker_map_2}" />
                    </markers>
                    <cameras>
                        <item data="${camera_1}" />
                        <item data="${camera_2}" />
                    </cameras>
                </input>
                <output>
                    <matrix data="${matrix}" id="101" />
                </output>
                <config pattern_width="60" />
            </service>

            <!-- This will compute the reprojection error Left -->
            <service uid="left_reprojection_error_srv" type="sight::module::geometry::vision::reprojection_error" worker="tracking" auto_connect="false">
                <input camera="${camera_1}" marker_map="${marker_map_1}">
                    <matrix>
                        <item data="${matrix}" id="101" />
                    </matrix>
                </input>
                <output frame="${debug_image_1}" />
                <config pattern_width="60" display="${reprojection_params}.display" color="${reprojection_params}.color" />
            </service>

            <service uid="right_reprojection_error_srv" type="sight::module::geometry::vision::reprojection_error" worker="tracking" auto_connect="false">
                <input camera="${camera_2}" marker_map="${marker_map_2}" extrinsic="${extrinsic}">
                    <matrix>
                        <item data="${matrix}" id="101" />
                    </matrix>
                </input>
                <output frame="${debug_image_2}" />
                <config pattern_width="60" display="${reprojection_params}.display" color="${reprojection_params}.color" />
            </service>

            <!-- To synchronize matrix, frame and detection -->
            <service uid="frame_matrix_synchronizer_srv" type="sight::module::sync::synchronizer" worker="videoWorker" auto_connect="false">
                <input>
                    <frames>
                        <item timeline="${frame_tl_1}" />
                        <item timeline="${frame_tl_2}" />
                    </frames>
                </input>
                <output>
                    <frames>
                        <item image="${video_image_1}" />
                        <item image="${video_image_2}" />
                    </frames>
                </output>
                <config tolerance="100" />
            </service>

            <!-- to multiply matrices (here only used to inverse "matrix" )-->
            <service uid="matrix_reverser_srv" type="sight::module::geometry::concatenate_matrices" auto_connect="false">
                <data input="${matrix}" inverse="true" />
                <data output="${inverse_mat}" />
            </service>

            <!-- to multiply matrices -->
            <service uid="concatenate_srv" type="sight::module::geometry::concatenate_matrices" auto_connect="false">
                <data input="${inverse_mat}" />
                <data input="${extrinsic}" inverse="true" />
                <data output="${right_mat}" />
            </service>

            <service uid="hide_axis_srv" type="sight::module::ui::action" />

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>load_calib_act/clicked</signal>
                <slot>calibration_reader_srv/update</slot>
            </connect>

            <connect>
                <signal>start_video_act/clicked</signal>
                <slot>video_grabber_1_srv/start_camera</slot>
                <slot>video_grabber_2_srv/start_camera</slot>
                <slot>updater/start</slot>
                <slot>start_video_act/disable</slot>
                <slot>stop_video_act/enable</slot>
            </connect>

            <connect>
                <signal>stop_video_act/clicked</signal>
                <slot>video_grabber_1_srv/stop_camera</slot>
                <slot>video_grabber_2_srv/stop_camera</slot>
                <slot>updater/stop</slot>
                <slot>start_video_act/enable</slot>
                <slot>stop_video_act/disable</slot>
            </connect>

            <connect>
                <signal>loop_video_act/clicked</signal>
                <slot>video_grabber_1_srv/loop_video</slot>
                <slot>video_grabber_2_srv/loop_video</slot>
            </connect>

            <connect>
                <signal>start_record_act/clicked</signal>
                <slot>matrices_writer_srv/start_record</slot>
                <slot>start_record_act/hide</slot>
                <slot>stop_record_act/show</slot>
            </connect>

            <connect>
                <signal>stop_record_act/clicked</signal>
                <slot>matrices_writer_srv/stop_record</slot>
                <slot>stop_record_act/hide</slot>
                <slot>start_record_act/show</slot>
            </connect>

            <connect>
                <signal>left_reprojection_error_srv/error_computed</signal>
                <slot>error_label_left_srv/set_double_parameter</slot>
            </connect>

            <connect>
                <signal>right_reprojection_error_srv/error_computed</signal>
                <slot>error_label_right_srv/set_double_parameter</slot>
            </connect>

            <connect>
                <signal>frame_matrix_synchronizer_srv/matrix_synchronized</signal>
                <slot>reprojection_matrix_status_srv/change_to_green</slot>
            </connect>

            <connect>
                <signal>frame_matrix_synchronizer_srv/matrix_unsynchronized</signal>
                <slot>reprojection_matrix_status_srv/change_to_red</slot>
            </connect>

            <connect>
                <signal>camera_set/added_camera</signal>
                <slot>camera_extractor_srv/update</slot>
            </connect>

            <connect>
                <signal>camera_1/id_modified</signal>
                <slot>video_grabber_1_srv/stop_camera</slot>
                <slot>video_grabber_2_srv/stop_camera</slot>
                <slot>updater/stop</slot>
            </connect>

            <connect>
                <signal>camera_2/id_modified</signal>
                <slot>video_grabber_1_srv/stop_camera</slot>
                <slot>video_grabber_2_srv/stop_camera</slot>
                <slot>updater/stop</slot>
            </connect>

            <connect>
                <signal>aruco_tracker_1_srv/marker_detected</signal>
                <slot>l_axis_adp/update_visibility</slot>
            </connect>

            <connect>
                <signal>aruco_tracker_2_srv/marker_detected</signal>
                <slot>r_axis_adp/update_visibility</slot>
            </connect>

            <connect>
                <signal>synchro_params_srv/int_changed</signal>
                <slot>frame_matrix_synchronizer_srv/set_delay</slot>
            </connect>

            <connect>
                <signal>hide_axis_srv/is_checked</signal>
                <slot>l_axis_adp/update_visibility</slot>
                <slot>r_axis_adp/update_visibility</slot>
            </connect>

            <!-- ******************************* Update services ***************************************** -->

            <update>
                <service uid="show_parameters_act" />
                <service uid="hide_axis_srv" />

                <sequence uid="updater" loop="true" start="false" worker="tracking">
                    <service uid="frame_matrix_synchronizer_srv" />
                    <!-- <service uid="matrices_writer_srv" /> -->
                    <service uid="aruco_tracker_1_srv" />
                    <service uid="aruco_tracker_2_srv" />
                    <service uid="registration_srv" />
                    <service uid="left_reprojection_error_srv" />
                    <service uid="right_reprojection_error_srv" />
                    <service uid="matrix_reverser_srv" />
                    <service uid="concatenate_srv" />
                    <service uid="left_generic_scene_srv" />
                    <service uid="right_generic_scene_srv" />
                </sequence>
            </update>
        </config>
    </extension>
</plugin>
