<plugin id="Tuto02GenericSceneCpp" class="::Tuto02GenericSceneCpp::Plugin"  version="@PROJECT_VERSION@" >

    <requirement id="module_ui_base" />
    <requirement id="module_viz_ogre" />
    <requirement id="module_viz_ogreQt" />
    <requirement id="module_ui_qt" />
    <requirement id="module_service" />

    <library name="Tuto02GenericSceneCpp" />
    
</plugin>
