<plugin id="Tuto06SceneQt3DCpp" class="::Tuto06SceneQt3DCpp::Plugin"  version="@PROJECT_VERSION@" >

    <requirement id="visuQt3DQt" />
    <requirement id="module_ui_base" />
    <requirement id="module_ui_qt" />
    <requirement id="module_service" />


    <library name="Tuto06SceneQt3DCpp" />

</plugin>
