
<plugin id="DroidRender" version="0.1" >
    
    <extension implements="::fwServices::registry::AppConfig">
        <id>DroidRenderConfig</id>
        <type>parameters</type>
        <config>

            <object type="::fwData::Composite">
               <service uid="guiManagerUID" impl="::guiDroid::SManager" type="::fwServices::IService" autoConnect="no">
                    <gui>
                        <widget type="button" label="load" align="top|left" >
                            <width>200</width>
                            <height>150</height>
                            <margins>40,40,40,40</margins>
                            <slot>loaderUid/update</slot>
                        </widget>
                        <widget type="textview" label="ModelSeries GUI test" align="top|center">
                            <margins>40,40,40,40</margins>
                            <textSize>50</textSize>
                        </widget>
                    </gui>
                </service>

                <service uid="scene" impl="::fwRenderVTK::VtkRenderService" type="::fwRender::IRender" autoConnect="yes">
                    <scene autoRender="true">
                        <renderer id="default" layer="0" background="#000000" />

                        <adaptor id="modelSeriesAdaptor" class="::visuVTKAdaptor::ModelSeries" objectId="modelSeriesKey">
                            <config renderer="default" picker="" transform="transformModel" autoresetcamera="yes"/>
                        </adaptor>
                    </scene>
                </service>
                
                <service uid="extractObject" type="::ctrlCamp::ICamp" impl="::ctrlCamp::SExtractObj" autoConnect="no">
                    <extract from="@values.seriesDB.values.1" to="modelSeriesKey" /> 
                </service>
                
                <item key="modelSeriesKey">
                    <object uid="modelSeriesUid" type="::fwMedData::ModelSeries"/>
                </item>

                <item key="seriesDB" >
                    <object uid="seriesDB" type="::fwMedData::SeriesDB">
                        <service uid="loaderUid" type="::io::IReader" impl="::ioAtoms::SReader" autoConnect="no">
                            <file>/data/data/com.fw4spl.DroidRender/Bundles/DroidRender_0-1/data/Patient.jsonz</file>
                            <uuidPolicy>Strict</uuidPolicy>
                            <patcher context="MedicalData" version="V07ALA" />

                            <archive backend="jsonz">
                                <extension>.jsonz</extension>
                            </archive>

                            <extensions>
                                <extension>.jsonz</extension>
                            </extensions>

                        </service>
                    </object>
                </item>
                
                <connect>
                    <signal>seriesDB/modified</signal>
                    <slot>extractObject/update</slot>
                </connect>
                

                <start uid="scene" />
                <start uid="guiManagerUID" />
                <start uid="loaderUid" />
                <start uid="extractObject" />

            </object>
        </config>
    </extension> 
</plugin>
