<plugin id="sight::module::sync" library="true" >


    <extension implements="sight::service::extension::Factory">
         <type>sight::service::ISynchronizer</type>
         <service>sight::module::sync::SFrameMatrixSynchronizer</service>
         <desc>SFrameMatrixSynchronizer service synchronizes video frame and tracking matrix.</desc>
    </extension>

    <extension implements="sight::service::extension::Factory">
         <type>sight::service::IController</type>
         <service>sight::module::sync::SFrameUpdater</service>
         <object>sight::data::Composite</object>
         <desc>Service used to update frame and trigger render once timelines have been updated.</desc>
    </extension>

    <extension implements="sight::service::extension::Factory">
         <type>sight::service::ISynchronizer</type>
         <service>sight::module::sync::SMatrixSynchronizer</service>
         <object>sight::data::Matrix4</object>
         <desc>SMatrixSynchronizer reads the content of a MatrixTL into a Matrix4.</desc>
    </extension>

    <extension implements="sight::service::extension::Factory">
         <type>sight::service::ISynchronizer</type>
         <service>sight::module::sync::SMatrixTLSynchronizer</service>
         <object>sight::data::MatrixTL</object>
         <desc>SMatrixTLSynchronizer service synchronizes tracking matrices.</desc>
    </extension>
    <extension implements="sight::service::extension::Factory">
         <type>sight::service::IController</type>
         <service>sight::module::sync::SSignalGate</service>
         <desc>This service triggers a signal each time all configured signals are received. Once it triggers the signal</desc>
    </extension>

</plugin>
