<plugin id="tu_builder">

    <extension implements="sight::activity::extension::Activity">
        <id>TestBuilder0</id>
        <title>Title Test0</title>
        <desc>Desc Test0</desc>
        <icon>Icon Test0</icon>
        <requirements>
            <requirement name="imageSeries" type="sight::data::ImageSeries" minOccurs="1" maxOccurs="1" />
            <requirement name="modelSeries" type="sight::data::ModelSeries" minOccurs="0" maxOccurs="2">
                <key>key1</key>
                <key>key2</key>
            </requirement>
        </requirements>
        <builder>::activity::builder::ActivitySeries</builder>
        <appConfig id="TestBuilderCfg0" />
    </extension>

</plugin>