<plugin id="ExVideoRecorder">

    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::service" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3dQt" />
    <requirement id="sight::module::ui" />

    <extension implements="sight::app::extension::config">
        <id>ExVideoRecorder_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="camera" type="sight::data::camera" />
            <object uid="frameTL" type="sight::data::frame_tl">
                <value>100</value>
            </object>
            <object uid="videoImage" type="sight::data::image" />

            <object uid="2dPoints" type="sight::data::point_list" />
            <object uid="2dPixels" type="sight::data::point_list" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="videoToolbarConfig" type="sight::app::config_controller">
                <appConfig id="sight::config::io::video::controls" />
                <inout group="data">
                    <key name="camera" uid="camera" />
                    <key name="frameTL" uid="frameTL" />
                </inout>
                <parameter replace="TOOLBAR" by="subToolbarView" />
                <parameter replace="addROICenterChannelIn" by="addROICenterChannelIn" />
                <parameter replace="removeROICenterChannelIn" by="removeROICenterChannelIn" />
            </service>

            <service uid="mainFrame" type="sight::module::ui::frame">
                <gui>
                    <frame>
                        <name>ExVideoRecorder</name>
                        <icon>ExVideoRecorder/app.ico</icon>
                    </frame>
                    <toolBar />
                </gui>
                <registry>
                    <toolBar sid="toolbarView" start="true" />
                    <view sid="genericSceneSrv" start="true" />
                </registry>
            </service>

            <service uid="toolbarView" type="sight::module::ui::tool_bar">
                <gui>
                    <layout>
                        <editor />
                        <separator />
                        <menuItem name="Frame recording" icon="sight::module::ui::flaticons/RedCircle.svg" style="check" />
                        <menuItem name="Video recording" icon="sight::module::ui::flaticons/RedCircle.svg" style="check" />
                        <editor />
                        <spacer />
                        <menuItem name="Preferences" icon="sight::module::ui::flaticons/BlueParametersConnected.svg" />
                    </layout>
                </gui>
                <registry>
                    <editor wid="subToolbarView" />
                    <menuItem sid="frameRecordingAct" start="true" />
                    <menuItem sid="videoRecordingAct" start="true" />
                    <editor sid="parametersSrv" start="true" />
                    <menuItem sid="preferences" start="true" />
                </registry>
            </service>

            <service uid="preferences" type="sight::module::ui::qt::preferences_configuration">
                <preference>
                    <type>path</type>
                    <name>Base output folder for recordings</name>
                    <key>BASE_FOLDER</key>
                    <default_value></default_value>
                </preference>
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="frameRecordingAct" type="sight::module::ui::com::timestamp_signal">
                <useSystemClock>true</useSystemClock>
            </service>

            <service uid="videoRecordingAct" type="sight::module::ui::com::timestamp_signal">
                <useSystemClock>true</useSystemClock>
            </service>

            <!-- ******************************* Begin Generic Scene ******************************* -->

            <service uid="genericSceneSrv" type="sight::viz::scene3d::render">
                <scene renderMode="sync">
                    <background topColor="#36393E" bottomColor="#36393E" />

                    <layer id="default" order="1">
                        <adaptor uid="pickerAdp" />
                        <adaptor uid="videoAdp" />
                    </layer>
                </scene>
            </service>

            <service uid="pickerAdp" type="sight::module::viz::scene3d::adaptor::picker">
                <config layerOrderDependant="false" />
            </service>

            <service uid="videoAdp" type="sight::module::viz::scene3d::adaptor::video" auto_connect="true">
                <in key="image" uid="videoImage" />
            </service>

            <service uid="imagePickerSrv" type="sight::module::ui::video::image_picker">
                <in key="camera" uid="camera" />
                <inout key="pointList" uid="2dPoints" />
                <inout key="pixelPointList" uid="2dPixels" />
                <config videoReference="top_left" useCtrlModifier="false" singlePointMode="true" />
            </service>

            <!-- ******************************* Services ***************************************** -->

            <service uid="parametersSrv" type="sight::module::ui::qt::parameters">
                <parameters>
                    <param type="enum" name="Frame format" key="format" defaultValue=".tiff" values=".tiff,.jpeg,.png,.bmp,.jp2" />
                </parameters>
            </service>

            <service uid="frameWriterSrv" type="sight::module::io::video::frame_writer" worker="frameRecordingActWorker">
                <in key="data" uid="frameTL" auto_connect="true" />
                <format>.tiff</format>
                <baseFolder>%BASE_FOLDER%</baseFolder>
            </service>

            <service uid="videoWriterSrv" type="sight::module::io::video::video_writer" worker="videoRecordingActWorker">
                <in key="data" uid="frameTL" auto_connect="true" />
                <baseFolder>%BASE_FOLDER%</baseFolder>
                <file>video.mp4</file>
            </service>

            <service uid="frameUpdaterSrv"  type="sight::module::sync::synchronizer" worker="videoWorker">
                <in group="frameTL">
                    <key uid="frameTL" />
                </in>
                <inout group="frames">
                    <key uid="videoImage" />
                </inout>
            </service>
            
            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>parametersSrv/enumChanged</signal>
                <slot>frameWriterSrv/setFormatParameter</slot>
            </connect>

            <connect>
                <signal>frameRecordingAct/triggeredAsString</signal>
                <slot>frameWriterSrv/setPrefix</slot>
            </connect>

            <connect>
                <signal>frameWriterSrv/prefixSet</signal>
                <slot>frameWriterSrv/toggleRecording</slot>
            </connect>

            <connect>
                <signal>videoRecordingAct/triggeredAsString</signal>
                <slot>videoWriterSrv/setPrefix</slot>
            </connect>

            <connect>
                <signal>videoWriterSrv/prefixSet</signal>
                <slot>videoWriterSrv/toggleRecording</slot>
            </connect>

            <connect>
                <signal>pickerAdp/picked</signal>
                <slot>imagePickerSrv/getInteraction</slot>
            </connect>

            <connect channel="addROICenterChannelIn">
                <signal>2dPoints/pointAdded</signal>
            </connect>

            <connect channel="removeROICenterChannelIn">
                <signal>2dPoints/pointRemoved</signal>
            </connect>

            <connect>
                <signal>frameUpdaterSrv/synchronizationDone</signal>
                <slot>genericSceneSrv/requestRender</slot>
                <slot>frameUpdaterSrv/synchronize</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />
            <start uid="videoToolbarConfig" />
            <start uid="frameUpdaterSrv" />
            <start uid="frameWriterSrv" />
            <start uid="videoWriterSrv" />

            <start uid="pickerAdp" />
            <start uid="videoAdp" />

            <start uid="imagePickerSrv" />

        </config>
    </extension>
</plugin>