<plugin id="vtkSimpleNegato" class="::vtkSimpleNegato::Plugin"  version="@PROJECT_VERSION@" >
    <library name="vtkSimpleNegato" />


<extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwRender::IRender</type>
        <service>::vtkSimpleNegato::SRenderer</service>
        <object>::fwData::Image</object>
    </extension>


</plugin>



