<plugin id="ExTimeLine" library="true" >

    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::console" />

    <extension implements="sight::service::extension::factory" >
        <type>sight::service::base</type>
        <service>ExTimeLine::producer</service>
        <object>ExTimeLine::MessageTL</object>
    </extension>

    <extension implements="sight::service::extension::factory" >
        <type>sight::service::base</type>
        <service>ExTimeLine::consumer</service>
        <object>ExTimeLine::MessageTL</object>
    </extension>

    <extension implements="sight::app::extension::config" >
        <id>ExTimeLine_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="messageTL" type="ExTimeLine::MessageTL" />

            <!-- ************************************* Services ************************************ -->

            <service uid="producer1Srv" type="ExTimeLine::producer" worker="producer" >
                <inout key="timeline" uid="messageTL" />
                <message>Hello</message>
                <id>0</id>
                <period>1000</period>
                <timelineSize>2</timelineSize>
            </service>

            <service uid="producer2Srv" type="ExTimeLine::producer" worker="producer" >
                <inout key="timeline" uid="messageTL" />
                <message>World</message>
                <id>1</id>
                <period>2000</period>
            </service>

            <service uid="producer3Srv" type="ExTimeLine::producer" worker="producer" >
                <inout key="timeline" uid="messageTL" />
                <message>!!!!!</message>
                <id>1</id>
                <period>5000</period>
            </service>

            <service uid="consumer1Srv" type="ExTimeLine::consumer" worker="consumer" >
                <in key="timeline" uid="messageTL" />
                <id>100</id>
            </service>

            <service uid="consumer2Srv" type="ExTimeLine::consumer" worker="consumer" >
                <in key="timeline" uid="messageTL" />
                <id>200</id>
                <period>5000</period>
            </service>

            <!-- ******************************* Connections ***************************************** -->

            <connect>
                <signal>messageTL/objectPushed</signal>
                <slot>consumer1Srv/consume</slot>
            </connect>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="producer1Srv" />
            <start uid="producer2Srv" />
            <start uid="producer3Srv" />
            <start uid="consumer1Srv" />
            <start uid="consumer2Srv" />

        </config>
    </extension>

</plugin>
