<plugin id="ioIGTL" class="::ioIGTL::Plugin" version="@PROJECT_VERSION@" >

    <library name="ioIGTL" />

   <requirement id="io" />
   <requirement id="ioNetwork" />

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::ioNetwork::INetworkListener</type>
       <service>::ioIGTL::SOpenIGTLinkListener</service>
       <object>::fwData::Object</object>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::ioNetwork::INetworkSender</type>
       <service>::ioIGTL::SOpenIGTLinkSender</service>
       <object>::fwData::Object</object>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::io::IReader</type>
       <service>::ioIGTL::SImageNetworkReader</service>
       <object>::fwData::Image</object>
       <desc>OpenIGTLink network image reader</desc>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::io::IWriter</type>
       <service>::ioIGTL::SImageNetworkWriter</service>
       <object>::fwData::Image</object>
       <desc>OpenIGTLink network image writer</desc>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::ioNetwork::INetworkListener</type>
       <service>::ioIGTL::STDataListener</service>
       <object>::arData::MatrixTL</object>
   </extension>

   <extension implements="::fwServices::registry::ServiceFactory">
       <type>::ioNetwork::INetworkSender</type>
       <service>::ioIGTL::SClientSender</service>
       <object>::fwData::Object</object>
       <desc>OpenIGTLink objects sender</desc>
   </extension>

</plugin>
