<plugin id="uiActivitiesQt" class="::uiActivitiesQt::Plugin"  version="@PROJECT_VERSION@" >

    <library name="uiActivitiesQt" />

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="guiQt"/>

    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::uiActivitiesQt::action::SCreateActivity</service>
        <object>::fwData::Vector</object>
    </extension>

    <!-- EXTENSION POINT FOR AN APP CONFIGURATION -->
    <extension-point id="::fwActivities::registry::Activities" schema="uiActivitiesQt.xsd"/>



</plugin>
