<plugin id="memory" class="memory::Plugin" version="@PROJECT_VERSION@" >

    <library name="memory"/>


    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IController</type>
        <service>::memory::SDumpPolicy</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
