<plugin id="::sight::module::io::document" library="true" >

    <requirement id="sight::module::service" />

    <extension implements="::sight::service::extension::Factory">
        <type>sight::io::base::service::IWriter</type>
        <service>sight::module::io::document::SPdfWriter</service>
        <object>sight::data::Object</object>
        <desc>PDF Writer</desc>
    </extension>

</plugin>
