<plugin id="::sight::modules::io::document" class="::sight::modules::io::document::Plugin" version="@PROJECT_VERSION@" >
    <library name="module_io_document" />

    <requirement id="module_services" />

    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::io::base::services::IWriter</type>
        <service>::sight::modules::io::document::SPdfWriter</service>
        <object>::sight::data::Object</object>
    </extension>

</plugin>
