<plugin id="ExDump" version="@PROJECT_VERSION@" >

    <requirement id="module_services" />
    <requirement id="module_io_atoms" />
    <requirement id="module_ui_base" />
    <requirement id="module_memory" />
    <requirement id="module_ui_qt" />

    <!-- This example allows to test the different dump policy. -->
    <extension implements="::sight::services::registry::AppConfig" >
        <id>ExDump_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="seriesDB" type="::sight::data::SeriesDB" />
            <object uid="selections" type="::sight::data::Vector" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="::sight::modules::ui::base::frame::SDefaultFrame" >
                <gui>
                    <frame>
                        <name>ExDump</name>
                        <icon>ExDump-@PROJECT_VERSION@/app.ico</icon>
                        <minSize width="800" height="600" />
                    </frame>
                    <menuBar />
                    <toolBar />
                </gui>
                <registry>
                    <menuBar sid="menuBarView" start="yes" />
                    <toolBar sid="toolBarView" start="yes" />
                    <view sid="mainview" start="yes" />
                </registry>
            </service>

            <service uid="menuBarView" type="::sight::modules::ui::base::aspect::SDefaultMenuBar" >
                <gui>
                    <layout>
                        <menu name="File" />
                        <menu name="Monitor" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menuFileView" start="yes" />
                    <menu sid="menuMonitorView" start="yes" />
                </registry>
            </service>

            <service uid="menuFileView" type="::sight::modules::ui::base::aspect::SDefaultMenu" >
                <gui>
                    <layout>
                        <menuItem name="Open Series..." shortcut="Ctrl+O" />
                        <menuItem name="Save Series..." shortcut="Ctrl+S" />
                        <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="openAct" start="yes" />
                    <menuItem sid="saveAct" start="yes" />
                    <menuItem sid="quitAct" start="yes" />
                </registry>
            </service>

            <service uid="menuMonitorView" type="::sight::modules::ui::base::aspect::SDefaultMenu" >
                <gui>
                    <layout>
                        <menuItem name="ClassFactoryRegistry information" />
                        <menuItem name="Framework related object metrics" />
                        <separator />
                        <menuItem name="Show contributions tree" />
                        <separator />
                        <menuItem name="Memory" />
                        <menuItem name="Dump all" />
                        <menuItem name="Increase memory consumption" />
                        <menuItem name="Decrease memory consumption" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="classFactoryRegistryInfoAct" start="yes" />
                    <menuItem sid="metricsAct" start="yes" />
                    <menuItem sid="componentsTreeAct" start="yes" />
                    <menuItem sid="memInfoAct" start="yes" />
                    <menuItem sid="dumpAllAct" start="yes" />
                    <menuItem sid="incMemConsumAct" start="yes" />
                    <menuItem sid="decMemConsumAct" start="yes" />
                </registry>
            </service>

            <service uid="toolBarView" type="::sight::modules::ui::base::aspect::SDefaultToolBar" >
                <gui>
                    <layout>
                        <menuItem name="Open..." icon="module_ui_flaticon-0.1/icons/BlueLoad.svg" />
                        <menuItem name="Save..." icon="module_ui_flaticon-0.1/icons/BlueSave.svg" />
                        <separator />
                        <menuItem name="Dump all" icon="monitorQt-0.1/icon-dump.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="openAct" start="no" />
                    <menuItem sid="saveAct" start="no" />
                    <menuItem sid="dumpAllAct" start="no" />
                </registry>
            </service>

            <service uid="mainview" type="::sight::modules::ui::base::view::SDefaultView" >
                <gui>
                    <layout type="::sight::ui::base::LineLayoutManager" >
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" backgroundColor="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="subView" start="yes" />
                    <view sid="dumpEditorSrv" start="yes" />
                </registry>
            </service>

            <service uid="subView" type="::sight::modules::ui::base::view::SDefaultView" >
                <gui>
                    <layout type="::sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                            <view proportion="1" backgroundColor="#36393E" />
                            <view proportion="1" backgroundColor="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="selectorSrv" start="yes" />
                    <view wid="previewView" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="quitAct" type="::sight::modules::ui::base::action::SQuit" />

            <service uid="openAct" type="::sight::modules::ui::base::action::SSeriesDBMerger" >
                <inout key="seriesDB" uid="seriesDB" />
                <IOSelectorSrvConfig name="FullSDBReaderIOSelectorConfig" />
            </service>

            <service uid="saveAct" type="::sight::modules::ui::base::action::SStarter" >
                <start uid="SDBWriterSrv" />
            </service>

            <service uid="metricsAct" type="::sight::modules::debug::action::fwMetrics" />

            <service uid="memInfoAct" type="::sight::modules::debug::action::MemoryInfo" />

            <service uid="incMemConsumAct" type="::sight::modules::debug::action::MemoryConsumption" >
                <config mode="increase" value="256" />
            </service>

            <service uid="decMemConsumAct" type="::sight::modules::debug::action::MemoryConsumption" >
                <config mode="decrease" />
            </service>

            <service uid="classFactoryRegistryInfoAct" type="::sight::modules::ui::debug::action::ClassFactoryRegistryInfo" />

            <service uid="componentsTreeAct" type="::sight::modules::ui::debug::action::ComponentsTree" />

            <service uid="dumpAllAct" type="::sight::modules::debug::action::SDumpAll" />

            <!-- ******************************* Services ***************************************** -->

            <service uid="SDBWriterSrv" type="::sight::modules::ui::base::editor::SIOSelector" config="SDBAtomsWriterIOSelectorConfig" >
                <inout key="data" uid="seriesDB" />
            </service>

            <service uid="selectorSrv" type="::sight::modules::ui::qt::editor::SSelector" autoConnect="yes" >
                <inout key="seriesDB" uid="seriesDB" />
                <inout key="selection" uid="selections" />
            </service>

            <!-- This editor allows to change the dump policy, and displays the managed buffer. -->
            <service uid="dumpEditorSrv" type="::sight::modules::ui::debug::DumpEditor" />

            <!-- Service to display the preview when an image or an mesh is selected -->
            <service uid="seriesViewerSrv" type="::sight::modules::ui::qt::SSeriesViewer" autoConnect="yes" >
                <in key="series" uid="selections" />
                <parentView wid="previewView" />
                <configs>
                    <config id="2DSimpleConfig2" type="::sight::data::ImageSeries" >
                        <extract path="@image" pattern="imageID" />
                    </config>
                    <config id="3DSimpleConfig2" type="::sight::data::ModelSeries" />
                </configs>
            </service>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />
            <start uid="seriesViewerSrv" />

        </config>
    </extension>


</plugin>
