<plugin id="ExDump" >

    <requirement id="sight::module::service" />
    <requirement id="sight::module::io::session" />
    <requirement id="sight::module::ui::base" />
    <requirement id="sight::module::memory" />
    <requirement id="sight::module::ui::qt" />

    <!-- This example allows to test the different dump policy. -->
    <extension implements="sight::service::extension::AppConfig" >
        <id>ExDump_AppCfg</id>
        <config>

            <!-- ******************************* Objects declaration ****************************** -->

            <object uid="seriesDB" type="sight::data::SeriesDB" />
            <object uid="selections" type="sight::data::Vector" />

            <!-- ******************************* UI declaration *********************************** -->

            <service uid="mainFrame" type="sight::module::ui::base::SFrame" >
                <gui>
                    <frame>
                        <name>ExDump</name>
                        <icon>ExDump/app.ico</icon>
                        <minSize width="800" height="600" />
                    </frame>
                    <menuBar />
                    <toolBar />
                </gui>
                <registry>
                    <menuBar sid="menuBarView" start="true" />
                    <toolBar sid="toolBarView" start="true" />
                    <view sid="mainview" start="true" />
                </registry>
            </service>

            <service uid="menuBarView" type="sight::module::ui::base::SMenuBar" >
                <gui>
                    <layout>
                        <menu name="File" />
                        <menu name="Monitor" />
                    </layout>
                </gui>
                <registry>
                    <menu sid="menuFileView" start="true" />
                    <menu sid="menuMonitorView" start="true" />
                </registry>
            </service>

            <service uid="menuFileView" type="sight::module::ui::base::SMenu" >
                <gui>
                    <layout>
                        <menuItem name="Open Series..." shortcut="Ctrl+O" />
                        <menuItem name="Save Series..." shortcut="Ctrl+S" />
                        <menuItem name="Quit" specialAction="QUIT" shortcut="Ctrl+Q" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="openAct" start="true" />
                    <menuItem sid="saveAct" start="true" />
                    <menuItem sid="quitAct" start="true" />
                </registry>
            </service>

            <service uid="menuMonitorView" type="sight::module::ui::base::SMenu" >
                <gui>
                    <layout>
                        <menuItem name="ClassFactoryRegistry information" />
                        <menuItem name="Framework related object metrics" />
                        <separator />
                        <menuItem name="Show contributions tree" />
                        <separator />
                        <menuItem name="Memory" />
                        <menuItem name="Dump all" />
                        <menuItem name="Increase memory consumption" />
                        <menuItem name="Decrease memory consumption" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="classFactoryRegistryInfoAct" start="true" />
                    <menuItem sid="metricsAct" start="true" />
                    <menuItem sid="componentsTreeAct" start="true" />
                    <menuItem sid="memInfoAct" start="true" />
                    <menuItem sid="dumpAllAct" start="true" />
                    <menuItem sid="incMemConsumAct" start="true" />
                    <menuItem sid="decMemConsumAct" start="true" />
                </registry>
            </service>

            <service uid="toolBarView" type="sight::module::ui::base::SToolBar" >
                <gui>
                    <layout>
                        <menuItem name="Open..." icon="sight::module::ui::flaticons/BlueLoad.svg" />
                        <menuItem name="Save..." icon="sight::module::ui::flaticons/BlueSave.svg" />
                        <separator />
                        <menuItem name="Dump all" icon="monitorQt/icon-dump.svg" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="openAct" start="false" />
                    <menuItem sid="saveAct" start="false" />
                    <menuItem sid="dumpAllAct" start="false" />
                </registry>
            </service>

            <service uid="mainview" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="horizontal" />
                        <view proportion="1" />
                        <view proportion="0" backgroundColor="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="subView" start="true" />
                    <view sid="dumpEditorSrv" start="true" />
                </registry>
            </service>

            <service uid="subView" type="sight::module::ui::base::SView" >
                <gui>
                    <layout type="sight::ui::base::LineLayoutManager" >
                        <orientation value="vertical" />
                            <view proportion="1" backgroundColor="#36393E" />
                            <view proportion="1" backgroundColor="#36393E" />
                    </layout>
                </gui>
                <registry>
                    <view sid="selectorSrv" start="true" />
                    <view wid="previewView" />
                </registry>
            </service>

            <!-- ************************************* Action ************************************ -->

            <service uid="quitAct" type="sight::module::ui::base::SQuit" />

            <service uid="openAct" type="sight::module::ui::base::series::SDBMerger" >
                <inout key="seriesDB" uid="seriesDB" />
                <IOSelectorSrvConfig name="FullSDBReaderIOSelectorConfig" />
            </service>

            <service uid="saveAct" type="sight::module::ui::base::com::SStarter" >
                <start uid="SDBWriterSrv" />
            </service>

            <service uid="metricsAct" type="sight::module::debug::action::fwMetrics" />

            <service uid="memInfoAct" type="sight::module::debug::action::MemoryInfo" />

            <service uid="incMemConsumAct" type="sight::module::debug::action::MemoryConsumption" >
                <config mode="increase" value="256" />
            </service>

            <service uid="decMemConsumAct" type="sight::module::debug::action::MemoryConsumption" >
                <config mode="decrease" />
            </service>

            <service uid="classFactoryRegistryInfoAct" type="sight::module::ui::debug::action::ClassFactoryRegistryInfo" />

            <service uid="componentsTreeAct" type="sight::module::ui::debug::action::ComponentsTree" />

            <service uid="dumpAllAct" type="sight::module::debug::action::SDumpAll" />

            <!-- ******************************* Services ***************************************** -->

            <service uid="SDBWriterSrv" type="sight::module::ui::base::io::SSelector" config="SDBSessionWriterIOSelectorConfig" >
                <inout key="data" uid="seriesDB" />
            </service>

            <service uid="selectorSrv" type="sight::module::ui::qt::series::SSelector" autoConnect="true" >
                <inout key="seriesDB" uid="seriesDB" />
                <inout key="selection" uid="selections" />
            </service>

            <!-- This editor allows to change the dump policy, and displays the managed buffer. -->
            <service uid="dumpEditorSrv" type="sight::module::ui::debug::DumpEditor" />

            <!-- Service to display the preview when an image or an mesh is selected -->
            <service uid="seriesViewerSrv" type="sight::module::ui::qt::series::SViewer" autoConnect="true" >
                <in key="series" uid="selections" />
                <parentView wid="previewView" />
                <configs>
                    <config id="2DSimpleConfig" type="sight::data::ImageSeries" >
                        <extract path="@image" pattern="imageID" />
                    </config>
                    <config id="3DSimpleConfig" type="sight::data::ModelSeries" />
                </configs>
            </service>

            <!-- ******************************* Start services ***************************************** -->

            <start uid="mainFrame" />
            <start uid="seriesViewerSrv" />

        </config>
    </extension>


</plugin>
