<plugin id="sight::module::io::document" library="true">
    <requirement id="sight::module::service" />

    <extension implements="sight::service::extension::factory">
        <type>sight::io::service::writer</type>
        <service>sight::module::io::document::pdf_writer</service>
        <object>sight::data::object</object>
        <desc>PDF Writer</desc>
    </extension>
</plugin>
