<plugin id="VRRender" version="@PROJECT_VERSION@">

    <requirement id="servicesReg" />
    <requirement id="dataReg" />
    <requirement id="patchMedicalData" />
    <requirement id="filterVRRender" />
    <requirement id="activities" />
    <requirement id="preferences" />

    <xi:include href="configurations/VRRenderBase.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />
    <xi:include href="configurations/sdb.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::AppConfigParameters">
        <id>VRRenderAppBase</id>
        <parameters>
            <param name="appName" value="VRRender 0.9.7" />
            <param name="appIconPath" value="VRRender-@PROJECT_VERSION@/vrrender.ico" />
            <param name="appVersion" value="@PROJECT_VERSION@" />
        </parameters>
    </extension>

    <extension implements="::fwActivities::registry::Activities">
        <id>SDBVRRender</id>
        <title>SDB</title>
        <desc>Series Selector</desc>
        <icon>media-0.1/icons/selector.svg</icon>
        <requirements />
        <appConfig id="SDBVRRender">
            <parameters />
        </appConfig>
    </extension>

</plugin>
