<plugin id="uiVisu" class="::uiVisu::Plugin" version="@PROJECT_VERSION@" >
    <library name="uiVisu"/>
    
    <requirement id="module_services"/>
    
    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::gui::IActionSrv</type>
        <service>::uiVisu::action::CrossTypeAction</service>
        <object>::sight::data::Image</object>
    </extension>
    
    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::sight::gui::IActionSrv</type>
        <service>::uiVisu::action::SSnapshot</service>
        <object>::sight::data::Object</object>
    </extension>

    
</plugin>
