<plugin id="ioQt" class="::ioQt::Plugin" version="@PROJECT_VERSION@" >
    <library name="ioQt" />

    <requirement id="module_services" />

    <extension implements="::sight::services::registry::ServiceFactory">
        <type>::fwIO::IWriter</type>
        <service>::ioQt::SPdfWriter</service>
        <object>::sight::data::Object</object>
    </extension>

</plugin>
