<plugin id="opImageFilter" class="::opImageFilter::Plugin">
    
    <library name="opImageFilter" />

    <requirement id="dataReg" />
    <requirement id="gui" />

    <point id="::opImageFilter::action::ImageFilter" >
        <implements>::fwGui::IActionSrv</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
</plugin>
